
.noti_save{
	background: #ffffff8c !important;
	border-radius: 10px 0 0 10px;
	padding: 5px 10px;
}

/*MODAL*/

.modal-dialog{
  max-width: 700px !important;
  /*max-height: 100vh !important;*/
}

.modal_buy .modal-content{

}


/*BUTTON*/
.button_violet{
  color: #fff !important;
  background: #8b2885 !important;
  border: 1px solid #672a82 !important;
  float: right;
}
.button_violet:hover{
  background-color: #692a83 !important;
  border-color: #5e2b81 !important;
}
.button_violet:active{
  background-color: #692a83 !important;
  border-color: #5e2b81 !important;
}



/*PROJECT*/
.tickets_card{
    margin:10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
    height: 280px;
    padding: 5px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
}

.img_card{
    max-height: 15vh;
    max-width: 100%;

}

.text_card_h{
    text-align: center;
    font-family: "PT Sans";
    line-height: 1;
    color: #431652;
    font-size:1.3rem;
    margin-top: 10px;

}
.container_button{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    padding: 10px;

}


  .button_buy{
    padding: 8px 15px !important;
    font-size: 15pt !important;
  }

  .button_buy_mini{
    padding: 4px 7px !important;
    font-size: 13pt !important;
  }

  .button_buy_green{
    background: #54bf83 !important;
    border: 1px solid #4eb57a !important;
    color: #fff !important;
  }

  .button_buy_green:hover{
    background-color: #f15f43 !important;
    border-color: #b82b19 !important;
  }

  .button_buy_green:active{
    background-color: #f15f43 !important;
    border-color: #b82b19 !important;
  }

  .button_buy_green:focus{
    box-shadow: 0 0 0 0.2rem rgba(93, 44, 128, 0.45) !important;
  }

  .button_trash{
    padding: 0 !important;
    background: rgba(0,0,0,0) !important;
    border: 0px !important;
    z-index: 100;
  } 
  .button_trash_right{
    position: absolute;
    right: 10px;
  }


  /*TEXT*/

  .project_name_green{
    text-align: center;
    font-size: xx-large;
    font-weight: 600;
    color: #168e56;
    margin-bottom: 0;
  }


  /*TABS*/

  .v-tabs__slider-wrapper{
    background: #54bf83;
    z-index: 1;
    height: 100%;
    border-bottom: 4px solid #439969;
  }
  .v-tabs__div{
    z-index: 2
  }

  .ticket_tabs_head{
    margin-top: 15px;
    background: #fff;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    text-align: center;
    font-weight: 600;
    font-size: 16pt;
    color:#4b4f53;
    border-bottom: 1px solid #f3f3f3;
    box-shadow: inset 0px -10px 10px 0px rgba(0,0,0,0.2);
  }
  .ticket_tabs_head:hover{
    background: #dfdfdf;
  }
  .ticket_tabs_head_active{
    background: #54bf83;
    color:#fff;
  }
  .ticket_tabs_head_active:hover{
    background: #168e56;
  }

  .ticket_tabs_content{
    /*min-height: 80vh;*/
    background: #fcfcfc;
    box-shadow: 10px -10px 20px rgba(0,0,0,0.15);
    border-left: 4px solid #fff;
    border-bottom: 4px solid #fff;
  }


/*_____ICON_______________________*/


.green_icon{
    color:#168e56 !important;
}

.white_icon{
    color:#fff !important;
}

.gray_icon{
    color:#6c757d !important;
}




@media only screen and (max-width: 700px) {
  .ticket_tabs_head{
    font-size: 13pt !important;
    padding: 5px !important;
  }

  /*MODAL*/
  .modal_buy .modal-content{
    font-size: 11pt !important;
    height: calc(100% - 80px);
    margin-top: 40px;
  }
  .h4_green{
    margin-top: 0 !important;
    font-size: 12pt !important;
  }
  .button_buy{
    font-size: 12pt !important;
  }

  .row_footer_step{
    padding: 0px !important;
  }

  .form-control{
    height: calc(1.8rem + 2px)!important;
  }

  .dropdown-toggle{
    padding: 0px !important;
  }

}