/*button_form_min button_trash*/
body{
	margin: 0;
	/*background: url(../media/logo_img/background2.jpg) no-repeat center center fixed;*/
}

.masterhead {
    height: 114px;
    background-repeat: repeat !important;
    background-position: center !important;
    top: 0px;

    width: 100%;
    z-index: 50;
    text-align: center;
}

#nav_logo{
    width: 100%;
    height: 10vmin;

}

.logInOut{
	border: 0px;
	background: #00000000;
}

.search{

    float:right;
    margin: 15 10 0 0

}

.notifications{
	width: 250px !important;
}

/*MODAL*/
.h4_modal{
    background: #2a3f53;
    color:#fff;
    padding: 10px;

}

.head_modal_gray{
    padding: 10px 20px;
    background: #2a3f54;
    color: #fff;
    font-weight: 700;
}

.text_modal_form{
    padding: 10px 6px 1px 15px;
    margin: 0;
    color: #2a3f54;
}

.input_modal_form{
    padding: 0 10px;
}

/*____________BUTTON___________________________________________________________*/
.toolbar_button{
    background: rgba(255, 255, 255, 0) !important;
    border: 0px !important;
    color: white !important;
}

.toolbar_button:hover{
    color: #45b999 !important;
}
.toolbar_button:focus{
    color: #45b999 !important;
}
.toolbar_button:active{
    color: #39daae !important;
}

.button_add_elem{
	float: right;
    margin-right: 4vw;
    margin-bottom: 1vw;
}

.button_modal{
	float:right;
	margin-left:20px;
}

.button{
    margin: 10px !important;
    background: #26B99A !important;
    border: 1px solid #169F85 !important;
    padding: 10px 15px !important;
}

.button_form_green{
    background: #45b999 !important;
    border: 1px solid #169F85 !important;
}

.button_margin_zero{
    margin: 0px !important;
}

.button_right{
	float: right;
}

.uploadButton {
    margin: 0;
    padding: 0;
  	display: block;
  	width: 10vw;
    min-width: 100px;
  	color: #FFF;
  	text-align: center;
  	border-radius: 4px;
  	cursor: pointer;
  }

.uploadButton:hover {
 	background: #a6a9ad;
  	border-color: #a6a9ad
}

.deleteButtom{
    position: absolute;
    right: -1px;
    top: 0px;
    background-color: #dcdfe600;
    border: 0;
    cursor: pointer;
    padding: 2px;
    width: 24px;
    font-size: 14px;
    margin: -16px -16px 0 0;
}

.button_form_min{
  padding: 5px !important;
  margin: 0 2px !important;
}
.button_close_light{
    padding: 0px;
    background: rgb(0,0,0,0);
    border: rgb(0,0,0,0);
    }
    .button_close_light:hover{
        color:#ccc;
        background: rgb(0,0,0,0);
        border: rgb(0,0,0,0);
    }
    .button_close_light:focus{
        color:#ccc;
        background: rgb(0,0,0,0);
        border: rgb(0,0,0,0);
    }
    .button_close_light:active{
        color:#ccc;
        background: rgb(0,0,0,0);
        border: rgb(0,0,0,0);
    }


.button_trash{
    background: transparent;
    color: #909399 !important;
    border: none;
  }

  .button_trash:hover{
    background: transparent;
    color: #2a3f53 !important;
    border: none;
  }

  .button_trash:active{
    background: transparent;
    color: #2a3f53 !important;
    border: none;
  }

  .button_trash:focus{
    background: transparent;
    color: #2a3f53 !important;
    border: none;
    outline:none;
  }


/*____________data-tables style____________________________________________*/

.el-input__inner:focus {border-color: #909399;}
.el-button--text {color:#545c63;}
.el-button--text:hover {color: #602c81;}
.el-button--text:active {color: #602c81;}
.el-pager li {line-height: 10px;}
.el-pager li:hover {color: #602c81;}
.el-pager li.active {color: #602c81;}
.el-table td, .el-table th {padding: 0;}
i{font-size:15px}
.cell{color:#2f4252}
.tr.hover-row.current-row{background:red}
tr.hover-row.el-table__row--striped{background:red}

.admin_table_info .vgt-responsive{
    overflow-x: inherit;
}

/*___________________________________________________________________________*/



.project-nav{
	
	margin:0;
}


.project-content{
	background: #fff;
	color: #545c63;
	border-left: 1px solid #e9ecef;
	/*float: right;*/
	/*padding: 20px;*/
}

.form-project{
	margin:20px;
}

.formData{
	/*background: #f1f1f1;*/
}

.head_project_page{
	border-top: 1px solid #757b81;
	padding: 0 0 1px 15px;
	background: #545c63;
	color: #e4e5e6;

}
@media screen and (min-width: 768px) {
	.tool_button{
		text-align: center;
	}
	.project-nav-butt{
		width: 140px;
		min-width: 55px;
	    margin: 10px 10px;
	}

}

.form-push{

}

.head_modal_push{
	background: #FF9800;
    padding: 10px;
    font-weight: 600;
    margin-bottom: 20px;
}


.el-collapse-item__header{
	background: #f3f3f3;
	font-size: 16px;
    font-weight: 600;
    padding-left: 20px;
}

.el-collapse-item__wrap{
	background: #f4f3f363;
	padding-left: 10px;
}

.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner{
	    background-color: #cb1a4e !important;
    	border-color: #ab2953;
}

.el-checkbox__input.is-checked+.el-checkbox__label {
	    color: #cb1a4e;
}

.el-checkbox__input.is-focus .el-checkbox__inner, .el-checkbox__input:hover .el-checkbox__inner{
	    /*background-color: #cb1a4e !important;*/
    	border-color: #ab2953;
}

.el-checkbox{
	margin: 10px;
}

.el-select .el-input.is-focus .el-input__inner{
	border-color: #cb1a4e;
}

.el-select-dropdown__item.selected {
    color: #252122;
    font-weight: 700;
}

.el-select .el-input__inner:focus {
    border-color: #cb1a4e;
}

.el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
    background-color: #f4f3f3;
}

.el-menu {
    border-right: solid 0px #e6e6e6; 

}

.admin_table_info{
	/*padding: 4vw;*/
	padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 4vw;
}

/*TOOLTIP*/

.el-tooltip__popper.is-dark {
   /* background: #f9a6a694;
    color: #545c63;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;*/
}
.popper__arrow{
	/*margin:-1000px;*/
}

@media screen and (max-width: 450px) {
	.table-footer {
		padding-left: 0px !important;
    padding-right: 0px !important;
	}
	.datatable-length {
		width: 50%; 
		text-align: center;
	}
  	.pagination-controls  {
	    width: 50%;
	    text-align: right;
	}

	.pagination-controls a .chevron{
		margin:0 !important;
	}

}

.table_img{
	height: 40px
}

.td_img{
	    padding: 0 !important;
	    text-align: center !important;
}


/*MODAL*/

.modal_head_dark{
  background: #2a3f54;
  color: #fff;
  padding: 4px;
  font-size: 15pt;
  font-weight: 600;
  /*height: 50px;*/
}

.modal_head_light{
  background: #8abdb2;
  color: #fff;
  padding: 4px;
  font-size: 15pt;
  font-weight: 600;
  /*height: 50px;*/
}

.el-button--primary {
    color: #fff;
    background-color: #f39320 !important;
    border-color: #e6a23c!important;
}
.el-button--primary:hover {
    background: #e87028 !important;
    color: #fff !important;
}


.el-input.is-disabled .el-input__inner {
    background-color: #f9f9f9 !important;
    border-color: #e4e7ed !important;
    color: #545c63 !important;
}

.el-textarea.is-disabled .el-textarea__inner {
    background-color: #f9f9f9 !important;
    border-color: #e4e7ed !important;
    color: #545c63 !important;
}

.el-checkbox__input.is-disabled+span.el-checkbox__label {
    color: #636c73!important;
}

.el-input__suffix {
    color: #545c63;
}


/*barcode*/
.barcode_project{
    /*width: 100%;*/
    height: 200px;
    border: 1px solid #909399;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 20px 30px;
}

.barcode_project:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.5);

}

.el-tabs__nav {
	padding: 10px 0 0 20px;
}
.el-tabs__active-bar{
	margin-left: 20px !important;
}

.el-tabs__item:hover {
    color: #3ba085;
}

.el-tabs__item.is-active {
    color: #3ba085;
}
.el-tabs__active-bar{
    background-color: #3ba085;
}


/*________TABLE________________________________________________________*/


.el-table td, .el-table th{
    padding: 1px 0 !important;
    color: #2a3f54;

}

.table_chart{
    border: 1px solid #bec3c7;
    border-collapse: collapse;
    color:#2a3f54;
    margin-top: 30px;
    width: 100%;
    max-width: 600px;
}

.th_chart{
    border: 1px solid #bec3c7;
    border-collapse: collapse;
    padding: 0 10px;
    text-align: center;
}
.td_chart{
    border: 1px solid #bec3c7;
    border-collapse: collapse;
    padding: 0 10px;
    text-align: center;
}


/*___________ICON________________*/



.green_icon{
    color:#168e56 !important;
}

.white_icon{
    color:#fff !important;
}

.gray_icon{
    color:#fff !important;
}

.dark_icon{
    color:#41464e !important;
}




/*visibility screen*/

@media screen and (max-width: 576px) {
    .xs_screen{
        visibility: visible;
    }
    .sm_screen{
        visibility: hidden;
    }
    .md_screen{
        visibility: hidden;
    }
    .mobil_screen{
        display: block;
    }
    .not_mobil_screen{
        display: none;
    }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
    .xs_screen{
        visibility: hidden;
    }
    .sm_screen{
        visibility: visible;
    }
    .md_screen{
        visibility: hidden;
    }
    .mobil_screen{
        display: block;
    }
    .not_mobil_screen{
        display: none;
    }

}

@media screen and (min-width: 768px)  {
    .xs_screen{
        visibility: hidden;
    }
    .sm_screen{
        visibility: hidden;
    }
    .md_screen{
        visibility: visible;
    }
    .mobil_screen{
        display: none;
    }
    .not_mobil_screen{
        display: block;
    }

}










