<template>
  <!-- <div class='navbar' id = 'navbar'> -->
    <el-col :span='24' class='navbar' id = 'navbar'>
      <el-col style='text-align: right;'>
        <el-button>Войти</el-button>
        <el-button>Зарегистрироваться</el-button>
      </el-col>

      <modals-container/>
    </el-col>

    <!-- <div style="text-align:right">
      <el-button class=logInOut ><i class="fa fa-sign-in fa-2x"></i></el-button>
    </div> -->

  <!-- </div> -->
</template>

<script>
import Vue from 'vue';
import { mapGetters } from 'vuex';
import VModal from 'vue-js-modal'

Vue.use(VModal, { dynamic: true })

export default {
  name: 'navbar',
  // components: {
  //   VModal

    
  // },
  data() {
    return {
      isCollapse: true,
      activeIndex: '1',
      activeIndex2: '1',
    };
  },
  created(){
    debugger
  this.$modal.show({
  template: `
    <div>
      <h1>This is created inline</h1>
      <p>{{ text }}</p>
    </div>
  `,
  props: ['text']
}, {
  text: 'This text is passed as a property'
}, {
  height: 'auto'
}, {
  'before-close': (event) => { console.log('this will be called before the modal closes'); }
})
// })
  },
  methods: {
    handleOpen() {},
    handleClose() {},
  },
  
};

</script>

<style>

<style scoped>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    padding-top: 10px !important;
  }

  a {
    color: #1a1a1a;
    display: inline-block;
    text-align: center;
    padding: 6px 12px;
    text-decoration: none;
    font-size: 14px;
  }

  a:hover {
    color: #cc0000;
    text-decoration: none;
  }



  #navbar{
    z-index: 2;
    position: fixed;
    float: right;
    right: 0px;
    background: #f5d1d1;

  }
</style>