<template>
  <v-container class="bv-example-row bv-example-row-flex-cols">

    <v-tabs fixed-tabs v-model="tabs_value"> 
          <v-tab :key="1" >В продаже</v-tab>
          <v-tab :key="2" >Скоро </v-tab>

          <v-tab-item :key="0">
            <v-container class='box_project'>
              <v-layout align-center justify-space-around row wrap>
                <v-flex v-if="!projects.sale.length" cols='12'>
                  <p style='text-align:center; padding: 30px;'> Нет реализуемых билетов</p>
                </v-flex>

                <v-flex xs12 sm6 md4 lg4 xl3 style='padding: 15px;' v-for="item in projects.sale" :key='item.id'>
                  <v-card>
                    <v-img :src="item.logo ? item.logo : './../static/img/logo_yellow_many.png'"></v-img>
                    <v-card-title primary-title>
                      <div style='height: 60px; overflow: hidden;'>
                        <h3 class="headline mb-0">{{item.name}}</h3>
                      </div>
                    </v-card-title>

                    <v-card-actions>
                      <div style ='width: 100%; text-align: center; padding-bottom: 10px;'>
                        <v-btn dark class='button_buy_green' v-on:click='BuyTicket(item.id)' v-if="item.is_pay">
                          <v-icon class='white_color'>shopping_cart</v-icon>Купить
                        </v-btn>
                        <v-btn dark class='button_buy_green' v-on:click='BuyTicket(item.id)' v-else>
                          <v-icon class='white_color'>receipt</v-icon>Получить
                        </v-btn>
                      </div>

                    </v-card-actions>
                  </v-card>             
                </v-flex>
              </v-layout> 
            </v-container>
          </v-tab-item>
          <v-tab-item :key="1">
            <v-container class='box_project'>
              <v-layout align-center justify-space-around row wrap>
                <v-flex v-if="!projects.expected.length" cols='12'>
                  <p style='text-align:center; padding: 30px;'> Новые проекты пока не запланированы</p>
                </v-flex>

                <v-flex xs12 sm6 md4 lg4 xl3 style='padding: 15px;' v-for="item in projects.expected" :key='item.id'>
                    <v-card>
                    <v-img :src="item.logo ? item.logo : './../static/img/logo_yellow_many.png'"></v-img>
                    <v-card-title primary-title>
                      <div style='height: 60px; overflow: hidden;'>
                        <h3 class="headline mb-0">{{item.name}}</h3>
                      </div>
                    </v-card-title>

                  </v-card>            
                </v-flex>                
              </v-layout>
            </v-container>
          </v-tab-item>

        </v-tabs>        
  </v-container>

</template>

<script>
import VueRecaptcha from 'vue-recaptcha';
import MaskedInput from 'vue-masked-input'
import $ from 'jquery'
import axios_t from 'axios'
// import Vue from 'vue'

import * as types from './../../store/mutation-types'

export default({
  // timers: {
  //   log: { time: 1000, autostart: true }
  // },
  data () {
    return {
      tabs_value:0,

      basket:false,
      projects:{sale:[], expected:[]},
      slide: 0,
      sliding: null,
      totalRecords: 0,
      serverParams: {
        columnFilters: {
        },
        select:{
          status: ['working', 'sale'],
          status_is_site:true,
        },
        sort: {
          field: '', 
          type: '',
        },
        search:{
          value: ''
        },
        page: 1, 
        perPage: 10
      }
      // 
    }
  },
  created(){
    this.Init()
  },
  
  methods: {
    Init(){
      this.$api.get('../api/projects/', this.serverParams)
        .then(response => {
          for(var i in response.data.rows){
            if (response.data.rows[i].status == 'sale'){
              this.projects.sale.push(response.data.rows[i])
            }
            if (response.data.rows[i].status == 'working'){
              this.projects.expected.push(response.data.rows[i])
            }
          }
        })
        .catch(e => {
          this.errors.push(e)
        })


    },

    BuyTicket(id){
      this.$router.push(id.toString())
    },
    onSlideStart (slide) {
      this.sliding = true
    },
    onSlideEnd (slide) {
      this.sliding = false
    }

  }
});

</script>

<style scoped>
  .box_project{
    border: 1px solid #dfdfdf;
    background: #fafafa;
  }


  .card_buy{
    max-width: 20rem; 
    margin:auto; 
    height: 320px;
  } 

  .card-title{
    height: 50px;
  }

  .card-body{
    height: 170px;
    overflow: hidden;
  }

  .card_content{
    text-align: center; 
    width: calc(100% - 2.5rem); 
    position: absolute; 
    bottom: 20px;
  }

 @media screen and (max-width:  575px) {
    .card_buy{
      height: auto;
    } 
  }
  
</style>

