

<template> 
<el-col :span="24" class='projects-view' id = 'exponentForm'>
  

  <el-col :xs="22" :sm="22" :md="22" :lg="22" :xl="22" style='    margin-left: 3vw; margin-right:10px' class='project-content'>
    <el-row>
      <el-button v-if='select_exponent[0] && action_exponent!="edit"' type="info" class='project-nav-butt' icon="fa fa-pencil" @click = "Edit">
        <span class="hidden-xs-only"> Изменить</span>
      </el-button>
      <el-button v-if='select_exponent[0] && action_exponent!="edit"' type="info" class='project-nav-butt' icon="fa fa-trash-o"  @click = 'Delete(select_exponent[0].id)'>
          <span class="hidden-xs-only"> Удалить</span>
      </el-button> 

      <el-button type="info" style="margin: 10px 10px;float: right;" @click="Cansel('new')"><i class="fa fa-times" arde-hidden="true"></i></el-button>
    </el-row>
    <el-form :label-position="labelPosition" :model="formData_base" :rules="rules" ref="formData_base" class="form-project" id="uploadForm" name="uploadForm" enctype="multipart/form-data">
      <el-collapse v-model="activeNames">
        <el-collapse-item v-if='select_exponent[0].id=="new"' title="Выбор существующего участника " name="1">
          <el-form-item label="Участник" >
            <el-col :xs="22" :sm="18" :md="19" :lg="17" :xl="14" style='margin-right:10px'>
              <el-form-item>
                <el-select filterable v-model="formData_individual.exponent" placeholder="Выбрать" @change='SelectExp' style="width: 100%;" >
                  <el-option
                    v-for="item in exponents"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-form-item>
          
        </el-collapse-item >
        <el-collapse-item title="Базовые данные участника " name="2">

          <el-form-item label="Название" required>
              <el-col :xs="22" :sm="18" :md="19" :lg="20" :xl="21" style='margin-right:10px'>
                <el-form-item prop='name'>
                  <el-input v-if='action_exponent!="edit"' disabled v-model="formData_base.name" placeholder="Название проекта"></el-input>
                  <el-input v-else clearable v-model="formData_base.name" placeholder="Название проекта"></el-input>
                </el-form-item>
              </el-col>
          </el-form-item>


          <el-form-item label="Адрес">
              <el-col :xs="22" :sm="18" :md="19" :lg="20" :xl="21" style='margin-right:10px'>
                <el-form-item >
                  <el-input v-if='action_exponent!="edit"' disabled v-model="formData_base.address" placeholder="Название проекта"></el-input>
                  <el-input v-else v-model="formData_base.address" placeholder="Название проекта"></el-input>
                </el-form-item>
              </el-col>
          </el-form-item>

          <el-form-item label="Телефон" required >
            <el-col :xs="22" :sm="18" :md="19" :lg="20" :xl="21" style='margin-right:10px'>
            <el-col :xs="19" :sm="20" :md="21" :lg="22" :xl="23" style='margin-right:10px'>
              <el-form-item  prop='phone' v-for="item in phone_input" :key='item' v-bind:id="item" >

                <el-input v-if='action_exponent!="edit"' disabled class="ss" v-model="phones[item-1]" placeholder="Телефон"></el-input>
                <el-input v-else class="ss" v-model="phones[item-1]" placeholder="Телефон"></el-input>
              </el-form-item>
            </el-col> 
             <el-button v-if='action_exponent!="edit"' disabled type="info" style="float: right; padding: 10px 12px;" @click="AddPhone"><i class="fas fa-plus"></i></el-button>

             <el-button v-else type="info" style="float: right;" @click="AddPhone"><i class="fas fa-plus"></i></el-button>
           </el-col>
          </el-form-item>

           <!--  <vue-tel-input v-model="formData_base.phone" 
                  @onInput="">
        </vue-tel-input> -->

          <!-- <el-form-item label="Телефон" required>
              <el-col :xs="22" :sm="18" :md="19" :lg="20" :xl="21" style='margin-right:10px'>
                <el-form-item prop='phone'>
                  <el-input v-if='action_exponent!="edit"' disabled v-model="formData_base.phone" placeholder="Название проекта"></el-input>
                  <el-input v-else v-model="formData_base.phone" placeholder="Название проекта"></el-input>
                </el-form-item>
              </el-col>
          </el-form-item> -->

          <el-form-item label="E-mail" required>
              <el-col :xs="22" :sm="18" :md="19" :lg="20" :xl="21" style='margin-right:10px'>
                <el-form-item prop='email'>
                  <el-input v-if='action_exponent!="edit"' disabled v-model="formData_base.email" placeholder="Название проекта"></el-input>
                  <el-input v-else v-model="formData_base.email" placeholder="Название проекта"></el-input>
                </el-form-item>
              </el-col>
          </el-form-item>

          <el-form-item label="Веб-сайт">
              <el-col :xs="22" :sm="18" :md="19" :lg="20" :xl="21" style='margin-right:10px'>
                <el-form-item >
                  <el-input v-if='action_exponent!="edit"' disabled v-model="formData_base.web_site" placeholder="Веб-сайт компании"></el-input>
                  <el-input v-else v-model="formData_base.web_site" placeholder="Веб-сайт компании"></el-input>
                </el-form-item>
              </el-col>
          </el-form-item>

          <el-form-item label="Логотип">
            <el-col :xs="22" :sm="8" :md="9" :lg="7" :xl="6" >
                <label for="base_file" class="uploadButton"><i class="fa fa-file-image-o" aria-hidden="true"></i> Загрузить</label>
                <input type="file" id="base_file" ref="base_file" style="opacity: 0; z-index: -1;" accept="image/jpeg,image/png,image/gif" v-on:change="handleFileUpload('base')"/>
                <div v-if="base_file" style="position:relative; width:15vw; max-width:200px">
                    <el-button class="deleteButtom" @click="deleteImage('base')" ><i class="fa fa-trash-o" aria-hidden="true"></i></el-button>
                    <img :src="base_file" id="base" class="avatar">
                </div>
            </el-col>                  
          </el-form-item>
        
          <el-form-item label="Описание">
              <el-col :xs="22" :sm="18" :md="19" :lg="20" :xl="21" style='margin-right:10px'>
                  <el-input v-if='action_exponent!="edit"' disabled
                    type="textarea"
                    :rows="3"
                    placeholder="Описание участника/спонсора"
                    v-model="formData_base.description">
                  </el-input>
                  <el-input v-else
                    type="textarea"
                    :rows="3"
                    placeholder="Описание участника/спонсора"
                    v-model="formData_base.description">
                  </el-input>
              </el-col>              
          </el-form-item>
        </el-collapse-item>

        <el-collapse-item title="Данные для текущего проекта" name="3">
          <el-form-item label="Спонсорство" required>
              <el-col ::xs="22" :sm="18" :md="19" :lg="20" :xl="21" style='margin-right:10px'>
                <el-form-item >
                  <el-checkbox v-if='action_exponent!="edit"' disabled v-model="formData_individual.sponsor">Является спонсором</el-checkbox>
                  <el-checkbox v-else v-model="formData_individual.sponsor">Является спонсором</el-checkbox>
                  <!-- <el-input clearable v-model="formData_base.name" placeholder="Название проекта"></el-input> -->
                </el-form-item>
              </el-col>
          </el-form-item>

          <el-form-item label="Вид спонсорства" v-if='formData_individual.sponsor'>
            <el-col :xs="22" :sm="18" :md="19" :lg="20" :xl="21" style='margin-right:10px'>
              <el-form-item>
                <el-select v-if='action_exponent!="edit"' disabled v-model="formData_individual.sponsor_type" placeholder="Выбрать" style="width: 100%;" >
                  <el-option
                    v-for="item in sponsor_type"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id">
                  </el-option>
                </el-select>
                <el-select v-else filterable v-model="formData_individual.sponsor_type" placeholder="Выбрать" style="width: 100%;" >
                  <el-option
                    v-for="item in sponsor_type"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-form-item>

          <el-form-item label="Статус" >
            <el-col :xs="22" :sm="18" :md="19" :lg="20" :xl="21" style='margin-right:10px'>
              <el-form-item>
                <el-select v-if='action_exponent!="edit"' disabled v-model="formData_individual.state" placeholder="Выбрать" style="width: 100%;" >
                  <el-option
                    v-for="item in state"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id">
                  </el-option>
                </el-select>
                <el-select v-else filterable v-model="formData_individual.state" placeholder="Выбрать" style="width: 100%;" >
                  <el-option
                    v-for="item in state"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-form-item>

          <el-form-item label="Логотип">
            <el-col :xs="22" :sm="8" :md="9" :lg="7" :xl="6" >
                <label for="individual_file" class="uploadButton"><i class="fa fa-file-image-o" aria-hidden="true"></i> Загрузить</label>
                <input type="file" id="individual_file" ref="individual_file" style="opacity: 0; z-index: -1;" accept="image/jpeg,image/png,image/gif" v-on:change="handleFileUpload('individual')"/>
                <div v-if="individual_file" style="position:relative; width:15vw; max-width:200px">
                    <el-button class="deleteButtom" @click="deleteImage('individual')" ><i class="fa fa-trash-o" aria-hidden="true"></i></el-button>
                    <img :src="individual_file" id="individual" class="avatar">
                </div>
            </el-col>                  
          </el-form-item>
          <el-form-item label="Описание">
              <el-col :xs="22" :sm="18" :md="19" :lg="20" :xl="21" style='margin-right:10px'>
                  <el-input v-if='action_exponent!="edit"' disabled
                    type="textarea"
                    :rows="3"
                    placeholder="Описание участника/спонсора"
                    v-model="formData_individual.special_description">
                  </el-input>
                  <el-input v-else
                    type="textarea"
                    :rows="3"
                    placeholder="Описание участника/спонсора"
                    v-model="formData_individual.special_description">
                  </el-input>
              </el-col>              
          </el-form-item>
        </el-collapse-item>
      </el-collapse>
      
      <el-form-item>
        <el-col :xs="22" :sm="22" :md="22" :lg="20" :xl="16" style='margin-right:10px'>
          <el-button type="info" style="float: right; margin-top:10px" @click="Add('formData_base')">Сохранить</el-button>
        </el-col>    
      </el-form-item>
    </el-form>
  </el-col>
    
</el-col>
</template>

<script>
import Vue from 'vue'
import axios from 'axios';
import $ from 'jquery'
// import store from '../../store';
// import router from './../../router'

  // Vue.component('velement', {
  //               template: '<vue-tel-input v-model="'+this.formData_base.phone+'" @onInput=""></vue-tel-input>',
  //               props: ['model'],
  //               data: function () {
  //                   return {
  //                       element: {}
  //                   }
  //               }
  //           });

  export default {
    props: ["action_exponent", 'select_exponent', 'exponentBus'],
    data() {
      return {
        phone_input:[1,],
        phones:[],
        rules: {
          name: [
            { required: true, message: 'Поле не может быть пустым', trigger: 'blur' }
          ],
          phone: [
            { required: true, pattern:/((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}/, message: 'Введите телефон', trigger: 'blur' },
          ],
          email: [
             {type: 'email', message: 'Некорректный e-mail', trigger: 'blur'},
             {required: true, message: 'Поле не может быть пустым', trigger: 'blur'}
          ]
        },
        labelPosition: 'left',
        activeNames: ['1','2','3'],
        message: false,
        formData_base:{},
        formData_individual:[{sponsor_type : ''}, {state : ''}],
        base_file: '',
        individual_file: '',
        sponsor_type:[],
        state:[],
        exponents:[],
      }
    },
    
    created() {
      this.exponentBus.$on("selectExponent", (id)=>{
        this.Init(id)
      });
      this.Init(this.select_exponent[0].id)
      // debugger
      // Vue.component('velement', {
      //           template: `<vue-tel-input  v-model="phone" @onInput=""></vue-tel-input>`,
      //           props: ['phone_input', 'phones'],
      //           created(){

      //             debugger
      //           },
      //           data: function () {
      //               return {
      //                   id:this.phone_input.length,
      //                   phone: this.phones[this.phone_input.length-1]
      //               }
      //           }
      //       });


      
    },
    updated(){

      $("#"+this.phone_input.length).keyup(function(e){
          this.children[0].children[0].children[0].value = this.children[0].children[0].children[0].value.replace(/[^0-9\.]/g, '');
        });
    },

    destroyed(){
      this.exponentBus.$off("selectExponent")
    },
    methods: {
      AddPhone(){
        this.phone_input.push(this.phone_input.length+1)

      },

      SelectExp(){
        var url = '../api/project/'+ this.$store.state.value_project + '/exponents/'+this.formData_individual.exponent
        this.$api.get(url)
        .then(response => {
          console.log('response => ', response)
          if (response.data) {
            this.formData_base = response.data
            this.base_file = response.data.logo

          }
        })
        .catch(e => {
          console.log(e)
        })
      },
      Init(id){
        var url = '../api/project/'+ this.$store.state.value_project + '/exponents/'+id + '/data/'
        this.$api.get(url)
        .then(response => {
          console.log('response => ', response)
          if (response.data) {

            this.formData_base = response.data['base']
            this.formData_individual = response.data['individual']
            this.sponsor_type = response.data['sponsor_type']
            this.state = response.data['state']
            this.base_file = response.data['base'].logo
            this.individual_file = response.data['individual'].special_logo
            this.exponents = response.data['exponents']
            this.phones = response.data['base'].phone.split(';')
          }
          this.phone_input = []
          for(var i=0; i<this.phones.length; i++){
            this.phone_input.push(i+1)
          }
        })
        .catch(e => {
          console.log(e)
        })
      },
      Edit(){
        this.action_exponent.splice(this.select_exponent.length-1, 1)
        this.action_exponent.push('edit')
      },
      Add(formName){
        this.$refs[formName].validate((valid) => {
          if (valid) {
            
            this.formData_base['logo'] = null
            this.formData_individual['special_logo']= null
            if (this.base_file){
              this.formData_base['logo']= this.base_file
            }
            if (this.individual_file){
              this.formData_individual['special_logo']= this.individual_file
            }
            let formData1 = new FormData();
            for (var data in this.formData_base){
                formData1.append('base-'+data, this.formData_base[data]);
            }
            this.formData_base.phone = this.phones.join(';')
            for (var data in this.formData_individual){
                formData1.append('individual-'+data, this.formData_individual[data]);
            }

            var url = '/api/project/' + this.$store.state.value_project + '/exponents/' + this.select_exponent[0].id

          this.$api.update(url+'/add/',formData1)
            .then(response => {
              console.log('response => ', response)
              this.$notify({
                group: 'foo',
                type: 'success',
                duration: 3000,
                text: "<i style='font-size:20px' class='fa fa-check'></i> Сохранено"
              });
              this.action_exponent.splice(this.select_exponent.length-1, 1)
              this.action_exponent.push('view')
              this.exponentBus.$emit("updateList");

            })
            .catch(e => {
              this.$notify({
                group: 'foo',
                type: 'error',
                duration: 3000,
                text: "<i style='font-size:20px' class='fa fa-exclamation'></i> Ошибка"
              });
            })
            
          } else { 
            return false;
          }
        });   
      },
      Cansel(id){
        if (!!parseInt(id)){
          // если не новый

          this.action_exponent.splice(this.select_exponent.length-1, 1)
          this.action_exponent.push('view')
        }else{
          this.select_exponent.splice(this.select_exponent.length-1, 1)
          this.action_exponent.splice(this.select_exponent.length-1, 1)
          this.action_exponent.push('view')
        }
      },
      deleteImage(type){
          this.file = ''
          if (type == 'base'){
            this.base_file = ''
          }else{
            this.individual_file = ''
          }
      },

      handleFileUpload(type){
        if (type == 'base'){
          this.base_file = this.$refs.base_file.files[0];
          var input = this.$refs.base_file

        }else{
          this.individual_file = this.$refs.individual_file.files[0];
          var input = this.$refs.individual_file
        }          
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
              $('#'+type).attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }  
      },
    }
  }
</script>
<style>

.vue-notification1 {
  padding: 10px;
  margin: 0 5px 5px;

  font-size: 12px;

  color: #ffffff;
  background: #44A4FC;
  border-left: 5px solid #187FE7;

  &.warn {
    background: #E65100 !important;
    border-left-color: #f48a06;
  }

  &.error {
    background: #E54D42;
    border-left-color: #B82E24;
  }

  &.success {
    background: #68CD86;
    border-left-color: #42A85F;
  }
}

.el-upload-list__item-name{
    height: 30px; 
}

.el-upload-list {
    width: 90%;
    max-width: 200px
}

.avatar {
    width: 15vw;
    max-width: 200px;
    display: block;
    border: solid 1px #c0c4cc;
  }

label{
    min-width: 130px;
    padding: 0px !important;
}

.uploadButton {
    display: block;
    width: 10vw;
    background: #909399;
    padding: 10px;
    color: #FFF;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}

.uploadButton:hover {

    background: #a6a9ad;

}


.deleteButtom{
    position: absolute;
    right: -1px;
    top: 0px;
    background-color: #dcdfe6;
    border: 0;
    cursor: pointer;
    padding: 2px;
    width: 24px;
    font-size: 16px;
    border-radius: 0px;

}

</style>