<template> 

<v-flex xs12 class='projects-view' id = 'project-view'>
  <router-view v-if='Object.keys(formData).length>0'
    v-on:message_ul="IndexMessageRedirect" 
    v-bind="Props" 
    :project='formData' > 
  </router-view>
  <v-layout  v-if='project_visible'> 
    <v-layout  type="flex" justify="space-around">
      
      <v-flex  xs12 class='project-content'>
        <!-- <v-btn v-show="!edit" dark small color="teal" class = 'button_right' @click="Delete">
            <v-icon dark>delete</v-icon>
        </v-btn> -->
        <v-container>
          <v-layout>
            <v-flex xs12>
              <v-btn v-show="!edit" dark  color="teal" class = '' @click="Sbr()">
                Настройка Сбербанка
              </v-btn>
              <v-btn v-show="!edit" flat icon color="teal" class = '' @click="Edit(true)">
                <v-icon>edit</v-icon>
              </v-btn>
            </v-flex>
          </v-layout>

          <v-layout align-center>
            <v-form  ref="uploadForm" v-model="valid" lazy-validation style="width: 100%;">
              <v-container>
                <v-layout row wrap align-center justify-space-around>
                  <!-- <v-flex xs12 sm3  md2 class='label_flex'>Проект Expobit</v-flex>
                  <v-flex xs12 sm9 md8 > -->
                  <v-flex xs12>
                    <v-select :disabled="edit ? false : true" @change="SetProjectData"
                      v-model="formData.p_expobit" :rules="formDataRules"
                      :items="options.p_expobit" item-text="name" item-value="id"
                      label="Проект из Expoit"
                      ></v-select>
                    </v-flex>
                </v-layout>

                <v-layout row wrap align-center justify-space-around v-if = '$store.state.user.permission_name == "admin"'>
                      <!-- <v-flex xs12 sm3  md2 class='label_flex'>Права доступа</v-flex>
                      <v-flex xs12 sm9 md8 d-flex> -->
                      <v-flex xs12 d-flex>
                        <v-radio-group v-model="formData.is_business" :disabled="edit ? false : true">
                          <template v-slot:label>
                            <div>Права доступа</div>
                          </template>
                          <v-radio :key='false' :label="`Выставочная директория`" :value='false'></v-radio>
                          <v-radio :key='true' :label="`Бизнес драйв`" :value="true"></v-radio>
                        </v-radio-group>
                      </v-flex>
                </v-layout>

                <v-layout row wrap align-center justify-space-around>
                  <!-- <v-flex xs12 sm3  md2 class='label_flex'>Статус</v-flex>
                  <v-flex xs12 sm9 md8 d-flex> -->
                  <v-flex xs12>
                    <v-select :disabled="edit ? false : true"
                      v-model="formData.status"  :rules="formDataRules"
                      :items="options.status" item-text="name" item-value="id"
                      label="Выбрать статус проекта"
                      ></v-select>
                  </v-flex>
                </v-layout>

                <v-layout row wrap align-center justify-space-around>
                  <!-- <v-flex xs12 sm3  md2 class='label_flex'>Продажи</v-flex> -->
                  <v-flex xs12  md4style='font-size: medium;'>Места продажи</v-flex>
                  <v-flex xs12 md4>
                    <v-checkbox :disabled="edit ? false : true" v-model="formData.status_is_site" label="Сайт" ></v-checkbox>
                  </v-flex>
                  <v-flex xs12 md4>
                    <v-checkbox :disabled="edit ? false : true" v-model="formData.status_is_kiosk" label="Электронный киоск" ></v-checkbox>
                  </v-flex> 
                </v-layout>

                <v-layout row wrap align-center justify-space-around>
                  <!-- <v-flex xs12 sm3 md2 class='label_flex'>Название</v-flex>
                  <v-flex xs12 sm9 md8 d-flex> -->
                  <v-flex xs12>
                    <v-text-field  :rules="formDataRules" label="Название проекта"
                      v-model="formData.name" :disabled="edit ? false : true"
                      :counter="250" required
                    ></v-text-field>
                  </v-flex>
                </v-layout>

                <v-layout row wrap align-center justify-space-around>
                 <!--  <v-flex xs12 sm3 md2 class='label_flex'>Дата начала</v-flex>
                  <v-flex xs12 sm9 md4 > -->
                  <v-flex xs12 sm6 >
                    <v-menu :disabled="edit ? false : true"
                      v-model="date_options.start" :close-on-content-click="false"
                      :nudge-right="40" lazy transition="scale-transition" offset-y
                      full-width min-width="290px">
                      <template v-slot:activator="{ on }">
                        <v-text-field :disabled="edit ? false : true"
                          v-model="formData.date_start"
                          label="Дата начала проекта" prepend-icon="event" readonly v-on="on"></v-text-field>
                      </template>
                      <v-date-picker locale='ru' v-model="formData.date_start" @input="date_options.start = false" first-day-of-week=1 :title-date-format='DateView'></v-date-picker>
                    </v-menu>
                  </v-flex>

                 <!--  <v-flex xs12 sm3 md2 class='label_flex'>Дата окончания</v-flex>
                  <v-flex xs12 sm9 md4 d-flex> -->
                  <v-flex xs12 sm6>
                    <v-menu :disabled="edit ? false : true"
                      v-model="date_options.end" :close-on-content-click="false"
                      :nudge-right="40" lazy transition="scale-transition" offset-y
                      full-width min-width="290px">
                      <template v-slot:activator="{ on }">
                        <v-text-field :disabled="edit ? false : true"
                          v-model="formData.date_end"
                          label="Дата окончания проекта" prepend-icon="event" readonly v-on="on"></v-text-field>
                      </template>
                      <v-date-picker locale='ru' v-model="formData.date_end" @input="date_options.end = false" :title-date-format='DateView'></v-date-picker>
                    </v-menu>
                  </v-flex>
                </v-layout>

                <v-layout row wrap align-center justify-space-around>
                <!--   <v-flex xs12 sm3 md2 class='label_flex'>Время начала</v-flex>
                  <v-flex xs12 sm9 md4 > -->
                  <v-flex xs12 sm6 md4 >
                    <v-menu :disabled="edit ? false : true"
                      ref="menu" v-model="date_options.tstart"
                      :close-on-content-click="false" :nudge-right="40" :return-value.sync="formData.time_start" lazy 
                      transition="scale-transition" offset-y full-width  min-width="290px">
                      <v-text-field :disabled="edit ? false : true"
                        slot="activator"
                        v-model="formData.time_start"
                        label="Время начала"
                        prepend-icon="access_time"
                        readonly
                      ></v-text-field>
                      <v-time-picker v-model="formData.time_start" format="24hr" scrollable
                       @click:minute="$refs.menu.save(formData.time_start + ':00')" full-width>
                      </v-time-picker>
                    </v-menu>
                  </v-flex>

                  <!-- <v-flex xs12 sm3 md2 class='label_flex'>Время окончания</v-flex>
                  <v-flex xs12 sm9 md4 > -->
                  <v-flex xs12 sm6 md4 >
                    <v-menu :disabled="edit ? false : true"
                      ref="menu2" v-model="date_options.tend"
                      :close-on-content-click="false" :nudge-right="40" :return-value.sync="formData.time_end" lazy 
                      transition="scale-transition" offset-y full-width  min-width="290px">
                      <v-text-field :disabled="edit ? false : true"
                        slot="activator"
                        v-model="formData.time_end"
                        label="Время окончания"
                        prepend-icon="access_time"
                        readonly
                      ></v-text-field>
                      <v-time-picker v-model="formData.time_end" format="24hr" scrollable
                       @click:minute="$refs.menu2.save(formData.time_end + ':00')" full-width>
                      </v-time-picker>
                    </v-menu>
                  </v-flex>

                  <!-- <v-flex xs12 sm3 md2 class='label_flex'>Время окончания в последний день</v-flex>
                  <v-flex xs12 sm9 md4 > -->
                  <v-flex xs12 sm12 md4 >
                    <v-menu :disabled="edit ? false : true"
                      ref="menu3" v-model="date_options.tlast"
                      :close-on-content-click="false" :nudge-right="40" :return-value.sync="formData.time_last" lazy 
                      transition="scale-transition" offset-y full-width  min-width="290px">
                      <v-text-field :disabled="edit ? false : true"
                        slot="activator"
                        v-model="formData.time_last"
                        label="Время окончания в последний день"
                        prepend-icon="access_time"
                        readonly
                      ></v-text-field>
                      <v-time-picker v-model="formData.time_last" format="24hr" scrollable
                       @click:minute="$refs.menu3.save(formData.time_last + ':00')" full-width>
                      </v-time-picker>
                    </v-menu>
                  </v-flex>
                </v-layout>

                <v-layout row wrap align-center justify-space-around>
                 <!--  <v-flex xs12 sm3  md2  class='label_flex'>Вид подтверждения личности пользователя</v-flex>
                  <v-flex xs12 sm9 md8 > -->
                  <v-flex xs12>
                    <v-select :disabled="edit ? false : true"
                      v-model="formData.type_confirm_user"  :rules="formDataRules"
                      :items="options.type_confirm_user" item-text="name" item-value="id"
                      label="Вид подтверждения личности пользователя"
                      ></v-select>
                    </v-flex>
                </v-layout>

         
                 <!--  <v-flex xs12 sm3  md2  class='label_flex'>Доп. данные</v-flex>
                  <v-flex xs12 sm9 md8 > -->
                 
                <v-layout row wrap align-top justify-space-around>
                  <v-flex xs12 sm6  lg3 style='font-size: medium; padding: 20px 0!important'>
                    Дополнительные данные
                  </v-flex>
                  <v-flex xs12 sm6  lg9 >
                    <v-container style='padding: 0;'>
                      <v-layout row wrap>
                         <v-flex xs12 sm6  lg3 >
                          <v-checkbox :disabled="edit ? false : true" v-model="formData.is_weekend" label="Выходной/будний" ></v-checkbox>
                        </v-flex>
                        <v-flex xs12 sm6  lg3 >
                          <v-checkbox :disabled="edit ? false : true" v-model="formData.is_pay" label="Оплата входа" ></v-checkbox>
                        </v-flex>
                        <v-flex xs12 sm6  lg3 >
                          <v-checkbox :disabled="edit ? false : true" v-model="formData.is_plane" label="Планировки" ></v-checkbox>
                        </v-flex>
                        <v-flex xs12 sm6  lg3 >
                          <v-checkbox :disabled="edit ? false : true" v-model="formData.is_form" label="Анкеты" ></v-checkbox>
                        </v-flex>
                        <v-flex xs12 sm12  lg6 >
                          <v-checkbox :disabled="edit ? false : true" v-model="formData.is_repeat_visit" label="Повторная активация" ></v-checkbox>
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-flex>
                </v-layout>
                   

                <v-layout row wrap align-top justify-space-around>
                  <v-flex xs12 sm6  lg3 style='font-size: medium; padding: 20px 0!important'>
                    Программы лояльности
                  </v-flex>
                  <v-flex xs12 sm6  lg9 >
                    <v-container style='padding: 0;'>
                      <v-layout row wrap>
                         <v-flex xs12 sm6  lg3 >
                          <v-checkbox :disabled="edit ? false : true" v-model="formData.is_promocode" label="Промокоды" ></v-checkbox>
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-flex>                 
                </v-layout>

                <v-layout row wrap align-center justify-space-around>
                  <!-- <v-flex xs12 sm3 md2 class='label_flex'>Название</v-flex>
                  <v-flex xs12 sm9 md8 d-flex> -->
                  <v-flex xs12>
                    <v-select :disabled="edit ? false : true"
                      v-model="formData.is_form_type" label="Тип анкетирования"
                      :items="options.is_form_type" item-text="name" item-value="id"
                      ></v-select>
                  </v-flex>
                </v-layout>

                <v-layout row wrap>
                  <v-flex xs12  md3  style='font-size: medium; padding: 20px 0!important'>
                    Логотип
                    <div v-show='edit' style='display: contents; '>
                      <label for="file" class="upload_button"><v-icon>add_photo_alternate</v-icon></label>
                      <input type="file" id="file" ref="file" style="opacity: 0; z-index: -1; height: 1px; width: 1px;" accept="image/jpeg,image/png,image/gif" v-on:change="handleFileUpload(false)"/>
                    </div>   
                  </v-flex>

                  <v-flex xs2 md9 >
                      <div v-show="file && formData.logo !='delete'" style="position:relative; width:15vw; max-width:200px">
                          <v-btn v-show='edit' flat icon color="teal" adsolute right class="deleteButtom" @click="deleteImage(false)" 
                          style='float: right; margin: -20px -45px;'>
                            <v-icon>delete</v-icon>
                          </v-btn>
                          <img v-bind:src="file" id="blah" class="avatar">
                      </div>     
                  </v-flex>

                </v-layout>

                <v-layout row wrap>
                  <v-flex xs12 md3  style='font-size: medium; padding: 20px 0!important'>
                    Билет
                    <div v-show='edit' style='display: contents;'>
                      <label for="ticket_file" class="upload_button"><v-icon>add_photo_alternate</v-icon></label>
                      <input type="file" id="ticket_file" ref="ticket_file" style="opacity: 0; z-index: -1;  height: 1px; width: 1px;" accept="image/jpeg,image/png,image/gif" v-on:change="handleFileUpload(true)"/> 
                    </div>

                  </v-flex>
                  <v-flex xs2 md9 >
                    <div v-show="ticket_file && formData.ticket_logo !='delete'" style="position:relative; width:15vw; max-width:200px">
                        <v-btn v-show='edit' flat icon color="teal" adsolute right class="deleteButtom" @click="deleteImage(true)" 
                        style='float: right; margin: -20px -45px;'>
                          <v-icon>delete</v-icon>
                        </v-btn>
                        <img v-bind:src="ticket_file" id="ticket_img" class="avatar">
                    </div> 
                  </v-flex>
                </v-layout>

                <v-layout row wrap align-center justify-space-around>
                  <v-flex xs12>
                    <v-textarea
                      name="input-7-1" label="Описание проекта"
                      :value="formData.description"
                    ></v-textarea>
                  </v-flex>
                </v-layout>


                <v-layout>
                  <v-flex>
                    <v-btn v-show="edit" dark  color="teal" class = 'button_right' @click="Update('uploadForm')" style='float:right'>
                        Сохранить
                    </v-btn>
                  </v-flex>
                </v-layout>

              </v-container>
            </v-form>
          </v-layout>
        </v-container>

      </v-flex>
      
    </v-layout>

    <v-dialog v-model="sbr_dialog" persistent max-width="500">
      <v-card>
        <v-container>
          <v-card-title class="headline">Настройка учетной записи Сбербанка</v-card-title>
          <v-card-text>
            <v-layout row wrap>
              <v-flex  xs12 class='project-content' v-show='todo_sbr==0'>
                <v-btn dark small  color="teal" class = 'button_right' @click="todo_sbr = 1; data_sbr=[]">  Создать новый </v-btn>
                <v-btn dark small  color="teal" class = 'button_right' @click="todo_sbr = 2">  Выбрать существующий </v-btn>
                <v-btn dark small v-show='data_sbr.id' color="teal" class = 'button_right' @click="todo_sbr = 1">  Изменить </v-btn>
              </v-flex>
            </v-layout>

            <v-flex xs12 v-show='!data_sbr.id && todo_sbr == 0' class='project-content'>
               <p style='text-align: center; font-size: 20; padding: 110px 0;'>Учетная запись Сбербанка не настроена</p>
            </v-flex>

            <v-flex xs12>
              <v-form  ref="uploadFormS" v-model="valid" lazy-validation>
                <v-layout row wrap>
                  <v-flex xs12 v-show='data_sbr.id && todo_sbr == 0'>
                    <v-container>
                      <v-layout row wrap>
                        <v-flex xs12>
                          <v-checkbox v-model="data_sbr.is_production" label="Боевой аккаунт"></v-checkbox> 
                        </v-flex>
                        <v-flex xs12>
                          <v-text-field label="Наименование" v-model="data_sbr.name"></v-text-field>  
                        </v-flex>
                        <v-flex xs12>
                          <v-text-field label="API" v-model="data_sbr.api"></v-text-field>  
                        </v-flex>
                        <v-flex xs12>
                          <v-text-field label="Оператор" v-model="data_sbr.operator"></v-text-field>  
                        </v-flex>
                        <v-flex xs12>
                          <v-text-field label="Пароль" v-model="data_sbr.password"></v-text-field>  
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-flex>

                  <v-flex xs12 v-show='todo_sbr == 1'>
                    <v-container>
                      <v-layout row wrap>
                        <v-flex xs12>
                          <p v-if='data_sbr.count>1'> Внимание! Данные настройки используются в нескольких проектах! Если вы хотите изменить настройки только в этом проекте, задайте новые настройки!</p>
                        </v-flex>
                        <v-flex xs12>
                          <v-checkbox v-model="data_sbr.is_production" label="Боевой аккаунт"></v-checkbox> 
                        </v-flex>
                        <v-flex xs12>
                          <v-text-field label="Наименование" v-model="data_sbr.name"></v-text-field>  
                        </v-flex>
                        <v-flex xs12>
                          <v-text-field label="API" v-model="data_sbr.api"></v-text-field>  
                        </v-flex>
                        <v-flex xs12>
                          <v-text-field label="Оператор" v-model="data_sbr.operator"></v-text-field>  
                        </v-flex>
                        <v-flex xs12>
                          <v-text-field label="Пароль" v-model="data_sbr.password"></v-text-field>  
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-flex>

                  <v-flex xs12 v-if='todo_sbr == 2'>
                    <v-container>
                      <v-layout row wrap>
                        <v-flex xs12>
                          <v-select
                            v-model="data_sbr.old"  @change="SetProjectData"
                            :items="options_sbr" item-text="name" item-value="id"
                            label="Выбрать настройки"
                            ></v-select>
                        </v-flex>
                      </v-layout>
                    </v-container>
     
                  </v-flex>
                </v-layout>
              </v-form>
            </v-flex>
          </v-card-text>
          <v-card-actions>
            <v-btn dark  color="teal" class = 'button_right' @click="Sbr(true)">Сохранить</v-btn>
            <v-btn dark  color="teal" class = 'button_right'  @click="todo_sbr=0; sbr_dialog=false">Отмена</v-btn>
          </v-card-actions>
        </v-container>
      </v-card>
    </v-dialog>

  </v-layout>
</v-flex>
</template>

<script>
import axios from 'axios';
import $ from 'jquery'
import store from '../../../store';
import router from './../../../router'
import Vue from 'vue'
import * as types from '../../../store/mutation-types'

// import ModalPush from './ModalPush';

var projectBus = new Vue();


  export default {
    props: ['is_business_dr','project', 'projectBus', 'id' ],

    computed: {
      Props() {
        return { id: this.$props.id }
      }
    },
    data() {
      return {
        labelPosition: 'left',
        project_visible:true,
        date_options:{
          start: false,
          end: false,
          tstart: false,
          tend: false,
          tlast:false
        },

        valid:true,
        sbr_dialog:false,


        formDataRules: [
        v => !!v || 'Поле обязательно',
        ],
        

        formData: {},
        formData_old: {},
        
        file: '',
        ticket_file: '',
        options:{},
        p_expobit:[],
        status:[],
        fcm_data:[],
        type_confirm_user:[],
        sites:[],

        edit:false,

        todo_sbr:0,
        data_sbr:[],
        options_sbr:[],
        rules_sbr:{
          api: [
            { required: true, message: 'Поле не может быть пустым', trigger: 'blur' },
          ],
          operator: [
            { required: true, message: 'Поле не может быть пустым', trigger: 'blur' },
          ],
          password: [
            { required: true, message: 'Поле не может быть пустым', trigger: 'blur' },
          ],
        },
      }
    },
    
    created() {
      if(!this.project.id){
        Vue.set(this.project, 'id', this.$props.id)
      }
      var project = this.$store.state.is_business ? "#/project_business/": "#/project/" 
      this.$emit('message_ul', {  redirect: {
          name : 'Проект', 
          link : location.pathname+project+this.$props.id+'/',
          id   : 'project_li',
          action: 'add'},
        message:{
          projects_visible:false,
        } 
      })
      axios.get('/api/project/options')
        .then(response => {
          this.options = response.data
        })
        .catch(e => {
          this.errors.push(e)
        })

        this.Init()
    },

    destroyed(){
      this.$emit('project', { message: {data:{}}})
      // this.$store.dispatch(types.TYPE_PROJECT,null)
      this.$emit('message_ul', { redirect: {
          id   : 'project_li',
          action: 'remove'},
        message:{
          projects_visible:true,
        }
      })
    },
    methods: {
      DateView(obj){
        return obj
      },

      Sbr(data){
        if(!data){
          axios.get('/api/project/'+this.project.id+'/sbr/')
          .then(response => {
            this.options_sbr = response.data
          })
          axios.get('/api/project/'+this.project.id+'/sbr/relate/')
          .then(response => {
            this.data_sbr = response.data
            this.todo_sbr = 0
            // this.$modal.show('form-sbr')
            this.sbr_dialog = true
          })
          .catch(e => {
            this.errors.push(e)
          })

        }else{
          let formData1 = new FormData();
          for (var data in this.data_sbr){
            formData1.append(data, this.data_sbr[data]);
          }
          this.$api.update('/api/project/'+this.project.id+'/sbr/add/',formData1)
            .then(response => {
              this.sbr_dialog = false
              this.data_sbr = response.data
              this.todo_sbr = 0
            })


        }
        
      },

      Init(){
        axios.get('/api/project/'+this.project.id+'/')
        .then(response => {
          this.formData  = response.data
          this.formData_old = response.data
          this.file = response.data.logo
          this.ticket_file = response.data.ticket_logo
          this.$emit('project', { message: {data:response.data}})

          if (!response.data.id){
            this.Edit(true)
          }else{
            this.Edit(false)
          }
        })
        .catch(e => {
          this.errors.push(e)
        })

      },
      Update(formName){
        debugger
        if (this.$refs[formName].validate()) {
          if (this.file){
            this.formData['logo']= this.file
          }
          if (this.ticket_file){
            this.formData['ticket_logo']= this.ticket_file
          }
          if(this.$store.state.user.permission_name == 'business'){
            this.formData['is_business'] = true
          }
          if(this.$store.state.user.permission_name == 'expo'){
            this.formData['is_business'] = false
          }
         
          let formData1 = new FormData();
          for (var data in this.formData){
            formData1.append(data, this.formData[data]);
          }
          this.$api.update('/api/project/'+this.$props.id+'/add/',formData1)
            .then(response => {
              location.href = location.href
              if (this.$props.id == 'new'){
                location.hash = '/project/'+response.data.id +'/'
                location.href = location.href
              }
                this.Edit(false)
                this.formData = response.data
                this.formData_old = response.data

              this.$notify({
                group: 'foo',
                type: 'success',
                duration: 2000,
                text: "<i style='font-size:20px' class='fa fa-check'></i> Сохранено"
              });
              this.projectBus.$emit("updateList");

            })
            .catch(e => {
              this.$notify({
                group: 'foo',
                type: 'error',
                duration: 3000,
                text: "<i style='font-size:20px' class='fa fa-exclamation'></i> "+e.detail
              });
            })
        } else {
          return false;
        }
      },

      Cansel(){
        if(this.formData.id){
          this.Init()
        }else{
          var project = this.$store.state.is_business ? "#/project_business/": "#/project/" 
            location.hash = project
            location.href = location.href
        }   
      },

      Edit(edit){
        this.edit=edit
        if (edit){
          $("form[name='uploadForm']").find("input,select,textarea,button").each(function() {
            this
            this.removeAttribute("disabled");
            this.parentNode.classList.remove("is-disabled");
            this.classList.remove("is-disabled");
          });
        }else{
          this.edit=false
          $("form[name='uploadForm']").find("input,select,textarea,button").each(function() {
            this
            this.setAttribute("disabled", true);
            this.parentNode.classList.add("is-disabled");
            this.classList.remove("is-disabled");
          });
        }  
      },

      Delete(){
        this.$confirm('Удалить объект?', 'Подтверждение действия пользователя', {
          confirmButtonText: 'Да',
          cancelButtonText: 'Нет',
          type: 'warning'
        }).then(() => {
            this.$api.del('/api'+location.hash.replace('#','')+'delete/')
            .then(response => {
              console.log('response => ', response)
              location.hash = '#project/';
              location.href = location.href
              this.$notify({
                group: 'foo',
                type: 'success',
                duration: 3000,
                text: "<i style='font-size:20px' class='fa fa-check'></i> Удалено"
              });
              this.projectBus.$emit("updateList");
            })
            .catch(e => {
              this.$notify({
                group: 'foo',
                type: 'error',
                duration: 3000,
                text: "<i style='font-size:20px' class='fa fa-exclamation'></i> Ошибка"
              });
            })
          })
      },
      RelatedTemplates(url){
        location.hash =location.hash + url + '/';
        location.href = location.href
      },

      SetProjectData(){

        if(location.hash.indexOf("new")>=0){
          axios.get('/api'+location.hash.replace('#','')+'dataDev/?id='+this.formData.p_expobit, {          
            })
            .then(response => {
              for(var i in this.formData){
                if(response.data[0][i]){
                  this.formData[i] = response.data[0][i]
                }
              }
            })
            .catch(e => {
              this.errors.push(e)
            })
        }
      },

      deleteImage(ticket){
        if(!ticket){
          this.formData.logo = 'delete';
          this.file = ''

        }else{
          this.formData.ticket_logo = 'delete';
          this.ticket_file = ''

        }
      },
      IndexMessageRedirect:function (payload) {
          this.$emit('message_ul', { redirect: payload.redirect})
          this.project_visible = payload.message.project_visible
        },
      handleFileUpload(ticket){

        if(!ticket){
          this.formData.logo = this.$refs.file.files[0];
          this.file = this.$refs.file.files[0];
          var input = this.$refs.file

          if (input.files && input.files[0]) {
              var reader = new FileReader();
              reader.onload = function(e) {
                $('#blah').attr('src', e.target.result);
              }
              reader.readAsDataURL(input.files[0]);
            } 
        }else{
          this.formData.ticket_logo = this.$refs.ticket_file.files[0];
          this.ticket_file = this.$refs.ticket_file.files[0];
          var input = this.$refs.ticket_file

          if (input.files && input.files[0]) {
              var reader = new FileReader();

              reader.onload = function(e) {
                $('#ticket_img').attr('src', e.target.result);
              }
              reader.readAsDataURL(input.files[0]);
            }
          }
        }
      },
 
    
  };
</script>
<style>

.upload_button{
    margin: 15px 0;
}

  .project-content .flex{
    padding: 0px !important; 
  }

  .label_flex{
    margin-top: 15px !important;
  }
  .avatar {
      width: 15vw;
      max-width: 200px;
      display: block;
      border: solid 1px #c0c4cc;
    }

  .sbr-content .el-form-item{
    margin-bottom: 5px;
    padding: 0 15px;
  }


</style>