

<template> 
  <el-col :span="24" class='project-content' style='height:100%'>
    <el-row style='padding: 10px 10px 0 0'>

      <el-button v-if="!edit" class='button_right' type="danger" size="medium" @click="Delete" style='margin-left: 20px;'>
            <i class="far fa-trash-alt"></i> 
        </el-button>
      <el-button v-if="!edit" class='button_right' type="success" size="medium"@click="edit=true" style='margin-left: 20px;'>
          <i class="fas fa-pencil-alt"></i> 
      </el-button>
    </el-row>
    <!-- 'id', 'code', 'project', 'date_create', 'date_activate', 'date_start', 'date_end', 'type', 'value', 'contact', 'count', 'summ_all' -->
    <div class='el-col el-col-24' style='height:100%'>
      <el-form :model="formData" :rules="rules_category" ref="formData"  class="form-promocode">
        <el-form-item prop='code'>
          <div class='el-col el-col-24 el-col-xs-24 el-col-sm-6  '>Промокод</div>
          <div class='el-col el-col-22 el-col-xs-22 el-col-sm-16 '>
            <el-input v-if='!edit' disabled v-model="formData.code" placeholder="Код"></el-input>
            <el-input v-else clearable v-model="formData.code" placeholder="Код"></el-input>
          </div>
          <div class='el-col el-col-2 '>
            <el-button v-if='edit' type="info" class='button button_right' icon="fas fa-random" style='margin:0'  @click = 'GeneratePromocode'></el-button>
          </div>
        </el-form-item>

        <el-form-item prop='summ_all'>
          <div class='el-col el-col-24 el-col-xs-24 el-col-sm-6  '>Сложение</div>
          <div class='el-col el-col-24 el-col-xs-24 el-col-sm-18'>
            <el-checkbox v-if='edit' v-model="formData.summ_all">Суммировать с другими скидками</el-checkbox>
            <el-checkbox v-if='!edit' disabled v-model="formData.summ_all">Суммировать с другими скидками</el-checkbox>
          </div>
        </el-form-item>

        <el-form-item prop='date_start'>
          <div class='el-col el-col-24 el-col-xs-24 el-col-sm-6'>Начало действия 
            <el-popover
              placement="top-start"
              title="Подсказка"
              width="300"
              trigger="hover"
              content="Если оставить поля пустыми, то промокод будет активен с текущего времени">
              <span slot="reference"><i  class="fas fa-question-circle"></i></span>
            </el-popover>
          </div>
          <div class='el-col el-col-12 el-col-xs-12 el-col-sm-9'>
            <el-date-picker  v-if='!edit' disabled style="width: 100%;"
              placeholder="Дата"
              value-format="dd-MM-yyyy"
              v-model="formData.date_start_date">
            </el-date-picker>
            <el-date-picker v-else clearable style="width: 100%;"
              placeholder="Дата"
              value-format="dd-MM-yyyy"
              v-model="formData.date_start_date"
              :picker-options="{disabledDate(time) {                        
                  return time.getTime() < Date.now()-86400000;                            
              }}">
            </el-date-picker>
            
          </div>
          <div class='el-col el-col-12 el-col-xs-12 el-col-sm-9 '>
            
            <el-time-select v-if='!edit' disabled style="width: 100%;"
              placeholder="Время"
              v-model="formData.date_start_time">
            </el-time-select>
            <el-time-select v-else clearable style="width: 100%;"
              placeholder="Время"
              v-model="formData.date_start_time"
              :picker-options="{
                start: '00:00',
                step: '01:00',
                end: '23:59'
              }">
            </el-time-select>
          </div>
        </el-form-item>

        <el-form-item prop='date_start'>
          <div class='el-col el-col-24 el-col-xs-24 el-col-sm-6'>Окончание действия
            <el-popover
              placement="top-start"
              title="Подсказка"
              width="300"
              trigger="hover"
              content="Если оставить поля пустыми, то промокод будет активен до конца проекта">
              <span slot="reference"><i  class="fas fa-question-circle"></i></span>
            </el-popover>
          </div>
          <div class='el-col el-col-12 el-col-xs-12 el-col-sm-9'>
            <el-date-picker  v-if='!edit' disabled style="width: 100%;"
              placeholder="Дата"
              value-format="dd-MM-yyyy"
              v-model="formData.date_end_date">
            </el-date-picker>
            <el-date-picker v-else clearable style="width: 100%;"
              placeholder="Дата"
              value-format="dd-MM-yyyy"
              v-model="formData.date_end_date"
              :picker-options="{disabledDate(time) {                        
                  return time.getTime() < Date.now()-86400000;                            
              }}">
            </el-date-picker>
            
          </div>
          <div class='el-col el-col-12 el-col-xs-12 el-col-sm-9 '>
            
            <el-time-select v-if='!edit' disabled style="width: 100%;"
              placeholder="Время"
              v-model="formData.date_end_time">
            </el-time-select>
            <el-time-select v-else clearable style="width: 100%;"
              placeholder="Время"
              v-model="formData.date_end_time"
              :picker-options="{
                start: '00:00',
                step: '01:00',
                end: '23:59'
              }">
            </el-time-select>
          </div>
        </el-form-item>  

        <el-form-item prop='type'>
          <div class='el-col el-col-24 el-col-xs-24 el-col-sm-6 '>Тип скидки</div>
          <div class='el-col el-col-24 el-col-xs-24 el-col-sm-18 '>
           <el-select v-if='!edit' disabled v-model="formData.type" placeholder="Выбрать" style="width: 100%;" @change="">
              <el-option
                v-for="item in options['type']"
                :key="item.key"
                :label="item.value"
                :value="item.key">
              </el-option>
            </el-select>
            <el-select v-else clearable filterable v-model="formData.type" placeholder="Выбрать" style="width: 100%;" @change="">
              <el-option
                v-for="item in options['type']"
                :key="item.key"
                :label="item.value"
                :value="item.key">
              </el-option>
            </el-select>
          </div>
        </el-form-item>
        
        <el-form-item prop='value'>
          <div class='el-col el-col-24 el-col-xs-24 el-col-sm-6 '>Величина</div>
          <div class='el-col el-col-24 el-col-xs-24 el-col-sm-18 '>
            <el-input clearable v-if='!edit' disabled v-model="formData.value" placeholder="Величина скидки в рублях или процентах"></el-input>
            <el-input clearable v-else v-model="formData.value" placeholder="Величина скидки в рублях или процентах"></el-input>
          </div>
        </el-form-item>

        <el-form-item prop='count' v-if='formData.contact && formData.contact.length<=0'>
          <div class='el-col el-col-24 el-col-xs-24 el-col-sm-6 '>Количество</div>
          <div class='el-col el-col-24 el-col-xs-24 el-col-sm-18 '>
            <el-input clearable v-if='!edit' disabled v-model="formData.count" placeholder="Количество промокодов"></el-input>
            <el-input clearable v-else v-model="formData.count" placeholder="Количество промокодов"></el-input>
          </div>
        </el-form-item>

       <!--  <el-form-item >
          <div class='el-col el-col-24 el-col-xs-24 el-col-sm-6 '>Суммирование</div>
          <div class='el-col el-col-24 el-col-xs-24 el-col-sm-18'>
            <el-checkbox v-if='!edit' disabled v-model="formData.summ">Суммировать промокод с другими скидками</el-checkbox>
            <el-checkbox v-else v-model="formData.summ">Суммировать промокод с другими скидками</el-checkbox>
          </div>
        </el-form-item>  -->



        <el-form-item prop='contact' v-for='item, id_item in formData.contact' :key = "item.id">
          <div class='el-col el-col-24 el-col-xs-24 el-col-sm-6  '>E-mail {{id_item+1}}
            <el-popover
              placement="top-start"
              title="Подсказка"
              width="300"
              trigger="hover"
              content="Если промокод индивидуальный, то поле обязательно для заполнения">
              <span slot="reference"><i  class="fas fa-question-circle"></i></span>
            </el-popover>

          </div>
          <div class='el-col el-col-22 el-col-xs-22 el-col-sm-16 '>
            <el-input clearable v-if='!edit' disabled v-model="item.data" placeholder=""></el-input>
            <el-input clearable v-else v-model="item.data" placeholder=""></el-input>
          </div>
          <div class='el-col el-col-2 '>
            <el-button v-if='edit' type="info" class='button button_right' icon="far fa-trash-alt" style='margin:0'  @click = "deleteEmail1(id_item)"></el-button>
          </div>
          
        </el-form-item>
        <div class='el-col el-col-24 '>
          <el-button v-if='edit' type="info" class='button' icon="fas fa-plus" style='margin:0'  @click = "addEmail1"> E-mail</el-button>
        </div>

        
      </el-form>

      <div style='position:absolute; bottom: 20px;right: 20px;'>
            
        <el-button v-if="edit" type="success" class='button_modal' @click="Update">
            Сохранить
        </el-button>

        <el-button v-if="!edit" type="info" class='button_modal' @click="$modal.hide('form-promocode');">
            Закрыть
        </el-button>

        <el-button v-if="edit" type="info" class='button_modal' @click="edit=false">
            Отмена
        </el-button>

      </div>
      
    </div>
  </el-col>
</template>



<script>
import Vue from 'vue'
import axios from 'axios';
import $ from 'jquery'

  export default {
    props: ['project', 'id', 'edit', 'options'],
    data() {
      return {
        options:{},
        formData:{},         
      }
    },
    
    created() {
      this.Init()
    },
    destroyed(){
      
    },
    methods: {
      Init(){
        this.$api.get('../api/project/'+ this.project.id + '/promocode/'+ this.id)
          .then(response => {
            this.SetValueToForm(response.data)
            if(response.data.id){
              this.edit = false
            }else{
              this.edit = true
            }
            
            this.$modal.show('form-promocode');
          })
          .catch(e => {
            console.log(e)
          })
      }, 

      Update(){
        var pattern = /(\d{2})\-(\d{2})\-(\d{4})/;
        if(this.formData.date_start_date){
          if(this.formData.date_start_time){
            this.formData.date_start = new Date((this.formData.date_start_date + ' ' + this.formData.date_start_time).replace(pattern,'$3-$2-$1'));
          }else{
            this.formData.date_start = new Date((this.formData.date_start_date).replace(pattern,'$3-$2-$1'));
          }
        }
        if(this.formData.date_end_date){
          if(this.formData.date_end_time){
            this.formData.date_end = new Date((this.formData.date_end_date + ' ' + this.formData.date_end_time).replace(pattern,'$3-$2-$1'));
          }else{
            this.formData.date_end = new Date((this.formData.date_end_date).replace(pattern,'$3-$2-$1'));
          }
        }

        let formData1 = new FormData();
        for(var i in this.formData){
          formData1.append(i, this.formData[i])
        }
        this.$api.post('../api/project/'+ this.project.id + '/promocode/update_data/', this.formData)
          .then(response => {
            if (response.data) {
              debugger
              this.id = response.data.id
              this.Init()
              this.$emit("update_list");
            }
          })
          .catch(e => {
            console.log(e)
        })
      }, 
      Delete(){
        this.$confirm('Удалить промокод?', 'Warning', {
          confirmButtonText: 'Да',
          cancelButtonText: 'Нет',
          type: 'warning'
        }).then(() => {
          this.$api.post('../api/project/'+ this.project.id + '/promocode/delete_data/', {id:this.formData.id})
          .then(response => {
            if (response.data) {
              debugger
              this.$modal.hide('form-promocode');
              this.$emit("update_list");
              this.$message({
              type: 'success',
                message: 'Удалено'
              });
            }
          })
          .catch(e => {
            this.$message({
              type: 'error',
              message: 'Ошибка'
            });
          })
        })     
      },

      SetValueToForm(obj){
        this.formData = obj
        if(obj.date_start){
          Vue.set(this.formData, 'date_start_date', obj.date_start.split(' ')[0])
          Vue.set(this.formData, 'date_start_time', obj.date_start.split(' ')[1])
        }
        if(obj.date_end){
          Vue.set(this.formData, 'date_end_date', obj.date_end.split(' ')[0])
          Vue.set(this.formData, 'date_end_time', obj.date_end.split(' ')[1])
        }
      },

      GeneratePromocode(){
        debugger
        this.formData.code =  `${Math.floor(Math.random() * (9999 - 1000))+ 1000}-${Math.floor(Math.random() * (9999 - 1000)) + 1000}-${Math.floor(Math.random() * (9999 - 1000)) + 1000}`
      },
      addEmail(){
        this.$modal.show('form-promocode-email');
      },

      addEmail1(){
        this.formData.contact.push({data:''})
      },

      deleteEmail1(id){
        this.formData.contact.splice(id, 1);
      },
    }
  };

</script>
<style scope>

.form-promocode{
    margin: 0;
    padding: 20px;
    height: 90%;
    overflow-y: scroll;
}

.el-checkbox{
  margin:0;
}

label{
  min-width: 60px;
}





</style>