

<template> 
<div :span="24" class='tickets-plane-view' id = 'tickets-plane-view'>

  <!-- <el-form :model='formData' :rules='rules' label-width="120px"  :label-position="labelPosition" class="form-project" name="uploadForm" ref="uploadForm" enctype="multipart/form-data"> -->
    
    <!-- <template > -->
      <v-layout  row wrap>     
        
        <v-flex xs6 md3  lg2 style='padding: 10px;'>
          Количество рядов:
        </v-flex>
        <v-flex xs6 md3 lg2 >
          <v-text-field v-model="formData.row[0]" :disabled="editHall==true ? false : true" type="number"  placeholder="Количество рядов" style='padding-top:0;'></v-text-field>
        </v-flex>

        <v-flex xs6 md3 lg2 style='padding: 10px;'>
          Мест в ряду:
        </v-flex>
        <v-flex xs6 md3 lg2> 
          <v-text-field v-model="formData.plase[0]" :disabled="editHall==true ? false : true" type="number" placeholder="Мест в ряду" style='padding-top:0;'></v-text-field>
        </v-flex>

        <v-flex  xs12 lg4>
          <v-btn v-if='jsonTickets.length>0' dark  color="teal" class = 'button_right'  @click = 'Save'>
                Сохранить
          </v-btn>
          <v-btn dark v-if='editHall==true' color="teal" class = 'button_right'  @click = 'Table("uploadForm")'>
                Создать
          </v-btn>
        </v-flex>

        <v-flex xs12>
          <!-- <v-radio-group v-model='formData.editFreePlace'> -->
            <v-checkbox v-model='formData.editFreePlace' key="free_plase" label="Отметить проданные места" value="free_plase" style='margin-top:0; '></v-checkbox>
            <v-checkbox v-model='formData.editFreePlace' key="reserv" label="Отметить Забронированное место" value="reserv" style='margin-top:0; padding-top:0'></v-checkbox>
          <!-- </v-radio-group> -->
        </v-flex>
   
      </v-layout>

    <v-layout  row wrap style="margin: 5px 0">
      <v-flex class='color_reserv' :xs="12" :md="9" :lg="6"> Зарезервированные цвета</v-flex>
      <v-flex class='color_reserv' style='background:#ffc107' :xs="12" :md="5" :lg="6"> Выбранный билет</v-flex>
      <v-flex class='color_reserv' style='background:#909399' :xs="12" :md="5" :lg="6"> Бронь</v-flex>
      <v-flex class='color_reserv' style='background:#56585d' :xs="12" :md="5" :lg="6"> Занято</v-flex>
    </v-layout>

    <v-layout row wrap v-if='editHall==true'>
      <v-flex xs12>
        <v-radio-group v-model="color" row style='margin: 0px 35px;'>
          <div v-for="item in colors" v-bind:style="{ background: item.color}">
            <v-radio :value="item.id" :key="item.id" :label="item.label" @change = 'selectColor(item)' style='display: inline-block;'></v-radio>
          </div>
        </v-radio-group>
      </v-flex>
    </v-layout>
    
    <v-flex :span='24' style='margin: 0 20px;'>
      <div id="container"></div>
    </v-flex>

  <!-- </el-form> -->
 
</div>
</template>



<script>
import Vue from 'vue'
import axios from 'axios';
import $ from 'jquery'
// import ModalPush from './ModalPush';
// function selectPlase(argument) {
//   debugger
// }


  export default {
    props: ['project'],
    data() {
      return {
        labelPosition: 'left',
        formData:{row:[], plase:[]},
        formData_old:{row:[], plase:[]},
        rules: {
          row: [
            { required: true, message: 'Поле не может быть пустым'},
            { type: 'number', message: 'Поле должно быть числом'}
          ],
          plase: [
            { required: true, message: 'Поле не может быть пустым'},
            { type: 'number', message: 'Поле должно быть числом'}
          ],
        },
        message: false,
        rows: [], 
        color:'',  
        colors:[],  


        jsonTickets:[],
        jsonHall:[],

        selectTypeTicket:[],

        editHall:true, 
       
      }
    },
    
    created() {
      // debugger
      // gkfybhjdrf
       this.$api.get('../api/project/' + this.project.id + '/tickets/get_plane/')
      .then(response => {
        // debugger
        if('tickets' in response.data){
          // debugger
          this.formData.plase[0] = response.data.tickets.plase
          this.formData.row[0] = response.data.tickets.row
          this.formData_old.plase[0] = response.data.tickets.plase
          this.formData_old.row[0] = response.data.tickets.row
          this.jsonTickets = response.data.tickets.json_tickets
          this.editHall = response.data.tickets.edit
          Vue.set(this.formData, 'editFreePlace', '')
          Vue.set(this.formData, 'edit', response.data.tickets.edit)
          this.Table('formData')
        }
        
      })
      .catch(e => {
        debugger
        console.log(e)
      })

    },
    destroyed(){
      this.$emit('message', { message: {plane:false,} })
      this.$emit('message_ul', { redirect: {
        id   : 'plane_li',
        action: 'remove'},
      message:{
        project_visible:false,
      }
    })
    },
    methods: {
      Init(id){
        debugger
        var url = '../api/project/'+ this.$store.state.value_project + '/tickets/'+id + '/data/'
        this.$api.get(url)
        .then(response => {
          debugger
 
          console.log('планировка ', response)
          if (response.data) {
            this.formData = response.data
            this.file = response.data.logo
            this.$emit('message', { message: {visible:true, id:response.data.id} })
          }
          this.Table('formData')
        })
        .catch(e => {
          console.log(e)
        })

      },
      Table(formName){
        this.$api.get('../api/project/' + this.project.id + '/tickets/')
          .then(response => {
            this.colors = []
            var temp = []
            // debugger
            for (var i in response.data) {
              this.colors.push({
                id:response.data[i].id, 
                label:response.data[i].name,
                color:response.data[i].color,
              })
              temp[response.data[i].id] = {
                id:response.data[i].id, 
                label:response.data[i].name,
                color:response.data[i].color,
              }
            }

            if(this.formData.row[0]!=this.formData_old.row[0] || 
              this.formData.plase[0]!=this.formData_old.plase[0]){
              this.jsonTickets = []
              this.formData_old.row[0]=this.formData.row[0]
              this.formData_old.plase[0]=this.formData.plase[0]
              Vue.set(this.formData, 'editFreePlace', '')
              Vue.set(this.formData, 'edit', true)
              debugger
            }
            this.$ticketPlase.createHall(this.formData, this.jsonTickets, this.jsonHall, temp, this.selectTypeTicket, this.editHall)
          })
          .catch(e => {
            console.log(e)
          })
      },

      Save(){
        let formData1 = new FormData();
        
        this.NumeratePlase()

        formData1.append('json_tickets', JSON.stringify(this.jsonTickets));
        formData1.append('row', this.formData.row[0]);
        formData1.append('plase', this.formData.plase[0]);
        
        var url = '/api/project/' + this.project.id + '/tickets/save_plane/'
        
        this.$api.update(url,formData1)
          .then(response => {
            console.log('response => ', response)
            // router.go(-1)
            this.$notify({
              group: 'foo',
              type: 'success',
              duration: 3000,
              text: "<i style='font-size:20px' class='fa fa-check'></i> Сохранено"
            });
          })
          .catch(e => {
            this.$notify({
              group: 'foo',
              type: 'error',
              duration: 3000,
              text: "<i style='font-size:20px' class='fa fa-exclamation'></i> Ошибка"
            });
          })
      },

      NumeratePlase(){
        debugger
        var plase_fact = 1
        var plase_real = 1
        var row_real = 1
        for(var i in this.jsonTickets){
          if(this.jsonTickets[i].category){
            Vue.set(this.jsonTickets[i], 'plase_real', plase_real)
            plase_real+=1
          }else{
            Vue.set(this.jsonTickets[i], 'plase_real', '')
          }
          plase_fact+=1

          if(plase_fact>this.formData.plase[0]){
            for(var j = i-this.formData.plase[0]+1; j<=i; j++){
              if(this.jsonTickets[j].category){
                Vue.set(this.jsonTickets[j], 'row_real', row_real)
                // plase_real+=1
              }else{
                Vue.set(this.jsonTickets[j], 'row_real', '')
              }
            }
            if(plase_real!=1){
              row_real+=1
            }

            plase_fact = 1
            plase_real = 1
            
          }
        }
      },

      differentBlock(){
        debugger
        this.formBlock.push(this.formBlock.length)
      },
      selectColor(item){
        debugger
        this.selectTypeTicket[0] = item
      },
      selectPlase(row, index){

        debugger

      },      
      selectPlase(){

        debugger

      },



      
    }
  };


</script>
<style scope>
/*.v-label {
  margin: 10px 0;
}*/
.konvajs-content{
  width: 100% !important;
  height: 55vh !important;
  overflow: scroll;
}
.color{
  width: 20px;
  height: 20px;
  display: inline-block;


}
.color_reserv{
  font-weight: 600;
  border: 1px solid;
  text-align: center;
  line-height: 2.5;
}

.el-input-number-plane{
  width: 100px

}




</style>