

<template> 
<el-col :span="24" class='formData' id = 'eventForm'>

  
  <el-col :xs="22" :sm="22" :md="22" :lg="20" :xl="17" style='    margin-left: 3vw; margin-right:10px' class='project-content'>
    <el-row>
      <el-button v-if='select_event[0] && action_event!="edit"' type="info" class='project-nav-butt' @click = "Edit">
        <span class="hidden-xs-only"><font-awesome-icon icon="edit"/> Изменить</span>
      </el-button>
      <el-button v-if='select_event[0] && action_event!="edit"' type="info" class='project-nav-butt'  @click = 'Delete(select_event[0].id)'>
          <span class="hidden-xs-only"><font-awesome-icon icon="trash-alt"/> Удалить</span>
      </el-button> 

      <el-button type="info" style="margin: 10px 10px;float: right;" @click="Cansel('new')"><i class="fa fa-times" arde-hidden="true"> Отмена</i></el-button>
    </el-row>

    <el-form  :model='formData' name='uploadForm' ref='uploadForm' :rules='rules' :label-position="labelPosition"  class="form-project"  enctype="multipart/form-data">
      
      <el-form-item label="Название" required>
          <el-col :xs="22" :sm="18" :md="19" :lg="17" :xl="14" style='margin-right:10px'>
            <el-form-item prop='name'>
              <el-input v-if='action_event!="edit"' disabled v-model="formData.name" placeholder="Название"></el-input>
              <el-input v-else clearable v-model="formData.name" placeholder="Название"></el-input>
            </el-form-item>
          </el-col>
      </el-form-item>

      <el-form-item label="Дата" required >
          <el-col :xs="22" :sm="8" :md="9" :lg="8" :xl="6" >
            <el-form-item prop="date_start">
               <el-date-picker v-if='action_event!="edit"' disabled style="width: 100%;"
                  placeholder="Начало"
                  value-format="yyyy-MM-dd"
                  v-model="formData.date_start">
              </el-date-picker>
              <el-date-picker v-else clearable style="width: 100%;"
                  placeholder="Начало"
                  value-format="yyyy-MM-dd"
                  v-model="formData.date_start">
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :sm="2" :md='1' :lg='2' :xl='2'>&nbsp</el-col>
          <el-col :xs="22" :sm="8" :md="9" :lg="7" :xl="6" >
            <el-form-item prop="date_end">
             <el-date-picker v-if='action_event!="edit"' disabled style="width: 100%;"
                  placeholder="Конец"
                  value-format="yyyy-MM-dd"
                  v-model="formData.date_end"                      
                  :picker-options="{disabledDate(time) {                          
                      return time.getTime()+36000000 <= Date.parse( formData.date_start);                            
                  }}">
              </el-date-picker>
             <el-date-picker v-else clearable style="width: 100%;"
                  placeholder="Конец"
                  value-format="yyyy-MM-dd"
                  v-model="formData.date_end"                      
                  :picker-options="{disabledDate(time) {                          
                      return time.getTime()+36000000 <= Date.parse( formData.date_start);                            
                  }}">
              </el-date-picker>
            </el-form-item>
          </el-col>
      </el-form-item>

      <el-form-item label="Время" required>
          <el-col :xs="22" :sm="8" :md="9" :lg="7" :xl="6" >
            <el-form-item prop="time_start">
               <el-time-select v-if='action_event!="edit"' disabled style="width: 100%;"
                  placeholder="Начало"
                  v-model="formData.time_start"
                  :picker-options="{
                    start: '08:00',
                    step: '00:15',
                    end: '18:00'
                  }">
              </el-time-select>
               <el-time-select v-else clearable style="width: 100%;"
                  placeholder="Начало"
                  v-model="formData.time_start"
                  :picker-options="{
                    start: '08:00',
                    step: '00:15',
                    end: '18:00'
                  }">
              </el-time-select>
            </el-form-item>
          </el-col>
          <el-col :sm="2" :md='1' :lg='2' :xl='2'>&nbsp</el-col>
          <el-col :xs="22" :sm="8" :md="9" :lg="7" :xl="6" >
            <el-form-item prop="time_end">
             <el-time-select v-if='action_event!="edit"' disabled style="width: 100%;"
                  placeholder="Конец"
                  v-model="formData.time_end"
                  :picker-options="{
                    start: '08:00',
                    step: '00:15',
                    end: '18:00',
                    minTime: formData.time_start
                  }">
              </el-time-select>
             <el-time-select v-else clearable style="width: 100%;"
                  placeholder="Конец"
                  v-model="formData.time_end"
                  :picker-options="{
                    start: '08:00',
                    step: '00:15',
                    end: '18:00',
                    minTime: formData.time_start
                  }">
              </el-time-select>
            </el-form-item>
          </el-col>          
      </el-form-item>   

      <el-form-item label="Зал проведения">
            <el-col :xs="22" :sm="18" :md="19" :lg="17" :xl="14" style='margin-right:10px'>
              <el-form-item>
                <el-select v-if='action_event!="edit"' disabled style="width: 100%;"
                    v-model="formData.sites"
                    multiple
                    placeholder="">
                    <el-option
                      v-for="item in sites"
                      :key="item.id"
                      :label="item.name"
                      :value="item.id">
                    </el-option>
                </el-select>
                <el-select v-else style="width: 100%;"
                    v-model="formData.sites"
                    multiple
                    placeholder="">
                    <el-option
                      v-for="item in sites"
                      :key="item.id"
                      :label="item.name"
                      :value="item.id">
                    </el-option>
                </el-select>
              </el-form-item>
            </el-col>
      </el-form-item>

      <el-form-item label="Стенд">
          <el-col :xs="22" :sm="18" :md="19" :lg="17" :xl="14" style='margin-right:10px'>
            <el-form-item>
              <el-input v-if='action_event!="edit"' disabled v-model="formData.stand" placeholder="Занимаемый стенд"></el-input>
              <el-input v-else clearable v-model="formData.stand" placeholder="Занимаемый стенд"></el-input>
            </el-form-item>
          </el-col>
      </el-form-item>

      <el-form-item label="Логотип">

          <el-col :xs="22" :sm="8" :md="9" :lg="7" :xl="6" >
              <label for="file" class="uploadButton"><i class="fa fa-file-image-o" arde-hidden="true"></i> Загрузить</label>
              <input type="file" id="file" ref="file" style="opacity: 0; z-index: -1;" accept="image/jpeg,image/png,image/gif" v-on:change="handleFileUpload()"/>
              <div v-if="file && formData.logo !='delete'" style="position:relative; width:15vw; max-width:200px">
                  <el-button class="deleteButtom" @click="deleteImage" ><i class="fa fa-trash-o" aria-hidden="true"></i></el-button>
                  <img :src="file" id="blah" class="avatar">
              </div>     
          </el-col>               
      </el-form-item>

      <el-form-item label="Описание">
          <el-col :xs="22" :sm="18" :md="19" :lg="17" :xl="14" style='margin-right:10px'>
              <el-input
                v-if='action_event!="edit"' disabled
                type="textarea"
                :rows="3"
                placeholder="Описание мероприятия"
                v-model="formData.text">
              </el-input>
              <el-input
                v-else
                type="textarea"
                :rows="3"
                placeholder="Описание мероприятия"
                v-model="formData.text">
              </el-input>
          </el-col>              
      </el-form-item>
      
      <el-form-item v-if='action_event[0]!="view"'>
          <el-col :xs="22" :sm="22" :md="22" :lg="20" :xl="16" style='margin-right:10px'>
              <el-button type="info" style="float: right;" @click="Add(select_event[0].id)">Сохранить</el-button>
              <el-button type="info" style="float: right;" @click="Cansel(select_event[0].id)">Отмена</el-button>
          </el-col> 
      </el-form-item>
      </el-form>
  </el-col>
    
</el-col>
</template>



<script>
import axios from 'axios';
import $ from 'jquery'
// import store from '../../store';
// import router from './../../router'

  export default {
    props: ["action_event", 'select_event', 'eventBus'],
    data() {
      return {
        labelPosition: 'left',
        rules: {
          name: [
            { required: true, message: 'Поле не может быть пустым', trigger: 'blur' },
          ],
          date_start: [
            { required: true, required: true, message: 'Выберите дату', trigger: 'change' }
          ],
          date_end: [
            { required: true, required: true, message: 'Выберите дату', trigger: 'change' }
          ],
          time_start: [
            { required: true, required: true, message: 'Выберите время', trigger: 'change' }
          ],
          time_end: [
            { required: true, required: true, message: 'Выберите время', trigger: 'change' }
          ],
          time_last: [
            { required: true, required: true, message: 'Выберите время', trigger: 'change' }
          ],
        },
        message: false,
        formData:{sites:0,},
        sites:[],
        file: '',
      }
    },
    
    created() {
      this.eventBus.$on("selectEvent", (id)=>{
        this.Init(id)
      });
      this.Init(this.select_event[0].id)
      
    },
    destroyed(){
      // debugger
      this.eventBus.$off("selectEvent")
    },
    methods: {
      Init(id){
        debugger
        var url = '../api/project/'+ this.$parent.$props.id + '/events/'+id + '/data/'
        this.$api.get(url)
          .then(response => {
            if (response.data) {
              this.formData = response.data.formData
              this.sites = response.data.sites
              this.file = response.data.formData.logo
              debugger
            }
          })
          .catch(e => {
            console.log(e)
          })

      },
      Edit(){
        this.action_event.splice(this.select_event.length-1, 1)
        this.action_event.push('edit')
      },
      Add(id){
        // debugger
        this.$refs['uploadForm'].validate((valid) => {
          if (valid) {

            if (this.file){
                this.formData['logo']= this.file
            }
            let formData1 = new FormData();

            for (var data in this.formData){
                formData1.append(data, this.formData[data]);
            }
            var url = '../api/project/'+ this.$parent.$props.id + '/events/'+id + '/add/'
            this.$api.update(url,formData1)
              .then(response => {
                console.log('response => ', response)
                // router.go(-1)
                this.$notify({
                  group: 'foo',
                  type: 'success',
                  duration: 3000,
                  text: "<i style='font-size:20px' class='fa fa-check'></i> Сохранено"
                });
                this.action_event.splice(this.select_event.length-1, 1)
                this.action_event.push('view')
                this.eventBus.$emit("updateList");
              })
              .catch(e => {
                this.$notify({
                  group: 'foo',
                  type: 'error',
                  duration: 3000,
                  text: "<i style='font-size:20px' class='fa fa-exclamation'></i> Ошибка"
                });
              })
          }
        })
      },
      Delete(id){
        this.$confirm('Удалить мероприятие?', 'Подтверждение действий пользователя', {
          confirmButtonText: 'Да',
          cancelButtonText: 'Отмена',
          type: 'warning'
        }).then(() => {
          this.$api.del('../api/project/'+this.$parent.$props.id + '/events/'+id+'/delete/')
          .then(response => {
            this.$notify({
              group: 'foo',
              type: 'success',
              duration: 3000,
              text: "<i style='font-size:20px' class='fa fa-check'></i> Удалено"
            });
            this.eventBus.$emit("updateList");
            this.select_event.splice(this.select_event.length-1, 1)
          })
          .catch(e => {
            this.$notify({
              group: 'foo',
              type: 'error',
              duration: 3000,
              text: "<i style='font-size:20px' class='fa fa-exclamation'></i> Ошибка"
            });
          })
        })

      },
      Cansel(id){
        if (!!parseInt(id)){
          // если не новый

          this.action_event.splice(this.select_event.length-1, 1)
          this.action_event.push('view')
        }else{
          this.select_event.splice(this.select_event.length-1, 1)
          this.action_event.splice(this.select_event.length-1, 1)
          this.action_event.push('view')
        }
      },

      deleteImage(){
          this.file = ''
      },

      handleFileUpload(){

        this.file = this.$refs.file.files[0];
        var input = this.$refs.file

        if (input.files && input.files[0]) {
          var reader = new FileReader();

          reader.onload = function(e) {
            $('#blah').attr('src', e.target.result);
          }

          reader.readAsDataURL(input.files[0]);
        }  
      },

      // readURL(input) {
      //   if (input.files && input.files[0]) {
      //     var reader = new FileReader();
      //     reader.onload = function(e) {
      //       $('#blah').attr('src', e.target.result);
      //     }
      //     reader.readAsDataURL(input.files[0]);
      //   }
      // }
    }
  }
</script>
<style>

.vue-notification1 {
  padding: 10px;
  margin: 0 5px 5px;

  font-size: 12px;

  color: #ffffff;
  background: #44A4FC;
  border-left: 5px solid #187FE7;

  &.warn {
    background: #E65100 !important;
    border-left-color: #f48a06;
  }

  &.error {
    background: #E54D42;
    border-left-color: #B82E24;
  }

  &.success {
    background: #68CD86;
    border-left-color: #42A85F;
  }
}

.el-upload-list__item-name{
    height: 30px; 
}

.el-upload-list {
    width: 90%;
    max-width: 200px
}

.avatar {
    width: 15vw;
    max-width: 200px;
    display: block;
    border: solid 1px #c0c4cc;
  }

label{
    min-width: 130px;
    padding: 0px !important;
}

.uploadButton {
    display: block;
    width: 10vw;
    background: #909399;
    padding: 10px;
    color: #FFF;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}

.uploadButton:hover {

    background: #a6a9ad;

}


.deleteButtom{
    position: absolute;
    right: -1px;
    top: 0px;
    background-color: #dcdfe6;
    border: 0;
    cursor: pointer;
    padding: 2px;
    width: 24px;
    font-size: 16px;
    border-radius: 0px;

}

</style>