

<template > 
  <div :span="24" class='exponents-view' id = 'exponents-view'>

    <exponentsList 
      :exponentBus='exponentBus' 
      :select_exponent='select_exponent' 
      :action_exponent='action_exponent' >
        
    </exponentsList>

    
  </div>
</template>

<script>
import Vue from 'vue'
// import axios from 'axios';
import Vuex from 'vuex'
import $ from 'jquery'
import store from '../../../store';
import router from './../../../router'


import ExponentsList from './../Lists/ExponentsList';
import ExponentForm from './../Forms/ExponentForm';

  var exponentBus = new Vue();


  export default {
    props: ['id'],
    mounted() {
      // debugger
      this.$emit('message_ul', {  redirect: {
          name : 'Экспоненты', 
          link : location.pathname+'#/project/'+this.$props.id+'/exponents/',
          id   : 'exponents_li',
          action: 'add'},
        message:{
          project_visible:false,
        } 
      }) 
      
    },
    destroyed(){
      this.$emit('message_ul', { redirect: {
          id   : 'exponents_li',
          action: 'remove'},
        message:{
          project_visible:true,
        }
      })

    },
    components: { 
      'ExponentsList': ExponentsList, 
      'ExponentForm': ExponentForm, 
    },
    data() {
      return {
        select_exponent:[],
        action_exponent:[],
        exponentBus:exponentBus,


      
      }
    },
    methods:{
        Add(){

          this.select_exponent.splice(this.select_exponent.length-1, 1)
          this.select_exponent.push({ 'id': 'new', 'name':'new',})

          this.action_exponent.splice(this.select_exponent.length-1, 1)
          this.action_exponent.push('edit')
          this.exponentBus.$emit("selectExponent", 'new');

        },
        Download(){
          this.$api.post('../api/project/' + this.$props.id + '/exponents/download/')
          .then(response => {
            console.log('response => ', response)
              if (response.data) {
                if (response.data) {
                this.data = response.data
                this.exponentBus.$emit("updateList");
              }
              for (var i in this.data){
                if(this.data[i].logo){
                  this.data[i].logo = `<img src="${this.data[i].logo}" id="individual" class="table_img">`
                }
              }
            }
          })
          .catch(e => {
            console.log(e)
          })

        },

        Back(){
          var hash = '/project/' + this.$store.state.value_project +'/'
          location.hash = hash
          location.href = location.href
        },
        handleMessage: function (payload) {
      },
    }
  }
</script>
