<template > 
<div :span="24" class='orders-view' id = 'orders-view'>
  <ordersList 
    :formsBus='ordersBus' 
    :select_forms='select_forms' 
    :action_forms='action_forms'>
      
  </ordersList>
    
</div>
</template>

<script>
import axios from 'axios';
import Vuex from 'vuex'
import $ from 'jquery'
import store from '../../../store';
import router from '../../../router'
import Vue from 'vue'

import OrdersList from './../Lists/FormDataList';

var ordersBus = new Vue();

  export default {
    props: ['id'],
    mounted() {
      this.$emit('message_ul', {  redirect: {
          name : 'Анкеты пользователей', 
          link : location.pathname+'#/project/'+this.$props.id+'/form-data/',
          id   : 'form-data_li',
          action: 'add'},
        message:{
          project_visible:false,

        } 
      }) 
      
    },
    destroyed(){
      this.$emit('message_ul', { redirect: {
          id   : 'form-data_li',
          action: 'remove'},
        message:{
          project_visible:true,
        }
      })

    },
    components: { 
      'OrdersList': OrdersList, 
      // 'EventForm': EventForm, 
    },
    data() {
      return {
        select_orders:[],
        action_orders:[],
        ordersBus:ordersBus,


        users1:[
            {name: 'Tom', age: 23},
            {name: 'Bob', age: 26},
            {name: 'Alice', age: 28}
        ]
      }
    },
    methods:{
       
        handleMessage: function (payload) {
        // debugger
      },
    }
  }
</script>