

<template> 
<div :span="24" class='news-view' id = 'news-view'>
  <v-layout>
    <v-flex >
       <v-btn  flat icon color="teal" class = 'button_right' @click="addForm">
            <v-icon>add</v-icon>
      </v-btn>
    </v-flex>
  </v-layout>

  <v-layout>
    <v-flex >
       <v-tabs fixed-tabs>
         <v-tab v-for='item in forms' :label="item.name" :key='item.id'>{{item.name}}</v-tab>
         <v-tab-item v-for='item in forms' :key='item.id'>
            <v-layout>
              <v-flex xs12>
                <v-btn  flat icon color="teal" class = 'button_right' @click="ViewForm(item)">
                  <v-icon>visibility</v-icon>
                </v-btn>
                <v-btn  flat icon color="teal" class = 'button_right' @click="dialog_delete = true">
                  <v-icon>delete</v-icon>
                </v-btn>
                 <v-btn  flat icon color="teal" class = 'button_right' @click="Save(item)">
                  <v-icon>save</v-icon>
                </v-btn>
                <v-dialog v-model="dialog_delete" max-width="350">
                  <v-card>
                    <v-card-title class="headline">Подтверждение действий пользователя</v-card-title>

                    <v-card-text>
                      Вы действительно хотите удалить анкету {{item.name}} ?
                    </v-card-text>

                    <v-card-actions>
                      <v-spacer></v-spacer>

                      <v-btn color="green darken-1" flat="flat" @click="dialog_delete = false">
                        Нет
                      </v-btn>

                      <v-btn
                        color="green darken-1" flat="flat" @click="DeleteForm(item); dialog_delete = false">
                        Да
                      </v-btn>
                    </v-card-actions>
                  </v-card>   
                </v-dialog>
              </v-flex>
            </v-layout>
            <v-layout style='padding:0 20px'>
              <v-flex xs12>
                <v-text-field v-model="item.name" label="Название" placeholder="Введите название анкеты"></v-text-field>
                <v-select v-model="item.type" :items="forms_options.type" label="Тип анкеты" item-text="value" item-value="key"></v-select>
              </v-flex>
            </v-layout>
            <v-layout style='padding:0 20px'>
              <v-flex xs6 >
                <v-select  v-model="radio_copy" v-on:change = 'SelectCopyValue(radio_copy)' :items="options_copy" label="Тип копирования" item-text="value" item-value="key"></v-select> 
              </v-flex>
              <v-flex xs6>
                <v-select v-if='radio_copy=="2"' v-model="select_copy_value.select" v-on:change = 'SelectCopyValueSelect(true)' :items="select_copy.other" label="Проект" item-text="name" item-value="id"></v-select> 

                <v-select v-if='radio_copy=="3"' v-model="select_copy_value.select" v-on:change = 'SelectCopyValueSelect(false)' :items="select_copy.notother" label="Анкета" item-text="name" item-value="id"></v-select> 
              </v-flex>   
            </v-layout>

            <v-layout style='padding:10px 20px'>
              <v-flex xs12 >
                <div class = 'h4_admin_form'>Конструктор</div>
                <div class="container_admin_constructor">
                  <v-layout v-for='(question, index) in item.questions' :key='index' class ='questions_box'>

                    <v-flex xs2 sm1>
                      <v-btn  flat icon color="teal" class = 'button_right' @click="MoveQues(index, item.questions, -1)">
                        <v-icon>expand_less</v-icon>
                      </v-btn>
                      <v-btn  flat icon color="teal" class = 'button_right' @click="MoveQues(index, item.questions, 1)">
                        <v-icon>expand_more</v-icon>
                      </v-btn>
                      <v-btn  flat icon color="teal" class = 'button_right' @click="AddDepend(question, index, item.questions)">
                        <v-icon>beenhere</v-icon>
                      </v-btn>
                      <v-btn  flat icon color="teal" class = 'button_right' @click="DeleteQuestion(index, item.questions)">
                        <v-icon>delete</v-icon>
                      </v-btn>
                    </v-flex>

                    <v-flex xs10 sm11 style='border-left: 1px solid #d3d3d3; padding: 10px;'>
                      <v-layout>
                        <v-flex xs12 sm6 >
                          <v-text-field v-model="question.text" label="Текст вопроса" placeholder="Введите текст вопроса"></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm5 offset-sm1>
                          <v-select v-model="question.type" v-on:change='SelectQuesType(question)' :items="forms_options.type_questions" label="Тип вопроса" item-text="value" item-value="key"></v-select> 
                        </v-flex>
                      </v-layout>

                      <v-layout>
                        <v-flex>
                          <div v-if='question.params'> 

                            <v-layout v-if='question.params' style='padding:10px 0'>
                              
                              <v-flex xs12 sm6 v-if='question.params.addiction'>
                                <v-select v-model="question.params.addiction.id" v-if='question.params.addiction.arr'  v-on:change="question.params.addiction.text = question.params.addiction.arr[question.params.addiction.id].value" :items="question.params.addiction.arr" label="Привязка к вопросу" item-text="value" item-value="key"></v-select> 
                              </v-flex>

                              <v-flex xs10 sm5 v-if='question.params.addiction'>
                                <v-select v-model="question.params.addiction.value" v-if="question.params.addiction.id && question.params.addiction.arr" multiple  :items="item.questions[question.params.addiction.id].params.choice" label="Значения" item-text="text" item-value="value"></v-select> 
                              </v-flex>
                              <v-flex xs2 sm1 v-if='question.params.addiction'>
                                <v-btn  flat icon color="teal" class = 'button_right' @click="question.params.addiction = null">
                                  <v-icon>delete</v-icon>
                                </v-btn>
                              </v-flex>
                            </v-layout>
                            <hr style='margin-top:0'/>

                            <!-- Параметры вопроса:<br> -->
                            <v-checkbox v-model="question.params.nul" label="Значение НЕ ОБЯЗАТЕЛЬНО для заполнения"></v-checkbox>

                            <v-layout v-if='question.type=="text"'>
                              <v-flex xs12 sm6 > 
                                <v-text-field v-model="question.params.max_length" type="number"  placeholder="Введите значение" label='Максимальная длина строки'></v-text-field>
                              </v-flex>
                            </v-layout>

                            <div v-if='question.type=="email" || question.type=="phone"'>
                              <v-checkbox v-model="question.params.contact" label="Использовать как контактное поле"></v-checkbox>
                            </div>

                            <v-layout v-if='question.type=="number"'>
                              <v-flex xs12 sm6 >  
                                <v-text-field v-model="question.params.min" type="number"  placeholder="Введите значение" label='Минимальное значение'></v-text-field>
                              </v-flex>
                              <v-flex xs12 sm6 >  
                                <v-text-field v-model="question.params.max" type="number"  placeholder="Введите значение" label='Максимальное значение'></v-text-field>
                              </v-flex>
                            </v-layout>

                            <v-layout>
                              <v-flex xs12 sm6 v-if='question.type=="choice"'> 
                                <v-checkbox v-model="question.params.text_field" label='Разрешить текстовое поле "Другое"'></v-checkbox>
                              </v-flex>
                              <v-flex xs12 sm6 v-if='question.type=="choice"'>
                                <v-checkbox v-model="question.params.many" label='Разрешить выбор нескольких значений'></v-checkbox>
                              </v-flex>
                            </v-layout>

                            <v-layout v-if='question.type=="choice"'>                            
                              <v-flex xs12 sm6>  
                                <v-select v-model="question.params.type_choice" v-on:change='SelectChoiceType(question)' :items="options_choice" label="Вид создания" item-text="value" item-value="key"></v-select>
                              </v-flex>
                            </v-layout>

                            <div v-if='question.params.type_choice'>
                              <div v-for='(choice, index_choice) in question.params.choice'>
                                <v-layout>
                                  <v-flex xs2 sm1 >
                                    <v-btn  flat icon color="teal" class = 'button_right' @click="DeleteQuestionChoice(question.params.choice, index_choice)">
                                      <v-icon>delete</v-icon>
                                    </v-btn>
                                  </v-flex>
                                  
                                  <v-flex xs10 sm11 >
                                    <v-text-field v-if = 'question.params.type_choice == "base"'  v-model="choice.text" label="Значение"></v-text-field>

                                    <v-autocomplete v-if = 'question.params.type_choice == "activities"'   v-model="choice.value" :search-input.sync="search" :items="ref_book.activities" label="Вид деятельности" item-text="value" item-value="key" persistent-hint v-on:change='SelectOptionChoice(question.params.choice, choice, ref_book.activities)'></v-autocomplete>

                                    <v-autocomplete v-if = 'question.params.type_choice == "post"'   v-model="choice.value"  :items="ref_book.post" label="Должности" item-text="value" item-value="key" v-on:change='SelectOptionChoice(question.params.choice, choice, ref_book.activities)'></v-autocomplete>

                                  </v-flex>
                                </v-layout>
                                
                              </div>
                              <v-flex xs12>
                                <v-btn  flat icon color="teal"  @click="AddQuestionChoice(question)">
                                  <v-icon>add</v-icon>
                                </v-btn>
                              </v-flex>                           
                            </div>

                            <div v-if='question.type=="city"'>
                              <v-checkbox v-model="question.params.country" label='Ввод страны и региона'></v-checkbox>
                            </div>
                            <div v-if='question.type=="city"'>
                              <v-flex :span="24"> Значения по умолчанию</v-flex>
                              <v-layout>
                                <v-flex xs4 >
                                  <v-autocomplete v-if='question.params.default' v-model="question.params.default.country" :search-input.sync="search_country" :items="form_options_country.country.data" label="Страна" item-text="name" item-value="id" persistent-hint v-on:focus='onFocusCountry(question.params.default)' v-on:change='onInputCountry(question.params.default.country)'></v-autocomplete>
                                </v-flex>
                                <v-flex xs4 >
                                   <v-autocomplete v-if='question.params.default' v-model="question.params.default.region" :search-input.sync="search_region" :items="form_options_country.region.data" label="Регион" item-text="name" item-value="id" persistent-hint v-on:focus='onFocusRegion(question.params.default)' v-on:change='onInputRegion(question.params.default.region)'></v-autocomplete>
                                </v-flex>
                                <v-flex xs4 >
                                  <v-autocomplete v-if='question.params.default' v-model="question.params.default.city" :items="form_options_country.city.data" label="Город" item-text="name" item-value="id" persistent-hint v-on:focus='onFocusCity(question.params.default)' v-on:change='onInputCity(question.params.default.city)'></v-autocomplete>
                                </v-flex>
                              </v-layout>
                            </div>

                          </div>
                        </v-flex>    
                      </v-layout>

                    </v-flex>

                  </v-layout>
                <v-layout row wrap>
                
                </v-layout>
                  <v-flex xs12>
                    <v-btn  flat icon color="teal" class = 'button_right' @click="AddQues(item)">
                          <v-icon>add</v-icon>
                    </v-btn>
                  </v-flex>
                </div>
                
              </v-flex>
            </v-layout>

         </v-tab-item>
       </v-tabs>
    </v-flex>
  </v-layout>

  <v-dialog v-model="dialog" max-width="500">
    <v-card>
      <v-card-title style='padding:0'>
        <v-layout class = 'head_modal_gray'>
          <v-flex xs11 style='padding:10px'>
            <div >Предварительный просмотр</div>
          </v-flex>
          <v-flex xs1>
            <v-btn  flat icon color="teal" class = 'button_right'  @click="dialog=false">
                <v-icon>close</v-icon>
            </v-btn>
          </v-flex>
        </v-layout>
      </v-card-title>
      <v-card-text style="height: 450px; max-width:500px; padding:10px; overflow-y: auto">
        <v-container style='padding: 0 10px;'>
          <v-layout row wrap>
            <v-flex xs12 v-for = 'item, index in view_form' :key='index'>
              <p class='text_modal_form'>
                {{item.text}} <span v-if='item.params.addiction'> (ЗАВИСИМЫЙ)</span>
              </p>

              <v-text-field v-if='item.type=="text"' style='padding: 0;' placeholder="Текстовое поле"></v-text-field>
              <v-text-field v-if='item.type=="number"' style='padding: 0;' placeholder="Числовое поле поле"></v-text-field>
              <v-text-field v-if='item.type=="phone"' style='padding: 0;' placeholder="Номер телефон"></v-text-field>
              <v-text-field v-if='item.type=="email"' style='padding: 0;' placeholder="E-mailе"></v-text-field>
              <v-text-field v-if='item.type=="date"' style='padding: 0;' placeholder="Выбор даты"></v-text-field>

              <div v-if='item.type=="choice"'>
                 <v-radio-group v-if='item.params.many == false' v-model="view_form_data[index]">
                  <v-radio
                    v-for="check in item.params.choice"
                    :key="check.value" :label="check.text" :value="check.value"
                  ></v-radio>
                  <v-layout row wrap>
                    <v-flex xs2 style='padding: 0 15px;'>
                      <v-radio
                        key="other" value="other"
                      ></v-radio>
                    </v-flex>
                    <v-flex xs10>
                      <v-text-field style='padding: 0; margin: 0;' placeholder="Другое"></v-text-field>
                    </v-flex>
                  </v-layout>
                    
                </v-radio-group>

                <v-checkbox v-if='item.params.many == true' v-model = 'view_form_data[index]' v-for='check in item.params.choice'
                  :label="check.text" :value="check.value" style='margin-top: 0px;'
                ></v-checkbox>
                <v-layout row wrap v-if='item.params.text_field'>
                  <v-flex xs2 style='padding: 0 15px;'>
                    <v-checkbox
                      key="other" value="other"
                    ></v-checkbox>
                  </v-flex>
                  <v-flex xs10>
                    <v-text-field style='padding: 0; margin: 0;' placeholder="Другое"></v-text-field>
                  </v-flex>
                </v-layout>
              </div>

              <div v-if='item.type=="city"' class='input_modal_form' >
                <v-layout v-if='item.params.country'>
                  <v-flex xs4 >
                    <v-select  v-model="select_copy_value.select" :items="[]" label="Проект" item-text="name" item-value="value"></v-select> 
                  </v-flex>
                  <v-flex xs4>
                    <v-select  v-model="select_copy_value.select" :items="[]" label="Регион" item-text="name" item-value="value"></v-select> 
                  </v-flex>
                  <v-flex xs4>
                    <v-select  v-model="select_copy_value.select" :items="[]" label="Город" item-text="name" item-value="value"></v-select> 
                  </v-flex>
                </v-layout>
                <div v-else>
                  <v-select  v-model="select_copy_value.select" :items="[]" label="Город" item-text="name" item-value="value"></v-select> 
                </div>
              </div>
              
            </v-flex>
          </v-layout>
        </v-container>    
      </v-card-text>
      
    </v-card>
  </v-dialog>

   
    
</div>
</template>

<script>
import axios from 'axios';
import $ from 'jquery'
import store from '../../../store';
import router from '../../../router'
import Vue from 'vue'

// import NewsList from './../Lists/NewsList';
// import NewsForm from './../Forms/NewsForm';

var newsBus = new Vue();


export default {
  props: ['id'],
  data() {
    return {
      dialog:false,
      dialog_delete:false,
      active_tabs:0,
      radio_copy:'1',
      select_copy:{
        other:[],
        notother:[]
      },
      select_copy_value:{
        select:'',
        old:''
      },
      load:false,
      forms_rules:{
        name: [
          { required: true, message: 'Поле не может быть пустым', trigger: 'blur' },
        ],
        type: [
          { required: true, required: true, message: 'Выберите тип анкеты', trigger: 'change' }
        ],
      },
      forms_options:[],
      forms_data:{},  
  
      forms:[],  
      checkList: [],
      temp_data:[],

      form_options:{
        select:'',
        city:[]
      },
      form_options_country:{
        select:'',
        country:{select:'', data:[]},
        region:{select:'', data:[]},
        city:{select:'', data:[]}
      },

      options_copy:[
          {
            key:'1',
            value:'Без копирования'
          },
          {
            key:'2',
            value:'Из другого проекта'
          },
          {
            key:'3',
            value:'Из текущего проекта'
          }
      ],


      options_choice:[
          {
            key:'base',
            value:'Создать справочник'
          },
          {
            key:'activities',
            value:'Выбрать из видов деятельности'
          },
          {
            key:'post',
            value:'Выбрать из должностей'
          }
      ],

      view_form:{},
      view_form_data:[],
      loading:false,
      server_data : {

      },
      search:null,
      search_country:null,
      search_region:null,
      search_city:null,
    }
  },
  watch: {
      search (val) {
        // debugger

        val && this.remoteMethod(val)
      },
      search_country (val) {
        val && this.onSearchCountry(val)
      },
      search_region (val) {
        val && this.onSearchRegion(val)
      },
      search_city (val) {
        val && this.onSearchCity(val)
      },
    },

  created(){
    this.$api.get('../api/project/' + this.$props.id + '/forms/options/')
      .then(response => {
        this.forms_options = response.data ? response.data : {}

        this.$api.get('../api/project/' + this.$props.id + '/forms/ref_book/')
        .then(response => {
          this.ref_book = response.data ? response.data : {}
          this.InitForms()
        })
    
      })
  },

  mounted() {
    this.$emit('message_ul', {  redirect: {
        name : 'Анкеты', 
        link : location.pathname+'#/project/'+this.$props.id+'/forms/',
        id   : 'forms_li',
        action: 'add'},
      message:{
        project_visible:false,

      } 
    })    
  },
  destroyed(){
    this.$emit('message_ul', { redirect: {
        id   : 'forms_li',
        action: 'remove'},
      message:{
        project_visible:true,
      }
    })

  },

    methods:{

      customFilter (item, queryText, itemText) {
        debugger
        const textOne = item.name.toLowerCase()
        const textTwo = item.abbr.toLowerCase()
        const searchText = queryText.toLowerCase()

        return textOne.indexOf(searchText) > -1 ||
          textTwo.indexOf(searchText) > -1
      },

      InitForms(){
        this.$api.get('../api/project/' + this.$props.id + '/forms/')
        .then(response => {
          var temp = response.data
          // debugger

          for( var i in temp){
            if(typeof(response.data[i].data) == 'string'){
              temp[i].questions = JSON.parse(response.data[i].data)
            }else{
              temp[i].questions =response.data[i].data
            }
            Vue.set(this.forms, i, temp[i])
            // this.forms = temp

          }
          
          
          // this.forms = temp

        })
        .catch(e => {
          console.log(e)
        })

      },
      SelectCopyValue(other){
        debugger
        if(other==2){
          this.$api.get('../api/project/' + this.$props.id + '/forms/list_all_project/', {type:this.forms[this.active_tabs].type})
          .then(response => {
            this.select_copy.other = []
              for(var i in response.data){
                
                this.select_copy.other.push(response.data[i])
                
              }
          })
        }else{
          this.select_copy.notother = []
          for(var i in this.forms){
            if(i != this.active_tabs){
              this.select_copy.notother.push(this.forms[i])
            }
          }
        }

      },
      SelectCopyValueSelect(other){
        // debugger
        if(!this.select_copy_value.old){
          Vue.set(this.select_copy_value, 'old', this.forms[this.active_tabs])
        }

        if(other){
          // debugger
          for(var  i in this.select_copy.other){
            if(this.select_copy.other[i].id == this.select_copy_value.select){
              if(typeof(this.select_copy.other[1].data) == 'string'){
                this.forms[this.active_tabs].questions = JSON.parse(this.select_copy.other[i].data)
              }else{
                this.forms[this.active_tabs].questions =this.select_copy.other[i].data
              }
            }
          }

        }else{
          Vue.set(this.select_copy_value, 'old', this.forms[this.active_tabs])
          for(var  i in this.select_copy.notother){
            if(this.select_copy.notother[i].id == this.select_copy_value.select){
              if(typeof(this.select_copy.notother[i].data) == 'string'){
                this.forms[this.active_tabs].questions = JSON.parse(this.select_copy.notother[i].data)
              }else{
                this.forms[this.active_tabs].questions =this.select_copy.other[i].data
              }
            }
          }
        }
       
      },

      AddQues(ques){
        this.UpdateArrQues(ques.questions)
        ques.questions.push({
          id : ques.questions.length,
          text:'',
          type:'',
        })

      },

      remoteMethod(query) {
        this.$api.get('../api/project/' + this.$props.id + '/forms/ref_book/', {text:query})
          .then(response => {
            Vue.set(this, 'ref_book', response.data ? response.data : [])
            console.log(response.data)
          })
      },

      UpdateArrQues(ques){


        for(var i in ques){
          var temp = ques[i].id
          Vue.set(ques[i], 'id', i)
          for(var j in ques){
            if(ques[j].params.addiction && ques[j].params.addiction.id == temp && !ques[j].params.addiction.edit){
              Vue.set(ques[j].params.addiction, 'id', i)
              Vue.set(ques[j].params.addiction, 'edit', true)
              this.AddDepend(ques[j], j, ques)
            }
          }
          // Vue.set(ques[i], 'id', i)

        }

        for(var j in ques){
          if(ques[j].params.addiction){
            Vue.set(ques[j].params.addiction, 'edit', undefined)
          }
          
        }
              
      },

      DeleteQuestion(ques, arr){


        arr.splice(ques, 1);

        for(var i in arr){
          if(arr[i].params.addiction && arr[i].params.addiction.id == ques){
            Vue.set(arr[i].params, 'addiction', undefined)
          }
        }

        this.UpdateArrQues(arr)
       
      },


      SelectQuesType(ques){
        // debugger
        var params = {
          nul:true,
          // addiction:{
          //   id:null,
          //   ansver:[],
          // }

        }
        if(ques.type=='text'){
          params.max_length =100         
        }
        if(ques.type=='email'){
          params.contact =false         
        }
        if(ques.type=='phone'){
          params.contact =false         
        }
        if(ques.type=='number'){
          params.min =1
          params.max =10
        }
        if(ques.type=='choice'){
          params.text_field = false
          params.many = false
          params.choice=[]
          params.type_choice=''
          
        }
        if(ques.type=='city'){
          params.default = {
            country:'',
            region:'',
            city:'',
          }
        }
        Vue.set(ques, 'params', params)

      },

      SelectChoiceType(ques){

        Vue.set(ques.params, 'choice', [])
      },

      AddQuestionChoice(ques){


        ques.params.choice.push({
          value:ques.params.choice.length+1,
          text:''
        })
 

        if (ques.params.type_choice == 'post'){
          // debugger
          Vue.set(ques.params.choice[ques.params.choice.length-1], 'text', this.ref_book.post[ques.params.choice.length-1]['value'])  
        }
        if (ques.params.type_choice == 'activities'){
          Vue.set(ques.params.choice[ques.params.choice.length-1], 'text', this.ref_book.activities[ques.params.choice.length-1]['value'])
            
        }

              
      },

      DeleteQuestionChoice(ques, choice){
        ques.splice(choice, 1);
      },

      MoveQues(index, arr, count){
 
        if(index+count>=0 && index+count<arr.length){
          var temp = arr[index]
          arr.splice(index, 1);
          arr.splice(index+count, 0, temp)
          
          this.UpdateArrQues(arr)
         
        }
      },

      SelectOptionChoice(choices, obj, arr){
        debugger

        for(var i in arr){
          if(obj.value == arr[i].key){
            obj.text = arr[i].value
            return 
          }
        }
      },

      AddDepend(ques, index, arr){
      
        var temp = []
        for(var i in arr){
          if(i!=index && arr[i].type=='choice'){
            temp.push({
              key:i,
              value:arr[i].text,
              // value:arr[i].text,

            })
          }
        }

        if(!ques.params.addiction){
          Vue.set(ques.params, 'addiction', {id:'', text:'', value:[], arr:temp})
          // Vue.set(ques.params, 'addiction', {id:'', text:'', value:[]})
        }
        else{
          Vue.set(ques.params, 'addiction', {id:ques.params.addiction.id, text:ques.params.addiction.text, value:ques.params.addiction.value, arr:temp, edit:ques.params.addiction.edit})
        }

      },

      addForm(){
        this.active_tabs = String(this.forms.length)
        this.forms.push({
          name:'Новая',
          type:'',
          questions:[]
        })
      },
      DeleteForm(obj){ 

        
          if(obj.id){
            this.$api.get('../api/project/' + this.$props.id + '/forms/'+obj.id+'/delete/',obj)
            .then(response => {
              this.ref_book = response.data ? response.data : {}
            })
            .catch(e => {
              console.log(e)
            })
          }
          for(var i in this.forms){
            if (this.forms[i].id == obj.id){
              this.forms.splice(i, 1);
            } 
          }
          this.active_tabs = String(this.forms.length - 1)

        

      },

      Save(obj){
        
        if(obj.id){
          var url = '../api/project/' + this.$props.id + '/forms/'+obj.id+'/add/'
        }else{
          var url = '../api/project/' + this.$props.id + '/forms/new/add/'
        }

   
        axios.post(url ,obj)
        .then(response => {
          debugger
         
          if(response.data){
            // Vue.set(obj, 'id', response.data.id)
            obj=response.data

            this.$notify({
              group: 'foo',
              type: 'success',
              duration: 3000,
              text: "<i style='font-size:20px' class='fa fa-exclamation'></i> Сохранено"
            });

          }
        }).catch(e => {
            this.$notify({
              group: 'foo',
              type: e.type,
              duration: 3000,
              text: "<i style='font-size:20px' class='fa fa-exclamation'></i> "+e.message
            });
          })      

      },
      Create(){

        this.forms.push({
          name:this.forms_data.name,
          type:this.forms_data.type,
          data:[]
        })
        this.$modal.hide('form-forms');
      },

      AddQuestion(obj, ques, todo_ad){
        if(ques!=undefined){
          if(todo_ad == 'delete'){
            obj.data.splice(ques, 1);
            for(var i in obj.data){
              obj.data[i].id = i
            }
          }
          if(todo_ad == 'depend'){
            obj.data.push({
              id:obj.data.length,
              children:[],
              save:false,
              depend:ques,
              text:'',
              type:'',
              data:{},
            })
          }
          if(todo_ad == 'group'){
            obj.data[ques].children.push({
              id:obj.data[ques].children.length,
              text:'',
              type:'',
              data:{},
            })
          }
          // debugger
          if(!todo_ad){
            // this.forms[id].data[ques].save = true
            // this.SaveQuery(id, ques)
          }
          return
        }
        
        obj.data.push({
          id:obj.data.length,
          children:[],
          save:false,
          text:'',
          type:'',
          data:{},
        })
      },
      changeQuestionType(obj){
        
          if (obj.type == "text"){
            obj.data = {
              not_null:true,
            }
          }
          if (obj.type == "phone"){
            obj.data = {
              not_null:true,
            }
          }
          if (obj.type == "email"){
            obj.data = {
              not_null:true,
            }
          }
          if (obj.type == "number"){
            obj.data = {
              not_null:true,
              min_val:'',
              max_val:'',
            }
          }
          if (obj.type == "rate"){
            obj.data = {
              not_null:true,
            }
          }
          if (obj.type == "choice" ||
              obj.type == "choiсe_many" ||
              obj.type == "choiсe_text" ||
              obj.type == "choiсe_many_text"){
            obj.data = []
            obj.options = {
              value:'base',
              options:[
                {
                  key:'base',
                  value:'Создать справочник'
                },
                {
                  key:'activities',
                  value:'Выбрать из видов деятельности'
                },
                {
                  key:'post',
                  value:'Выбрать из должностей'
                }
              ],
             
            }
          }
    
      },

      ViewForm(data){
        // debugger

        this.view_form = data.questions

        for(var i in this.view_form){
          if(this.view_form[i].type == 'choice'){
            this.view_form_data.push([])
          }
          else if(this.view_form[i].type == 'city'){
            
            if(this.view_form[i].params.country){
              this.view_form_data.push({
                country:'',
                region:'',
                city:'',
              })
            }else{
              this.view_form_data.push({
                city:'',
              })
            }
          }else{
            this.view_form_data.push('')
          }
          
        }

        this.dialog=true

        

        // debugger
      },


      DeleteChild(fr, ques, child){
        // debugger
          this.forms[fr].data[ques].children.splice(child, 1);
            for(var i in this.forms[fr].data[ques].children){
 
              this.forms[fr].data[ques].children[i].id = i
            }

       

      },
      AddQuestionChoiceExpobit(fr, ques){
        // debugger
        this.forms[fr].data[ques].data.data.append({
            value_temp:'',
            options_temp:[
              {
                key:'activities',
                value:'Виды деятельности'
              },
              {
                key:'post',
                value:'Должности'
              }
            ],
            value:'',
            options:[   
            ],
           
          })
      },

      InitCountry(obj, type=null, str=null){
        if (type == 'country'){
          var data = {
            type:type,
            str:str,
          }
        }
        if (type == 'region'){
          // debugger
          var data = {
            type:type,
            str:str,
            country:this.form_options_country.country.select
          }
        }

        if (type == 'city'){
          // debugger
          var data = {
            type:type,
            str:str,
            region:this.form_options_country.region.select
          }
        }
        this.$api.get('/api/reference/info/city/', data)
        .then(response => {
          Vue.set(this.form_options_country[type], 'data', response.data)    
        })    
      },

      onFocusCountry(id){
        // debugger
        this.InitCountry(id, 'country')
      },

      onSearchCountry(search, loading){
        this.InitCountry(loading, 'country', search)
      },

      onInputCountry(data){
        debugger
        if(data || data==0){
          this.form_options_country.country.select = data
        }else{
          this.form_options_country.country.select = null
        } 
      },

      onFocusRegion(id){
        this.InitCountry(id, 'region')
      },

      onSearchRegion(search, loading){
        this.InitCountry(loading, 'region', search)
      },

      onInputRegion(data){
        if(data || data==0){
          this.form_options_country.region.select = data
        }else{
          this.form_options_country.region.select = null
        } 
      },

      onFocusCity(id){
        this.InitCountry(id, 'city')
      },

      onSearchCity(search, loading){
        this.InitCountry(loading, 'city', search)
      },

      onInputCity(data){
        if(data){
          this.form_options_country.city.select = data
        }else{
          this.form_options_country.city.select = null
        } 
      },
        
        
    }
  };
</script>
<style>

  .deleteButtom_local:{
    position: absolute !important;
  }

  .questions_box{
    position: relative;
    /*padding: 5px 15px;*/
    margin: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }

  .checkbox_form{
    margin: 2px 10px;
  }

  .h4_admin_form{
    background: #46bb9b;
    padding: 10px;
    text-align: center;
    margin: 0 2px;
  }
  .container_admin_constructor{
    margin: 0 2px;
    border: 1px solid #46bb9a;
  }

  .container_admin_result{
    margin: 0 2px;
    padding-left: 10px;
  }

  .question_box{
    background: #f1f5f5;
    padding: 10px;
  }


  .button_form_green{
    background: #45b999;
    border: 1px solid #169F85;

  }
  .bitton_right{
    float:right;
    margin-left: 2px !important;
  }

  .card_form{

  }


  




  
/*.button_form_min{ 
  background: #45b999;
  border: 1px solid #169F85;
  margin: 0 7px !important;
  padding: 5px;
}

.input_li{
  width: 100%;
  margin-top: 5px; 
  padding-left: 40px
}

.button_del{
    border: none;
    margin: 5px;
    padding: 8px;
    position: absolute;
    z-index: 100;
    background: #fff0;
    color: #2a3f53;
}

.button_del:hover{
    color: #46bb9a;
    background: #fff0;
}
.button_del:active{
    color: #46bb9a;
    background: #fff0;
}
.button_del:focus{
    outline:none;
    color: #46bb9a;
    background: #fff0;
}

.button_del_poz{
    margin: 5px;
    padding: 8px;
    z-index: 100
}*/


</style>