<template > 
<div :span="24" class='orders-view' id = 'orders-view'>
  <ordersList v-if='project.id'
    :project = 'project'
    :ordersBus='ordersBus' 
    >
      
  </ordersList>
    
</div>
</template>

<script>
import axios from 'axios';
import Vuex from 'vuex'
import $ from 'jquery'
import store from '../../../store';
import router from './../../../router'
import Vue from 'vue'

import OrdersList from './../Lists/OrdersList';
// import EventForm from './Forms/EventForm';

var ordersBus = new Vue();

  export default {
    props: ['project'],
    mounted() {
      this.$emit('message_ul', {  redirect: {
          name : 'Заказы', 
          link : location.pathname+'#/project/'+this.project.id+'/orders/',
          id   : 'orders_li',
          action: 'add'},
        message:{
          project_visible:false,

        } 
      }) 
      
    },
    destroyed(){
      this.$emit('message_ul', { redirect: {
          id   : 'orders_li',
          action: 'remove'},
        message:{
          project_visible:true,
        }
      })

    },
    components: { 
      'OrdersList': OrdersList, 
      // 'EventForm': EventForm, 
    },
    data() {
      return {
        select_orders:[],
        action_orders:[],
        ordersBus:ordersBus,


        users1:[
            {name: 'Tom', age: 23},
            {name: 'Bob', age: 26},
            {name: 'Alice', age: 28}
        ]
      }
    },
    methods:{
       
        handleMessage: function (payload) {
        // debugger
      },
    }
  }
</script>