

<template> 
  <div :span="24" class='news-view' id = 'news-view'>

  <v-tabs fixed-tabs>
    <v-tab :key="1" @click='tabClick(1)'>Статистика/Выгрузка</v-tab>
    <v-tab :key="2" @click='tabClick(2)' v-if='project.is_form'>Анкеты </v-tab>
    <v-tab :key="3" @click='tabClick(3)' >Графики </v-tab>

    <v-tab-item :key="1">
      <v-container>
        <v-layout>
          <v-flex xs12 >
            <v-select v-model="data_type_report.type_report" :items="type_report_options.type_report" label="Тип данных" item-text="label" item-value="value"></v-select>
          </v-flex>    
        </v-layout>
        
        <v-layout v-if='data_type_report.type_report == "statistic"'>
          <v-flex xs12 sm4>
            <div class="col_options_filter">
              <div class='head_options_filter'>1. Тип отчета</div>
              <div class = 'container_options_filter'>
                <v-select v-model="data_filter.type_report" :items="options_filter.type_report" label="Тип" item-text="label" item-value="value"></v-select>
                <div class='error_options_filter'>{{error_filter.type_report}}</div>
              </div>
            </div>
          </v-flex>

          <v-flex xs12 sm4>
            <div class="col_options_filter">
              <div class='head_options_filter'>2. Сортировка</div>
              <div class = 'container_options_filter'>
                <v-checkbox class='mini_checkbox' v-model="data_filter.type_value" label="По дням" value="day"></v-checkbox>
                <v-checkbox class='mini_checkbox' v-model="data_filter.type_value" label="По категориям" value="category"></v-checkbox>
                <v-checkbox class='mini_checkbox' v-model="data_filter.type_value" label="По типу продаж" value="pay"></v-checkbox>
                <div class='error_options_filter'>{{error_filter.type_value}}</div>
              </div>
            </div>
            
          </v-flex>

          <v-flex xs12 sm4>
            <div class="col_options_filter">
              <div class='head_options_filter'>3. Дата</div>
              <div class = 'container_options_filter'>
                  <div >
                    <v-menu class='date_report'
                      ref="menu1" v-model="date_options.start"
                      :close-on-content-click="false" :nudge-right="40" :return-value.sync="data_filter.start" lazy 
                      transition="scale-transition" offset-y full-width  min-width="290px">
                      <v-text-field 
                        slot="activator"
                        v-model="data_filter.start"
                        label="Начало"
                        prepend-icon="access_time"
                        readonly
                      ></v-text-field>
                      <v-date-picker v-model="data_filter.start" no-title scrollable>
                        <v-spacer></v-spacer>
                        <v-btn flat color="primary" @click="date_options.start = false">Отмена</v-btn>
                        <v-btn flat color="primary" @click="$refs.menu1.save(data_filter.start)">OK</v-btn>
                      </v-date-picker>
                    </v-menu>

                    <v-menu class='date_report'
                      ref="menu2" v-model="date_options.end"
                      :close-on-content-click="false" :nudge-right="40" :return-value.sync="data_filter.end" lazy 
                      transition="scale-transition" offset-y full-width  min-width="290px">
                      <v-text-field 
                        slot="activator"
                        v-model="data_filter.end"
                        label="Конец"
                        prepend-icon="access_time"
                        readonly
                      ></v-text-field>
                      <v-date-picker v-model="data_filter.end" no-title scrollable>
                        <v-spacer></v-spacer>
                        <v-btn flat color="primary" @click="date_options.end = false">Отмена</v-btn>
                        <v-btn flat color="primary" @click="$refs.menu2.save(data_filter.end)">OK</v-btn>
                      </v-date-picker>
                    </v-menu>
                  </div>
                   <v-checkbox v-model='data_filter.all_date' v-on:change = 'DateChangeAll(true)' label="За весь период" style='padding-top: 0; margin-top: 0;'></v-checkbox>

                <div class='error_options_filter'>{{error_filter.date}}</div>
              </div>
            </div>
            
          </v-flex>
        </v-layout>

        <v-layout row wrap v-if='data_type_report.type_report == "unloading"'>
          <v-flex xs6>
            <div class="col_options_filter">
              <div class='head_options_filter'>1. Таблица</div>
              <div class = 'container_options_filter'>

                <v-select v-model="data_uploading.table" @change='SelectDataUploading' :items="options_uploading.table" label="Таблица" item-text="label" item-value="value" ></v-select>
                <div class='error_options_filter'>{{error_filter.table}}</div>
              </div>
            </div>
          </v-flex>
          <v-flex xs6>
            <div class="col_options_filter">
              <div class='head_options_filter'>2. Столбцы</div>
              <div class = 'container_options_filter'>
                <v-select multiple v-model="data_uploading.columns" :items="options_uploading.columns"  item-text="label" item-value="value" label="Столбцы"></v-select>
                <div class='error_options_filter'>{{error_filter.table}}</div>
              </div>
            </div>
          </v-flex>
          <v-flex xs12>
            <div class="col_options_filter" v-if="data_uploading.table">
              <div class='head_options_filter'>
                3. Фильтры 
                <v-btn flat icon color="teal" @click="AddFilterUpload(false)">
                    <v-icon>add</v-icon>
                </v-btn>
              </div>
              <div class = ''>
                
                <v-layout v-for='item in data_uploading.filter' :key='item' style='padding: 10px;'>
                  <v-flex xs1>
                    <v-btn flat icon color="teal" @click="DeleteFilterUpload(item.id)">
                        <v-icon>delete</v-icon>
                    </v-btn>
                  </v-flex>
                  <v-flex xs11 sm4>
                    <v-select v-model="item.column" :items="item.column_options"  item-text="label" item-value="value" label="Столбец" @change='AddFilterUpload(1, item)'></v-select>
                  </v-flex>

                  <v-flex xs11 sm4 v-if='item.operator_options.length'>
                    <v-select v-model="item.operator" :items="item.operator_options"  item-text="label" item-value="value" label="Оператор"></v-select>
                  </v-flex>

                  <v-flex xs11 sm4 v-if='item.operator_options.length'>
                    <v-select v-if='item.value_options.type=="select"' v-model="item.value" :items="item.value_options.choices"  item-text="label" item-value="value" label="Значение"></v-select>

                    <v-text-field v-if='item.value_options.type=="text"' label="Значение" v-model="item.value"></v-text-field>  
                    <v-menu v-if='item.value_options.type=="date"'
                      ref="menu3" v-model="date_options.val"
                      :close-on-content-click="false" :nudge-right="40" :return-value.sync="item.value" lazy 
                      transition="scale-transition" offset-y full-width  min-width="290px">
                      <v-text-field 
                        slot="activator"
                        v-model="item.value"
                        label="Дата"
                        prepend-icon="access_time"
                        readonly
                      ></v-text-field>
                      <v-date-picker v-model="item.value" no-title scrollable>
                        <v-spacer></v-spacer>
                        <v-btn flat color="primary" @click="date_options.val = false">Отмена</v-btn>
                        <v-btn flat color="primary" @click="$refs.menu3.save(item.value)">OK</v-btn>
                      </v-date-picker>
                    </v-menu>
      
                    <v-checkbox v-if='item.value_options.type=="check"' v-model="item.value" label="True/False" style='padding-top: 0; margin-top: 0;'></v-checkbox>
                    
                  </v-flex>  
                </v-layout>
              </div>
            </div>
            
          </v-flex>
        </v-layout>

        <v-layout>
          <!-- <el-button type="info" class='button button_right' @click="CreateReport(false)">Сгенерировать</el-button> -->
          <v-btn v-if='columns' dark  color="teal" class = 'button_right' @click="CreateReport(true)">
                Скачать
          </v-btn>
        </v-layout>


        <div v-if='frame.visible'>
          <iframe id="myframe" v-bind:src="frame.data" width="1" height="1"></iframe>
        </div>
      </v-container>
      
    </v-tab-item>

    <v-tab-item :key="2" v-if='project.is_form'>

      <v-container>

        <v-btn v-if='columns' dark  color="teal" class = 'button_right' @click="forms_value.push({column:'', value:''})">
          Добавить фильтр
        </v-btn>
        <p style="text-align: center; color: #909399;" v-if='!forms_value.length'>Параметры фильтрации не установлены</p>
        <v-layout v-for='(item, id) in forms_value' :key='item' style='padding: 10px;'>
          <v-flex xs1>
             <v-btn flat icon color="teal" @click="forms_value.splice(id, 1)">
                <v-icon>delete</v-icon>
            </v-btn>
          </v-flex>
          <v-flex xs4>
            <v-select v-model="item.column" :items="forms_options.value[item.column]" item-text="text" item-value="value" label="Оператор" ></v-select>
          </v-flex>

          <v-flex xs3>
            <v-select v-model="item.value" :items="forms_options.column" item-text="value" item-value="key" label="Столбец" ></v-select>
          </v-flex>    
        </v-layout>

        <v-layout>
           <v-btn v-if='columns' dark  color="teal" class = 'button_right' @click="CreateReportForm()">
              Скачать
          </v-btn>
        </v-layout>
      </v-container>
      
    </v-tab-item>

    <v-tab-item :key="3">
      <v-container v-model="activeNamesChart">
        <v-container >
          <v-layout row wrap>
            <span class='title'>Общие данные</span>
          </v-layout>
          <v-layout row wrap>
            <v-flex xs12 md6 lg4 v-if='data_pie.all' class='card_chart'>
              <v-flex xs12>
                <h5 class="h5_diagram">Общая статистика продаж</h5>
                <pie-chart :data="data_pie.all" :width="400" :height="200" ></pie-chart>
              </v-flex>
              <v-flex xs12>
                <table class='table_chart' style='background:#f5fffb'>
                  <tr class='tr_chart'>
                    <th class='th_chart'></th>
                    <th class='th_chart'>Количество</th>
                    <th class='th_chart'>Процент</th>
                  </tr>
                  <tr class='tr_chart'>
                    <th class='th_chart'>Всего</th>
                    <td class='td_chart'>{{data_pie_statistic.all.all}}</td>
                    <td class='td_chart'></td>
                  </tr>
                  <tr class='tr_chart'>
                    <th class='th_chart'>Оплачено</th>
                    <td class='td_chart'>{{data_pie_statistic.all.pay}}</td>
                    <td class='td_chart'>{{(data_pie_statistic.all.pay/data_pie_statistic.all.all*100).toFixed(1)}} %</td>
                  </tr>
                  <tr class='tr_chart'>
                    <th class='th_chart'>Не оплачено</th>
                    <td class='td_chart'>{{data_pie_statistic.all.notpay}}</td>
                    <td class='td_chart'>{{(data_pie_statistic.all.notpay/data_pie_statistic.all.all*100).toFixed(1)}} %</td>
                    
                  </tr>
                  <tr class='tr_chart'>
                    <th class='th_chart'>Отменено</th>
                    <td class='td_chart'>{{data_pie_statistic.all.cancel}}</td>
                    <td class='td_chart'>{{(data_pie_statistic.all.cancel/data_pie_statistic.all.all*100).toFixed(1)}} %</td>
                  </tr> 
                </table>
              </v-flex>
            </v-flex>

            <v-flex xs12 md6 lg4 v-if='data_pie.buy' class='card_chart'>
              <v-flex >
                <h5 class="h5_diagram">Статистика пунктов продаж</h5>
                <pie-chart  :data="data_pie.buy" :width="400" :height="200" ></pie-chart>
              </v-flex>
              <v-flex >
                <table class='table_chart' style='background:#faf5ff'>
                  <tr class='tr_chart'>
                    <th class='th_chart'></th>
                    <th class='th_chart'>Количество</th>
                    <th class='th_chart'>Процент</th>
                  </tr>
                  <tr class='tr_chart'>
                    <th class='th_chart'>Всего</th>
                    <td class='td_chart'>{{data_pie_statistic.buy.all}}</td>
                    <td class='td_chart'></td>
                  </tr>
                  <tr class='tr_chart'>
                    <th class='th_chart'>Сайт</th>
                    <td class='td_chart'>{{data_pie_statistic.buy.site}}</td>
                    <td class='td_chart'>{{(data_pie_statistic.buy.site/data_pie_statistic.buy.all*100).toFixed(1)}} %</td>
                  </tr>
                  <tr class='tr_chart'>
                    <th class='th_chart'>Киоск</th>
                    <td class='td_chart'>{{data_pie_statistic.buy.kiosk}}</td>
                    <td class='td_chart'>{{(data_pie_statistic.buy.kiosk/data_pie_statistic.buy.all*100).toFixed(1)}} %</td>
                    
                  </tr>
                  <tr class='tr_chart'>
                    <th class='th_chart'>Экспобит</th>
                    <td class='td_chart'>{{data_pie_statistic.buy.expobit}}</td>
                    <td class='td_chart'>{{(data_pie_statistic.buy.expobit/data_pie_statistic.buy.all*100).toFixed(1)}} %</td>
                  </tr> 
                </table>
              </v-flex>
            </v-flex>

            <v-flex xs12 md6 lg4 v-if='data_pie.active' class='card_chart'>
              <v-flex >
                <h5 class="h5_diagram">Статистика активаций</h5>
                <pie-chart :data="data_pie.active" :width="400" :height="200" ></pie-chart>
              </v-flex>
              <v-flex >
                <table class='table_chart' style='background:#e4f9f9'>
                  <tr class='tr_chart'>
                    <th class='th_chart'></th>
                    <th class='th_chart'>Количество</th>
                    <th class='th_chart'>Процент</th>
                  </tr>
                  <tr class='tr_chart'>
                    <th class='th_chart'>Всего</th>
                    <td class='td_chart'>{{data_pie_statistic.active.all}}</td>
                    <td class='td_chart'></td>
                  </tr>
                  <tr class='tr_chart'>
                    <th class='th_chart'>Активированы</th>
                    <td class='td_chart'>{{data_pie_statistic.active.active}}</td>
                    <td class='td_chart'>{{(data_pie_statistic.active.active/data_pie_statistic.active.all*100).toFixed(1)}} %</td>
                  </tr>
                  <tr class='tr_chart'>
                    <th class='th_chart'>Не активированы</th>
                    <td class='td_chart'>{{data_pie_statistic.active.notactive}}</td>
                    <td class='td_chart'>{{(data_pie_statistic.active.notactive/data_pie_statistic.active.all*100).toFixed(1)}} %</td> 
                  </tr>
                </table>
              </v-flex>
            </v-flex>
          </v-layout>
        </v-container>

        <v-container >
          <v-layout row wrap>
            <span class='title'>Динамика продаж</span>
          </v-layout>
          <v-layout v-if=''>
            <v-flex xs12>
              <v-layout row wrap>
                <v-flex xs6 sm 5 md3>
                  <v-select v-model="chart_params.buy.type" :items="options_сhart.buy" multiple item-text="label" item-value="value" label="Вид получения билета"></v-select>
                </v-flex>
                <v-flex xs6 md2>
                  <v-checkbox v-model="chart_params.buy.category" label="Сравнить по категориям"></v-checkbox>
                </v-flex>

                <v-flex xs4 md3>
                  <v-menu ref="menu4" v-model="date_options_chart.start_pay" :close-on-content-click="false" :nudge-right="40" lazy transition="scale-transition" offset-y full-width min-width="290px">
                      <template v-slot:activator="{ on }">
                        <v-text-field v-model="chart_params.buy.date_start" :clearable = 'true' label="Начало" prepend-icon="event" readonly v-on="on"></v-text-field>
                      </template>
                      <v-date-picker color="teal darken-1" locale='ru' v-model="chart_params.buy.date_start" @input="date_options_chart.start_pay = false" first-day-of-week=1></v-date-picker>
                  </v-menu>

                  <v-menu ref="menu5" v-model="date_options_chart.end_pay" :close-on-content-click="false" :nudge-right="40" lazy transition="scale-transition" offset-y full-width min-width="290px">
                      <template v-slot:activator="{ on }">
                        <v-text-field v-model="chart_params.buy.date_end" :clearable = 'true' label="Конец" prepend-icon="event" readonly v-on="on"></v-text-field>
                      </template>
                      <v-date-picker color="teal darken-1" locale='ru' v-model="chart_params.buy.date_end" @input="date_options_chart.end_pay = false" first-day-of-week=1></v-date-picker>
                  </v-menu>
                </v-flex>

                <v-flex xs4 md3>
                  <v-checkbox v-model="data_chart.type_buy.line" label="Линейный график"></v-checkbox>
                  <v-checkbox v-model="data_chart.type_buy.bar" label="Столбчатая диаграмма" ></v-checkbox>
                </v-flex>
                <v-flex xs4>
                  <v-btn dark  color="teal" class = 'button_right' @click="GetChartDataStat('buy')">
                        Показать
                  </v-btn>
                </v-flex>
              </v-layout>
              <v-layout>
                <v-flex xs12>
                  <bar-chart v-if='data_chart.type_buy.bar && data_chart.line_buy.labels' :data="data_chart.line_buy" :width="400" :height="200" ></bar-chart>
                  <line-chart v-if='data_chart.type_buy.line && data_chart.line_buy.labels' :data="data_chart.line_buy" :width="400" :height="200" ></line-chart>
                  <div v-if='!data_chart.type_buy.bar && !data_chart.type_buy.line && data_chart.line_buy.labels' >Вы не выбрали тип графика</div>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-layout>         
        </v-container>

        <v-container>
          <v-layout row wrap>
            <span class='title'>Динамика активаций</span>
          </v-layout>
          <v-layout v-if=''>
            <v-flex xs12>
              <v-layout row wrap>
                <v-flex xs6 md3>
                  <v-select v-model="chart_params.activate.type" :items="options_сhart.buy" multiple item-text="label" item-value="value" label="Вид получения билета"></v-select>
                </v-flex>
                <v-flex xs6 md2>
                  <v-checkbox v-model="chart_params.activate.category" label="Сравнить по категориям"></v-checkbox>
                </v-flex>

                <v-flex xs4 md3>
                  <v-menu ref="menu4" v-model="date_options_chart.start_activate" :close-on-content-click="false" :nudge-right="40" lazy transition="scale-transition" offset-y full-width min-width="290px">
                      <template v-slot:activator="{ on }">
                        <v-text-field v-model="chart_params.activate.date_start" :clearable = 'true' label="Начало" prepend-icon="event" readonly v-on="on"></v-text-field>
                      </template>
                      <v-date-picker color="teal darken-1" locale='ru' v-model="chart_params.activate.date_start" @input="date_options_chart.start_activate = false" first-day-of-week=1></v-date-picker>
                  </v-menu>

                  <v-menu ref="menu5" v-model="date_options_chart.end_activate" :close-on-content-click="false" :nudge-right="40" lazy transition="scale-transition" offset-y full-width min-width="290px">
                      <template v-slot:activator="{ on }">
                        <v-text-field v-model="chart_params.activate.date_end" :clearable = 'true' label="Конец" prepend-icon="event" readonly v-on="on"></v-text-field>
                      </template>
                      <v-date-picker color="teal darken-1" locale='ru' v-model="chart_params.activate.date_end" @input="date_options_chart.end_activate = false" first-day-of-week=1></v-date-picker>
                  </v-menu>
                </v-flex>
                <v-flex xs4 md3>
                  <v-checkbox v-model="data_chart.type_activate.line" label="Линейный график"></v-checkbox>
                  <v-checkbox v-model="data_chart.type_activate.bar" label="Столбчатая диаграмма" ></v-checkbox>
                </v-flex>
                <v-flex xs4>
                  <v-btn dark  color="teal" class = 'button_right' @click="GetChartDataStat('activate')">
                        Показать
                  </v-btn>
                </v-flex>
              </v-layout>
              <v-layout>
                <v-flex xs12>
                  <bar-chart v-if='data_chart.type_activate.bar && data_chart.line_activate.labels' :data="data_chart.line_activate" :width="400" :height="200" ></bar-chart>
                  <line-chart v-if='data_chart.type_activate.line && data_chart.line_activate.labels' :data="data_chart.line_activate" :width="400" :height="200" ></line-chart>
                  <div v-if='!data_chart.type_activate.bar && !data_chart.type_activate.line && data_chart.line_activate.labels' >Вы не выбрали тип графика</div>
                </v-flex>

              </v-layout>
            </v-flex>
          </v-layout>
        </v-container>
        <v-container v-if='project.is_form'>
          <v-layout row wrap>
            <span class='title'>Статистика по анкетированию</span>
          </v-layout>
          <v-layout v-if=''>
            <v-flex xs12>
              <v-layout row wrap>
                <v-flex xs6 md3>
                  <v-select v-model="chart_params.form.type" :items="forms_options.column" item-text="value" item-value="key" label="Вопрос для статистики"></v-select>
                </v-flex>

                <v-flex xs6 md3>
                  <v-menu ref="menu4" v-model="date_options_chart.start_form" :close-on-content-click="false" :nudge-right="40" lazy transition="scale-transition" offset-y full-width min-width="290px">
                      <template v-slot:activator="{ on }">
                        <v-text-field v-model="chart_params.form.date_start" :clearable = 'true' label="Начало" prepend-icon="event" readonly v-on="on"></v-text-field>
                      </template>
                      <v-date-picker color="teal darken-1" locale='ru' v-model="chart_params.form.date_start" @input="date_options_chart.start_form = false" first-day-of-week=1></v-date-picker>
                  </v-menu>

                  <v-menu ref="menu5" v-model="date_options_chart.end_form" :close-on-content-click="false" :nudge-right="40" lazy transition="scale-transition" offset-y full-width min-width="290px">
                      <template v-slot:activator="{ on }">
                        <v-text-field v-model="chart_params.form.date_end" :clearable = 'true' label="Конец" prepend-icon="event" readonly v-on="on"></v-text-field>
                      </template>
                      <v-date-picker color="teal darken-1" locale='ru' v-model="chart_params.form.date_end" @input="date_options_chart.end_form = false" first-day-of-week=1></v-date-picker>
                  </v-menu>
                </v-flex>
                <v-flex xs4 md3>
                  <v-checkbox v-model="data_chart.type_form.line" label="Линейный график"></v-checkbox>
                  <v-checkbox v-model="data_chart.type_form.bar" label="Столбчатая диаграмма" ></v-checkbox>
                </v-flex>
                <v-flex xs4 md2>
                  <v-checkbox v-model="chart_params.form.category" label="График по дням/часам"></v-checkbox>
                </v-flex>
                <v-flex xs4 >
                  <v-btn dark  color="teal" class = 'button_right' @click="GetChartDataStat('form')">
                        Показать
                  </v-btn>
                </v-flex>
              </v-layout>
              <v-layout>
                <v-flex xs12>
                  <bar-chart v-if='data_chart.type_form.bar && data_chart.line_form.labels' :data="data_chart.line_form" :width="400" :height="200" ></bar-chart>
                  <line-chart v-if='data_chart.type_form.line && data_chart.line_form.labels' :data="data_chart.line_form" :width="400" :height="200" ></line-chart>
                  <div v-if='!data_chart.type_form.bar && !data_chart.type_form.line && data_chart.line_forme.labels' >Вы не выбрали тип графика</div>
                </v-flex>

              </v-layout>
            </v-flex>
          </v-layout>
        </v-container>

      </v-container>
      
    </v-tab-item>
  </v-tabs>

    
</div>
</template>

<script>
import axios from 'axios';
import $ from 'jquery'
import store from '../../../store';
import router from '../../../router'
import Vue from 'vue'


export default {
  props: ['project'],
  data() {
    return {
      // Общие
      activeTabs:null,
      frame:{
        data:'',
        visible:false,
      },
      type_report_options:{
        type_report:[
          {value:'statistic', label:'Статистика проекта'},
          {value:'unloading', label:'Выгрузка данных'},
        ],
      },
      data_type_report:{
        type_report:"unloading"
      },
      options_filter:{
        type_report:[
          {value:'people', label:'Динамика посещений'},
          {value:'money', label:'Финансовые показатели'},
        ],
      },
      data_filter:{
        type_report:'',
        type_value:[],
        visualization:[],
        start:'',
        end:'',
        all_date:true,
      },
      error_filter:{
        type_report:'',
        type_value:'',
        visualization:'',
        date:'',
        
      },

      options_uploading:{
        table:[
          {value:'visitors', label:'Билеты'},
          {value:'orders', label:'Заказы'},
        ],
        columns:[],
      },
      data_uploading:{
        table:'',
        columns:[],
        start:'',
        end:'',
        all_date:true,
        filter:[],
      },
      error_uploading:{
        table:'',
        columns:'',
        date:'',   
      },
      data:[],
      columns:[],

      date_options:{
        start:false,
        end:false,
        val:false,
      },


      // Для анкет
      forms_options:{
        column:[],
        // operator:[],
        value:{}
      },
      forms_value:[],

      // Для графиков
      activeNamesChart: ['1'],
      date_options_chart:{
        start_pay:false,
        end_pay:false,
        start_activate:false,
        end_activate:false,
        start_form:false,
        end_form:false,
      },
      options_сhart:{
        buy:[
          {
            label:'Сайт',
            value:'site',
          },{
            label:'Киоск',
            value:'kiosk',
          },{
            label:'Выставленные счета',
            value:'expobit',
          },
        ]
      },
      chart_params:{
        buy:{
          type:[], 
          date_start:'',
          date_end:'',
          category:false,
        },
        activate:{
          type:[], 
          date_start:'',
          date_end:'',
          category:false,
        },
        form:{
          type:'', 
          date_start:'',
          date_end:'',
          category:false,
        },
      },
      data_pie:{},
      data_pie_statistic:{},

      data_chart:{
        line_buy:{},
        line_activate:{},
        line_form:{},
        type_buy:{
          line:true,
          bar:false,
        },
        type_activate:{
          line:true,
          bar:false,
        },
        type_form:{
          line:true,
          bar:false,
        }

      }
    }
  },

  created(){  
    if(this.project.is_form){
      this.InitFormOptions(false)
    } 
    debugger
  },

  mounted() {
    this.$emit('message_ul', {  redirect: {
        name : 'Статистика по проекту', 
        link : location.pathname+'#/project/'+this.project.id+'/reports/',
        id   : 'reports_li',
        action: 'add'},
      message:{
        project_visible:false,

      } 
    })    
  },
  destroyed(){
    this.$emit('message_ul', { redirect: {
        id   : 'reports_li',
        action: 'remove'},
      message:{
        project_visible:true,
      }
    })

  },
    methods:{

      tabClick(ind){
        if(ind == 3){
          this.GetChartData()
        }
      },

      GetChartData(){

        var data = {
          date_buy:'',
          date_activate:'',
        }


        this.$api.get('../api/project/' + this.project.id + '/reports/chart_project/', data)
          .then(response => {

            this.data_pie_statistic = response.data

            Vue.set(this.data_pie, 'all',{
              labels: ['Оплачены', 'Не оплачены', 'Отменены'],
              datasets: [{
                label: 'Data One',
                backgroundColor: ['#009f9d', '#cdffeb', '#07456f'],
                data: [response.data.all.pay, response.data.all.notpay, response.data.all.cancel]
              }]
            })
            if(response.data.buy.site <= response.data.buy.all){
              Vue.set(this.data_pie, 'buy',{
                labels: ['Сайт', 'Киоск', 'Expobit'],
                datasets: [{
                  label: 'Data One',
                  backgroundColor: ['#9692af', '#acdbdf', '#69779b'],
                  data: [response.data.buy.site, response.data.buy.kiosk, response.data.buy.expobit]
                }]
              })
            }
            if(response.data.active.active <= response.data.active.all){
              Vue.set(this.data_pie, 'active',{
                labels: ['Активированы', 'Не активированы'],
                datasets: [{
                  label: 'Data One',
                  backgroundColor: ['#b5525c', '#a2eae2'],
                  data: [response.data.active.active, response.data.active.notactive,]
                }]
              })
            }
          })       
      },

      GetChartDataStat(type){

        if(type=='buy'){
          var data = {
            type:'buy',
            data:this.chart_params.buy,
          }
          Vue.set(this.data_chart, 'line_buy', {
              labels:null,
              datasets:[]
          })
          if(this.chart_params.buy.category && this.chart_params.buy.type.length>1){
            this.$notify({
              group: 'ticket_not',
              type: 'error',
              duration: 1000,
              text: 'Сравнивать по категориям можно только один вид получения билета'
            });
            return 0
          }
          this.$api.get('../api/project/' + this.project.id + '/reports/chart_project_stat/', data)
          .then(response => {
            if(response.data.category){
              var colors = ['#D32F2F', '#512DA8', '#0288D1','#388E3C', '#FBC02D', '#E64A19', '#738598', '#C2185B', '#303F9F', '#0097A7', '#689F38', '#F57C00', '#00796B',]

              for( var i in response.data.category){

                this.data_chart.line_buy.labels = []
                this.data_chart.line_buy.datasets.push({
                  label: response.data.category[i].name,
                  backgroundColor: colors[i]+'70',
                   borderColor: colors[i],
                  data: []
                })
                if(response.data.data.buy.site && this.chart_params.buy.type.indexOf('site')>=0){
                  for(var j in response.data.data.buy.site){
                    this.data_chart.line_buy.labels.push(j)
                    this.data_chart.line_buy.datasets[this.data_chart.line_buy.datasets.length-1].data.push(response.data.data.buy.site[j][i])
                  }
                }
                if(response.data.data.buy.kiosk && this.chart_params.buy.type.indexOf('kiosk')>=0){
                  for(var j in response.data.data.buy.kiosk){
                    this.data_chart.line_buy.labels.push(j)
                    this.data_chart.line_buy.datasets[this.data_chart.line_buy.datasets.length-1].data.push(response.data.data.buy.kiosk[j][i])
                  }
                  
                }
                if(response.data.data.buy.expobit && this.chart_params.buy.type.indexOf('expobit')>=0){
                  for(var j in response.data.data.buy.expobit){
                    this.data_chart.line_buy.labels.push(j)
                    this.data_chart.line_buy.datasets[this.data_chart.line_buy.datasets.length-1].data.push(response.data.data.buy.expobit[j][i])
                  }
                  
                }
              }
              
            }else{
              if(response.data.data.buy.all_site>0 && this.chart_params.buy.type.indexOf('site')>=0){
                this.data_chart.line_buy.labels = []
                this.data_chart.line_buy.datasets.push({
                  label: 'Сайт',
                  backgroundColor: '#00695C' + '70',
                  borderColor: '#00695C',
                  data: []
                })

                for(var i in response.data.data.buy.site){
                  this.data_chart.line_buy.labels.push(i)
                  this.data_chart.line_buy.datasets[this.data_chart.line_buy.datasets.length-1].data.push(response.data.data.buy.site[i])
                }
              }

              if(response.data.data.buy.all_kiosk>0 && this.chart_params.buy.type.indexOf('kiosk')>=0){
                this.data_chart.line_buy.labels = []
                this.data_chart.line_buy.datasets.push({
                  label: 'Киоск',
                  backgroundColor: '#F50057' + '70',
                  borderColor: '#F50057',
                  data: []
                })
                for(var i in response.data.data.buy.kiosk){
                  this.data_chart.line_buy.labels.push(i) 
                  this.data_chart.line_buy.datasets[this.data_chart.line_buy.datasets.length-1].data.push(response.data.data.buy.kiosk[i])  
                }
                
              }
              if(response.data.data.buy.all_expobit>0 && this.chart_params.buy.type.indexOf('expobit')>=0){
                this.data_chart.line_buy.labels = []
                this.data_chart.line_buy.datasets.push({
                  label: 'Выставленные счета',
                  backgroundColor: '#F9A825' + '70',
                  borderColor: '#F9A825',
                  data: []
                })
                for(var i in response.data.data.buy.expobit){
                  this.data_chart.line_buy.labels.push(i)   
                  this.data_chart.line_buy.datasets[this.data_chart.line_buy.datasets.length-1].data.push(response.data.data.buy.expobit[i])
                }
              }   
            }     
          })
        }
        if(type=='activate'){
          var data = {
            type:'activate',
            data:this.chart_params.activate,
          }
          
          Vue.set(this.data_chart, 'line_activate', {
              labels:null,
              datasets:[]
          })

          if(this.chart_params.activate.category && this.chart_params.activate.type.length>1){
            this.$notify({
              group: 'ticket_not',
              type: 'error',
              duration: 1000,
              text: 'Сравнивать по категориям можно только один вид получения билета'
            });
            return 0
          }

          this.$api.get('../api/project/' + this.project.id + '/reports/chart_project_stat/', data)
          .then(response => {
            if(response.data.category){
              var colors = ['#D32F2F', '#512DA8', '#0288D1','#388E3C', '#FBC02D', '#E64A19', '#738598', '#C2185B', '#303F9F', '#0097A7', '#689F38', '#F57C00', '#00796B',]

              for( var i in response.data.category){
                this.data_chart.line_activate.labels = []
                this.data_chart.line_activate.datasets.push({
                  label: response.data.category[i].name,
                  backgroundColor: colors[i] + '70',
                  borderColor: colors[i],
                  data: []
                })

                if(response.data.data.activate.site && this.chart_params.activate.type.indexOf('site')>=0){
                  for(var j in response.data.data.activate.site){
                    this.data_chart.line_activate.labels.push(j)
                    this.data_chart.line_activate.datasets[this.data_chart.line_activate.datasets.length-1].data.push(response.data.data.activate.site[j][i])
                  }
                }
                if(response.data.data.activate.kiosk && this.chart_params.activate.type.indexOf('kiosk')>=0){
                  for(var j in response.data.data.activate.kiosk){
                    this.data_chart.line_activate.labels.push(j)
                    this.data_chart.line_activate.datasets[this.data_chart.line_activate.datasets.length-1].data.push(response.data.data.activate.kiosk[j][i])
                  }
                  
                }
                if(response.data.data.activate.expobit &&  this.chart_params.activate.type.indexOf('expobit')>=0){
                  for(var j in response.data.data.activate.expobit){
                    this.data_chart.line_activate.labels.push(j)
                    this.data_chart.line_activate.datasets[this.data_chart.line_activate.datasets.length-1].data.push(response.data.data.activate.expobit[j][i])
                  }
                }
              }  
            }else{
              if(response.data.data.activate.all_site>0 && this.chart_params.activate.type.indexOf('site')>=0){
                this.data_chart.line_activate.labels = []
                this.data_chart.line_activate.datasets.push({
                  label: 'Сайт',
                  backgroundColor: '#4527A0' + '70',
                  borderColor: '#4527A0',
                  data: []
                })

                for(var i in response.data.data.activate.site){
                  this.data_chart.line_activate.labels.push(i)
                  this.data_chart.line_activate.datasets[this.data_chart.line_activate.datasets.length-1].data.push(response.data.data.activate.site[i])
                }
              }

              if(response.data.data.activate.all_kiosk>0 && this.chart_params.activate.type.indexOf('kiosk')>=0){
                this.data_chart.line_activate.labels = []
                this.data_chart.line_activate.datasets.push({
                  label: 'Киоск',
                  backgroundColor: '#EF6C00' + '70',
                  borderColor: '#EF6C00',
                  data: []
                })
                for(var i in response.data.data.activate.kiosk){
                  this.data_chart.line_activate.labels.push(i) 
                  this.data_chart.line_activate.datasets[this.data_chart.line_activate.datasets.length-1].data.push(response.data.data.activate.kiosk[i])  
                }        
              }
              if(response.data.data.activate.all_expobit>0 && this.chart_params.activate.type.indexOf('expobit')>=0){
                this.data_chart.line_activate.labels = []
                this.data_chart.line_activate.datasets.push({
                  label: 'Выставленные счета',
                  backgroundColor: '#C62828' + '70',
                  borderColor: '#C62828',
                  data: []
                })
                for(var i in response.data.data.activate.expobit){
                  this.data_chart.line_activate.labels.push(i)   
                  this.data_chart.line_activate.datasets[this.data_chart.line_activate.datasets.length-1].data.push(response.data.data.activate.expobit[i])
                }
              }
            }
          })
          
        }
        if(type=='form'){
          var data = {
            type:'form',
            data:this.chart_params.form,
          }
          
          Vue.set(this.data_chart, 'line_form', {
              labels:null,
              datasets:[]
          })

          // if(this.chart_params.form.category && this.chart_params.activate.type.length>1){
          //   this.$notify({
          //     group: 'ticket_not',
          //     type: 'error',
          //     duration: 1000,
          //     text: 'Сравнивать по категориям можно только один вид получения билета'
          //   });
          //   return 0
          // }

          this.$api.get('../api/project/' + this.project.id + '/reports/chart_project_stat/', data)
          .then(response => {
            debugger
            // if(response.data.category){
              var colors = ['#D32F2F', '#512DA8', '#0288D1','#388E3C', '#FBC02D', '#E64A19', '#738598', '#C2185B', '#303F9F', '#0097A7', '#689F38', '#F57C00', '#00796B',]

              response.data.category.push({"value": 'other',"text": "Другое"})

              for( var i in response.data.category){
                var color = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(colors[i]);
                this.data_chart.line_form.labels = []
                this.data_chart.line_form.datasets.push({
                  label: response.data.category[i].text,
                  backgroundColor: `rgba(${parseInt(color[1], 16)}, ${parseInt(color[2], 16)}, ${parseInt(color[3], 16)}, 0.5)`,
                  borderColor: colors[i],
                  data: []
                })

                for(var j in response.data.data){
                    this.data_chart.line_form.labels.push(j)
                    this.data_chart.line_form.datasets[this.data_chart.line_form.datasets.length-1].data.push(response.data.data[j][response.data.category[i].value])
                }

              }  
          })
        }

        var data = {
          date_buy:'',
          date_activate:'',
        }
      },

      InitFormOptions(change){
        if(!change){
          this.$api.get('../api/project/' + this.project.id + '/reports/option_form/')
          .then(response => {
            this.forms_options = response.data
          })
        }else{

        }
        
      },

      CreateReportForm(){
        // debugger
        
        var url = location.origin + '/api/project/' + this.project.id + '/reports/download_report_form/?data=' + JSON.stringify(this.forms_value)

        window.open(url);

        // this.$api.get('../api/project/' + this.project.id + '/reports/download_report_form/', JSON.stringify(this.forms_value))
        //   .then(response => {
        //     debugger
        //     this.forms_options = response.data
        //   })
        
      },

      GetValidFilterData(value){
        var field
        for (var i in this.reportParams.statistic.filter){
          if(this.reportParams.statistic.filter[i].id == value){
            field = this.reportParams.statistic.filter[i].value.field
            value=i
          }
          else{
            continue
          }
        }
        if(field){
          this.$api.get('../api/project/' + this.$parent.$props.id + '/visitors/get_type_field/', {field: field})
          .then(response => {
            if (response.data) {
              this.reportParams.statistic.filter[value].options_confirm = []
              this.reportParams.statistic.filter[value].options_data = []

              this.reportParams.statistic.filter[value].options_confirm.push({
                value: '',
                label: '=='
              })
              this.reportParams.statistic.filter[value].options_confirm.push({
                value: 'exclude',
                label: '!='
              })

              if (response.data.choices.length){
                for (var i in response.data.choices) {
                  this.reportParams.statistic.filter[value].options_data.push({
                    value: response.data.choices[i][0],
                    label: response.data.choices[i][1]
                  })
                }        
              }else{
                if (['CharField','DateField', 'DateTimeField', 'FloatField', 'IntegerField'].indexOf(response.data.type_field)>=0){
                  this.reportParams.statistic.filter[value].options_confirm.push({
                    value: '__icontains',
                    label: 'LIKE'
                  }) 
                }
                if (['DateField', 'DateTimeField', 'FloatField', 'IntegerField'].indexOf(response.data.type_field)>=0){
                  this.reportParams.statistic.filter[value].options_confirm.push({
                    value: '__gt',
                    label: '>'
                  })  
                  this.reportParams.statistic.filter[value].options_confirm.push({
                    value: '__gte',
                    label: '>='
                  })  
                  this.reportParams.statistic.filter[value].options_confirm.push({
                    value: '__lt',
                    label: '<'
                  })  
                  this.reportParams.statistic.filter[value].options_confirm.push({
                    value: '__lte',
                    label: '<='
                  })  
                }
              }
            }
          })
          .catch(e => {
            
          })
        }
      },
      AddFilterUpload(select, data_upload){
        if(!select){
          this.data_uploading.filter.push(
            {
              id:this.data_uploading.filter.length,
              column:'',
              operator:'',
              value:'',
              column_options:this.options_uploading.columns,
              operator_options:[],
              value_options:{
                type:'',
                choices:[],
              },
            }
          )
        }else{
          if(select==1){
            this.$api.get('../api/project/' + this.project.id + '/'+this.data_uploading.table+ '/get_type_field/', {field: data_upload.column})
            .then(response => {
            if (response.data) {
              data_upload.operator_options = []
              data_upload.value_options = {}

              data_upload.operator_options.push({
                value: '',
                label: '=='
              })
              data_upload.operator_options.push({
                value: 'exclude',
                label: '!='
              })
              debugger
              data_upload.value_options.type='text'
              if (response.data.choices.length){
                data_upload.value_options.choices = []
                for (var i in response.data.choices) {
                  data_upload.value_options.choices.push({
                    value: response.data.choices[i][0],
                    label: response.data.choices[i][1]
                  })
                data_upload.value_options.type='select'
               

                }
              }else{
                if (['CharField','FloatField', 'IntegerField'].indexOf(response.data.type_field)>=0){
                  data_upload.operator_options.push({
                    value: '__icontains',
                    label: 'LIKE'
                  }) 
                }
                if (['DateField', 'DateTimeField', 'FloatField', 'IntegerField'].indexOf(response.data.type_field)>=0){
                  data_upload.operator_options.push({
                    value: '__gt',
                    label: '>'
                  })  
                  data_upload.operator_options.push({
                    value: '__gte',
                    label: '>='
                  })  
                  data_upload.operator_options.push({
                    value: '__lt',
                    label: '<'
                  })  
                  data_upload.operator_options.push({
                    value: '__lte',
                    label: '<='
                  })  
                }

                if (['DateField', 'DateTimeField'].indexOf(response.data.type_field)>=0){
                  data_upload.value_options.type='date'
                }
                if (['BooleanField'].indexOf(response.data.type_field)>=0){
                  data_upload.value_options.type='check'
                }
              }
            }
          })
            .catch(e => {
              
            })
          }
        }
      },
      DeleteFilterUpload(id){
        this.data_uploading.filter.splice(id, 1);

        for(var i in this.data_uploading.filter.splice){
          this.data_uploading.filter.splice[i].id = i
        }
      },
      SelectDataUploading(){
        if(this.data_uploading.table){
          this.$api.get('../api/project/' + this.project.id + '/'+this.data_uploading.table+'/options/',)
            .then(response => {
              this.options_uploading.columns = response.data["column"]
              this.data_uploading.columns = []
              this.data_uploading.filter = []
            })
        }
      },
      DateChangeAll(all){
        if(this.type_report == 'statistic'){
          if(all){
            if(this.data_filter.all_date){
              this.data_filter.start_old = this.data_filter.start
              this.data_filter.end_old = this.data_filter.end
              this.data_filter.start = ''
              this.data_filter.end = ''
            }else{
              this.data_filter.start = this.data_filter.start_old
              this.data_filter.end = this.data_filter.end_old
            }
          }else{
            this.data_filter.all_date=false
          }
        }else{
          if(all){
            if(this.data_uploading.all_date){
              this.data_uploading.start_old = this.data_uploading.start
              this.data_uploading.end_old = this.data_uploading.end
              this.data_uploading.start = ''
              this.data_uploading.end = ''
            }else{
              this.data_uploading.start = this.data_uploading.start_old
              this.data_uploading.end = this.data_uploading.end_old
            }
          }else{
            this.data_uploading.all_date=false
          }
        }
      },
      CreateReport(download){
        var error = false

        if (this.data_type_report.type_report == 'unloading'){
          if(!this.data_uploading.table){
            this.error_uploading.table = 'Обязательное значение'
            error = true
          }else{this.error_uploading.table = ''}

          if(!this.data_uploading.columns.length){
            this.error_uploading.columns = 'Обязательное значение'
            error = true
          }else{this.error_uploading.columns = ''}

          if((!this.data_uploading.end || !this.data_uploading.start) && !this.data_uploading.all_date){
            this.error_uploading.date = 'Обязательное значение'
          }else{this.error_uploading.date = ''}

          if(!this.data_filter.type_value.length){
            this.error_filter.type_value = 'Обязательное значение'
          }else{this.error_filter.type_value = ''}

        }
        if(this.data_type_report.type_report == 'statistic'){

          if(!this.data_filter.type_report){
            this.error_filter.type_report = 'Обязательное значение'
            error = true
          }else{this.error_filter.type_report = ''}

          // if((!this.data_filter.end || !this.data_filter.start) && !this.data_filter.all_date){
          //   this.error_filter.date = 'Обязательное значение'
          // }else{this.error_filter.date = ''}

          if(!this.data_filter.type_value.length){
            this.error_filter.type_value = 'Обязательное значение'
          }else{this.error_filter.type_value = ''}
        }

        if(error){return}

        else{
          if(download){
            var data, url
            if(this.data_type_report.type_report == 'statistic'){ 
              data = {data:this.data_filter, type:this.data_type_report.type_report}
              url = location.origin + '/api/project/' + this.project.id + '/visitors/download_report/?data=' + JSON.stringify(data)
            }
            if(this.data_type_report.type_report == 'unloading'){
              var data_temp = []
              // for(var i in this.data_uploading.filter){
                // delete this.data_uploading.filter[i].column_options
                // delete this.data_uploading.filter[i].operator_options
                // delete this.data_uploading.filter[i].value_options
              // }
              data = {data:this.data_uploading, type:this.data_type_report.type_report}
              url = location.origin + '/api/project/' + this.project.id + '/visitors/download_report/?data=' + JSON.stringify(data)
            }
            // var url  = location.origin + '/api/project/' + this.project.id + '/visitors/download_report_project/?data=' + JSON.stringify(data)
            window.open(url);

          }else{

            this.$api.get('../api/project/' + this.project.id + '/visitors/get_report_project/', this.data_filter)
            .then(response => {
              var addCol = function(data, id, label){
                var temp = false
                for(var i in data){
                  if(id == data[i].key){temp=true}
                  if(data[i]){
                    if(id.split('_')[1] && id.split('_')[1] == data[i].key.split('_')[1]){
                      temp=true
                    }
                  }  
                }
                if(!temp){
                  data.push({
                    label:label,
                    key:id,
                    child:[],
                  })
                }
              }
              var recurs = function(data,columns, index) {
                if (index){
                  for (var j in data[index]){
                    if (typeof(data[index][j])=='object'){
                      data[index+'_'+j] = data[index][j]
                      addCol(columns, index+'_'+j, j)
                      recurs(data, columns[columns.length-1]['child'], index+'_'+j) 
                    }else{
                      data[index+'_'+j] = data[index][j]
                      addCol(columns, index+'_'+j, j)
                    }
                  }           
                }else{
                  for (var j in data['temp']){
                    if (typeof(data['temp'][j])=='object'){
                      data[j] = data['temp'][j]
                      addCol(columns, j, j)
                      recurs(data,columns[columns.length-1]['child'], j) 
                    }else{
                      data[j] = data['temp'][j]
                      addCol(columns, j, j)
                    }
                  } 
                }
              }

              var data = response.data[0]
              this.result = []
              this.columns = []
              this.columns.push({
                label:'',
                key:'head',
              })

              var all_global = false

              for (var i in data){
                if (typeof(data[i])=='object'){
                  this.result.push({
                    head:i,
                    temp:data[i],
                  })
                  recurs(this.result[this.result.length - 1],this.columns,)
                }else{
                  all_global = true
                  this.result.push({
                    head:i,
                    'all':data[i],
                  })
                }
              }
              if(all_global){
                this.columns.push({
                  label:'Всего',
                  key:'all',
                })
              }

              for (var i in this.result){
                for (var j in this.result[i]){
                  if (typeof(this.result[i][j])=='object'){
                    delete this.result[i][j]
                  }
                }
              }
            })
            .catch(e => {
              console.log(e)
            })
          }
        }
      },
      closeFrame(){
        this.frame['visible']=false
        this.frame['data'] = ''
      }, 

    }
};

</script>
<style>

  .card_chart{
    padding: 10px;
  }
  .head_type_report{
    padding:10px;
    text-align:center;
    padding:30px 10px 10px;
  }

  .table_report th{
    background:#939ea9 !important;
    border: 1px solid #b4bcc2;
  }

  .table_report td{
    border: 1px solid #b4bcc2;
  }

  .table_report th>.cell{
    color: #fff;
    text-align: center;
    white-space: pre-wrap;
  }

  .table_report td>.cell{
    text-align: center;
    white-space: pre-wrap;
  }

  .col_options_filter{
    background: #fafafa;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    margin: 10px;
  }

  .container_options_filter{
    background: #fff;
    height: 118px;
    padding: 3px 10px;
    position:relative;
    

  }
  .container_options_filter .el-checkbox{
    width: 100%;
    margin: 4px 0px;
  }

  .container_options_filter .el-checkbox+.el-checkbox{
    margin-left: 0px
  }


  .head_options_filter{
    width: 100%;
    background: #939ea9;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 2px 15px;
  }

  .error_options_filter{
    text-align: center;
    color: #e74a3a;
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    width: 100%;
    bottom: 0px;
  }


  .h4_admin_form{
    background: #46bb9b;
    padding: 10px;
    text-align: center;
    margin: 0 2px;
  }
  .container_admin_constructor{
    margin: 0 2px;
    border: 1px solid #46bb9a;
  }

  .container_admin_result{
    margin: 0 2px;
    padding-left: 10px;
  }

  .question_box{
    background: #f1f5f5;
    padding: 10px;
  }

  

  .button_form_green{
    background: #45b999;
    border: 1px solid #169F85;

  }
  .bitton_right{
    float:right;
    margin-left: 2px !important;
  }

  .mini_checkbox{
    margin-top: 5px;
    padding-top: 0;
  }
  .mini_checkbox .v-input__control{
    height: 25px
  }

  .date_report .v-text-field{
    padding-top: 0;
    margin-top: 0; 
  }
  .date_report .v-text-field__details{
    display: none
  }
  


</style>