<template> 
<div class='tickets-view' id = 'tickets-view'>

  <ticketsList v-if='Object.keys(project).length>0'
    :project='project'
    :ticketBus='ticketBus' 
    :select_ticket='select_ticket' 
    :action_ticket='action_ticket'>
      
  </ticketsList>
  
    
</div>
</template>

<script>
import axios from 'axios';
import $ from 'jquery'
import store from '../../../store';
import router from './../../../router'
import Vue from 'vue'

import TicketsList from './../Lists/TicketsList';
// import TicketsForm from './../Forms/TicketsForm';
// import TicketsPlane from './../Forms/TicketsPlane';

var ticketBus = new Vue();

export default {
  props: ['project'],
  components: { 
    'TicketsList': TicketsList, 
  },
  data() {
    return {
      // project:'',
      select_ticket:[],
      action_ticket:[],
      ticketBus:ticketBus,
    }
  },

  mounted() {
    this.$emit('message_ul', {  redirect: {
        name : 'Билеты', 
        link : location.pathname+'#/project/'+this.$props.id+'/tickets/',
        id   : 'tickets_li',
        action: 'add'},
      message:{
        project_visible:false,
      } 
    })   
  },
  destroyed(){
    this.$emit('message_ul', { redirect: {
        id   : 'tickets_li',
        action: 'remove'},
      message:{
        project_visible:true,
      }
    })

  },

  };
</script>
<style>


</style>