

<template > 
<div :span="24" class='visitors-view' id = 'visitors-view'>
  <!-- <eventForm  v-if='select_event[0]' 
    :eventBus='eventBus' 
    :select_event='select_event' 
    :action_event='action_event'>
  
  </eventForm> -->

  <visitorsList 
    :project='project'
    :visitorsBus='visitorsBus' 
    :select_visitors='select_visitors' 
    :action_visitors='action_visitors'>
      
  </visitorsList>

  <!-- <el-col>
    <el-col style="width: 100%;">
      <el-button type="info" class='project-nav-butt' icon="fa fa-reply" @click = "Back">
          <span class="hidden-xs-only"> К проекту</span>
      </el-button>

      <el-button v-if=' action_event!="edit"' type="info" class='project-nav-butt' icon="fa fa-plus"  @click = 'Add'>
         <span class="hidden-xs-only"> Добавить</span>
      </el-button> 

      <el-button v-if=' action_event!="edit"' type="info" class='project-nav-butt' icon="fa fa-file-excel-o"  @click = ''>
         <span class="hidden-xs-only"> Excel</span>
      </el-button> 

    </el-col>
  </el-col>
  
  <eventsList 
    :eventBus='eventBus' 
    :select_event='select_event' 
    :action_event='action_event' >
      
  </eventsList> -->

    
</div>
</template>

<script>
import axios from 'axios';
import Vuex from 'vuex'
import $ from 'jquery'
import store from '../../../store';
import router from './../../../router'
import Vue from 'vue'

import VisitorsList from './../Lists/VisitorsList';
// import EventForm from './Forms/EventForm';

var visitorsBus = new Vue();

  export default {
    props: ['project'],
    mounted() {
      this.$emit('message_ul', {  redirect: {
          name : 'Список билетов', 
          link : location.pathname+'#/project/'+this.$props.id+'/visitors/',
          id   : 'visitors_li',
          action: 'add'},
        message:{
          project_visible:false,

        } 
      }) 
      
    },
    destroyed(){
      this.$emit('message_ul', { redirect: {
          id   : 'visitors_li',
          action: 'remove'},
        message:{
          project_visible:true,
        }
      })

    },
    components: { 
      'VisitorsList': VisitorsList, 
      // 'EventForm': EventForm, 
    },
    data() {
      return {
        select_visitors:[],
        action_visitors:[],
        visitorsBus:visitorsBus,


        users1:[
            {name: 'Tom', age: 23},
            {name: 'Bob', age: 26},
            {name: 'Alice', age: 28}
        ]
      }
    },
    methods:{
        // Add(){

        //   this.select_visitors.splice(this.select_visitors.length-1, 1)
        //   this.select_visitors.push({ 'id': 'new', 'name':'new',})

        //   this.action_visitors.splice(this.select_visitors.length-1, 1)
        //   this.action_visitors.push('edit')
        //   this.visitorsBus.$emit("selectEvent", 'new');

        // },

        // Back(){
        //   var hash = '/project/' + this.$props.id +'/'
        //   location.hash = hash
        //   location.href = location.href
        // },
        // Update(){
        //   // debugger
        //     this.action_event.splice(this.select_event.length-1, 1)
        //     this.action_event.push('edit')/**/
        // },
        // Delete(){
        //   this.eventBus.$emit("deleteEvent", this.select_event[0].id);
        // },
        handleMessage: function (payload) {
        // debugger
      },
    }
  }
</script>
