
<template>

  <v-container class='home-view'  id = 'projects-view'>
    <v-layout row wrap v-if="$store.state.user.permission_name != 'inout'">
      <v-flex xs12 style='overflow:auto'>
        <v-tabs fixed-tabs>
          <v-tab :key="1" @click='tabClick(1)'>Активные</v-tab>
          <v-tab :key="2" @click='tabClick(2)'>Завершенные </v-tab>

          <v-tab-item :key="1">
            <v-container>
              <v-layout row wrap v-if='!data_active.length' style='text-align: center; font-size: larger; padding: 40px; color: #2a3f54;'> Нет проданных билетов на активные проекты!<br> Статистика появится после покупки первого билета.</v-layout>

              <v-layout row wrap v-for='(item, index) in data_active' :key='item.id'>
                <v-container class='diagram_card' >
                  <v-layout class="h4_diagram">
                    <a class='title' v-bind:href="'/administration/#/project/'+item.id">{{item.name}}</a>
                  </v-layout>

                  <v-layout row wrap style='padding:10px'>
                    <v-flex xs12 sm6>
                      <div class='div_diagram'>
                        <h5 class="h5_diagram">Показатели продаж</h5>
                        
                        <table class='table_chart' style='background:#f5fffb' >
                          <tr class='tr_chart' v-for='table in item.data_table'>
                            <th class='th_chart'>{{table.label}}</th>
                            <td class='td_chart'>{{table.count}}</td>
                            <td class='td_chart'>{{table.percent}}</td>
                          </tr>
                        </table>

                      </div>
                      <div style='padding: 10px 20px;font-size: 18;color: #3f927b;'>Поступление денежных средств:  <b>{{item.amount_order}}</b> руб.</div>
                    </v-flex>

                    <v-flex xs12 sm6 style='padding:10px'>
                      <div class='div_diagram'>
                        <h5 class="h5_diagram">Количество активированных билетов</h5>
                        <pie-chart v-if='active_tab==1' :data="data_pie_active[index]" :width="400" :height="200" ></pie-chart> 
                      </div>
                    </v-flex>
                  </v-layout>

                </v-container>
              </v-layout> 
            </v-container>
            
          </v-tab-item>

          <v-tab-item :key="2">
            <v-container>
              <v-layout row wrap v-if='!data_end.length' style='text-align: center; font-size: larger; padding: 40px; color: #2a3f54;'> Нет проданных билетов на активные проекты!<br> Статистика появится после покупки первого билета.</v-layout>
              <v-layout row wrap v-for='(item, index) in data_end' :key='item.id'>

                <v-flex xs12 class='diagram_card' >

                  <v-layout class="h4_diagram">
                    <a class='title' v-bind:href="'/administration/#/project/'+item.id">{{item.name}}</a>
                  </v-layout>

                  <v-layout row wrap style='padding:10px'>
                    <v-flex xs12 sm6>
                      <div class='div_diagram'>
                        <h5 class="h5_diagram">Показатели продаж</h5>

                        <table class='table_chart' style='background:#f5fffb' >
                          <tr class='tr_chart' v-for='table in item.data_table'>
                            <th class='th_chart'>{{table.label}}</th>
                            <td class='td_chart'>{{table.count}}</td>
                            <td class='td_chart'>{{table.percent}}</td>
                          </tr>
                         
                        </table>
                      </div>
                      <div style='padding: 10px 20px;font-size: 18;color: #3f927b;'>Поступление денежных средств:  <b>{{item.amount_order}}</b> руб.</div>
                    </v-flex>

                    <v-flex xs12 sm6 style='padding:10px'>
                      <div class='div_diagram'>
                        <h5 class="h5_diagram">Количество активированных билетов</h5>
                        <pie-chart v-if='active_tab==2' :data="data_pie_end[index]" :width="400" :height="200" ></pie-chart> 
                      </div>
                    </v-flex>
                  </v-layout>

                </v-flex>

              </v-layout>
            </v-container>
          </v-tab-item>
        </v-tabs>
        
      </v-flex>
      
    </v-layout>
    
  </v-container>

</template>

<script>
import Vue from 'vue'
import $ from 'jquery'
import * as types from '../../store/mutation-types'
import router from './../../router'
import axios from 'axios';
import { mapGetters } from 'vuex';


import { Pie,Bar,Line, mixins } from 'vue-chartjs'
const { reactiveData } = mixins


Vue.component('line-chart', {
  extends: Line,
  mixins: [reactiveData],
  props: ['data'], 
  mounted () {
    this.renderChart(this.data, {responsive: true, maintainAspectRatio: false})
  }
})

Vue.component('pie-chart', {
  extends: Pie,
  mixins: [reactiveData],
  props: ['data'], 
  mounted () {
    this.renderChart(this.data, {responsive: true, maintainAspectRatio: false})
  }
})

Vue.component('bar-chart', {
  extends: Bar,
  mixins: [reactiveData],
  props: ['data'], 
  mounted () {
    this.renderChart(this.data, {responsive: true, maintainAspectRatio: false})
  }
})

var projectBus = new Vue();

  export default {
    name: 'test',
    select_project:'',
    data(){
      return {
        projectBus:projectBus,
        active_tab:1,
        timer:null,
        projects:[],
        data_active:[],
        data_end:[],

        data_pie_active:[],        
        data_pie_end:[],

        totalRecords: 0,
        serverParams: {
          columnFilters: {
          },
          select:{
          },
          sort: {
            field: '', 
            type: '',
          },
          search:{
            value: ''
          },
          page: 1, 
          perPage: 10
        },
      };
    },
    created() {
      if(this.$store.state.user.permission.indexOf('cashier_plus')>=0){
        location.hash = '#/ticket_sale/'
      }

      else{
        this.projectBus.$on("updateList", ()=>{
          this.Init()
        });

        this.$emit('message_ul', { message: {
          name : 'Главная', 
          link : location.pathname+'#',
          id   : 'home_li',
          action: 'add'}
        })
        this.Init()
        self=this

        this.timer= setInterval(function() {
          self.Init()
        }, 60000);

      }
      
    },
    destroyed(){
      clearInterval(this.timer)
      this.$emit('message_ul', { message: {
        id   : 'home_li',
        action: 'remove'}
      })
    },

    methods: {
      Init(){
        // debugger

        function formatDate() {
            var d = new Date()
            d.setMonth(-2);
              var month = '' + (d.getMonth() + 1),
              day = '' + d.getDate(),
              year = d.getFullYear();

            if (month.length < 2) month = '0' + month;
            if (day.length < 2) day = '0' + day;

            return [year, month, day].join('-');
        }

        if(this.$store.state.user.permission_name == 'expo'){
          Vue.set(this.serverParams.select, 'is_business',false)
        }
        if(this.$store.state.user.permission_name == 'business'){
          Vue.set(this.serverParams.select, 'is_business', true)       
        }
        Vue.set(this.serverParams.select, 'status', ['sale', 'end']) 
        Vue.set(this.serverParams.select, 'date_end__gte', formatDate()) 

        this.$api.get('../api/projects/statistics/', this.serverParams)
        .then(response => {
          // debugger
          if (response.data) {
            this.data_active=[]
            this.data_end=[]
            this.data_pie_active=[]        
            this.data_pie_end=[]

            var temp_tab = this.active_tab 
            this.active_tab = 0
            for( var i in response.data['activate']){


              var type_status

              if(response.data['activate'][i].status=='sale'){
                type_status='active'
              }if(response.data['activate'][i].status=='end'){
                type_status='end'
              }

              this['data_pie_'+type_status].push({
                labels: ['Не активированы', 'Активированы', 'Отменены'],
                datasets: [
                  {
                    label: 'Data One',
                    backgroundColor: ['#bfc4c9', '#4599dc', '#e74a3a'],
                    data: [response.data['activate'][i]['noactivate'], response.data['activate'][i]['activate'], response.data['activate'][i]['reset']]
                  }
                ]
              })

              this['data_'+type_status].push({
                name: response.data['activate'][i].name,
                id: response.data['activate'][i].id,
                amount_order:response.data['activate'][i].amount_order,
                // data_bar:this.data_bar,
                data_pie:this.data_pie,
                data_table: response.data.base_data[i]

              })
            }

            function func() {
              // debugger
             self.active_tab = temp_tab
            }
            var self=this
            setTimeout(func, 1000);
                // this.active_tab = temp_tab
          }
        })
        .catch(e => {
          console.log(e)
        })
      },

      tabClick(ind){
        function func() {
          self.active_tab=ind
          if(ind==1){
            self.data_pie_active = self.data_pie_active
          }if(ind==2){
            self.active_tab=ind
          }
        }
        var self=this
        setTimeout(func, 2000);
        debugger
      }, 
      tableRowClassName({row, rowIndex}) {

        if(row.type){  
          return row.type;
        }
        return '';
      },
      showModalFilter(){this.$modal.show('modal_filter');},
      filterProject(){
        let formData1 = new FormData();

            for (var data in this.modal_filter_form){
                formData1.append(data, this.modal_filter_form[data]);
            }
        this.$api.get('../api/projects/', this.modal_filter_form)
        .then(response => {
          console.log('response => ', response)
          if (response.data) {
            this.data = response.data
          }
        })
        .catch(e => {
          console.log(e)
        })
        

      },
      getProjects () {
        this.$api.get('../api/projects/?is_business=False')
        .then(response => {
          console.log('response => ', response)
          if (response.data) {
            this.data = response.data
          }
        })
        .catch(e => {
          console.log(e)
        })
      },
      selectProjects(data){
        var index = data.pageIndex
        var row = data.row
        this.select_project = row.id
        // this.$store.dispatch(types.TYPE_PROJECT, [false, row.id])
        location.hash = '#project/' + row.id+'/';
        location.href = location.href
      },
      addProject(){
        location.hash = '/project/new/'
        location.href = location.href
      },
      IndexMessageRedirect: function (payload) {
        this.$emit('message_ul', { message: payload.redirect})
        if (payload.message){
          this.projects_visible = payload.message.projects_visible
        }
      },
    },
    components:{

    }
};
</script>


<style>
  .el-table .money_row {
    background: #46bb9b17;
  }

  .el-table .activate_row {
    background: #9c58b817;
  }
  .el-table .money_head {
    background: #46bb9b30;
  }

  .el-table .activate_head {
    background: #9c58b830;
  }
  .diagram_card{
    background: #fafafa;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 10px;
    margin-bottom: 30px;
  }

  .h4_diagram{
    background: #939ea9;
    color: #fafafa;
    padding: 5px 15px;
  }

  .h4_diagram a{
    color: #fafafa;
  }

  .h5_diagram{
    border-bottom: 2px solid #E6E9ED;
    padding: 1px 5px 6px;
    color:#73879c;
  }

  .div_diagram{
    margin: 10px;
    overflow: auto;
  }

  @media only screen and (max-width: 767px) {
  .diagram_card{
    margin: 0px;
    margin-bottom: 0px;
  }
    
}
  

</style>
