

<template> 
  <v-container class='projects-view bv-example-row' id = 'project-view' style='position: inherit;'>
    <v-layout  @mouseover="show_element.basket = true"  @mouseleave="show_element.basket = false">
      <v-layout  align-end justify-center row class='basket_icon'>
        <v-flex xs12 class="d-none d-md-block" style='margin:20px 10px'>
          <span v-if='basket.count'>Билетов: <b-badge class='badge_basket'>{{basket.count}}</b-badge> шт.</span>
          <v-icon x-large  style='color: #54bf83;'>shopping_cart</v-icon>
        </v-flex>
        <v-flex xs12 class="d-block d-sm-block d-md-none d-lg-none d-xl-none">
          <v-icon x-large  style='color: #54bf83;'>shopping_cart</v-icon>
          <b-badge v-if='basket.count' class='badge_basket'>{{basket.count}}</b-badge>
        </v-flex>
      </v-layout>
      <v-layout  align-end justify-center row class='basket_icon_content' @mouseover="show_element.basket = true"  @mouseleave="show_element.basket = false">
        <transition name="fade">
          <v-flex xs12 class='basket_content' v-if='show_element.basket '>
            <b-list-group v-if='basket.count>0'>
              <b-list-group-item v-for='ticket in basket.tickets' :key='ticket.id' class='basket_content_list'>
                <b-button class='button_trash button_trash_right' v-on:click='DeleteInBasket(ticket, true)'>
                  <v-icon style='color: #54bf83;'>delete</v-icon>
                </b-button>
                <v-layout >
                  <v-flex xs3 style='text-align:center; padding:10px 0 0 0'>
                    <v-icon  style='color: #54bf83;'>receipt</v-icon>

                  </v-flex>
                  <v-flex xs9 style='padding:0'>
                    {{ticket.count}} x {{ticket.data.name}}
                  </v-flex>
                  <v-flex xs11 style='padding:0; text-align: right;' v-if='project.is_pay'>
                    Стоимость: {{ticket.count * (ticket.data.new_price? ticket.data.new_price:ticket.data.price)}}руб.
                  </v-flex>
                </v-layout>
              </b-list-group-item>
              <hr align="center" width="100%" size="2" color="#54bf83" />
              <p v-if='project.is_pay' style='padding:0; text-align: right;'>
                Итого, к оплате: {{basket.summ_new}} руб.
              </p>
              <div style='text-align: right;'>
                <b-button v-if = 'project.is_pay' class='button_buy_mini button_buy_green' v-on:click='Pay(0)'>К оплате</b-button>
                <b-button v-if = '!project.is_pay' class='button_buy_mini button_buy_green' v-on:click='Pay(0)'>Получить</b-button>
              </div>
            </b-list-group>
            <p v-else style='padding:0; text-align: center;'>
                Корзина пуста.
            </p>
          </v-flex>
        </transition>
      </v-layout>
    </v-layout>

    <v-layout align-start justify-center row class>
      <v-flex xs12 style='text-align:center'>
        <p class='project_name_green'>{{project.name}}</p>
        <v-icon>calendar_today</v-icon>
        <span v-if='project.date_start'>с {{project.date_start}}</span>
        <span v-if='project.date_end'> по {{project.date_end}}</span><br>
        <v-icon >access_time</v-icon>
        <span v-if='project.date_start'>c {{project.time_start}}</span>
        <span v-if='project.date_end'> до {{project.time_end}}</span><br>
      </v-flex>
    </v-layout>

    <v-layout align-start justify-center row class = 'content_buy' v-if='project.status_is_site'>
      <v-flex>
        <v-container id = 'project-view'>

          <v-layout align-start justify-center row >
            <v-flex xs12>
              <v-tabs fixed-tabs v-model="tabs_weekend" v-if = '!project.is_plane'> 
                <v-tab :key="0" v-if='project.is_weekend'>Выходной</v-tab>
                <v-tab :key="1" v-if='project.is_weekend'>Будний </v-tab>
                <v-tab :key="0" v-if='!project.is_weekend'>Все дни </v-tab>

                <v-tab-item v-for='id_tab in [0,1]' :key='id_tab' >
                  <v-container>
                    <v-layout align-start justify-space-around row class='ticket_tabs_content'>
                      <v-flex v-if='item.type_in_option=="all" 
                      || (project.is_weekend && tabs_weekend==0 && tabs_weekend==id_tab && item.type_in_option=="weekend")
                      || (project.is_weekend && tabs_weekend==1 && tabs_weekend==id_tab && item.type_in_option=="weekdays")' v-for='(item, id) in tickets_category' :key='id' xs12 sm6 md6 lg3>
                        <b-card :title="item.name" v-bind:class="{ active_card: basket.tickets[item.id]}">
                            <div v-if='item.description' class="card-text" style = 'height:80px' v-b-popover.hover="item.description" title="Описание категории" >
                                {{item.description.length>60? item.description.slice(0,60)+'...': item.description}}
                            </div>
                            <div v-else class="card-text" style = 'text-align: center;' >
                                <v-icon style='color: #54bf83;'>receipt</v-icon>
                            </div>
                            <div class="card-text" v-if='project.is_pay'>
                                <div v-if='item.new_price' style='text-align: center;'>
                                  <div class='price_discount'>{{item.price}} руб</div>
                                  <div class='price_standart'>{{item.new_price}} руб</div>
                                </div>
                                <div v-else style='text-align: center;'>
                                  <div class='price_discount'></div>
                                  <div class='price_standart'>{{item.price}} руб</div>
                                </div>
                            </div>
                            <transition  name="bounce"  v-on:before-enter="beforeEnter"
                                v-on:enter="enter"
                                v-on:leave="leave"
                                v-bind:css="false">
                                <b-img center v-if="show_element.ticket.view && show_element.ticket.select==item.id" class= "img_card" v-bind:src="project.logo" v-bind:name='item.id' v-bind:alt="project.name" />
                            </transition>
                            <div style='text-align:center' v-if='project.is_pay && project.is_form'>
                              <v-btn dark class='button_buy_green' v-on:click='AddToBasket(item, false)'> Выбрать</v-btn>
                            </div>
                            <div style='text-align:center' v-if='!project.is_pay && project.is_form'>
                              <v-btn dark class='button_buy_green' v-on:click='AddToBasket(item, false)'> Выбрать</v-btn>
                            </div>
                            <div style='text-align:center' v-if='project.is_pay && !project.is_form'>
                              <v-btn dark v-if='!basket.tickets[item.id] || !basket.tickets[item.id].count' v-on:click='AddToBasket(item, true)' class='button_buy_green'> В корзину</v-btn>
                              <div v-else>
                                <b-button class='button_buy button_buy_green' v-on:click='DeleteInBasket(basket.tickets[item.id])'>
                                  <v-icon class="white_icon">remove</v-icon>
                                </b-button>
                                <span style='font-size: x-large; color: #4b4f56; padding: 0 10px; font-weight: 600;'>{{basket.tickets[item.id].count}}</span>
                                <b-button class='button_buy button_buy_green' v-on:click='AddToBasket(item, true)'>
                                  <v-icon class="white_icon">add</v-icon>
                                </b-button>
                              </div>
                            </div>
                        </b-card>
                        
                      </v-flex>    
                    </v-layout>
                  </v-container>
                </v-tab-item>
              </v-tabs>
              
            </v-flex>
          </v-layout>

          <v-layout align-h="around" v-if = 'project.is_plane'>
            <Plane v-if='project.is_plane && tickets_category.length'
     
              :project='project'
              :tickets_category='tickets_category'
              :basket='basket'
              :tickets_basket='tickets_basket'> 
            </Plane>
          </v-layout>
        </v-container>
      </v-flex>
    </v-layout>

    <v-layout v-else>
      <v-flex xs12 style='text-align:center'>
        <p class='project_name_green'>Продажа билетов на мероприятие закрыта</p>
      </v-flex>
    </v-layout>
   
    <b-modal  class='modal_buy' ref="ModalBuy" size="sm" id="ModalBuy" hide-footer noCloseOnBackdrop noCloseOnEsc title="Оплата билетов" >
      <Modal v-if='$refs.ModalBuy && $refs.ModalBuy.is_visible'
        :project='project'
        :tickets_category='tickets_category'
        :basket='basket'
        v-on:close_modal="CloseModal"
      ></Modal>

    </b-modal>

  </v-container>





</template>

<script>
import axios from 'axios';
import $ from 'jquery'
import Vue from 'vue'
import Velocity from 'velocity-animate'



import Modal from './ModalBuy'
import Plane from './PlaneNew.vue';
  

  var formatingDate = function (dateIn) {
     var yyyy = dateIn.getFullYear();
     var mm = dateIn.getMonth() 
     var dd  = dateIn.getDate();
     var day = dateIn.getDay()
     return `${days[day]} ${dd} ${month[mm]} ${yyyy}`; 
  }
  var month = ['Января', 'Февраля', 'Марта', 'Апреля', 'Мая', 'Июня', 'Июля', 'Августа', 'Сентября', 'Октября', 'Ноября', 'Декабря']
  var days = ['вс', 'пн', 'вт', 'ср', 'чт', 'пт', 'сб'];

  export default {
    props: ['tickets_basket'],
    data() {
      return { 
        tabs_weekend:0,
        show_element:{
          basket:false,
          ticket:{
            select:'',
            vuew:false
          },
        }, 
        project:{},
        tickets_category:[],
        basket:{
          count:0,
          summ:0,
          summ_new:0,
          summ_promocode:0,
          summ_promocode_new:0,
          tickets:{},
          
        },

      }
    }, 
    components: { 
      'Modal': Modal,  
      'Plane': Plane,  
    },   
    
    created() {
      if(location.hash.indexOf('?')>=0){
        var project = parseInt(location.hash.slice(0,location.hash.indexOf('?')).replace(/\D+/g,""));
        var select_ticket = parseInt(location.hash.slice(location.hash.indexOf('?')).replace(/\D+/g,""))

        location.hash = location.hash.slice(0,location.hash.indexOf('?'))
      }else{
        var project = parseInt(location.hash.replace(/\D+/g,""));
        // var select_ticket = parseInt(location.hash.slice(location.hash.indexOf('?')).replace(/\D+/g,""))
      }

      axios.get(`/api/project/${project}/`, {          
        })
        .then(response => {
          this.project = response.data
          if (response.data.status == 'plane'){
            location.hash= '#/'
          }else{
            if(this.project.date_start==this.project.date_end){
              this.project.date_end = ''

            }else{
              this.project.date_end = formatingDate(new Date(response.data.date_end));
            }
            this.project.date_start = formatingDate(new Date(response.data.date_start));
            this.project.time_start = this.project.time_start.slice(0,5)
            this.project.time_end = this.project.time_end.slice(0,5) 

            if(this.project.status_is_site){
              this.InitCategory()
            }

          }
        })
    },
    destroyed(){

    },
          
    methods: {
      beforeEnter: function (el) {
        el.style.opacity = 0.7
        Velocity(el, { scale: '0' }, { duration: 0 })
        Velocity(el, { scale: '1.5' }, { duration: 600 })
        Velocity(el, { scale: '1' }, { duration: 600 })
      },
      enter: function (el, done) {
        var coord = document.getElementsByName(el.name)[0].getBoundingClientRect();
        
        if(coord.x && coord.y){
          var x = window.innerWidth - coord.x - coord.width
          var y = coord.y
        }else{
          var x = window.innerWidth - coord.right
          var y = coord.top
        }
        Velocity(el, { 
          translateY: `${-y+10}px`,
          translateX: `${x-40}px`,
        }, { duration: 1000 })
        
        var self = this;
        setTimeout(function() { 
            self.show_element.ticket.view = false
            self.show_element.ticket.select = ''
            var a =0
        }, 2000);
      },
      leave: function (el, done) {
        var temp = 1
         Velocity(el, { opacity: 0 }, { })
         el.classList.remove('d-block')
        setTimeout(function() { 
            el.style.display = 'none'
        }, 500);
      },

      InitCategory(){
        if (this.project.id){
          axios.get(`/api/${this.project.id}/tickets/category/`, {})
          .then(response => {
            this.tickets_category = response.data

            for(var i in response.data){
              
              if(this.tickets_category[i].discount.length && typeof(response.data[i].discount)=='object'){
                Vue.set(this.tickets_category[i], 'new_price', this.tickets_category[i].price)

                for(var j in this.tickets_category[i].discount){
                  if(this.tickets_category[i].discount[j].date && new Date(this.tickets_category[i].discount[j].date) < new Date()){
                    continue
                  }
                  var new_price =  this.tickets_category[i].price
                  debugger
                  if(this.tickets_category[i].discount[j].type_value=='percent'){
                    var new_price = this.tickets_category[i].price - (this.tickets_category[i].price*this.tickets_category[i].discount[j].value/100)
                  }else if(this.tickets_category[i].discount[j].type_value=='number'){
                    debugger
                    var new_price = this.tickets_category[i].price - this.tickets_category[i].discount[j].value
                  }
                  if(new_price< this.tickets_category[i].new_price){
                    this.tickets_category[i].new_price = new_price
                  }
                }
              }
            }
          })
        }
      },

      AddToBasket(obj, many){
        this.show_element.ticket.view = true
        this.show_element.ticket.select = obj.id
        if(many){
         debugger
          if(this.basket.tickets[obj.id]){
            this.basket.tickets[obj.id].count+=1   
            this.basket.summ += obj.price
            this.basket.summ_new += obj.new_price? obj.new_price : obj.price
            this.basket.summ_promocode += obj.price
            this.basket.count += 1         
            
          }else{
            Vue.set(this.basket.tickets, obj.id, {
              count:obj.count,
              data:obj,
            })
            this.basket.summ += obj.price * obj.count
            this.basket.summ_new += (obj.new_price? obj.new_price : obj.price)*obj.count
            this.basket.summ_promocode += obj.price * obj.count
            this.basket.count += obj.count
          }           
          
        }else{
          debugger
          Vue.set(this.basket, 'tickets', {})

          Vue.set(this.basket.tickets, obj.id, {
            count:1,
            data:obj,
          })
          this.basket.summ = obj.price
          this.basket.summ_new = obj.new_price? obj.new_price : obj.price
          this.basket.summ_promocode = obj.price
          this.basket.count = 1
        }
      },

      DeleteInBasket(obj, all=null){
        // debugger
        if (all){
          // debugger
          if(this.project.is_pay && this.project.is_form){
            this.basket.count = this.basket.count - obj.count
            this.basket.summ = this.basket.summ - obj.count * obj.data.price
            this.basket.summ_promocode = this.basket.summ - obj.count * obj.data.price
            this.basket.summ_new = this.basket.summ - obj.count * (obj.data.new_price ? obj.data.new_price : obj.data.price)
          }
          if(this.project.is_pay && !this.project.is_form){
            // debugger
            this.basket.count = this.basket.count - obj.count
            this.basket.summ = this.basket.summ - obj.count * obj.data.price
            this.basket.summ_promocode = this.basket.summ
            this.basket.summ_new = this.basket.summ_new - obj.count * (obj.data.new_price ? obj.data.new_price : obj.data.price)
          }
          if(this.project.is_plane){
            this.$children[1].UpdatePlane(obj.data.id)
          }
          delete this.basket.tickets[obj.data.id]
        }else{
          if(this.project.is_pay && !this.project.is_form){
            // debugger
            if(obj.count == obj.data.count){
              obj.count = obj.count-obj.data.count
              this.basket.count = this.basket.count - obj.data.count
              this.basket.summ = this.basket.summ - (obj.data.price* obj.data.count)
              this.basket.summ_promocode = this.basket.summ
              this.basket.summ_new = this.basket.summ
            }else{
              obj.count = obj.count-1
              this.basket.count = this.basket.count - 1
              this.basket.summ = this.basket.summ - obj.data.price
              this.basket.summ_promocode = this.basket.summ
              this.basket.summ_new = this.basket.summ
            }
            
            if(obj.count == 0){
              delete this.basket.tickets[obj.data.id]
            }
          }
        }
        
      },

      Pay(page){
        if(page ==0){
          this.$refs.ModalBuy.show()
        }

      },

      CloseModal(){
        this.$refs.ModalBuy.hide()
      },

      GetBasket(payload){
        this.$emit('get_basket', payload)
      },
      OpenBasket(){
        this.basket_show = true
      },
      
      
    }
};
</script>
<style>
  /*svg{
    color:#fff !important;
  }*/
</style>
<style scoped>

.content_buy{
  min-height: 67vh;
}

.img_card{
    height: 50px;
    position: absolute;
    z-index: 1001;
    right: calc(50% - 40px);
    bottom: 65px;
}

.basket_icon{
  height: 80px;
  text-align: right;
  position: fixed;
  right: 0;
  top: 5px;
  color: white;
  z-index: 101;
  width: 300px;
  margin-right: 40px;
}
.basket_icon_content{
    position: fixed;
    right: 0;
    top: 50px;
    color: white;
    z-index: 99;
    padding: 20px 10px;
    width: 300px;
}

.basket_content{
  top: 24px;
  background: rgba(1,1,1,0.75);
  padding: 10px;

}
.basket_content_list{
  background: rgba(0,0,0,0);
}

.badge_basket{
  background: #f15f43;
  margin-top: 15px;
}


.ticket_tabs_content{
  padding: 20px 0px;
}

.active_card{
  background: #efffff;
  border: 1px solid #88f2b3;
}

.card-title {
  height: 52px;
  overflow: hidden;
}
.card-text{
  height:80px;
  text-align: justify;
  color: #74797f
} 

.price_discount{
  height: 25px;
  text-decoration: line-through;
  font-size: 15pt;
  text-decoration-color: #f15f43;
}
.price_standart{
  font-size: 25pt;
  color: #54bf83;
  font-weight: 600;
}

.fade-enter-active, .fade-leave-active {
  transition: all 1s ease;

}
.fade-enter, .fade-leave-to {
  opacity: 0;
  transform: translateY(-100%);
}

@media only screen and (max-width: 767px) {
  .basket_content{
    top: 14px;
  }

  .basket_icon{
    top: 15px;
    height: 50px;
    margin-right: 0px !important;
  }

  .basket_icon_content{
    top: 40px;
  }
    
}

  
 
</style>