

<template > 
<b-col col cols='12' class='Forms' id = 'Forms'>
  <b-row>
    <b-col cols='12'>
      <h2 style="text-align: center;"><strong><span style="color: #5e2b81;">РЕГИСТРАЦИЯ НА ВЫСТАВКУ</span></strong></h2>
      <h2 style="text-align: center;"><strong><span style="color: #5e2b81;">{{project.name}}</span></strong></h2>
    </b-col>
    <b-col cols='12' class='div_info_reg'>
      <p v-if = '!project.is_pay' style="text-align: center;">Заполнение анкеты на сайте значительно сократит Ваше время регистрации на мероприятие. </p>
      <p v-if = 'project.is_pay' style="text-align: center;">Заполнение анкеты на сайте значительно сократит Ваше время регистрации на мероприятие. После заполнения анкеты необходимо оплатить билет.</p>
    </b-col> 
  </b-row>
  
  <b-row class="justify-content-sm-center">
    <b-col cols="12" sm="8"  md="8"  lg="6"  xl="5">
      <b-form v-if="form.form" class='form'> 
         <b-row v-for='(ques, index_form in form.form' class='row_questions'>
              <b-col cols="12" sm="12"  md="12"  lg="12"  xl="12" class='col_questions'>
                <div v-if='ques.params.addiction && ques.params.addiction.id && form.result[ques.params.addiction.id].value && ques.params.addiction.value.indexOf(form.result[ques.params.addiction.id].value) >= 0'  class='text_questions'>
                  {{ques.text}}
                </div>
                <div v-if='!ques.params.addiction' class='text_questions'>
                  {{ques.text}}
                </div>
              </b-col>

              <b-col cols="12" sm="12"  md="12"  lg="12"  xl="12" class='col_questions' 
              v-if='!ques.params.addiction || (ques.params.addiction.id && form.result[ques.params.addiction.id].value && ques.params.addiction.value.indexOf(form.result[ques.params.addiction.id].value) >= 0)'>
                <b-form-input class="input_custom" v-if='ques.type=="text"'
                  type="text"
                  v-model="form.result[index_form]"
                  required placeholder="Введите текст">
                </b-form-input>
              
                <b-form-input class="input_custom" v-if='ques.type=="number"'
                  type="number"
                  v-model="form.result[index_form]"
                  required placeholder="Введите число">
                </b-form-input>
              
                <b-form-input class="input_custom" v-if='ques.type=="phone"'
                  type="tel"
                  v-model="form.result[index_form]"
                  placeholder="Введите телефон">
                </b-form-input>
              
                <b-form-input class="input_custom" v-if='ques.type=="email"'
                  type="email" name="email"
                  v-model="form.result[index_form]"
                  placeholder="Введите e-mail">
                </b-form-input>
              
                <div v-if='ques.type=="choice"'>

                  <div v-if='ques.params.addiction && ques.params.addiction.id && form.result[ques.params.addiction.id].value'>
                      <!-- зависимый -->
                    <div v-if="form.result[ques.params.addiction.id].value ">
                       <b-form-select v-if='ques.params.addiction.value.indexOf(form.result[ques.params.addiction.id].value) >= 0'
                       v-model="form.result[index_form].value" :options="ques.params.choice" class="input_custom" placeholder="Выберите значение"/>
                    </div>
                    
                  </div>
                  <div v-else>
                    <!-- не зависимый -->
                    <div v-if='!ques.params.text_field'>
                      <div v-if='!ques.params.many'>
                        <b-form-select v-model="form.result[index_form].value" :options="ques.params.choice" class="input_custom" />
                      </div>
                      <div v-else>
                        <b-form-group>
                          <b-form-checkbox-group v-model="form.result[index_form].value">
                            <b-form-checkbox v-for='checkb in ques.params.choice' v-bind:value="checkb.value">{{checkb.text}}</b-form-checkbox>
                          </b-form-checkbox-group> 
                        </b-form-group>
                      </div>
                    </div>
                    <div v-else>
                      <div v-if='!ques.params.many' style = 'text-align: left;'>
                          <b-form-radio-group id="radios2" v-model="form.result[index_form].value" >
                            <b-form-radio v-for='radio in ques.params.choice' v-bind:value="radio.value">{{radio.text}}</b-form-radio>
                            <b-form-radio value="other">     
                              <b-form-input class="input_custom input_custom_other" 
                                type="text"
                                v-model="form.result[index_form].text"
                                required placeholder="Другое"
                                v-on:change='SetOther(form.result[index_form])'>
                              </b-form-input> 
                            </b-form-radio>
                          </b-form-radio-group> 
                      </div>
                      <div v-else style = 'text-align: left;'>
                        <b-form-group>
                          <b-form-checkbox-group v-model="form.result[index_form].value">
                            <b-form-checkbox v-for='checkb in ques.params.choice' v-bind:value="checkb.value">{{checkb.text}}</b-form-checkbox>
                            <b-form-checkbox value="other">
                              <b-form-input class="input_custom input_custom_other"
                                type="text"
                                v-model="form.result[index_form].text"
                                required placeholder="Другое"
                                v-on:change='SetOther(form.result[index_form])'>
                              </b-form-input>
                            </b-form-checkbox>
                          </b-form-checkbox-group> 
                        </b-form-group>                    
                        </div> 
                    </div>
                  </div>
                  
                </div>

                <div v-if='ques.type=="city"'>
                  <div v-if='!ques.params.country'>     

                    <v-select 
                      v-model="form.result[index_form]"
                      label='name'
                      :options="form_options.city"
                      @search:focus="onFocusCity(index_form)"
                      @search="onSearchCity"> 
                    </v-select>                       
                  </div>
                  <div v-if='ques.params.country'>
                    <b-row>
                      <b-col cols="12" sm="12"  md="6"  lg="6"  xl="4">
                        <v-select 
                          v-model="form.result[index_form].country"
                          label='name'
                          :options="form_options_country.country.data"
                          @search:focus="onFocusCountry(index_form)"
                          @search="onSearchCountry"
                          @input="onInputCountry"> 
                        </v-select>

                      </b-col>
                      <b-col cols="12" sm="12"  md="6"  lg="6"  xl="4">
                        <v-select 
                          v-if='form.result[index_form].country &&form.result[index_form].country.name'
                          v-model="form.result[index_form].region"
                          label='name'
                          :options="form_options_country.region.data"
                          @search:focus="onFocusRegion(index_form)"
                          @search="onSearchRegion"
                          @input="onInputRegion"
                          > 
                        </v-select>
                      </b-col>

                      <b-col cols="12" sm="12"  md="126"  lg="12"  xl="4">
                        <v-select 
                          v-if='form.result[index_form].region && form.result[index_form].region.name'
                          v-model="form.result[index_form].city"
                          label='name'
                          :options="form_options_country.city.data"
                          @search:focus="onFocusCityArr(index_form)"
                          @search="onSearchCityArr"
                          @input="onInputCityArr"
                          > 
                        </v-select>
                        
                      </b-col>
                      
                    </b-row>
                  </div>
                  
                </div>

                <b-form-input class="input_custom" v-if='ques.type=="date"'
                  type="date"
                  v-model="form.result[index_form]"
                  required placeholder="Введите дату">
                </b-form-input>
              </b-col>
          <span class='text_error'>
                  {{form.error[index_form]}}
          </span>
        </b-row>


        <b-row class='row_questions'>
          <div class='text_questions'>
              Согласие на обработку данных
          </div>
          <a href="https://www.donexpocentre.ru/ru/about/privacy-policy/" target="_blank">Политика конфиденциальности АО "Донэкспоцентр"</a>
          <b-form-checkbox v-model="accepted" style='padding-left:0'
                           value=true
                           unchecked-value=false>
            Я согласен на обработку персональных данных
          </b-form-checkbox>
          <span class='text_error'>
                  {{accepted_error}}
          </span>
        </b-row>

        <b-row >
          <b-col style = 'text-align: center;'>
            <b-button v-if='!project.is_pay' v-on:click='GetTicket(false)'>Получить билет</b-button>
            <b-button v-if='project.is_pay' v-on:click='GetTicket(true)'>Оплатить</b-button>
          </b-col>
        </b-row>

      

      </b-form>
    </b-col>
  </b-row>


   <b-modal  class='modal_buy' ref="ModalBuy" id="ModalBuy" hide-footer noCloseOnBackdrop noCloseOnEsc title="Контактные данные" @hidden = 'Test'>

    <el-steps :active="step.active" finish-status="success">
      <el-step v-if='step.type.indexOf("form")>=0' title="Анкета"></el-step>
      <el-step v-if='step.type.indexOf("select")>=0' title="Билеты"></el-step>
      <el-step v-if='step.type.indexOf("confirm")>=0' title="Данные"></el-step>
      <el-step v-if='step.type.indexOf("get")>=0' title="Готово"></el-step>
      <el-step v-if='step.type.indexOf("pay")>=0' title="Оплата"></el-step>
    </el-steps>

    <b-row v-if='step.type[step.active] == "select"'>
      <b-col cols='12' v-for='category in tickets_category.data'>

        <b-card :title="category.name"
                v-if='select_ticket.data.indexOf(category.id)>=0'
                tag="article"
                style="width: 99%; background: #e8f5e9; border: 1px solid #b6c2b7;"
                class="mb-2 card_ticket"
                v-on:click='SelectTicket(category)'>
                <p class="card-text"> {{category.description}}</p>
                <p class="card-price"> <span class='card-price-value card-price-value-green'>{{category.price}} руб.</span></p>
        </b-card>
        <b-card :title="category.name"
                v-else
                tag="article"
                style="width: 99%;"
                class="mb-2 card_ticket"
                v-on:click='SelectTicket(category)'>
                <p class="card-text"> {{category.description}}</p> 
                <p class="card-price"> <span class='card-price-value'>{{category.price}} руб.</span></p>  
        </b-card>
      </b-col>
    </b-row>

    <b-row v-if='step.type[step.active] == "confirm"'>

      <h4 class='h4_green'>Данные пользователя</h4>
      <div class='h4_green_body'>
        <b-row>
          <b-col cols='8'>

            <div v-if='project.type_confirm_user == "email"'>
              <b-row>
                <b-col cols="7">
                  <b-form-input style='margin: 5px;' type="email" name="email" id="email" v-model="data_pay.email" placeholder="e-mail"></b-form-input>
                </b-col>   

                <b-col cols="5" style = 'padding: 5px;'>
                  <div v-if='data_pay.time>0'>Повторная отправка через {{data_pay.time}}сек.</div>
                  <b-button v-else class='button_modal_buy'  variant="secondary" @click='ConfirmContactData(false)' >Получить код</b-button>
                </b-col> 
              </b-row>

                <b-row v-if = 'this.data_pay.mail_request'>
                  <b-col cols="7">
                    <b-form-input style='margin: 5px;' type="text"  v-model="data_pay.code" placeholder="Код подтверждения"></b-form-input>
                  </b-col>   

                  <b-col cols="5" style = 'padding: 5px;'>
                    <b-button  class='button_modal_buy'  variant="secondary" @click='ConfirmContactData(true)' >Подтвердить</b-button>
                  </b-col> 
                </b-row>
                <b-row>
                  <div style = 'text-align: center; width: 100%; font-size: 13px; color: #dc3545;'>{{data_pay.error}}</div>
                </b-row>

            </div>
            <div v-if='project.type_confirm_user == "none"'>
               <b-row>
                <b-col cols="12">
                  <b-form-input style='margin: 5px;' type="email" name="email" id="email" v-model="data_pay.email" placeholder="e-mail"></b-form-input>
                </b-col>    
              </b-row>

            </div>

            <div v-if='project.is_promocode'>
              <div v-if='!promocode.select' v-on:click='promocode.select=true' class='promocode_url'>промокод </div>
              <div v-if='promocode.select'>
                
                <b-row>
                  <b-col cols="7">
                    <b-form-input style='margin: 5px;' type="text"  v-model="promocode.promocode" placeholder="промокод"></b-form-input>
                  </b-col>   

                  <b-col cols="5" style = 'padding: 5px;'>
                    <b-button class='button_modal_buy'  variant="secondary" @click='ActivatePromocode' >Активировать</b-button>
                  </b-col> 
                </b-row>
                <p style='margin-left: 5px; font-size: 10pt; color: #ff7043;'>{{promocode.errors}}</p>

              </div>
               
            </div>
            <!-- <b-row style='margin-bottom: 10px; bottom: 0px; position: absolute; width: 100%;'>
              <b-col > 
                <b-button v-if='data_pay.confirm && !project.is_pay' class='button_modal_buy' style='float: right;' variant="secondary" @click='CreateOrder' >Получить билеты</b-button>
                <b-button v-if='data_pay.confirm && project.is_pay' class='button_modal_buy' style='float: right;' variant="secondary" @click='CreateOrder' >Оплатить билеты</b-button>
              </b-col>
            </b-row> -->
          </b-col>

          <b-col cols='3' class='itog_price_card'>
            <p>Итого</p>
            <div v-if='select_ticket.amount.start != select_ticket.amount.finish'>
              <p class='price_not_actual'> {{select_ticket.amount.start}} руб.</p>
              <p class='price_actual'>{{select_ticket.amount.finish}} руб.</p>
            </div>
            <div v-if='select_ticket.amount.start == select_ticket.amount.finish' > 
              <p class='price_actual'>{{select_ticket.amount.start}} руб.</p>
            </div>
          </b-col>
        </b-row>
      </div>
       
    </b-row>
    <b-row v-if='step.type[step.active] == "pay"'>
      <iframe id="myframe" v-bind:src="formUrl" width="40" height="700"></iframe>
    </b-row>

    <b-row v-if='step.type[step.active] == "get"'>
      <p style=' width: 100%; text-align: center; margin: 20px'>
        Спасибо за регистрацию<br>
        Билет будет отправлен Вам на электронную почту. 
      </p>
    </b-row>

    <el-button v-if='step.button != "close"' style="margin-top: 12px;" @click="next">{{step.button}}</el-button>
    
    <!-- <div  style='padding:10px; height:300px' v-if='form_view_page==1'>
      <b-tabs>
        <b-tab v-for='item in tickets' :title="item.id" active>
          <b-form-radio-group v-model="select_ticket" name="radioSubComponent">
            <b-form-radio v-for = 'ticket in item.data' :value="ticket.id" class='radio_type_ticket'>{{ticket.name}}</b-form-radio>
          </b-form-radio-group>
        </b-tab>
       
      </b-tabs>
      <b-row style='margin-bottom: 10px; bottom: 0px; position: absolute; width: 100%;'>
        <b-col > 
          <b-button v-if='select_ticket' class='button_modal_buy' style='float: right;' variant="secondary" @click='form_view_page=2' >Продолжить</b-button>
          <b-button v-if='!select_ticket' disabled class='button_modal_buy' style='float: right;' variant="secondary" @click='form_view_page=2' >Продолжить</b-button>
        </b-col>
      </b-row>
    </div>

    <div  style='padding:10px; height:300px' v-if='form_view_page==2'>


      11111

        <div v-if='project.type_confirm_user == "email"'>
           <b-row>
            <b-col cols="7">
              <b-form-input style='margin: 5px;' type="email" name="email" id="email" v-model="data_pay.email" placeholder="e-mail"></b-form-input>
            </b-col>   

            <b-col cols="5" style = 'padding: 5px;'>
              <div v-if='data_pay.time>0'>Повторная отправка через {{data_pay.time}}сек.</div>
              <b-button v-else class='button_modal_buy'  variant="secondary" @click='ConfirmContactData(false)' >Получить код</b-button>
            </b-col> 
          </b-row>

          <b-row v-if = 'this.data_pay.mail_request'>
            <b-col cols="7">
              <b-form-input style='margin: 5px;' type="text"  v-model="data_pay.code" placeholder="Код подтверждения"></b-form-input>
            </b-col>   

            <b-col cols="5" style = 'padding: 5px;'>
              <b-button  class='button_modal_buy'  variant="secondary" @click='ConfirmContactData(true)' >Подтвердить</b-button>
            </b-col> 
          </b-row>
          <b-row>
            <div style = 'text-align: center; width: 100%; font-size: 13px; color: #dc3545;'>{{data_pay.error}}</div>
          </b-row>

        </div>
        <div v-if='project.type_confirm_user == "none"'>
           <b-row>
            <b-col cols="12">
              <b-form-input style='margin: 5px;' type="email" name="email" id="email" v-model="data_pay.email" placeholder="e-mail"></b-form-input>
            </b-col>    
          </b-row>

        </div>

        <b-row style='margin-bottom: 10px; bottom: 0px; position: absolute; width: 100%;'>
          <b-col > 
            <b-button v-if='data_pay.confirm && !project.is_pay' class='button_modal_buy' style='float: right;' variant="secondary" @click='CreateOrder' >Получить билеты</b-button>
            <b-button v-if='data_pay.confirm && project.is_pay' class='button_modal_buy' style='float: right;' variant="secondary" @click='CreateOrder' >Оплатить билеты</b-button>
          </b-col>
        </b-row>
    </div>

    <div  style='padding:10px; height:300px; text-align:center' v-if='form_view_page==3'>

      Спасибо за регистрацию. Билеты отправлены Вам на почту. Для посещения мероприятия необходимо предъявить билет в распечатанном или электронном виде.
  
    </div> -->

  </b-modal>

    
</b-col>
</template>

<script>
import Vue from 'vue'
import axios from 'axios';

import vSelect from 'vue-select'




  export default {
    props: ['tickets_basket', 'project'],
    components: {
      vSelect, 

    },
    data() {
      return {
        formUrl:'',
        step:{
          button:'Продолжить',
          count:0,
          active: 0,
          type:[],
        },

        form_view_page:1,
        form:{},
        accepted: true,
        accepted_error: '',
        form_options:{
          select:'',
          city:[]
        },
        form_options_country:{
          select:'',
          country:{select:'', data:[]},
          region:{select:'', data:[]},
          city:{select:'', data:[]}
        },

        data_pay:{},
        tickets_category:{
          count:'',
          data:{}
        },        
        tickets:{},  

        select_ticket:{
          amount:{
            start:0,
            finish:0
          },
          data:[],
          count:{}
        },  

        promocode:{
          select:false,
          promocode:'',
          data:'',
          errors:''
        },    

      } 
    },

    created() {
      // debugger
      this.FormsTicket()


    
    },

    validEmail:function(email) {
        var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
      },


    methods: {
      ActivatePromocode(){
        this.promocode.data = this.data_pay.email
        axios.post(`/api/${this.project.id}/tickets/buy/activate_loyalty/`, {
          params:this.promocode,
        })
        .then(response => {
          debugger
          Vue.set(this.promocode, 'errors', '')
          if(response.data){
          
              if(response.data.type = 'percent'){ 
              this.select_ticket.amount.finish = this.select_ticket.amount.start - this.select_ticket.amount.start * response.data.value/100
              // Vue.set(this.pay_params, 'summ_new', 500)
              
              }else{
                 this.select_ticket.amount.finish=this.select_ticket.amount.start - response.data.value
              } 

          }
          

        }).catch(error => {
          debugger
          this.select_ticket.amount.finish = this.select_ticket.amount.start
          this.promocode.errors =  error.error
        })
      },

      CreateStep(){
        if(this.project.is_form){
          this.step.type.push('form')
          this.step.count+=1
          this.step.active=1
        }
        if(this.tickets_category.count){
          this.step.type.push('select')
          this.step.count+=1
        }
        this.step.type.push('confirm')
        this.step.count+=1
        if(this.project.is_pay){
          this.step.type.push('pay')
          this.step.count+=1
        }else{
          this.step.type.push('get')
          this.step.count+=1
        }
      },

      SelectTicket(object){
        if(this.project.is_form){
          // если проект с анкетами, то одна анкета- один билет
          this.select_ticket.data = [object.id,]
          this.select_ticket.amount.start = object.price
          this.select_ticket.amount.finish = object.price

        }
        // debugger
      },

      next() {
        // debugger
        if(this.step.type[this.step.active] == "select"){
          if(this.select_ticket.data.length){
            this.step.active++
          }
        }
        else if(this.step.type[this.step.active] == "confirm"){
          if(this.data_pay.email && this.data_pay.confirm){
            // if(this.project.is_pay){
            //   this.CreateOrder()
            //   this.step.button = 'close'
            // }else{
            //   debugger
              this.CreateOrder()
              // this.step.button = 'Завершить'
            // }
            
            
          }
        }
        else{
          this.step.active++
          if (this.step.active > this.step.count-1) {
            this.$refs.ModalBuy.hide()
          }
          
                    
        }


        
      },

      onFocusCity(id){
        Vue.set(this.form_options, 'select', id)
        this.InitCity(this.form.form[id])
      },
      onSearchCity(search, loading){
        this.InitCity(this.form.form[this.form_options.select], search)
      },

      onFocusCountry(id){
        Vue.set(this.form_options, 'select', id)
        this.InitCountry(this.form.form[id], 'country')
      },

      onSearchCountry(search, loading){
        this.InitCountry(this.form.form[this.form_options.select], 'country', search)
      },

      onInputCountry(data){
        if(data){
          this.form_options_country.country.select = data.id
        }else{
          this.form_options_country.country.select = null
        } 
      },

      onFocusRegion(id){
        Vue.set(this.form_options, 'select', id)
        this.InitCountry(this.form.form[id], 'region')
      },

      onSearchRegion(search, loading){
        this.InitCountry(this.form.form[this.form_options.select], 'region', search)
      },

      onInputRegion(data){
        if(data){
          this.form_options_country.region.select = data.id
        }else{
          this.form_options_country.region.select =  null
        }
      },

      onFocusCityArr(id){
        Vue.set(this.form_options, 'select', id)
        this.InitCountry(this.form.form[id], 'city')
      },

      onSearchCityArr(search, loading){
        this.InitCountry(this.form.form[this.form_options.select], 'city', search)
      },

      onInputCityArr(data){
        if(data){
          this.form_options_country.city.select = data.id
        }else{
          this.form_options_country.city.select = null
        }        
      },

      SetOther(query){
        debugger
        query.value.push('other')
      },

      ConfirmContactData(code){
        Vue.set(this.data_pay, 'error', '')

        if(code){
          axios.post(`/api/${this.project.id}/tickets/buy/email/`, {
            code:this.data_pay.code,
            email:this.data_pay.email,
          })
          .then(response => {
              Vue.set(this.data_pay, 'confirm', true)
          }).catch(e => {
             Vue.set(this.data_pay, 'error', 'Неверный код подтверждения')
          })

        }else{

          Vue.set(this.data_pay, 'code', '')
          Vue.set(this.data_pay, 'mail_request', true)
          Vue.set(this.data_pay, 'time', 120)

          var self = this

          var timerId = setInterval(function() {
            self
            self.data_pay.time-=1
          }, 1000);

          setTimeout(function() {
            clearInterval(timerId);
            self.data_pay.time = 0
          }, 120000);

          axios.post(`/api/${this.project.id}/tickets/buy/email/`, {
            email:this.data_pay.email,
          })
          .then(response => {
              
          })

        }
      },

      FormsTicket(){
          this.$api.get('/api/project/'+this.project.id+'/forms/', {type:'registr'})
            .then(response => {
                var form = JSON.parse(response.data[0].data)
                debugger
                Vue.set(this, 'form', {
                  validate:true,
                  form:form,
                  result:{},
                })

                Vue.set(this.form, 'result', {})
                Vue.set(this.form, 'error', {})

                for(var j in this.form.form){
                  if(this.form.form[j].params.addiction){
                    if(!this.form.form[j].params.addiction.id){
                      delete this.form.form[j].params["addiction"]
                    }
                  }
                  if(this.form.form[j].type == 'city'){
                    if(this.form.form[j].params.country){
                      Vue.set(this.form.result, j, {country:{}, region:{}, city:{}})
                    }else{
                      Vue.set(this.form.result, j, {})
                    }
                    
                  }
                  else if(this.form.form[j].type == 'choice'){
                    if(this.form.form[j].many == true){
                      Vue.set(this.form.result, j, {text:'', value:[]})
                    }else{
                      Vue.set(this.form.result, j, {text:'', value:[]})
                    }
                  }else{
                    Vue.set(this.form.result, j, '')
                  }
                  Vue.set(this.form.error, j, '')
                }
            })      
      },

      InitCity(obj, str=null){

        this.$api.get('/api/reference/info/city/', {
          type:'only_city',
          str:str,
        })
        .then(response => {
          Vue.set(this.form_options, 'city', response.data)    
        })
      },

      InitCountry(obj, type=null, str=null){
        if (type == 'country'){
          var data = {
            type:type,
            str:str,
          }
        }
        if (type == 'region'){
          // debugger
          var data = {
            type:type,
            str:str,
            country:this.form_options_country.country.select
          }
        }

        if (type == 'city'){
          // debugger
          var data = {
            type:type,
            str:str,
            region:this.form_options_country.region.select
          }
        }
        this.$api.get('/api/reference/info/city/', data)
        .then(response => {
          Vue.set(this.form_options_country[type], 'data', response.data)    
        })    
      },

      GetTicket(pay){
        this.step.button = 'Продолжить'
        this.accepted_error = ''
        // debugger
          this.form.validate = true

          if(this.accepted == 'false'){
            this.accepted_error = 'Это поле обязательно для заполнения.'
            this.form.validate = false
          }

          for(var i in this.form.form){
            this.form.error[i] = ''

            if(this.form.form[i].params.addiction && !this.form.form[i].params.nul){
              if(this.form.result[this.form.form[i].params.addiction.id] != this.form.form[i].params.addiction.value[0]){
                continue
              }
            }
            if(this.form.form[i].type == 'text' && !this.form.form[i].params.nul){
              if (this.form.result[i].length>this.form.form[i].params.max_length){
                this.form.error[i] = "Длина ответа должна быть менее "+this.form.form[i].params.max_length
                this.form.validate = false
              }
              if (this.form.result[i].length<=0 ){
                this.form.error[i] = "Это поле обязательно для заполнения."
                this.form.validate = false
              }
            }
            if(this.form.form[i].type == 'city' && !this.form.form[i].params.nul){
              debugger
              if (this.form.result[i].length<=0 ){
                this.form.error[i] = "Это поле обязательно для заполнения."
                this.form.validate = false
              }
              if (this.form.result[i]>this.form.form[i].params.max || this.form.result[i]<this.form.form[i].params.min){
                this.form.error[i] = `Значение должно быть в диапазоне от ${this.form.form[i].params.min} до ${this.form.form[i].params.max}`
                this.form.validate = false
              }
            }
            if(this.form.form[i].type == 'number' && !this.form.form[i].params.nul){
              // debugger
              if (this.form.result[i].length<=0 ){
                this.form.error[i] = "Это поле обязательно для заполнения."
                this.form.validate = false
              }
              if (this.form.result[i]>this.form.form[i].params.max || this.form.result[i]<this.form.form[i].params.min){
                this.form.error[i] = `Значение должно быть в диапазоне от ${this.form.form[i].params.min} до ${this.form.form[i].params.max}`
                this.form.validate = false
              }
            }
            if(this.form.form[i].type == 'phone' && !this.form.form[i].params.nul){
              if (this.form.result[i].length<=0 ){
                this.form.error[i] = "Это поле обязательно для заполнения."
                this.form.validate = false
              }
            }
            if(this.form.form[i].type == 'email'){
              var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
              if(!re.test(String(this.form.result[i]).toLowerCase())){
                this.form.error[i] = 'Некорректный e-mail'
                this.form.validate = false
              }
              // Присвоение емайла в форму получения билета
              if(this.project.type_confirm_user == 'email'){
                  Vue.set(this.data_pay, 'email', this.form.result[i])
              }else{
                if(this.form.form[i].params.contact && this.project.type_confirm_user == 'none'){
                  Vue.set(this.data_pay, 'email', this.form.result[i])
                }
              }
                
            }
            if(this.form.form[i].type == 'choice' && !this.form.form[i].params.nul){
              // debugger
              if (this.form.result[i].value.length<=0 ){
                this.form.error[i] = "Это поле обязательно для заполнения."
                this.form.validate = false
              }
            }

          }

          if(this.form.validate){
            // debugger
            if(this.project.type_confirm_user == 'email'){
              Vue.set(this.data_pay, 'confirm', false)
            }
            else{
              Vue.set(this.data_pay, 'confirm', true)
            }

            if(this.project.is_pay){
              this.form_view_page = 1
              this.GetCategory()
            }else{
              this.form_view_page = 2
              this.GetCategory()
            }
            
            this.$refs.ModalBuy.show()
            // this.CreateOrder()
          }
      },

      GetCategory(){
        if (this.project.id){
          axios.get(`/api/${this.project.id}/tickets/category/`, {})
          .then(response => {
            var tickets = {'weekend':{'data':[]}, 'weekdays':{'data':[]}, 'all':{'data':[]}}
            this.tickets_category.count = response.data.length
            for(var i in response.data){
              Vue.set(this.tickets_category.data, response.data[i].id, response.data[i] )
            }

            if(response.data.length ==1){
              this.form_view_page = 2
            }

            this.CreateStep()
            // for(var i in response.data){
            //   var ticket = response.data[i]
            //   debugger

            //   if(ticket.discount.length && typeof(response.data[i].discount)=='object'){
            //     ticket.discount_view = {
            //       price:ticket.price,
            //     }

            //     for(var i in ticket.discount){
            //       if(ticket.discount[i].date && new Date(ticket.discount[i].date) < new Date()){
            //         continue
            //       }
            //       if(ticket.discount[i].type_value=='percent'){
            //         var new_price = ticket.price - (ticket.price*ticket.discount[i].value/100)
            //       }else if(ticket.discount[i].type_value=='number'){
            //         var new_price = ticket.price - ticket.discount[i].value
            //       }
            //       if(new_price<ticket.discount_view.price){
            //         ticket.discount_view = {
            //           price:new_price,
            //         }
            //       }
            //     }
            //   }
             
            //   var listCategory = ticket.description.split('\n')
            //   ticket.description = []
            //   for(var j in listCategory){
            //     if(listCategory[j]){
            //       ticket.description.push(listCategory[j])
            //     }
            //   }
              
            //   if (ticket.is_weekend){
            //     tickets['weekend']['data'].push(ticket)
            //   }
            //   else{
            //     tickets['weekdays']['data'].push(ticket)
            //   }
            // }

            // if (!tickets.weekend.data.length){
            //   this.tickets = {'all':{'id':'Все дни', 'data':tickets.weekdays.data}}
            // }else{
            //   this.tickets = { 'weekdays':{'id':'Будний', 'data':tickets.weekdays.data},'weekend':{'id':'Выходной', 'data':tickets.weekend.data}}
            // }
            // debugger

          })
          .catch(e => {
            this.errors.push(e)
          })
        }
      }, 

      CreateOrder(){
        debugger
        this.promocode.data = this.data_pay.email
         axios.post(`/api/${this.project.id}/tickets/buy/create_order/`, {
            type_pay:this.project.is_pay? 'online':'free_online',
            email:this.project.is_pay ? this.promocode : this.promocode.data,
            tickets:[{
              count:1,
              data:this.tickets_category.data[this.select_ticket.data[0]]
            }],
            confirm:false,
          })
          .then(response => {
            debugger
            this.formUrl = response.data.formUrl
            // this.step.active++
             axios.post(`/api/${this.project.id}/tickets/buy/create_forms/`, {
              order_id:response.data.orderId,
              order:response.data.order,
              form:this.form.result,
            })
            .then(response => {
              debugger
              this.step.active++
              if(this.project.is_pay){
                this.step.button = 'close'
              }else{
                this.step.button = 'Завершить'
              }

              this.FormsTicket()
            })    
        })
      },
    
      
    },
  }; 
</script>
<style>

  .custom-control-input {
    position: inherit; 
    z-index: 1;
    opacity: inherit;
    margin-right: 10px;
  }

  .dropdown-toggle::after{
    display: none !important;
  }

  .clear{
    padding-top: 10px !important;
  }
  
</style>

<style scoped>
#myframe{
  width: 100%;
}

  .card_ticket{

  }  
  .card_ticket:hover{
    border: 1px solid #cacdd4 !important;
    background: #f8f8f9;
  }

  .card-price{
    position: absolute;
    right: 30px;
    top: 30px;
  }
  .card-price-value{
    font-weight: 600;
    font-size: 20pt;
    color: #6d6d6d;
  }

  .card-price-value-green{
    color:#7cb342;
  }

  .card-text{
    width: 70%
  }

  .h4_green{
    width: 100%;
    padding-left: 10px;
    font-size: 15pt;
    margin: 15px 5px 0 5px;
    background: #f1f8e9;
    border-radius: 5px 5px 0 0;
    border: 1px solid #bec5b7;
  }

  .h4_green_body{
    width: 100%;
    margin: 0 5px;
    padding: 10px;
    border: 1px solid #bec5b7;
    border-top: none;
  }

  .itog_price_card{
    text-align: center;
    background: #f9fbe7;
    margin: 0 20px;
    border: 1px solid #c6c8b5;
    border-radius: 10px;
    padding: 5px 0;
    min-height: 200px;
  }

  .price_actual{
    font-weight: 600;
    font-size: 16pt;
    color: #8bc34a;
  }

  .price_not_actual{
    text-decoration: line-through;
    color: #7f7f7f;
    text-decoration-color: #dc3545;
  }

  .promocode_url{
    color: #717171;
    text-decoration: underline;
  }

  .promocode_url:hover{
    color: #606060;
    text-decoration: underline;
    text-decoration-color: #8bc34a;
  }





  .radio_type_ticket{
    background: #fafafa;
    margin: 5px;
    border: 1px solid #e4e7ed;
    padding: 3px 10px;
    color: #343a40;
  }

  form{
    padding-bottom: 20px;
  }



  .row_questions{
    /*margin-bottom: 15px;*/
  }
  .text_questions{
    font-weight: 700;    
    margin:0;
    margin-top: 15px;
  }

  .text_error{
    color: #ed0e86;
    margin-left: 18px;
    font-size: 9pt;
  }

  .div_head_reg{
    text-align: center;
    color: #5e2b81;
  }
  .div_info_reg{

  }
  


</style>