

<template > 
  <div class='Modal' id = 'Modal'>
    <div style='height: 70px; padding: 10px 0;'>

        <v-layout row wrap>
          <v-flex v-for='(st, ind) in step.type' :key='ind' @click='step.active>ind? step.active = ind : step.active = step.active '>
            <v-btn fab dark small color="teal">
              <v-icon dark v-if='step.active>ind'>check</v-icon>
              <v-icon dark v-if='step.active==ind'>edit</v-icon>
              <v-icon dark v-if='step.active<ind'>filter_{{ind+1}}</v-icon>
            </v-btn>

            <span v-if='st == "select"'>Билеты</span>
            <span v-if='st == "form"'>Анкета</span>
            <span v-if='st == "confirm"'>Данные</span>
            <span v-if='st == "get"'>Готово</span>
            <span v-if='st == "end"'>Готово</span>
            <span v-if='st == "pay"'>Оплата</span> 
          </v-flex>
        </v-layout>
    </div>

    <notifications classes="notifi_ticket" width='160px' group="notifi_ticket" style='width: 100% !important; top: auto !important;'></notifications>
    
    <div class='buy_content' v-bind:class="{ frame_style: step.type[step.active] == 'pay' }">
      <div v-if='step.type[step.active] == "select"' style = 'max-height: 75vh; text-align: -webkit-center;'>

        <v-list two-line subheader>
          <v-list-tile
            v-for="ticket in basket.tickets" :key="ticket.id" avatar @click="">
            <v-list-tile-avatar>
              <v-icon class='teal darken-1 white--text'>receipt</v-icon>
            </v-list-tile-avatar>

            <v-list-tile-content>
              <v-list-tile-title>{{ ticket.data.name }}</v-list-tile-title>
              <v-list-tile-sub-title>
                Стоимость: 
                <span v-if='promocode.summ_all && project.is_pay'>{{(ticket.data.new_price ? ticket.data.new_price : ticket.data.price) * ticket.count}} руб.</span>
                <span v-if='!promocode.summ_all && project.is_pay'>{{(ticket.data.new_price ? ticket.data.new_price : ticket.data.price) * ticket.count}} руб.</span> 
                Количество: {{ticket.count}} 
              </v-list-tile-sub-title>
            </v-list-tile-content>

            <v-list-tile-action>
              <v-btn icon ripple v-on:click='DeleteInBasket(ticket)'>
                <v-icon color="grey lighten-1">delete</v-icon>
              </v-btn>
            </v-list-tile-action>
          </v-list-tile>
        </v-list>
      </div>

      <div v-if='step.type[step.active] == "form"' >
          <b-row class="justify-content-sm-center">
            <b-col cols="12">
              <b-form v-if="form.form" class='form_visitors'> 
                <b-row v-for='(ques, index_form in form.form' :key='index_form' class='row_questions'>
                    <b-col cols="12" sm="12"  md="12"  lg="12"  xl="12" class='col_questions'>
                        <div v-if='ques.params.addiction && ques.params.addiction.id && form.result[ques.params.addiction.id].value && ques.params.addiction.value.indexOf(form.result[ques.params.addiction.id].value) >= 0'  class='text_questions'>
                          {{ques.text}}
                        </div>
                        <div v-if='!ques.params.addiction' class='text_questions'>
                          {{ques.text}}
                        </div>
                    </b-col>

                    <b-col cols="12" sm="12"  md="12"  lg="12"  xl="12" class='col_questions' 
                      v-if='!ques.params.addiction || (ques.params.addiction.id && form.result[ques.params.addiction.id].value && ques.params.addiction.value.indexOf(form.result[ques.params.addiction.id].value) >= 0)'>
                        <b-form-input class="input_custom" v-if='ques.type=="text"'
                          type="text"
                          v-model="form.result[index_form]"
                          required placeholder="Введите текст">
                        </b-form-input>
                      
                        <b-form-input class="input_custom" v-if='ques.type=="number"'
                          type="number"
                          v-model="form.result[index_form]"
                          required placeholder="Введите число">
                        </b-form-input>
                      
                        <b-form-input class="input_custom" v-if='ques.type=="phone"'
                          type="tel"
                          v-model="form.result[index_form]"
                          placeholder="Введите телефон">
                        </b-form-input>
                      
                        <b-form-input class="input_custom" v-if='ques.type=="email"'
                          type="email" name="email"
                          v-model="form.result[index_form]"
                          placeholder="Введите e-mail">
                        </b-form-input>
                      
                        <div v-if='ques.type=="choice"'>

                          <div v-if='ques.params.addiction && ques.params.addiction.id && form.result[ques.params.addiction.id].value'>
                              <!-- зависимый -->
                            <div v-if="form.result[ques.params.addiction.id].value ">
                               <b-form-select v-if='ques.params.addiction.value.indexOf(form.result[ques.params.addiction.id].value) >= 0'
                               v-model="form.result[index_form].value" :options="ques.params.choice" class="input_custom" placeholder="Выберите значение"/>
                            </div>
                            
                          </div>
                          <div v-else>
                            <!-- не зависимый -->
                            <div v-if='!ques.params.text_field'>
                              <div v-if='!ques.params.many'>
                                <b-form-select v-model="form.result[index_form].value" :options="ques.params.choice" class="input_custom" />
                              </div>
                              <div v-else>
                                <b-form-group>
                                  <b-form-checkbox-group v-model="form.result[index_form].value">
                                    <b-form-checkbox v-for='(checkb, id) in ques.params.choice' :key='id' v-bind:value="checkb.value">{{checkb.text}}</b-form-checkbox>
                                  </b-form-checkbox-group> 
                                </b-form-group>
                              </div>
                            </div>
                            <div v-else>
                              <div v-if='!ques.params.many' style = 'text-align: left;'>
                                  <b-form-radio-group id="radios2" v-model="form.result[index_form].value" >
                                    <b-form-radio v-for='(radio, id) in ques.params.choice' :key='id' v-bind:value="radio.value">{{radio.text}}</b-form-radio>
                                    <b-form-radio value="other">     
                                      <b-form-input class="input_custom input_custom_other" 
                                        type="text"
                                        v-model="form.result[index_form].text"
                                        required placeholder="Другое"
                                        v-on:change='SetOther(form.result[index_form])'>
                                      </b-form-input> 
                                    </b-form-radio>
                                  </b-form-radio-group> 
                              </div>
                              <div v-else style = 'text-align: left;'>
                                <b-form-group>
                                  <b-form-checkbox-group v-model="form.result[index_form].value">
                                    <b-form-checkbox v-for='(checkb, id) in ques.params.choice' :key='id' v-bind:value="checkb.value">{{checkb.text}}</b-form-checkbox>
                                    <b-form-checkbox value="other">
                                      <b-form-input class="input_custom input_custom_other"
                                        type="text"
                                        v-model="form.result[index_form].text"
                                        required placeholder="Другое"
                                        v-on:change='SetOther(form.result[index_form])'>
                                      </b-form-input>
                                    </b-form-checkbox>
                                  </b-form-checkbox-group> 
                                </b-form-group>                    
                                </div> 
                            </div>
                          </div>
                          
                        </div>

                        <div v-if='ques.type=="city"'>
                          <div v-if='!ques.params.country'>     

                            <v-select class='select_country' placeholder="Город"
                              v-model="form.result[index_form]"
                              label='name'
                              :options="form_options.city"
                              @search:focus="onFocusCity(index_form)"
                              @search="onSearchCity"> 
                            </v-select>                       
                          </div>
                          <div v-if='ques.params.country'>
                            <b-row>
                              <b-col cols="12" sm="12"  md="6"  lg="6"  xl="4">
                                <v-select class='select_country' placeholder="Страна"
                                  v-model="form.result[index_form].country"
                                  label='name'
                                  :options="form_options_country.country.data"
                                  @search:focus="onFocusCountry(index_form)"
                                  @search="onSearchCountry"
                                  @input="onInputCountry"> 
                                </v-select>

                              </b-col>
                              <b-col cols="12" sm="12"  md="6"  lg="6"  xl="4">
                                <v-select class='select_country' placeholder="Регион"
                                  v-if='form.result[index_form].country &&form.result[index_form].country.name'
                                  v-model="form.result[index_form].region"
                                  label='name'
                                  :options="form_options_country.region.data"
                                  @search:focus="onFocusRegion(index_form)"
                                  @search="onSearchRegion"
                                  @input="onInputRegion"
                                  > 
                                </v-select>
                              </b-col>

                              <b-col cols="12" sm="12"  md="126"  lg="12"  xl="4">
                                <v-select class='select_country' placeholder="Город"
                                  v-if='form.result[index_form].region && form.result[index_form].region.name'
                                  v-model="form.result[index_form].city"
                                  label='name'
                                  :options="form_options_country.city.data"
                                  @search:focus="onFocusCityArr(index_form)"
                                  @search="onSearchCityArr"
                                  @input="onInputCityArr"
                                  > 
                                </v-select>
                                
                              </b-col>
                              
                            </b-row>
                          </div>
                          
                        </div>

                        <b-form-input class="input_custom" v-if='ques.type=="date"'
                          type="date"
                          v-model="form.result[index_form]"
                          required placeholder="Введите дату">
                        </b-form-input>
                    </b-col>
                  <span class='text_error'>
                          {{form.error[index_form]}}
                  </span>
                </b-row>

                <b-row class='row_questions'>
                  <div class='text_questions' style='width:100%'>
                      Согласие на обработку данных
                  </div>
                  <b-form-checkbox v-model="accepted" style='padding-left:0'
                                   value=true
                                   unchecked-value=false>
                    Я согласен на обработку персональных данных
                  </b-form-checkbox>
                  <a href="https://www.donexpocentre.ru/ru/about/privacy-policy/" target="_blank" style='font-size: 15px;'>Политика конфиденциальности АО "Донэкспоцентр"</a>
                  <span class='text_error'>
                          {{accepted_error}}
                  </span>
                </b-row>
            
              </b-form>
            </b-col>
          </b-row>
      </div>

      <v-container v-if='step.type[step.active] == "confirm"'>
          <v-layout row wrap>
             <h4 class='h4_green'>Данные для получения билетов</h4>
          </v-layout>

          <v-layout row wrap class='h4_green_body'>
              <v-flex xs12 sm8>
                <v-container v-if='project.type_confirm_user == "email"'>
                  <v-layout row wrap>
                    <v-flex xs12 style='text-align: center;'>
                      Введите e-mail и нажмите Получить код. Код подтверждения будет отправлен на указанную почту.
                    </v-flex> 
                    <v-flex xs12 md7>
                      <v-text-field v-model="data_pay.email" :rules="emailRules" type="email" required label="E-mail"></v-text-field>
                    </v-flex>   

                    <b-col xs12 md5 style = 'padding: 5px; text-align: center;'>
                      <div v-if='data_pay.time>0'>Повторная отправка через {{data_pay.time}}сек.</div>
                      <v-btn v-else dark color="teal" @click='ConfirmContactData(false)'>Получить код</v-btn>
                    </b-col> 
                  </v-layout>

                  <v-layout row wrap v-if = 'this.data_pay.mail_request'>
                    <v-flex xs12 md7>
                      <v-text-field v-model="data_pay.code" required label="Код подтверждения"></v-text-field>
                    </v-flex>   

                    <b-col xs12 md5 style = 'padding: 5px; text-align: center;'>
                      <v-btn dark color="teal" @click='ConfirmContactData(true)'>Подтвердить</v-btn>
                    </b-col> 

                    <b-col xs12 style = 'padding: 5px; text-align: center;'>
                      <div style = 'text-align: center; width: 100%; font-size: 13px; color: #dc3545;'>{{data_pay.error}}</div>
                    </b-col>
                  </v-layout>
                </v-container>
                <v-container v-if='project.type_confirm_user == "none"'>
                   <b-row>
                    <b-col cols="12">
                      <b-form-input style='margin: 5px;' type="email" name="email" id="email" v-model="data_pay.email" placeholder="e-mail"></b-form-input>
                    </b-col>    
                  </b-row>

                </v-container>

                <v-container v-if='project.is_promocode'>
                  <div v-if='!promocode.select' v-on:click='promocode.select=true' class='promocode_url'>промокод </div>
                  <div v-if='promocode.select'>
                    
                    <b-row>
                      <b-col cols="12"  sm="6">
                        <b-form-input style='margin: 5px;' type="text"  v-model="promocode.promocode" placeholder="промокод"></b-form-input>
                      </b-col>   

                      <b-col cols="12"  sm="6" style = 'padding:6px 20px;'>
                        <b-button class='button_modal_buy'  variant="secondary" @click='ActivatePromocode' >Активировать</b-button>
                        <!-- <b-button class='button_modal_buy'  variant="secondary" @click='DeletePromocode' ><v-icon >delete</v-icon></b-button> -->
                        <v-btn @click='DeletePromocode' flat icon color="teal">
                          <v-icon>delete</v-icon>
                        </v-btn>
                      </b-col> 
                    </b-row>
                    <p style='margin-left: 5px; font-size: 10pt; color: #ff7043;'>{{promocode.errors}}</p>

                  </div>       
                </v-container>
              </v-flex>

              <v-flex xs10 sm3 class='itog_price_card' v-if='project.is_pay'>
                <p>Итого</p>
                <div v-if='basket.summ != basket.summ_new'>
                  <p class='price_not_actual'> {{basket.summ}} руб.</p>
                  <p class='price_actual'>{{basket.summ_new}} руб.</p>
                </div>
                <div v-if='basket.summ == basket.summ_new' > 
                  <p class='price_actual'>{{basket.summ}} руб.</p>
                </div>
              </v-flex>
          </v-layout>   
      </v-container>

      <div v-if='step.type[step.active] == "pay"' class='row_body_step frame_div'>
        <!-- <moon-loader  class="custom-class" :color="'#bada55'" :loading="true" :size="100" :sizeUnit="px"></moon-loader> -->
        <moon-loader  class="custom-class" :color="'#bada55'" :loading="!formUrl" :size="100" :sizeUnit="px"></moon-loader>
        <iframe v-if='formUrl' id="myframe" v-bind:src="formUrl"  height="100%"></iframe>
      </div>
      <div v-if='step.type[step.active-1] == "end"' class='row_body_step'>
        Спасибо за регистрацию, билеты будут отправлены на почту {{data_pay.email}}
       
      </div>
    </div>
    <div class='buy_footer'>
      <b-row class='row_footer_step'> 
        <div style='width:100%; padding-left:30px'>

          <v-btn dark  color="teal" v-if='step.type[step.active] != "pay" && step.active>0' style="margin-top: 12px; float:left" @click="NextStep(-1)">
              Назад
          </v-btn>

          <v-btn dark  color="teal" v-if='step.type[step.active] != "pay"'  style="margin-top: 12px; float:right" @click="NextStep(1)">
              {{step.button}}
          </v-btn>
        </div>
      </b-row>
    </div>
      
  </div>
</template>

<script>
import Vue from 'vue'
import vSelect from 'vue-select'


  export default {
    props: ['project', 'tickets_category', 'basket'],
    components: {
      vSelect, 
    },
    data() {
      return {
        emailRules: [
          v => !!v || 'Поле обязательно',
          v => /.+@.+/.test(v) || 'Некорректный адрес электронной почты'
        ],
        socket:null,
        step:{
          button:'Далее',
          count:0,
          active: 0,
          type:[],
        },

        form_options:{
          select:'',
          city:[]
        },
        form_options_country:{
          select:'',
          country:{select:'', data:[]},
          region:{select:'', data:[]},
          city:{select:'', data:[]}
        },

        form:{},
        accepted: true,
        accepted_error: '',

        data_pay:{},
        formUrl:'',
        promocode_data:{},
        promocode:{
          select:false,
          promocode:'',
          data:'',
          errors:'',
          summ_all:true,
        } 
        
      } 
    },
    watch: {
      promocode_data: function (val) {
          // 
          this.basket.summ_new = 0

          if(this.promocode_data.summ_all!=false){
            this.promocode.summ_all =  true
            for(var i in this.basket.tickets){
              this.basket.summ_new += this.basket.tickets[i].count * (this.basket.tickets[i].data.new_price ? this.basket.tickets[i].data.new_price : this.basket.tickets[i].data.price)
            }
            if(this.promocode_data.summ_all){
              if(this.promocode_data.type = 'percent'){ 
              this.basket.summ_new = this.basket.summ_new - this.basket.summ_new * this.promocode_data.value/100
              }else{
                this.basket.summ_new=this.basket.summ_new - this.promocode_data.value
              } 
            } 
          }  
          else{
            this.promocode.summ_all =  false
            for(var i in this.basket.tickets){
              this.basket.summ_new += this.basket.tickets[i].count * this.basket.tickets[i].data.price
            }
            if(this.promocode_data.type = 'percent'){ 
              this.basket.summ_new = this.basket.summ_new - this.basket.summ * this.promocode_data.value/100
            }else{
              this.basket.summ_new=this.basket.summ_new - this.promocode_data.value
            } 

              
          }  
        },
        
      },

    created() {

      
      this.CreateStep();
      this.FormsTicket();
    },

    beforeDestroy(){
      // 
      Vue.set(this, 'promocode_data', {} )

      this.basket.summ_new = 0    

      for(var i in this.basket.tickets){
        this.basket.summ_new += this.basket.tickets[i].count * (this.basket.tickets[i].data.new_price ? this.basket.tickets[i].data.new_price : this.basket.tickets[i].data.price)
      }

      if(this.project.is_plane){
          this.$parent.$parent.$children[1].GetTicket()
      }
    },

    

    methods: {

      CreateStep(){
        // debugger
        this.step.active=0
        if(this.tickets_category.length>0){
          this.step.type.push('select')
          this.step.count+=1
          this.step.active=0
        }
        if(this.project.is_form){
          this.step.type.push('form')
          this.step.count+=1
          // this.step.active=1
        }
        this.step.type.push('confirm')
        this.step.count+=1
        if(this.project.is_pay){
          this.step.type.push('pay')
          this.step.count+=1
        } 
        if(!this.project.is_pay && this.project.is_form){
          this.step.type.push('end')
          this.step.count+=1
        } 
      },

      NextStep(next){
        // debugger
        if(next>0){
          // 
          if(this.step.type[this.step.active] == 'select'){
            if(!this.project.is_form){
              if(this.project.type_confirm_user == 'email'){
                Vue.set(this.data_pay, 'confirm', false)
              }
              else{
                Vue.set(this.data_pay, 'confirm', true)
              }
            }
            this.step.active +=1
            return 0
            
          }
          if(this.step.type[this.step.active] == 'form'){
            if (this.ValidateForm(1)){
              this.step.active +=1
            }
            return 0
          }
          if(this.step.type[this.step.active] == 'confirm'){
            
            if (this.ValidateConfirm()){
              this.step.active +=1
              this.CreateOrder()
              return 0
            } 

            if(this.step.type[this.step.active] == 'pay'){
              

            }
            
          }
          if(this.step.type[this.step.active] == 'end'){
              this.$emit("close_modal"); 
              return 0
          }
        }else{
          this.step.active -=1
        }

      },

      DeleteInBasket(obj){

        if(this.project.is_pay && this.project.is_form){
          this.basket.count = this.basket.count - obj.count
          this.basket.summ = this.basket.summ - obj.count * (obj.data.new_price ? obj.data.new_price : obj.data.price)
          this.basket.summ_new = this.basket.summ
        }
        if(this.project.is_pay && !this.project.is_form){
          this.basket.count = this.basket.count - obj.count
          this.basket.summ = this.basket.summ - obj.count * obj.data.price
          this.basket.summ_new = this.basket.summ_new - obj.count * (obj.data.new_price ? obj.data.new_price : obj.data.price)
        }
        delete this.basket.tickets[obj.data.id]
        var temp = {}
        for(var i in this.basket.tickets){
          temp[i] = this.basket.tickets[i]
        }
        Vue.set(this.basket, 'tickets',temp)
        if(this.basket.count==0){
          this.$emit("close_modal");        }
      },

      FormsTicket(){
        this.$api.get('/api/project/'+this.project.id+'/forms/', {type:'registr'})
          .then(response => {
            var form = JSON.parse(response.data[0].data)
            Vue.set(this, 'form', {
              validate:true,
              form:form,
              result:{},
              error:{},
            })

            for(var j in this.form.form){
              if(this.form.form[j].params.addiction){
                if(!this.form.form[j].params.addiction.id){
                  delete this.form.form[j].params["addiction"]
                }
              }
              if(this.form.form[j].type == 'city'){
                // 
                if(this.form.form[j].params.country){
                  Vue.set(this.form.result, j, {country:{}, region:{}, city:{}})

                  if(this.form.form[j].params.default.country || this.form.form[j].params.default.country==0){
                    this.InitCountry(j, 'country', '', this.form.form[j].params.default.country)
                  }

                  if(this.form.form[j].params.default.region || this.form.form[j].params.default.region==0){
                    // 
                    this.InitCountry(j, 'region', '', this.form.form[j].params.default.region)
                  }

                  if(this.form.form[j].params.default.city || this.form.form[j].params.default.city==0){
                    this.InitCountry(j, 'city', '', this.form.form[j].params.default.city)
                  }
                  
                  
                }else{
                  Vue.set(this.form.result, j, {})
                }
                
              }
              else if(this.form.form[j].type == 'choice'){
                if(this.form.form[j].many == true){
                  Vue.set(this.form.result, j, {text:'', value:[]})
                }else{
                  Vue.set(this.form.result, j, {text:'', value:[]})
                }
              }else{
                Vue.set(this.form.result, j, '')
              }
              Vue.set(this.form.error, j, '')
            }
        })      
      },

      validEmail:function(email) {
        var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
    },

      ValidateForm(pay){
        this.accepted_error = ''
        // 
          this.form.validate = true

          if(this.accepted == 'false'){
            this.accepted_error = 'Это поле обязательно для заполнения.'
            this.form.validate = false
          }

          for(var i in this.form.form){
            this.form.error[i] = ''

            if(this.form.form[i].params.addiction && !this.form.form[i].params.nul){
              if(this.form.result[this.form.form[i].params.addiction.id] != this.form.form[i].params.addiction.value[0]){
                continue
              }
            }
            if(this.form.form[i].type == 'text' && !this.form.form[i].params.nul){
              if (this.form.result[i].length>this.form.form[i].params.max_length){
                this.form.error[i] = "Длина ответа должна быть менее "+this.form.form[i].params.max_length
                this.form.validate = false
              }
              if (this.form.result[i].length<=0 ){
                this.form.error[i] = "Это поле обязательно для заполнения."
                this.form.validate = false
              }
            }
            if(this.form.form[i].type == 'number' && !this.form.form[i].params.nul){
              // 
              if (this.form.result[i].length<=0 ){
                this.form.error[i] = "Это поле обязательно для заполнения."
                this.form.validate = false
              }
              if (this.form.result[i]>this.form.form[i].params.max || this.form.result[i]<this.form.form[i].params.min){
                this.form.error[i] = `Значение должно быть в диапазоне от ${this.form.form[i].params.min} до ${this.form.form[i].params.max}`
                this.form.validate = false
              }
            }
            if(this.form.form[i].type == 'phone' && !this.form.form[i].params.nul){
              if (this.form.result[i].length<=0 ){
                this.form.error[i] = "Это поле обязательно для заполнения."
                this.form.validate = false
              }
            }

            if(this.form.form[i].type == 'city' && !this.form.form[i].params.nul){
              if (!(this.form.result[i].id || (this.form.result[i].city && this.form.result[i].city.id ))){
                this.form.error[i] = "Это поле обязательно для заполнения."
                this.form.validate = false
              }
            }
            if(this.form.form[i].type == 'email'){
              var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
              if(!re.test(String(this.form.result[i]).toLowerCase())){
                this.form.error[i] = 'Некорректный e-mail'
                this.form.validate = false
              }
              // Присвоение емайла в форму получения билета
              if(this.project.type_confirm_user == 'email'){
                  Vue.set(this.data_pay, 'email', this.form.result[i])
              }else{
                if(this.form.form[i].params.contact && this.project.type_confirm_user == 'none'){
                  Vue.set(this.data_pay, 'email', this.form.result[i])
                }
              }
                
            }
            if(this.form.form[i].type == 'choice' && !this.form.form[i].params.nul){
              // 
              if (this.form.result[i].value.length<=0 ){
                this.form.error[i] = "Это поле обязательно для заполнения."
                this.form.validate = false
              }
            }

          }

          if(this.form.validate){
            // 
            if(this.project.type_confirm_user == 'email'){
              Vue.set(this.data_pay, 'confirm', false)
            }
            else{
              Vue.set(this.data_pay, 'confirm', true)
            }

            return true

          }
          this.$notify({
            group: 'notifi_ticket',
            type: 'error',
            duration: 3000,
            text: '<i class="fas fa-exclamation-triangle"></i> Заполнены не все данные'
          });
          return false
      },

      ValidateConfirm(){
        if(this.data_pay.confirm){
          if(this.validEmail(this.data_pay.email)){
            return true
          }
          
        }
        return false
      },

      ConfirmContactData(code){
        Vue.set(this.data_pay, 'error', '')

        if(code){
          this.$api.post(`/api/${this.project.id}/tickets/buy/email/`, {
            code:this.data_pay.code,
            email:this.data_pay.email,
          })
          .then(response => {
              Vue.set(this.data_pay, 'confirm', true)
              Vue.set(this.data_pay, 'error', 'Email подтвержден.')
          }).catch(e => {
             Vue.set(this.data_pay, 'error', 'Неверный код подтверждения')
          })

        }else{
          if(this.emailRules[1](this.data_pay.email) == true){
            Vue.set(this.data_pay, 'code', '')
            Vue.set(this.data_pay, 'mail_request', true)
            Vue.set(this.data_pay, 'time', 120)

            var self = this

            var timerId = setInterval(function() {
              self
              self.data_pay.time-=1
            }, 1000);

            setTimeout(function() {
              clearInterval(timerId);
              self.data_pay.time = 0
            }, 120000);

            this.$api.post(`/api/${this.project.id}/tickets/buy/email/`, {
              email:this.data_pay.email,
            })
            .then(response => {
                
            })
          }
          

        }
      },

      ActivatePromocode(){
        this.promocode.data = this.data_pay.email
        this.$api.post(`/api/${this.project.id}/tickets/buy/activate_loyalty/`, {
          params:this.promocode,
          tickets:this.basket,
        })
        .then(response => {
          // 
          Vue.set(this.promocode, 'errors', '')
          if(response.data){      
            Vue.set(this, 'promocode_data', response.data )             
          }          

        }).catch(error => {
          Vue.set(this, 'promocode_data', {} )
          this.basket.summ_new = this.basket.summ
          this.promocode.errors =  error.error
        })
      },

      DeletePromocode(){
        this.promocode.promocode = ''
        this.promocode.data = this.data_pay.email
        this.$api.post(`/api/${this.project.id}/tickets/buy/activate_loyalty/`, {
          params:this.promocode,
          tickets:this.basket,
        })
        .then(response => {
              
        }).catch(error => {
          Vue.set(this, 'promocode_data', {} )
          this.basket.summ_new = this.basket.summ
          this.promocode.errors =  ''
        })
      },

      CreateOrder(){
        
        this.promocode.data = this.data_pay.email
         this.$api.post(`/api/${this.project.id}/tickets/buy/create_order/`, {
            type_pay:this.project.is_pay? 'online':'free_online',
            email:this.project.is_pay ? this.promocode : this.promocode.data,
            tickets:this.basket,
            confirm:false,
          })
          .then(response => {
            if(this.project.is_form){
              this.$api.post(`/api/${this.project.id}/tickets/buy/create_forms/`, {
                order_id:response.data.orderId,
                order:response.data.order,
                form:this.form.result,
              })
              .then(response => {
                
                // this.step.active++
        

                this.FormsTicket()
              })
            }
            this.formUrl = response.data.formUrl  

            this.basket.count = 0
            this.basket.summ = 0
            this.basket.summ_new = 0
            this.basket.summ_promocode = 0
            this.basket.summ_promocode_new = 0
            this.basket.tickets = {}
            
            if(this.project.is_pay){
              this.step.button = 'close'
            }else{
              this.step.button = 'Завершить'
            }
        })
      },


      InitCity(obj, str=null){

        this.$api.get('/api/reference/info/city/', {
          type:'only_city',
          str:str,
        })
        .then(response => {
          Vue.set(this.form_options, 'city', response.data)    
        })
      },

      InitCountry(obj, type=null, str=null, id = null){
        if (type == 'country'){
          var data = {
            type:type,
            str:str,
          }
        }
        if (type == 'region'){
          // 
          var data = {
            type:type,
            str:str,
            country:this.form_options_country.country.select
          }
        }

        if (type == 'city'){
          // 
          var data = {
            type:type,
            str:str,
            region:this.form_options_country.region.select
          }
        }
        if(id || id==0){
          var url = '/api/reference/info/city/'+id +'/'
        }else{
          var url = '/api/reference/info/city/'
        }
        
        this.$api.get(url, data)
        .then(response => {
          Vue.set(this.form_options_country[type], 'data', response.data)
          if(id || id==0){
            this.form.result[obj][type] = response.data[0]
          }   
        })    
      },

      onFocusCity(id){
        Vue.set(this.form_options, 'select', id)
        this.InitCity(this.form.form[id])
      },
      onSearchCity(search, loading){
        this.InitCity(this.form.form[this.form_options.select], search)
      },

      onFocusCountry(id){
        Vue.set(this.form_options, 'select', id)
        this.InitCountry(this.form.form[id], 'country')
      },

      onSearchCountry(search, loading){
        this.InitCountry(this.form.form[this.form_options.select], 'country', search)
      },

      onInputCountry(data){
        if(data){
          this.form_options_country.country.select = data.id
        }else{
          this.form_options_country.country.select = null
        } 
      },

      onFocusRegion(id){
        Vue.set(this.form_options, 'select', id)
        this.InitCountry(this.form.form[id], 'region')
      },

      onSearchRegion(search, loading){
        this.InitCountry(this.form.form[this.form_options.select], 'region', search)
      },

      onInputRegion(data){
        if(data){
          this.form_options_country.region.select = data.id
        }else{
          this.form_options_country.region.select =  null
        }
      },

      onFocusCityArr(id){
        Vue.set(this.form_options, 'select', id)
        this.InitCountry(this.form.form[id], 'city')
      },

      onSearchCityArr(search, loading){
        this.InitCountry(this.form.form[this.form_options.select], 'city', search)
      },

      onInputCityArr(data){
        if(data){
          this.form_options_country.city.select = data.id
        }else{
          this.form_options_country.city.select = null
        }        
      },
           
    },
  }; 
</script>

<style>
.v-select .vs__selected-options{
    height: 30px !important;   
}
.v-select .dropdown-toggle .clear{
  margin-top: 10px;
}

.v-select input[type=search], .v-select input[type=search]:focus{
  margin: 0 !important;   
}

.v-select .selected-tag{
  margin: 0;
  padding: 0;
}

.modal-body {
    padding: 0 1rem !important;
}

.notifi_ticket{
    text-align: center !important;
    background: rgba(241, 95, 67, 0.44);
    border: 1px solid rgba(241, 95, 67, 0.68);
    width: 250px;
    margin: auto;
    padding: 5px 10px;
    border-radius: 5px;
}

.custom-control-input {
  position: inherit; 
  z-index: 1;
  /*opacity: inherit;*/
  margin-right: 10px;
}

.custom-class{
  margin: auto;
  margin-top: 100px;
}
@media only screen and (max-width: 700px) {
  .modal-sm{
    position: fixed !important;
    width: 95% !important;
    height: 100%;
    min-height: 400px !important;;
  }

}
  
</style>

<style scoped>
  #Modal{
    min-height: 50vh;
    height: 85vh;
  }

  .frame_div{
    height: 100%;
    /*overflow:auto;
    -webkit-overflow-scrolling:touch;*/
  }

  #myframe{
    width:100%;
    /*height:600px*/
  }

  .frame_style{
    height: calc(100% - 80px) !important;
    padding:0 !important;
  }

  .row_head_step{

  }
  .row_body_step{
    text-align: center;
  }
  .row_footer_step{
    bottom: 0px;
    background: #fff;
    width: 96%;
    /*padding: 20px;*/
  }

  .form_visitors{
    padding-top: 20px;
  }

  .form_visitors .text_questions{
    color: #303133;
    margin-top: 10px;
    margin-left: 5px;
  }
  .form_visitors .select_country{
    color: #fff;
    
  }

  .h4_green{
    width: 100%;
    padding-left: 10px;
    font-size: 15pt;
    margin: 15px 5px 0 5px;
    background: #f1f8e9;
    border-radius: 5px 5px 0 0;
    border: 1px solid #bec5b7;
    padding: 5px;
  }

  .h4_green_body{
    /*width: 100%;*/
    margin: 0 -10px;
    /*padding: 10px;*/
    border: 1px solid #bec5b7;
    border-top: none;
    min-height: 190px;
  }

  .itog_price_card{
    text-align: center;
    background: #f9fbe7;
    margin: 0 20px;
    border: 1px solid #c6c8b5;
    border-radius: 10px;
    padding: 5px 0;
    min-height: 165px;
  }

  .price_actual{
    font-weight: 600;
    font-size: 16pt;
    color: #8bc34a;
  }

  .price_not_actual{
    text-decoration: line-through;
    color: #7f7f7f;
    text-decoration-color: #dc3545;
  }

  .promocode_url{
    color: #717171;
    text-decoration: underline;
  }

  .promocode_url:hover{
    color: #606060;
    text-decoration: underline;
    text-decoration-color: #8bc34a;
  }

  .text_error{
    color: #f15f43;
    font-size: small;
    padding-left: 20px;
  }

  .buy_content{
    height:calc(100% - 150px); 
    overflow-y: auto; 
    padding: 15px;

  }
  .buy_footer{
    height:80px; 
  }

  @media only screen and (max-width: 700px) {


  .frame_div{
    height: 100%;
    overflow:auto;
    -webkit-overflow-scrolling:touch;
  }

  .frame_style{
    height: calc(100% - 180px) !important;
    padding:0 !important;
  }

  #myframe{
    width:100%;
    height:600px
  }
    .itog_price_card{
      min-height: 150px;
    }
    .buy_content{
      height:calc(100% - 200px); 
      min-height: 200px !important;
    }
    .buy_footer{
      height:50px;
    }
  }


</style>