

<template> 
<div :span="24" class='tickets-plane-view' id = 'tickets-buy-plane'>

  <v-stage ref="stage" :config="configK.configKonva">
    <v-layer ref="scene">
      <v-rect ref="rect_scene" :config="configK.configScene">
      
      </v-rect>
      <v-text ref="text" :config="configK.configSceneText"/>
    </v-layer>

    <v-layer ref="row">
      <v-text ref="row_text" v-for='(row_text, id) in configK.configRowText' :key='id' :config="row_text" />
      }
    </v-layer>

    <v-layer ref="hall">
      <v-rect ref="rect_plase" v-for='rest in configK.configRectPlase' :key='rest.id' :config="rest"
        @click='ClickHall'
        @touchstart="handleMouseMove"
        @touchend="handleMouseOut">      
      </v-rect>
      <v-text ref="rect_plase_text" v-for='(rest_text, id) in configK.configRectPlaseText' :key='id + "a"' :config="rest_text" 
      @click='ClickHall'
      @touchstart="handleMouseMove"
      @touchend="handleMouseOut"/>
    </v-layer>

  </v-stage>

  <!-- <b-container class="bv-example-row">
    <b-row class="justify-content-md-center" style='margin: 20px 0 45px 0; width: 100%;'>
      <b-col  cols="6" sm="4"  md="4"   v-for="item in colors"  key='item.id' style='text-align: center'>
        <div v-bind:title="item.tooltip" class='color' v-bind:style="{ background: item.color}">
          {{ item.label }}
        </div>  
      </b-col>
    </b-row>
  </b-container> -->

</div>
</template>

<script>
import Vue from 'vue'
import axios from 'axios';
import $ from 'jquery'


  export default {
    props: ['project', 'tickets_category', 'basket'],
    data() {
    return {
      key_res:'',
      chatSocket:null,
      configK :{},

      colors:[],
      ticket_data:{},
    };
  },    
    created() {
      this.Init()

      Vue.set(this, 'chatSocket', new WebSocket(
        'wss://' + window.location.host +
        // 'ws://' + window.location.host +
        '/ws/test/' + this.project.id + '/')
      )

      var self = this
      this.chatSocket.onmessage = function(e) {
          var data = JSON.parse(e.data);
          self.SetTicketData( data['message'])
      };

      this.chatSocket.onclose = function(e) {
          console.error('Chat socket closed unexpectedly');
      };    
    },
    destroyed(){
      this.$emit('message', { message: {plane:false,} })
      this.$emit('message_ul', { redirect: {
          id   : 'plane_li',
          action: 'remove'},
        message:{
          project_visible:false,
        }
      })
    },
    methods: {
      Init(){
        this.CreateColor()
        this.GetTicket()
      },
      CreateColor(){
        this.colors.push({
          id:'reserv_you', 
          label:'Ваше место',
          tooltip:'Выбранные Вами места',
          color:'#ffc107',
        })
        this.colors.push({
          id:'reserv', 
          label:'Забронировано',
          tooltip:'Место забронировано, возможно оно освободится позже',
          color:'#909399',
        })
        this.colors.push({
          id:'pay', 
          label:'Место занято',
          tooltip:'Место занято',
          color:'#56585d',
        })

        for(var i in this.tickets_category){
          this.colors.push({
            id:this.tickets_category[i].id, 
            label:this.tickets_category[i].new_price?this.tickets_category[i].new_price:this.tickets_category[i].price,
            tooltip:'Cтоимость билета' + (this.tickets_category[i].new_price? ' со скидкой': ''),
            color: this.tickets_category[i].color? this.tickets_category[i].color : '#000' ,
          })
          }
      },

      GetTicket(){
        this.$api.get('../api/project/' + this.project.id + '/tickets/get_plane/')
        .then(response => {
          if(!!response.data.tickets){
            this.key = response.data.session_key
            Vue.set(this, 'ticket_data', response.data.tickets)
            for(var i in response.data.tickets.json_tickets){
              // i = parseInt(i)
              if(response.data.tickets.json_tickets[i].reservation){
                if(this.key == this.ticket_data.json_tickets[i].reservation.key && 
                  Date.now()-this.ticket_data.json_tickets[i].reservation.date<600000 &&
                  !this.ticket_data.json_tickets[i].pay){
                  // debugger
                  this.AddTicket(i)

                }

              }
            }
            this.SetTicketData(response.data.tickets)
          }
        })
      },
      SetTicketData(data){
        Vue.set(this, 'ticket_data', data)
        this.CreateStage()
        this.CreateScene()
        this.CreateHall(this.tickets_category)
      },

      SavePlane(plase){
        this.chatSocket.send(JSON.stringify({
          'session_key':this.key,
          'json_tickets': this.ticket_data,
          'plase': plase,
        })); 
      },

      // beforeEnter: function (el) {
      //   if (this.data_show.parent.w/2 - this.data_show.child.w > 0){
      //     el.style.right = `calc(50% + ${Math.round(this.data_show.parent.w/2 - this.data_show.child.w)-55}px)` 
      //   }else{
      //     el.style.right = `calc(50% - ${Math.round(-(this.data_show.parent.w/2 - this.data_show.child.w))+55}px)` 
      //   }
      //   el.style.top = `${ this.data_show.child.h-15}px` 
       
      //   el.style.opacity = 0.8
      //   Velocity(el, { scale: '0' }, { duration: 0 })
      //   Velocity(el, { scale: '1.5' }, { duration: 600 })
      //   Velocity(el, { scale: '1' }, { duration: 600 })
      // },
      // enter: function (el, done) {
      //   if(this.el_one){
      //     this.el_one = false
      //     Velocity(el, { 
      //       translateY: `${-el.y }px`,
      //       translateX: `${window.innerWidth - el.x-80 }px`,}, { duration: 1000 })
      //   }else{
      //     Velocity(el, { 
      //     translateY: `${-el.y }px`,
      //     translateX: `${window.innerWidth - el.x -120}px`,}, { duration: 1000 })
      //   }
        

      //   var self = this;
      //   setTimeout(function() { 
      //       self.show = false
      //   }, 2200);
      // },
      // leave: function (el, done) {
      //   var temp = 1
      //   Velocity(el, { opacity: 0 }, { })

      //   el.classList.remove('d-block')
      //   setTimeout(function() { 
      //       el.style.display = 'none'
      //   }, 500);
        
      // },

      UpdatePlane(id){
        this.ticket_data.json_tickets[id].reservation = NaN
        this.SavePlane(id)
      },

    
      CreateStage(){
        // debugger
        var width = window.innerWidth >(this.ticket_data.plase*(25)+100) ?  (this.ticket_data.plase*(25)+100) : window.innerWidth
        var height = (this.ticket_data.row*(25)+200) 
        Vue.set(this.configK, 'configKonva', {
          width: width, 
          height: height,
          draggable: true,
        })
      },
      CreateScene(){
        var width = (this.ticket_data.plase*(25)+20+80)
        var height = (this.ticket_data.row*(25)+120+80)
        Vue.set(this.configK, 'configScene', {
          x: width/2-width/4 ,
          y: 10,
          name:'layerHall',
          stroke: '#555',
          strokeWidth: 5,
          fill: '#ddd',
          width: width/2 ,
          height: 40,
          shadowColor: 'black',
          shadowBlur: 10,
          shadowOffset: [10, 10],
          shadowOpacity: 0.2,
        })
        Vue.set(this.configK, 'configSceneText',{
          x: width/2-100,
          y: 10,
          text: 'Сцена',
          fontSize: 18,
          fontFamily: 'Calibri',
          fill: '#555',
          width: 200,
          padding: 20,
          align: 'center'
        })

        this.CreateRows()
      },
      CreateRows(){
        Vue.set(this.configK, 'configRowText', [])
        var row = []
        var temp = false
        for(var i in this.ticket_data.json_tickets){
          if(this.ticket_data.json_tickets[parseInt(i)+1]){
            if(this.ticket_data.json_tickets[parseInt(i)+1].row == this.ticket_data.json_tickets[i].row){
              if (this.ticket_data.json_tickets[parseInt(i)].row_real) {
                temp = this.ticket_data.json_tickets[parseInt(i)].row_real
              }else{
                if(this.ticket_data.json_tickets[parseInt(i)].category){
                  temp = this.ticket_data.json_tickets[parseInt(i)].row
                }
              }
            }else{
              if(temp ){
                row.push(temp)
                temp = false
              }else{
                row.push(0)
              }
            }
          }else{
            if(temp ){
                row.push(temp)
              }else{
                row.push(0)
              }
            }
        }
        // debugger
        var y = 110
        for(var i in row){
          this.configK.configRowText.push(
            {
              x: 22,
              y: y + 25 * i+30,
              id: i,
              fontFamily: 'Calibri',
              fontSize: 18,
              text: row[i]? row[i]: '',
              fill: '#555'
            }
          )
        }
        
      },
      CreateHall(tickets_type){
        var width = (this.ticket_data.plase*(20+5)+20+80)
        var height = (this.ticket_data.row*(20+5)+120+80)
        Vue.set(this.configK, 'configRectPlase', [])
        Vue.set(this.configK, 'configRectPlaseText', [])

        var y = 110
        var x = width/2 -(25*this.ticket_data.plase/2)-25

        for(var i in this.ticket_data.json_tickets){
          var id_ticket = `t_${this.ticket_data.json_tickets[i].category}_${this.ticket_data.json_tickets[i].row_real}_${this.ticket_data.json_tickets[i].plase_real}`
          var color = '#f9f9f9'
          var select = false
          if(this.ticket_data.json_tickets[i].category){
            for(var col in tickets_type){
              if(tickets_type[col].id == this.ticket_data.json_tickets[i].category && tickets_type[col].color){
                color = tickets_type[col].color
              }
            }
          }
          if(this.ticket_data.json_tickets[i].reservation){
            if(this.key == this.ticket_data.json_tickets[i].reservation.key){
              if(Date.now()-this.ticket_data.json_tickets[i].reservation.date<600000 && this.basket.tickets[i]){
                  color = '#ffc107'
              }
            }else{
              select = true
              color = '#909399'
            }      
          }
          if(this.ticket_data.json_tickets[i].pay){
            color = '#56585d'
          }
          this.configK.configRectPlase.push(
            {
              x: x + 25 * this.ticket_data.json_tickets[i].plase,
              y: y + 25 * this.ticket_data.json_tickets[i].row,
              width: 22,
              height: 22,
              fill: color,
              id: i,
              select: select,
            }
          )
          this.configK.configRectPlaseText.push(
            {
              x: x + 25 * this.ticket_data.json_tickets[i].plase + (this.ticket_data.json_tickets[i].plase_real>9 ? 2: 6),
              y: y + 25 * this.ticket_data.json_tickets[i].row+5,
              id: i,
              fontFamily: 'Calibri',
              fontSize: 18,
              text: this.ticket_data.json_tickets[i].plase_real,
              fill: 'black'
            }
          )
        }
      },
      writeMessage(message, id) {
        this.$refs.rect_plase_text[id].getStage().setText(message);
        this.$refs.hall.getStage().draw();
      },
      handleMouseOut(vueComponent, event) {
        // debugger
        // this.writeMessage('', vueComponent.config.id);
      },
      handleMouseMove(vueComponent, event) {
        this.ClickHall(vueComponent) 
      },
      ClickHall(e){
        // debugger
        if(this.ticket_data.json_tickets[e.config.id].category){
          let formData = new FormData();
          formData.append('id', e.config.id);

          if(! this.ticket_data.json_tickets[e.config.id].pay){
            var url = '/api/project/' + this.project.id + '/tickets/find_ticket/'
          // Проверка свободности места
            this.$api.post(url,formData)
              .then(response => {

                if(!(e.config.id in this.basket.tickets)){
                  this.ticket_data.json_tickets[e.config.id].reservation ={
                    date:Date.now(),
                  }

                  this.AddTicket(e.config.id)
                  this.SavePlane(e.config.id)
                }else{
                  // debugger
                }
       

              }).catch(error => {
                // место занято
                // debugger
                e
                if(this.key == error.reservation.key){
                  // если билет забронирован текущим пользователем
                  debugger
                  this.DeleteTicket(e.confi)
                  this.SavePlane(e.config.id)
                }else{
                  debugger
                  this.GetPlane()
                }
            })
          }
        }
      },

      AddTicket(id){
        id = parseInt(id)
       for(var i in this.tickets_category){
          if(this.tickets_category[i].id == this.ticket_data.json_tickets[id].category){

            Vue.set(this.basket.tickets, id, {
              count:1,
              data:Object.assign({}, this.tickets_category[i]),
            })
            // debugger
            var name_temp = {
              row: !!this.ticket_data.json_tickets[id].row_real?this.ticket_data.json_tickets[id].row_real: this.ticket_data.json_tickets[id].row,
              plase: !!this.ticket_data.json_tickets[id].plase_real?this.ticket_data.json_tickets[id].plase_real: this.ticket_data.json_tickets[id].plase
            }
            this.basket.tickets[id].data.name = `${this.basket.tickets[id].data.name} ряд ${name_temp.row} место ${name_temp.plase}`
            this.basket.tickets[id].data.id = id
            this.basket.summ += this.tickets_category[i].price
            this.basket.summ_new += this.tickets_category[i].new_price? this.tickets_category[i].new_price : this.tickets_category[i].price
            this.basket.summ_promocode += this.tickets_category[i].price
            this.basket.count += 1

            // this.SavePlane(e.config.id)
          }
        }
      },

      DeleteTicket(id){
        for(var i in this.tickets_category){
          if(this.tickets_category[i].id == this.ticket_data.json_tickets[id].category){
            // debugger
            this.basket.count = this.basket.count -1
            this.basket.summ = this.basket.summ - (this.tickets_category[i].new_price ? this.tickets_category[i].new_price: this.tickets_category[i].price)
            this.basket.summ_promocode = this.basket.summ -this.tickets_category[i].price
            this.basket.summ_new = this.basket.summ - this.tickets_category[i].new_price ? this.tickets_category[i].new_price : this.tickets_category[i].price
            delete this.basket.tickets[id]
            this.ticket_data.json_tickets[id].reservation=null
            // this.SavePlane(id)
          }
        }

      },
    }
  };


</script>
<style>
  .konvajs-content{
    overflow: hidden;
    border: 1px solid #d3d3d3 !important;
    max-width: 100%;
    margin: auto;
    background: #f9f9f9;

  }
  
</style>
<style scoped>

.img_card{
    height: 50px;
    position: absolute;
    z-index: 1001;
    /*right: calc(50% - 40px);*/
  }

.color{
  width: 120px;
  height: 30px;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: -5px;
  text-align: center;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  line-height: 2.3;
  text-align: center
}

.el-input-number-plane{
  width: 100px

}


</style>