<template>
  <div>
    <b-row >
      <b-col>В продаже</b-col>
      <b-col>Скоро</b-col>
    </b-row>
    <b-row >
      <b-col>
        тут билеты
      </b-col>

    </b-row>
        
  </div>

</template>

<script>
import VueRecaptcha from 'vue-recaptcha';
import MaskedInput from 'vue-masked-input'
import $ from 'jquery'
import axios_t from 'axios'
// import Vue from 'vue'

import * as types from './../../store/mutation-types'

export default({
  // timers: {
  //   log: { time: 1000, autostart: true }
  // },
  data () {
    return {
      basket:false,
      projects:{sale:[], expected:[]},
      slide: 0,
      sliding: null,
      totalRecords: 0,
      serverParams: {
        columnFilters: {
        },
        select:{
          state: ['working', 'plane']
        },
        sort: {
          field: '', 
          type: '',
        },
        search:{
          value: ''
        },
        page: 1, 
        perPage: 10
      }
      // 
    }
  },
  created(){
    this.Init()
  },
  
  methods: {
    Init(){
      axios_t.get('../api/projects/', serverParams)
        .then(response => {
          debugger
            this.projects = response.data
        })
        .catch(e => {
          debugger
          this.errors.push(e)
        })


    },

    BuyTicket(id){
      debugger
      this.$router.push(id.toString())


    },
    onSlideStart (slide) {
      this.sliding = true
    },
    onSlideEnd (slide) {
      this.sliding = false
    }

  }
});

</script>

<style scoped>



  .all_poster{
    background: #f5f5f5;
    margin-left: auto;
    margin-right: auto;
  }


 
  .container_poster{
    margin-top: 55px;
  }

  
</style>

