{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html style='overflow: auto'>
<head>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">
    
    <!--<link rel="stylesheet" href="./../static/libs/element-ui/lib/theme-chalk/index.css">-->
    <!--<link rel="stylesheet" href="./../static/libs/element-ui/lib/theme-chalk/display.css">-->
   <!-- <script defer src="./../static/libs/fontawesome-free-5.0.12/svg-with-js/js/fontawesome-all.js"></script> -->
   <!-- <script src="https://3dsec.sberbank.ru/demopayment/docsite/assets/js/ipay.js"></script>
   <script>
     var ipay = new IPAY({api_token: 'YRF3C5RFICWISEWFR6GJ'});
   </script> -->
    <link rel="stylesheet" href="./../static/css/style_ticket.css">
    <link rel="shortcut icon" type="image/png" href="/static/img/favicon.png"/>
    <title>Продажа билетов</title>
  </head>
<body>

  <div id="tickets_init" class='tickets_init'>

  </div>
  {% render_bundle 'ticket.min' %}
</body>
</html>

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter50028106 = new Ya.Metrika2({
                    id:50028106,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/tag.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks2");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/50028106" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->