{% load render_bundle from webpack_loader %}
<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<style>
    .rotate{
        height:600px;
        border: 2px dashed black;
        transform:rotateZ(270deg);
            margin: -150px 200px;
    }

</style>

<div >
    {% if url_ticket%}
        <script>
            window.onload = function () {
                window.print();
            }
        </script>
        {% for item in url_ticket %}
                <img class="rotate" src="{{item}}" />
        {% endfor %}
    {%else%}
        <p style="text-align:center">
            Билет не найден
        </p>


    {% endif %}




</div>









</body>
</html>