{% load render_bundle from webpack_loader %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <title>DonExpoTicket</title>
  </head>
<body>
  <div id="tickets">
      {% block content %}

      <div id='content' style="text-align:center">

        <h3>Ошибка платежа!</h3>
        <h4>Во время выполнения платежа произошла ошибка.</h4>
          <h4>тел. для связи с менеджером +7 (863) 268–77-59</h4>

      </div>

      {% endblock %}

  </div>

</body>
</html>