

<template > 
<v-container :span="24" class='barcode-view' id = 'barcode-view' style='padding-top:15px'>
  <v-layout row wrap>
    <v-btn dark  color="teal" class = 'button_right' @click="Exit()">
      К проектам
    </v-btn>
  </v-layout>

  <v-layout row wrap>
    <v-flex xs12>
      <v-tabs fixed-tabs>
        <v-tab :key="1" @click='onClickTab(1)'>Проверка билетов</v-tab>
        <v-tab :key="2" @click='onClickTab(2)'>Поиск посетителей </v-tab>
        <v-tab :key="3" @click='onClickTab(3)'>Статистика </v-tab>

        <v-tab-item :key="1">
          <div>
            <div style='text-align: center;'>
              <h3>{{data.name}}</h3>
              <v-text-field ref="field" autofocus v-model="code" placeholder='Номер билета' v-on:blur="onBlur(1)" v-on:change="FindTicket"  class='find_input'></v-text-field>
            </div>
            <div style='margin-top:20px'>
              <vue-good-table
                :columns="columns_activate"
                :rows="data_activate"
                @on-row-click="PayTicket"
                :pagination-options="{
                  enabled: true,
                  perPage: 15,
                  perPageDropdown: [10,15,25,50],
                  dropdownAllowAll: true,          
                  nextLabel: 'След.',
                  prevLabel: 'Пред.',
                  rowsPerPageLabel: 'Строк на стр.',
                  ofLabel: 'из',
                  allLabel: 'Все',
                }"/>
            </div>       
          </div>
        </v-tab-item>

        <v-tab-item :key="2">
          <v-layout>
            <v-flex xs12>
              <div style='text-align: center; padding:0 40px'>
                <h3>{{data.name}}</h3>
                <h3>Поиск посетителей</h3>
                <h5>По номеру билета, заказа, электронной почте, номеру карты </h5>
              
                <v-text-field ref="field_find" autofocus v-model="serverParams.search" placeholder='Поиск (мин. 2 символа)' v-on:blur=""  v-on:input='onSearch' class='find_input' ></v-text-field>
              </div>
            </v-flex>
          </v-layout>
          <v-layout>
            <v-flex xs12>
              <div class ='admin_table_info'>
                  <vue-good-table
                    mode="remote"
                    :columns="columns_find"
                    :rows="data_find"
                    :lineNumbers="true"
                    :totalRows="totalRecords"
                    @on-page-change="onPageChange"
                    @on-per-page-change="onPerPageChange"     
                    @on-sort-change="" 
                    @on-row-click="" 

                    :pagination-options="{
                      enabled: true,
                      perPage: serverParams.perPage,
                      perPageDropdown: [10,25,50],
                      dropdownAllowAll: true,          
                      nextLabel: 'След.',
                      prevLabel: 'Пред.',
                      rowsPerPageLabel: 'Строк на стр.',
                      ofLabel: 'из',
                      allLabel: 'Все',
                    }">
                  </vue-good-table>
              </div>
            </v-flex>
          </v-layout>
          
        </v-tab-item>

        <v-tab-item :key="3">
          <v-container >
            <v-layout row wrap>
              <span class='title'>Общие данные</span>
            </v-layout>

            <v-layout v-if='data_pie.buy'>
                <v-flex xs12 md6>
                  <pie-chart  :data="data_pie.buy" :width="400" :height="200" ></pie-chart>
                </v-flex>
                <v-flex xs12 md6>
                  <h5 class="h5_diagram">Статистика пунктов продаж</h5>
                  <table class='table_chart' style='background:#faf5ff'>
                    <tr class='tr_chart'>
                      <th class='th_chart'></th>
                      <th class='th_chart'>Количество</th>
                      <th class='th_chart'>Процент</th>
                    </tr>
                    <tr class='tr_chart'>
                      <th class='th_chart'>Всего</th>
                      <td class='td_chart'>{{data_pie_statistic.buy.all}}</td>
                      <td class='td_chart'></td>
                    </tr>
                    <tr class='tr_chart'>
                      <th class='th_chart'>Сайт</th>
                      <td class='td_chart'>{{data_pie_statistic.buy.site}}</td>
                      <td class='td_chart'>{{(data_pie_statistic.buy.site/data_pie_statistic.buy.all*100).toFixed(1)}} %</td>
                    </tr>
                    <tr class='tr_chart'>
                      <th class='th_chart'>Киоск</th>
                      <td class='td_chart'>{{data_pie_statistic.buy.kiosk}}</td>
                      <td class='td_chart'>{{(data_pie_statistic.buy.kiosk/data_pie_statistic.buy.all*100).toFixed(1)}} %</td>
                      
                    </tr>
                    <tr class='tr_chart'>
                      <th class='th_chart'>Экспобит</th>
                      <td class='td_chart'>{{data_pie_statistic.buy.expobit}}</td>
                      <td class='td_chart'>{{(data_pie_statistic.buy.expobit/data_pie_statistic.buy.all*100).toFixed(1)}} %</td>
                    </tr> 
                  </table>
                </v-flex>
            </v-layout>

            <v-layout v-if='data_pie.active'>
                <v-flex xs12 md6>
                  <pie-chart :data="data_pie.active" :width="400" :height="200" ></pie-chart>
                </v-flex>
                <v-flex xs12 md6>
                  <h5 class="h5_diagram">Статистика активаций</h5>
                  <table class='table_chart' style='background:#e4f9f9'>
                    <tr class='tr_chart'>
                      <th class='th_chart'></th>
                      <th class='th_chart'>Количество</th>
                      <th class='th_chart'>Процент</th>
                    </tr>
                    <tr class='tr_chart'>
                      <th class='th_chart'>Всего</th>
                      <td class='td_chart'>{{data_pie_statistic.active.all}}</td>
                      <td class='td_chart'></td>
                    </tr>
                    <tr class='tr_chart'>
                      <th class='th_chart'>Активированы</th>
                      <td class='td_chart'>{{data_pie_statistic.active.active}}</td>
                      <td class='td_chart'>{{(data_pie_statistic.active.active/data_pie_statistic.active.all*100).toFixed(1)}} %</td>
                    </tr>
                    <tr class='tr_chart'>
                      <th class='th_chart'>Не активированы</th>
                      <td class='td_chart'>{{data_pie_statistic.active.notactive}}</td>
                      <td class='td_chart'>{{(data_pie_statistic.active.notactive/data_pie_statistic.active.all*100).toFixed(1)}} %</td> 
                    </tr>
                  </table>
                </v-flex>
            </v-layout>
          </v-container>

          <v-expansion-panel expand>
            <v-expansion-panel-content key='1'>
              <div slot="header">Динамика продаж</div>
              <v-card>
                <v-card-text>
                  <v-layout>
                    <v-flex xs12>
                      <v-layout>
                        <v-flex xs5 md3>
                          <v-select v-model="chart_params.buy.type" :items="options_сhart.buy" multiple item-text="label" item-value="value" label="Вид получения билета"></v-select>
                        </v-flex>
                        <v-flex xs5 md3>

                          <v-menu  ref="menu4" v-model="date_options_chart.start_pay"
                            :close-on-content-click="false" :nudge-right="40" :return-value.sync="chart_params.buy.date_start" lazy 
                            transition="scale-transition" offset-y full-width  min-width="290px">
                            <v-text-field 
                              slot="activator"
                              v-model="chart_params.buy.date_start"
                              label="Начало"
                              prepend-icon="access_time"
                              readonly
                            ></v-text-field>
                             <v-date-picker v-model="chart_params.buy.date_start" no-title scrollable>
                                <v-spacer></v-spacer>
                                <v-btn flat color="primary" @click="date_options_chart.start_pay = false">Отмена</v-btn>
                                <v-btn flat color="primary" @click="$refs.menu4.save(chart_params.buy.date_start)">OK</v-btn>
                              </v-date-picker>
                          </v-menu>

                          <v-menu  ref="menu5" v-model="date_options_chart.end_pay"
                            :close-on-content-click="false" :nudge-right="40" :return-value.sync="chart_params.buy.date_end" lazy 
                            transition="scale-transition" offset-y full-width  min-width="290px">
                            <v-text-field 
                              slot="activator"
                              v-model="chart_params.buy.date_end"
                              label="Начало"
                              prepend-icon="access_time"
                              readonly
                            ></v-text-field>
                            <v-date-picker v-model="chart_params.buy.date_end" no-title scrollable>
                                <v-spacer></v-spacer>
                                <v-btn flat color="primary" @click="date_options_chart.end_pay = false">Отмена</v-btn>
                                <v-btn flat color="primary" @click="$refs.menu5.save(chart_params.buy.date_end)">OK</v-btn>
                              </v-date-picker>
                          </v-menu>
                        </v-flex>
                        <v-flex xs6 md3>
                          <v-checkbox v-model="data_chart.type_buy.line" label="Линейный график"></v-checkbox>
                          <v-checkbox v-model="data_chart.type_buy.bar" label="Столбчатая диаграмма" ></v-checkbox>
                        </v-flex>
                        <v-flex xs6 md2>
                          <v-checkbox v-model="chart_params.buy.category" label="Сравнить по категориям"></v-checkbox>
                        </v-flex>
                        <v-flex :span="12" :md='2'>
                          <v-btn dark  color="teal" class = 'button_right' @click="GetChartDataStat('buy')">
                                Показать
                          </v-btn>
                        </v-flex>
                      </v-layout>
                      <v-layout>
                        <v-flex xs12>
                          <bar-chart v-if='data_chart.type_buy.bar && data_chart.line_buy.labels' :data="data_chart.line_buy" :width="400" :height="200" ></bar-chart>
                          <line-chart v-if='data_chart.type_buy.line && data_chart.line_buy.labels' :data="data_chart.line_buy" :width="400" :height="200" ></line-chart>
                          <div v-if='!data_chart.type_buy.bar && !data_chart.type_buy.line && data_chart.line_buy.labels' >Вы не выбрали тип графика</div>
                        </v-flex>
                      </v-layout>
                    </v-flex>
                  </v-layout>
                </v-card-text>
              </v-card>
            </v-expansion-panel-content>

            <v-expansion-panel-content key='2'>
              <div slot="header">Динамика активаций</div>
              <v-card>
                <v-card-text>
                  <v-layout>
                    <v-flex xs12>
                      <v-layout>
                        <v-flex xs5 md3>
                          <v-select v-model="chart_params.activate.type" :items="options_сhart.buy" multiple  item-text="label" item-value="value" label="Вид получения билета"></v-select>
                        </v-flex>

                        <v-flex xs5 md3>
              

                          <v-menu  ref="menu6" v-model="date_options_chart.start_activate"
                            :close-on-content-click="false" :nudge-right="40" :return-value.sync="chart_params.activate.date_start" lazy 
                            transition="scale-transition" offset-y full-width  min-width="290px">
                            <v-text-field 
                              slot="activator"
                              v-model="chart_params.activate.date_start"
                              label="Начало"
                              prepend-icon="access_time"
                              readonly
                            ></v-text-field>
                            <v-date-picker v-model="chart_params.activate.date_start" no-title scrollable>
                              <v-spacer></v-spacer>
                              <v-btn flat color="primary" @click="date_options_chart.start_activate = false">Отмена</v-btn>
                              <v-btn flat color="primary" @click="$refs.menu6.save(chart_params.activate.date_start)">OK</v-btn>
                            </v-date-picker>
                          </v-menu>

                          <v-menu  ref="menu7" v-model="date_options_chart.end_activate"
                            :close-on-content-click="false" :nudge-right="40" :return-value.sync="chart_params.activate.date_end" lazy 
                            transition="scale-transition" offset-y full-width  min-width="290px">
                            <v-text-field 
                              slot="activator"
                              v-model="chart_params.activate.date_end"
                              label="Конец"
                              prepend-icon="access_time"
                              readonly
                            ></v-text-field>
                            <v-date-picker v-model="chart_params.activate.date_end" no-title scrollable>
                              <v-spacer></v-spacer>
                              <v-btn flat color="primary" @click="date_options_chart.end_activate = false">Отмена</v-btn>
                              <v-btn flat color="primary" @click="$refs.menu7.save(chart_params.activate.date_end)">OK</v-btn>
                            </v-date-picker>

                          </v-menu>
                        </v-flex>
                        <v-flex xs6 md3>
                          <v-checkbox v-model="data_chart.type_activate.line" label="Линейный график"></v-checkbox>
                          <v-checkbox v-model="data_chart.type_activate.bar" label="Столбчатая диаграмма" ></v-checkbox>
                        </v-flex>
                        <v-flex xs6 md2>
                          <v-checkbox v-model="chart_params.activate.category" label="Сравнить по категориям"></v-checkbox>
                        </v-flex>
                        <v-flex :span="12" :md='2'>
                          <v-btn dark  color="teal" class = 'button_right' @click="GetChartDataStat('activate')">
                                Показать
                          </v-btn>
                        </v-flex>
                      </v-layout>
                      <v-layout>
                        <v-flex xs12>
                          <bar-chart v-if='data_chart.type_activate.bar && data_chart.line_activate.labels' :data="data_chart.line_activate" :width="400" :height="200" ></bar-chart>
                          <line-chart v-if='data_chart.type_activate.line && data_chart.line_activate.labels' :data="data_chart.line_activate" :width="400" :height="200" ></line-chart>
                          <div v-if='!data_chart.type_activate.bar && !data_chart.type_activate.line && data_chart.line_activate.labels' >Вы не выбрали тип графика</div>
                        </v-flex>

                      </v-layout>
                    </v-flex>
                  </v-layout>
                </v-card-text>
              </v-card>
            </v-expansion-panel-content>
          </v-expansion-panel>      
        </v-tab-item>
      </v-tabs>
    </v-flex>
  </v-layout>   
</v-container>
</template>

<script>
import axios from 'axios';
import Vuex from 'vuex'
import $ from 'jquery'
import store from '../../../store';
import router from './../../../router'
import Vue from 'vue'

import VisitorsList from './../Head/Visitors';
import OrdersList from './../Head/Orders';

export default {
  props: ['project'],
    data() {
        return {
          dialog:true,
          columns_activate: [
            {
              label: 'Номер',
              field: 'number',
              sortable: false,
              width: '200px',
            },
            {
              label: 'Дата',
              field: 'date',
              sortable: false,
              width: '200px',
            },
            {
              label: 'Сообщение',
              field: 'message',
              sortable: false,
              tdClass: 'custom-td-class_margin_none',
              html: true,
              width: '180px'
            },
            {
              label: 'Комментарий',
              field: 'commens',
              sortable: false,
              width: '250px',
              html: true,
            },            
          ],
          data_activate:[],
          code:'',
          autoFocus:null,
          activeName: '1',
          data:{},
          receptions:{},

          totalRecords: 0,
          serverParams: {
            search:'',
            sort: {
              field: '', 
              type: '',
            },
            page: 1, 
            perPage: 20
          },   
        

        columns_find:[
          {
            label: 'Билет',
            field: 'code',
            sortable: false,
          },{
            label: 'Заказ',
            field: 'order',
            sortable: false,
          },{
            label: 'Покупатель',
            sortable: false,
            field: 'buyer',
            width: '200px',
          },{
            label: 'Статус билета',
            sortable: false,
            field: 'state_text',
            width: '70px',
          },{
            label: 'Статус заказа',
            sortable: false,
            field: 'order_state',
            width: '50px',
          },{
            label: 'Карта',
            sortable: false,
            field: 'pan',
            width: '50px',
          },{
            label: 'Цена',
            sortable: false,
            field: 'total_cost',
            width: '50px',
          },{
            label: 'Дата активации',
            sortable: false,
            field: 'date_activate',
            width: '50px',
          },
        ],
        data_find:{},
        // chart
        data_pie:{},
        data_pie_statistic:{},
        date_options_chart:{
          start_pay:false,
          end_pay:false,
          start_activate:false,
          end_activate:false,
        },
        options_сhart:{
          buy:[
            {
              label:'Сайт',
              value:'site',
            },{
              label:'Киоск',
              value:'kiosk',
            },{
              label:'Выставленные счета',
              value:'expobit',
            },
          ]
        },
        chart_params:{
          buy:{
            type:[], 
            date_start:'',
            date_end:'',
            category:false,
          },
          activate:{
            type:[], 
            date_start:'',
            date_end:'',
            category:false,
          },
        },
        data_chart:{
          line_buy:{},
          line_activate:{},
          type_buy:{
            line:false,
            bar:true,
          },
          type_activate:{
            line:false,
            bar:true,
          }
        }
      }
    },
    components: { 
      'VisitorsList':VisitorsList,  
      'OrdersList':OrdersList,  
    },
    created() {
      // debugger
      var url = '/api/project/'+this.project.id+'/data_admin'
      this.$api.get(url, {          
        })
        .then(response => {
          if (response.data){
            this.data = response.data.formData
          }
        })
        .catch(e => {
          this.errors.push(e)
        })

      // this.$api.get('../api/barcode/'+this.$store.state.user.user_id+'/activate')
      // .then(response => {
      //   if (response.data) {
      //     for (var i in response.data){
            
      //       if (response.data[i].id == this.project.id){
      //         // debugger
      //         this.receptions = response.data[i].reception.ticket_category
      //       }else{

      //       }
      //     } 
      //   }
      // })
      // .catch(e => {
      //   console.log(e)
      // })     
    },

    destroyed(){
      this.$store.state.value_project = null
    },

    // updated(){

    //   if(!this.autoFocus && parseInt(this.activeName)==1){
    //     debugger
    //     $(".input_code_barcode .el-input__inner")[0].focus()
    //     this.autoFocus = $(".input_code_barcode .el-input__inner")[0].onblur = function() {
    //       $(".input_code_barcode .el-input__inner")[0].focus()
    //     };
    //   }
    //   if(parseInt(this.activeName)==2){
    //     this.autoFocus = null
    //   }
    // },
    // destroyed(){
    //   this.$store.state.value_project = null
    // },
    
    
    methods:{
      onBlur(ind){
         if(ind==1){
          this.$refs.field.focus()
          }if(ind==2){
            this.$refs.field_find.focus()
          }
        },
      onClickTab(ind){
        if(ind==1){
          function func() {self.$refs.field.focus()}
          var self=this
          setTimeout(func, 1000);

        }if(ind==2){
          function func() {self.$refs.field_find.focus()}
          var self=this
          setTimeout(func, 1000);
        }if(ind==3){
          this.InitChart()
        }
      },

      InitChart(){
        var data = {
          date_buy:'',
          date_activate:'',
        }


        this.$api.get('../api/project/' + this.project.id + '/reports/chart_project/', data)
          .then(response => {

            this.data_pie_statistic = response.data

            Vue.set(this.data_pie, 'all',{
              labels: ['Оплачены', 'Не оплачены', 'Отменены'],
              datasets: [{
                label: 'Data One',
                backgroundColor: ['#009f9d', '#cdffeb', '#07456f'],
                data: [response.data.all.pay, response.data.all.notpay, response.data.all.cancel]
              }]
            })
            if(response.data.buy.site <= response.data.buy.all){
              Vue.set(this.data_pie, 'buy',{
                labels: ['Сайт', 'Киоск', 'Expobit'],
                datasets: [{
                  label: 'Data One',
                  backgroundColor: ['#9692af', '#acdbdf', '#69779b'],
                  data: [response.data.buy.site, response.data.buy.kiosk, response.data.buy.expobit]
                }]
              })
            }
            if(response.data.active.active <= response.data.active.all){
              Vue.set(this.data_pie, 'active',{
                labels: ['Активированы', 'Не активированы'],
                datasets: [{
                  label: 'Data One',
                  backgroundColor: ['#b5525c', '#a2eae2'],
                  data: [response.data.active.active, response.data.active.notactive,]
                }]
              })
            }
          }) 
      },

      GetChartDataStat(type){

        if(type=='buy'){
          var data = {
            type:'buy',
            data:this.chart_params.buy,
          }
          Vue.set(this.data_chart, 'line_buy', {
              labels:null,
              datasets:[]
          })
          if(this.chart_params.buy.category && this.chart_params.buy.type.length>1){
            this.$notify({
              group: 'ticket_not',
              type: 'error',
              duration: 1000,
              text: 'Сравнивать по категориям можно только один вид получения билета'
            });
            return 0
          }
          this.$api.get('../api/project/' + this.project.id + '/reports/chart_project_stat/', data)
          .then(response => {
            if(response.data.category){
              var colors = ['#D32F2F', '#512DA8', '#0288D1','#388E3C', '#FBC02D', '#E64A19', '#738598', '#C2185B', '#303F9F', '#0097A7', '#689F38', '#F57C00', '#00796B',]

              for( var i in response.data.category){

                this.data_chart.line_buy.labels = []
                this.data_chart.line_buy.datasets.push({
                  label: response.data.category[i].name,
                  backgroundColor: colors[i]+'70',
                   borderColor: colors[i],
                  data: []
                })
                if(response.data.data.buy.site && this.chart_params.buy.type.indexOf('site')>=0){
                  for(var j in response.data.data.buy.site){
                    this.data_chart.line_buy.labels.push(j)
                    this.data_chart.line_buy.datasets[this.data_chart.line_buy.datasets.length-1].data.push(response.data.data.buy.site[j][i])
                  }
                }
                if(response.data.data.buy.kiosk && this.chart_params.buy.type.indexOf('kiosk')>=0){
                  for(var j in response.data.data.buy.kiosk){
                    this.data_chart.line_buy.labels.push(j)
                    this.data_chart.line_buy.datasets[this.data_chart.line_buy.datasets.length-1].data.push(response.data.data.buy.kiosk[j][i])
                  }
                  
                }
                if(response.data.data.buy.expobit && this.chart_params.buy.type.indexOf('expobit')>=0){
                  for(var j in response.data.data.buy.expobit){
                    this.data_chart.line_buy.labels.push(j)
                    this.data_chart.line_buy.datasets[this.data_chart.line_buy.datasets.length-1].data.push(response.data.data.buy.expobit[j][i])
                  }
                  
                }
              }
              
            }else{
              if(response.data.data.buy.all_site>0 && this.chart_params.buy.type.indexOf('site')>=0){
                this.data_chart.line_buy.labels = []
                this.data_chart.line_buy.datasets.push({
                  label: 'Сайт',
                  backgroundColor: '#00695C' + '70',
                  borderColor: '#00695C',
                  data: []
                })

                for(var i in response.data.data.buy.site){
                  this.data_chart.line_buy.labels.push(i)
                  this.data_chart.line_buy.datasets[this.data_chart.line_buy.datasets.length-1].data.push(response.data.data.buy.site[i])
                }
              }

              if(response.data.data.buy.all_kiosk>0 && this.chart_params.buy.type.indexOf('kiosk')>=0){
                this.data_chart.line_buy.labels = []
                this.data_chart.line_buy.datasets.push({
                  label: 'Киоск',
                  backgroundColor: '#F50057' + '70',
                  borderColor: '#F50057',
                  data: []
                })
                for(var i in response.data.data.buy.kiosk){
                  this.data_chart.line_buy.labels.push(i) 
                  this.data_chart.line_buy.datasets[this.data_chart.line_buy.datasets.length-1].data.push(response.data.data.buy.kiosk[i])  
                }
                
              }
              if(response.data.data.buy.all_expobit>0 && this.chart_params.buy.type.indexOf('expobit')>=0){
                this.data_chart.line_buy.labels = []
                this.data_chart.line_buy.datasets.push({
                  label: 'Выставленные счета',
                  backgroundColor: '#F9A825' + '70',
                  borderColor: '#F9A825',
                  data: []
                })
                for(var i in response.data.data.buy.expobit){
                  this.data_chart.line_buy.labels.push(i)   
                  this.data_chart.line_buy.datasets[this.data_chart.line_buy.datasets.length-1].data.push(response.data.data.buy.expobit[i])
                }
              }   
            }     
          })
        }
        if(type=='activate'){
          var data = {
            type:'activate',
            data:this.chart_params.activate,
          }
          
          Vue.set(this.data_chart, 'line_activate', {
              labels:null,
              datasets:[],
          })

          if(this.chart_params.activate.category && this.chart_params.activate.type.length>1){
            this.$notify({
              group: 'ticket_not',
              type: 'error',
              duration: 1000,
              text: 'Сравнивать по категориям можно только один вид получения билета'
            });
            return 0
          }

          this.$api.get('../api/project/' + this.project.id + '/reports/chart_project_stat/', data)
          .then(response => {
            if(response.data.category){
              var colors = ['#D32F2F', '#512DA8', '#0288D1','#388E3C', '#FBC02D', '#E64A19', '#738598', '#C2185B', '#303F9F', '#0097A7', '#689F38', '#F57C00', '#00796B',]

              for( var i in response.data.category){
                this.data_chart.line_activate.labels = []
                this.data_chart.line_activate.datasets.push({
                  label: response.data.category[i].name,
                  backgroundColor: colors[i] + '70',
                  borderColor: colors[i],
                  data: []
                })

                if(response.data.data.activate.site && this.chart_params.activate.type.indexOf('site')>=0){
                  for(var j in response.data.data.activate.site){
                    this.data_chart.line_activate.labels.push(j)
                    this.data_chart.line_activate.datasets[this.data_chart.line_activate.datasets.length-1].data.push(response.data.data.activate.site[j][i])
                  }
                }
                if(response.data.data.activate.kiosk && this.chart_params.activate.type.indexOf('kiosk')>=0){
                  for(var j in response.data.data.activate.kiosk){
                    this.data_chart.line_activate.labels.push(j)
                    this.data_chart.line_activate.datasets[this.data_chart.line_activate.datasets.length-1].data.push(response.data.data.activate.kiosk[j][i])
                  }
                  
                }
                if(response.data.data.activate.expobit &&  this.chart_params.activate.type.indexOf('expobit')>=0){
                  for(var j in response.data.data.activate.expobit){
                    this.data_chart.line_activate.labels.push(j)
                    this.data_chart.line_activate.datasets[this.data_chart.line_activate.datasets.length-1].data.push(response.data.data.activate.expobit[j][i])
                  }
                }
              }  
            }else{
              if(response.data.data.activate.all_site>0 && this.chart_params.activate.type.indexOf('site')>=0){
                this.data_chart.line_activate.labels = []
                this.data_chart.line_activate.datasets.push({
                  label: 'Сайт',
                  backgroundColor: '#4527A0' + '70',
                  borderColor: '#4527A0',
                  data: []
                })

                for(var i in response.data.data.activate.site){
                  this.data_chart.line_activate.labels.push(i)
                  this.data_chart.line_activate.datasets[this.data_chart.line_activate.datasets.length-1].data.push(response.data.data.activate.site[i])
                }
              }

              if(response.data.data.activate.all_kiosk>0 && this.chart_params.activate.type.indexOf('kiosk')>=0){
                this.data_chart.line_activate.labels = []
                this.data_chart.line_activate.datasets.push({
                  label: 'Киоск',
                  backgroundColor: '#EF6C00' + '70',
                  borderColor: '#EF6C00',
                  data: []
                })
                for(var i in response.data.data.activate.kiosk){
                  this.data_chart.line_activate.labels.push(i) 
                  this.data_chart.line_activate.datasets[this.data_chart.line_activate.datasets.length-1].data.push(response.data.data.activate.kiosk[i])  
                }        
              }
              if(response.data.data.activate.all_expobit>0 && this.chart_params.activate.type.indexOf('expobit')>=0){
                this.data_chart.line_activate.labels = []
                this.data_chart.line_activate.datasets.push({
                  label: 'Выставленные счета',
                  backgroundColor: '#C62828' + '70',
                  borderColor: '#C62828',
                  data: []
                })
                for(var i in response.data.data.activate.expobit){
                  this.data_chart.line_activate.labels.push(i)   
                  this.data_chart.line_activate.datasets[this.data_chart.line_activate.datasets.length-1].data.push(response.data.data.activate.expobit[i])
                }
              }
            }
          })
          
        }

        var data = {
          date_buy:'',
          date_activate:'',
        }
      },

      Exit(){
        this.$emit('message_ul', {})
      },
      FindTicket(code){

        var ticket = code ? code : this.code

        var url = '../api/barcode/'+this.project.id+'/activate/'+ticket+'/check/'

        let formData1 = new FormData();
        
        formData1.append('ticket_category', this.receptions);
        debugger
        this.$api.post(url, formData1)
        .then(response => {
          console.log('response => ', response)
          this.$notify({
              group: 'ticket_not',
              type: response.data.message.status,
              duration: 1000,
              text: `<i style='font-size:20px' class='fa fa-exclamation'></i> ${ticket} ${response.data.message.message}`
            });

          this.code = ''
          response.data.message.message = `<div class="custom-div_message ${response.data.message.status}">${response.data.message.message}</div>`
          this.data_activate.unshift(response.data.message)
          code ? this.$emit('updateList') : ''

        })
        .catch(e => {
          debugger
         
          this.$notify({
            group: 'ticket_not',
            type: e.message.status,
            duration: 1000,
            text: `<i style='font-size:20px' class='fa fa-exclamation'></i> ${ticket}  ${e.message.message}`
          });
          if(e.message.activate){
            // e.message.commens = `<button v-on:click="${this.PayTicket}" type="button" class='el-button button el-button--info' style="    margin: -9px;">Доплата и активация</button>`
            // e.message.commens = `<div id = "${ticket}" ></div>`
          }
          this.code = ''

          e.message.message = `<div class="custom-div_message ${e.message.status}">${e.message.message}</div>`
          this.data_activate.unshift(e.message)
        })

      }, 

      PayTicket(params) {
        if(params.row.activate){
        }
      },

      Init(){
        this.$api.get('../api/project/' + this.project.id + '/visitors/list_kiosk/',this.serverParams)
        .then(response => {
          if (response.data) {
            this.data_find = response.data.rows
            this.totalRecords = response.data.totalRecords
          }
        })
        .catch(e => {
          console.log(e)
        })
      },


            updateParams(newProps) {
        this.serverParams = Object.assign({}, this.serverParams, newProps);
      },

      onFilterState(value){
        this.updateParams({page: 1});
        this.Init();
      },

      onSearch(value){
        debugger
        // if (value.length>=2){
          this.updateParams({page: 1});
          this.Init();
        // }
      },
   
      onPageChange(params) {
        this.updateParams({page: params.currentPage});
        this.Init();
      },

      onPerPageChange(params) {
        // debugger
        this.updateParams({perPage: params.currentPerPage});
        this.Init();
      },

      onSortChange(params) {
        this.updateParams({page: 1});
        
        this.updateParams({
          sort: {
            type: params.sortType,
            field: this.columns[params.columnIndex].field,
          },
        });
        this.Init();
      },
    
      onColumnFilter(params) {
        this.updateParams(params);
        this.loadItems();
      },

      

   
    }
  };
</script>

<style>

  .find_input input{
    text-align: center;
  }

  .input_code_barcode .el-input__inner{
    text-align: center;
    margin: 30px 0;
  }
  .custom-div_message{
    width: 100%;
    text-align: center;
    padding: .75rem ;

  }
  .custom-div_message.error{
    background: #F44336;
  }

  .custom-div_message.warn{
    background: #ffb648;
  }
  .custom-div_message.success{
    background: #4CAF50;
  }
</style>
