<template>
  <!-- Вкладка активации билетов -->

  <div :span="24" class='barcode' id = 'barcode' style='padding-top:65px'>
    <v-container v-if= '!project'>
      <v-layout row wrap >
        <v-flex v-for="item in project_list" :key='item.id' xs12 sm6 md4 lg3 xl2 style='padding:10px'>
          <v-card color="teal lighten-5" class="teal--text text--darken-4 " v-on:click='Open(item)'>
            <v-layout>
              <v-flex xs5>
                <v-img :src='item.logo' height="125px" contain></v-img>
              </v-flex>
              <v-flex xs7>
                <v-card-title primary-title>
                  <div>
                    <v-tooltip bottom>
                      <div slot="activator" class="subheading" style='height: 50px; overflow: hidden;'>{{item.name}}</div>
                      <span class='subheading font-weight-bold'>{{item.name}}</span>
                    </v-tooltip>
                    <div>c {{item.date_start}} по {{item.date_end}}</div>
                  </div>
                </v-card-title>
              </v-flex>
            </v-layout>
            <v-divider light></v-divider>
            <v-card-actions class="pa-3 subheading">
              <div v-if="item.status=='plane'">Планируемый</div>
              <div v-if="item.status=='sale'" class="red--text text--darken-1">Активный</div>
              <div v-if="item.status=='end'">Завершен</div>
              
            </v-card-actions>
          </v-card>

        </v-flex>
      </v-layout>
    </v-container>

    <Barcode_Activation  v-if='project'   
      :project='project'
      v-on:message_ul="Exit()">
    </Barcode_Activation>
  </div>
</template>

<script>
import Vue from 'vue'
import $ from 'jquery'
import axios from 'axios';

import Barcode_Activation from './Barcode_Activation';




export default {
  components: { 
    'Barcode_Activation':Barcode_Activation,  
  },
  data() {
    return {
      project_list:[],
      project:null
    };
  },

  created(){
    this.$store.state.value_project = null

    this.$api.get('../api/barcode/'+this.$store.state.user.user_id+'/activate')
      .then(response => {
        if (response.data){
          this.project_list = response.data
        }
      })
      .catch(e => {
        console.log(e)
      })
  },

  methods: {
    Exit(){
      Vue.set(this, 'project', null)
    },
    Open(proj){
      
      var project = proj.id

      if(proj.status == 'sale' || proj.status == 'end' ){
        this.$api.get('../api/project/'+project+'/')
        .then(response => {
          if (response.data) {
            this.project = response.data
          }
        })
      }else{
        this.$notify({
          group: 'ticket_not',
          type: 'warning',
          duration: 1000,
          text: 'Проект не активен'
        });
      }
    },
  },
  
};

</script>

<style>
 /* .h3_barcode{
    border-bottom: 3px solid #1abb9c;
    background: #2a3f53;
    color: #fff;
    padding: 5px;

  }
  .barcode_project td{
    text-align: center;
  }*/


</style>



