<template>
  <!-- <div class='navbar' id = 'navbar'> -->
    <v-container xs12 class='quality' id = 'quality' @click='Event'>

      <v-text-field v-if='dialog_login' type="password" style='position: absolute; right: 50px; top: 0;' v-model="login_data.password" label="" @change='LogOut'></v-text-field>
      <v-btn flat icon style='position: absolute; right: 0; top: 0;' color="grey lighten-5" @click='dialog_login=!dialog_login'>
        <v-icon>cloud</v-icon>
      </v-btn>
      
      <v-layout row wrap style='text-align: center;'>
        <v-flex xs12 style='font-size: xx-large; color: #5b6067;'>
          {{interview.name}}
        </v-flex>
      </v-layout>
      <v-layout row wrap style='padding: 30px 0; text-align: center;'>
        <v-flex xs12 style='font-size: 23pt; color: #5b6067;'>
          Оцените пожалуйста качество обслуживания. Необходимо ответить на вопросы.
        </v-flex>
      </v-layout>

      <v-layout align-center justify-space-around row wrap>
        <v-flex xs12 v-if='interview.questions && interview.questions.length > 0'>

        <v-stepper v-model="question_step">
          <v-stepper-header>
            <v-stepper-step v-for='item, index in interview.questions'  color="teal"  :complete="question_step > index+1" :step="index+1">Вопрос {{index+1}}</v-stepper-step>
          </v-stepper-header>

          <v-stepper-items>
            <v-stepper-content v-for='item, index in interview.questions' :step="index+1">
              <v-card class="mb-5" color="grey lighten-5" height="380px">
                <v-layout align-center justify-space-around row wrap  v-if='item.type=="rate"'>
                  <v-flex xs12>
                    <div style='padding: 10px 20px; text-align: center; font-size: x-large; color: #6a7383;'>{{item.text}}</div>
                  </v-flex>
                  <v-flex xs2 class='emoji_div' @click = SetValue(1) v-bind:class="{ active_emoji: (answer_data[index] == 1) }">
                    <v-img class='emoji_img' src="./../static/img/emoji/angryface.png" aspect-ratio="1.7"></v-img><br>
                    <span>Очень плохо</span>
                  </v-flex>
                  <v-flex xs2 class='emoji_div' @click = SetValue(2) v-bind:class="{ active_emoji: (answer_data[index] == 2) }">
                    <v-img class='emoji_img' src="./../static/img/emoji/frowningface.png" aspect-ratio="1.7"></v-img><br>
                    <span>Плохо</span>
                  </v-flex>
                  <v-flex xs2 class='emoji_div' @click = SetValue(3) v-bind:class="{ active_emoji: (answer_data[index] == 3) }">
                    <v-img class='emoji_img' src="./../static/img/emoji/neutralface.png" aspect-ratio="1.7"></v-img><br>
                    <span>Средне</span>
                  </v-flex>
                  <v-flex xs2 class='emoji_div' @click = SetValue(4) v-bind:class="{ active_emoji: (answer_data[index] == 4) }">
                    <v-img class='emoji_img' src="./../static/img/emoji/smilingfacewithsmilingeyes.png" aspect-ratio="1.7"></v-img><br>
                    <span>Хорошо</span>
                  </v-flex>
                  <v-flex xs2 class='emoji_div' @click = SetValue(5) v-bind:class="{ active_emoji: (answer_data[index] == 5) }">
                    <v-img class='emoji_img' src="./../static/img/emoji/smilingfacewithhearteyes.png" aspect-ratio="1.7"></v-img><br>
                    <span>Отлично</span>
                  </v-flex>
                </v-layout>

                <v-layout align-center justify-space-around row wrap v-if='item.type=="bool"'>
                  <v-flex xs12>
                    <div style='padding: 10px 20px; text-align: center; font-size: x-large; color: #6a7383;'>{{item.text}}</div>
                  </v-flex>
                  <v-flex xs2 class='emoji_div' @click = SetValue(1) v-bind:class="{ active_emoji: (answer_data[index] === 1) }">
                    <v-img class='emoji_img' src="./../static/img/emoji/thumbsdown.png" aspect-ratio="1.7"></v-img><br>
                    <span>Плохо</span>
                  </v-flex>
                  <v-flex xs2 class='emoji_div' @click = SetValue(5) v-bind:class="{ active_emoji: (answer_data[index] === 5) }">
                    <v-img class='emoji_img' src="./../static/img/emoji/thumbsup.png" aspect-ratio="1.7"></v-img><br>
                    <span>Отлично</span>
                  </v-flex>
                </v-layout>

                <v-layout align-center justify-space-around row wrap v-if='item.audio'>
                  <v-flex xs12 style='text-align: center; padding-top: 40px;'>
                    <p style='font-size: x-large; color: #5b6067;'>Вы можете дополнить отзыв голосовым сообщением.</p>
                    <p style='font-size: initial; color: #5b6067;'>Для записи отзыва нажмите кнопку "НАЧАТЬ ЗАПИСЬ"</p>
                  </v-flex>
                  <v-flex xs3 style='text-align: center;'>
                    <v-btn dark color="teal" style='height: 50px; font-size: large;' @click='Start'>
                      <span v-if='!timer_data.record && !recorder'><v-icon dark>mic</v-icon> Начать запись</span>
                      <span v-if='timer_data.record'><v-icon dark>stop</v-icon> Завершить запись</span>
                      <span v-if='!timer_data.record && recorder'><v-icon dark>replay</v-icon> Перезаписать</span>
                    </v-btn>
                    <span v-if='timer_data.record'>00:<span v-if='timer_data.time>9'>{{timer_data.time}}</span> <span v-else>0{{timer_data.time}}</span></span>
                  </v-flex>
                </v-layout>
              </v-card>

              <div style='width: 100%; text-align: center; height:63px'>
                <v-btn v-if='!timer_data.record' dark color="teal" style='height: 50px; font-size: large;' @click="NextStep(question_step)">
                  <span v-if="index+1 < interview.questions.length">Продолжить</span>
                  <span v-else>Завершить</span>
                </v-btn>
              </div>
            </v-stepper-content>

          </v-stepper-items>
        </v-stepper>

        
        </v-flex>
      </v-layout>

      <v-dialog v-model="dialog_question" max-width="290">
        <v-card>
          <v-card-title class="headline">Внимание!</v-card-title>

          <v-card-text>
            Для продолжения необходимо выбрать один их предложенных вариантов ответа.
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>

            <v-btn color="green darken-1" flat="flat"
              @click="dialog_question = false"> Понятно
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <div class='gray_win' v-if='view_thank'> 
        <p>
          <span><v-icon size='150' color="white">mood</v-icon></span><br>
          Спасибо за отзыв, Вы помогаете нам стать лучше!
        </p>
      </div>

</v-container>
</template>

<script>
import Vue from 'vue';
import { mapGetters } from 'vuex';
import VModal from 'vue-js-modal'
import axios from 'axios';
import store from '../../store';
import * as types from '../../store/mutation-types'
// Vue.use(VueAudioRecorder)

export default {
  name: 'quality',
  data() {
    return {

      interview:{},
      answer:null,
      

      nums:[1,2,3,4,5],

      BufferLoader:undefined,

      bufferLoader:null,
      source:null,
      recorder:null,
      recordedChunks:null,

      // norm
      dialog_question:false,
      question_step: 1,
      timer_data:{
        event:null,
        polling:null, 
        time:30,
        record:false,
      },
      answer_data:[],
      answer_data_file:[],

      view_thank:false,

      dialog_login:false,
      login_data:{password:''},

      idle_time:0, 

    };
  },
  created(){
    this.Init()
  },
  methods: {

    Init(){
      this.$api.get(`/api/quality/interviews/`,{})
        .then(response => {
          this.interview = response.data
          for(var i in this.interview.questions){
            this.answer_data[i] = ''
            this.answer_data_file[i] = ''
          }
      })
        this.Event()
    },

    SetValue(value){
      Vue.set(this.answer_data, this.question_step-1, value)
    },

    Event(){
      this.idle_time = 0
      var self =this
      clearInterval(this.timer_data.event);
      this.timer_data.event = setInterval(() => {
          if(self.idle_time>60){
            self.idle_time = 0
            self.question_step = 1
            self.recorder = null
            self.answer_data=[]
            self.answer_data_file=[]
          }else{
            self.idle_time+=5
          }
      }, 5000)
    },

    NextStep(index){

      if (this.answer_data[index-1] === '' || this.answer_data[index - 1] === undefined){
        this.dialog_question = true
      }else{
        if(this.question_step == this.interview.questions.length){
          if(this.record){
            this.Start()
          }

          var formData = new FormData();
          formData.append('answer', JSON.stringify(this.answer_data));
          formData.append('interview', JSON.stringify(this.interview));

          for(var i in this.answer_data_file){
            if(this.answer_data_file[i]){
              formData.append('file'+i, this.answer_data_file[i]);
            }
          }
          this.view_thank = true
          var self = this
          setTimeout(function() { self.view_thank = false }, 10000);
          axios.post(`/api/quality/save_audio/`, formData)
            .then(response => {
              this.question_step = 1
              this.recorder = null
              this.answer_data=[]
              this.answer_data_file=[]
            })
        }else{
          if(this.record){
            this.Start()
          }
          this.question_step+=1
        }
      }
    },

    Start(){
      if(!this.timer_data.record && !this.recorder){
        // старт
        Vue.set(this.timer_data, 'record', true)
        Vue.set(this.timer_data, 'time', 30)
        var self = this
        this.timer_data.polling = setInterval(() => {
          if(self.timer_data.time>0){
            self.timer_data.time-=1
          }else{
            self.Start()
          }
        }, 1000)
        this.StartRecord()
        return
      }

      if(this.timer_data.record){
        // остановка
        Vue.set(this.timer_data, 'record', false)
        clearInterval(this.timer_data.polling);
        this.Stop()
        return
      }
      if(!this.timer_data.record && this.recorder){
        // перезапиcь
        this.BufferLoader = undefined;
        this.bufferLoader = null;
        this.source = null;
        this.recorder = null;
        this.recordedChunks = null;
        return
      }
    },
     
    StartRecord(){
      // debugger
      function BufferLoader(context, urlList, callback) {
        this.context = context;
        this.urlList = urlList;
        this.onload = callback;
        this.bufferList = new Array();
        this.loadCount = 0;
      }
      BufferLoader.prototype.loadBuffer = function(url, index) {
        var request = new XMLHttpRequest();
        request.open("GET", url, true);
        request.responseType = "arraybuffer";

        var loader = this;

        request.onload = function() {
          loader.context.decodeAudioData(
            request.response,
            function(buffer) {
              if (!buffer) {
                alert('error decoding file data: ' + url);
                return;
              }
              loader.bufferList[index] = buffer;
              if (++loader.loadCount == loader.urlList.length)
                loader.onload(loader.bufferList);
            },
            function(error) {
              console.error('decodeAudioData error', error);
            }
          );
        }

        request.onerror = function() {
          alert('BufferLoader: XHR error');
        }
        request.send();
      }

      BufferLoader.prototype.load = function() {
        for (var i = 0; i < this.urlList.length; ++i)
        this.loadBuffer(this.urlList[i], i);
      }

      var d = document,
      w = window,
      context = null, dest = null;

      try {
          var audioContext = w.AudioContext || w.webkitAudioContext;
          navigator.getMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia;
          //Создаем контекст

          var AudioContext = window.AudioContext || window.webkitAudioContext;
          var context = new AudioContext();
          dest = context.destination;
          var self=this
          var self_vue = Vue
          this.bufferLoader = new BufferLoader(context, ["/media/sing/example.wav"], function (buffers) {
              navigator.getMedia({ audio: true }, function (striam) {
                  //Создаем интерфейс для получения данных из потока

                  self.source = context.createMediaStreamSource(striam);
                  self.recordedChunks = [];

                  function handleDataAvailable(event) {
                    if (event.data.size > 0) {
                      self2.recordedChunks.push(event.data);

                      var blob = new Blob(self2.recordedChunks, {
                        type: 'audio/webm'
                      });
                      debugger
                      self2_vue.set(self2.answer_data_file, self2.question_step-1, blob)

                    } else {
                     
                    }
                  }
                  var options = {mimeType: 'audio/webm'};
                  var self2=self
                  var self2_vue=self_vue
                  self.recorder = new MediaRecorder(striam, options);
                  self.recorder.ondataavailable = handleDataAvailable;
                  self.recorder.start();


              }, function (e) {
              });            
          });
          this.bufferLoader.load();
          
      } catch (e) {
          alert (e.message);
      }
    },

   


    Stop(){
      this.source.mediaStream.getAudioTracks()[0].stop()
      console.log("recording stopped!!!");
      this.recorder.stop()
    },

    LogOut(){
      debugger
      this.$api.post('../api/token/password_verificate/', {password:this.login_data.password})
        .then(response => {
          var data = {
            token: this.$store.state.token,
          }
          this.$store.dispatch(types.LOGOUT, {
            data: data,
          }).then(() => {
            window.location.hash = '#/login'
            location.reload();
          }); 
        })      
    },

    
    
  },
  
};

</script>

<style>

<style>
  .v-stepper__step__step primary {
    color: #fff;
    background: aqua !important;
  }
  .emoji_img{
    width: 90px;
    height: 90px
  }
  .emoji_div{
    text-align: -webkit-center;
    font-weight: 700;
    color: #626871
  }
  .active_emoji{
    background: #E0F2F1;
    border: 1px solid #B2DFDB;
  }

  .v-dialog__content--active{
    background: #43516966;
  }

  .gray_win{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    color: #fff;
    font-size: 28pt;
    font-weight: 600;
    background: #343a40f5;
    padding-top: 30vh;
}
 
</style>