<template>
  <!-- <div class='navbar' id = 'navbar'> -->
    <v-container class='quality' id = 'quality'>

       <v-tabs fixed-tabs>
        <v-tab :key="1" @click='tabClick(1)'>Список ответов</v-tab>
        <v-tab :key="2" @click='tabClick(2)'>Статистика </v-tab>

        <v-tab-item :key="1">
          <v-container>
            <v-layout align-center justify-center row wrap>
              <v-flex xs3 style='margin:10px'>
                <v-select v-model="serverParams.select.interview" :items="interview_list" item-text="name" item-value="id" label="Точка опроса" clearable></v-select>
              </v-flex>
              <v-flex xs3 style='margin:10px'>
                <v-select v-model="serverParams.select.question" :items="question_list" item-text="text" item-value="id" label="Вопрос" clearable></v-select>
              </v-flex>
              <v-flex xs3 style='margin:10px'>
                <v-btn flat color="teal" class = 'button_right'  @click="onFilterState">Показать</v-btn>
              </v-flex>
            </v-layout>

            <v-layout align-center justify-center row wrap>
              <v-flex xs11 style='overflow:auto'>
                <vue-good-table
                  mode="remote"
                  :columns="answer_columns"
                  :rows="answer_list"
                  :totalRows="totalRecords"
                  @on-page-change="onPageChange"
                  @on-per-page-change="onPerPageChange"     
                  @on-sort-change="onSortChange"
                  @on-row-click="InitAnswer"
                  :pagination-options="{
                    enabled: true,
                    perPage: 15,
                    perPageDropdown: [15,25,50],
                    dropdownAllowAll: true,
                    nextLabel: 'След.',
                    prevLabel: 'Пред.',
                    rowsPerPageLabel: 'Строк на стр.',
                    ofLabel: 'из',
                    allLabel: 'Все',
                  }">
                </vue-good-table>
                
              </v-flex>
            </v-layout>
          </v-container>
        </v-tab-item>

        <v-tab-item :key="2">
          <v-container>
            <v-layout row wrap>
              <v-flex xs12 md4>
                <v-select v-model="data_chart_server.all_chart.interview" :items="interview_list" item-text="name" item-value="id" label="Точка опроса" clearable></v-select>
              </v-flex>

              <v-flex xs4 md3>
                <v-menu ref="menu4" v-model="date_chart.all_start" :close-on-content-click="false" :nudge-right="40" lazy transition="scale-transition" offset-y full-width min-width="290px">
                    <template v-slot:activator="{ on }">
                      <v-text-field v-model="data_chart_server.all_chart.start" :clearable = 'true' label="Начало" prepend-icon="event" readonly v-on="on"></v-text-field>
                    </template>
                    <v-date-picker color="teal darken-1" locale='ru' v-model="data_chart_server.all_chart.start" @input="date_chart.all_start = false" first-day-of-week=1></v-date-picker>
                </v-menu>
              </v-flex>

              <v-flex xs4 md3>
                <v-menu ref="menu4" v-model="date_chart.all_end" :close-on-content-click="false" :nudge-right="40" lazy transition="scale-transition" offset-y full-width min-width="290px">
                    <template v-slot:activator="{ on }">
                      <v-text-field v-model="data_chart_server.all_chart.end" :clearable = 'true' label="Конец" prepend-icon="event" readonly v-on="on"></v-text-field>
                    </template>
                    <v-date-picker color="teal darken-1" locale='ru' v-model="data_chart_server.all_chart.end" @input="date_chart.all_end = false" first-day-of-week=1></v-date-picker>
                </v-menu>    
              </v-flex>

              <v-flex xs4 md2>
                <v-btn flat color="teal" class = 'button_right'  @click="GetChartData(false)">Показать</v-btn>
              </v-flex>

              <v-flex xs12>
                <line-chart v-if='data_chart.all_chart.labels.length' :data="data_chart.all_chart":width="400" :height="200" ></line-chart>
                <!-- <bar-chart v-if='data_chart.all_chart.labels.length' :data="data_chart.all_chart" :width="400" :height="200" ></bar-chart> -->
              </v-flex>
            </v-layout>

             <!-- <v-layout row wrap>
              <v-flex xs12 md4>
                <v-select v-model="data_chart_server.one_day.interview" :items="interview_list" item-text="name" item-value="id" label="Точка опроса" clearable></v-select>
              </v-flex>

              <v-flex xs6 md4>
                <v-menu ref="menu4" v-model="date_chart.one" :close-on-content-click="false" :nudge-right="40" lazy transition="scale-transition" offset-y full-width min-width="290px">
                    <template v-slot:activator="{ on }">
                      <v-text-field v-model="data_chart_server.one_day.date" :clearable = 'true' label="Начало" prepend-icon="event" readonly v-on="on"></v-text-field>
                    </template>
                    <v-date-picker color="teal darken-1" locale='ru' v-model="data_chart_server.one_day.date" @input="date_chart.one = false" first-day-of-week=1></v-date-picker>
                </v-menu>
              </v-flex>

              <v-flex xs26 md14>
                <v-btn flat color="teal" class = 'button_right'  @click="GetChartData('one')">Показать</v-btn>
              </v-flex>
            </v-layout> -->
          </v-container>
        </v-tab-item>
      </v-tabs>

     
      <v-dialog persistent v-model="answer_dialog" max-width="500">
        <v-card>
          <v-container>
            <v-card-title class="headline">
              <v-btn flat icon style='position: absolute; right: 0px; top: 0px;' color="gray" @click='Audio("stop"); answer_dialog=false'>
                <v-icon>clear</v-icon>
              </v-btn>
              Просмотр отзыва
            </v-card-title>
              <v-card-text>
                <v-layout row wrap>

                  <v-flex xs2 style='padding-top: 5px;'>
                    <v-btn v-if='audio.action!="play"' flat icon color="teal" @click='Audio("play")'>
                      <v-icon>play_arrow</v-icon>
                    </v-btn> 
                    <v-btn v-if='audio.action=="play"' flat icon color="red" @click='Audio("pause")'>
                      <v-icon>pause</v-icon>
                    </v-btn>
                  </v-flex>

                  <v-flex xs3 style='padding-top: 20px;'>
                    00:<span v-if='audio.time<10'>0</span>{{audio.time}}/00:<span v-if='audio.len<10'>0</span>{{audio.len}}
                  </v-flex>

                  <v-flex xs7>
                    <v-slider v-if='audio.obj' @change='Audio("rewind")'
                      v-model="audio.time" :max="Math.round(audio.len)">  
                    </v-slider> 
                  </v-flex>

                  <v-flex xs12>
                    <v-textarea label="Коментарий к отзыву"
                      v-model="reaction_data.coment"
                    ></v-textarea>       
                  </v-flex>

                  <v-flex xs12>
                    <v-btn flat color="teal" class = 'button_right' @click="SaveReaction(true)">Сохранить</v-btn>
                  </v-flex>
                </v-layout>
              </v-card-text>
          </v-container>
        </v-card>
      </v-dialog>
</v-container>
</template>

<script>
import Vue from 'vue';
import { mapGetters } from 'vuex';
import VModal from 'vue-js-modal'
import axios from 'axios';
// Vue.use(VueAudioRecorder)

export default {
  name: 'quality',
  data() {
    return {  
      answer_columns:[
        { label: 'ID', field: 'id', sortable: false,},
        { label: 'Вопрос', field: 'question__text', sortable: true,},
        { label: 'Ответ', field: 'value', sortable: true,},
        { label: 'Дата создания', field: 'date_create', sortable: true,},
        { label: 'Аудио', field: 'upload_text', sortable: false,},
        { label: 'Статус аудио', field: 'reaction__listening', sortable: true,},
      ],  
      interview_list:[],
      question_list:[],
      answer_list:[],
      answer_dialog:false,
      answer_data:{},
      reaction_data:{},

      totalRecords: 0,
      serverParams: {
        columnFilters: {
        },
        select:{
          interview:'',
          question:''
        },
        sort: {
          field: 'date_create', 
          type: 'desc',
        },
        search:{
          value: ''
        },
        page: 1, 
        perPage: 10
      },

      audio:{
        obj:null,
        len:0,
        time:0,
        timer:'',
        action:'',
      },

      reaction:{
        audio:false, 
        comment:'',
        priority:1,
      },
      // chart
      date_chart:{
        all_start:false,
        all_end:false,
        one:false,
      },
      data_chart:{
        all_chart:{labels:[], datasets:[]},
        one_day:{},
      },
      data_chart_server:{
        all_chart:{start:'', end:'', interview:''},
        one_day:{date:'', interview:''},
      },
    };
  },
  created(){
    this.$api.get(`/api/quality/interviews/`,{})
    .then(response => {
      this.interview_list = response.data.rows
    })

    this.$api.get(`/api/quality/questions/`,{})
    .then(response => {
      this.question_list = response.data.rows
    })

  },
  methods: {
    Init(){
      this.$api.get(`/api/quality/answers/`,this.serverParams)
      .then(response => {
        this.answer_list = response.data.rows
        this.totalRecords = response.data.totalRecords
      })
    },

    InitAnswer(row){
      if(row.row.upload){
        this.$api.get(`/api/quality/answer/`,row.row)
        .then(response => {
          this.$api.get(`/api/quality/reaction/`,{id:response.data.reaction})
          .then(response => {
            Vue.set(this, 'reaction_data', response.data)
          })
          this.answer_data =response.data
          this.answer_dialog = true
          this.audio.obj = new Audio();
          this.audio.obj.src = row.row.upload;

          var temp_obj = new Audio();
          temp_obj.src = row.row.upload;

          var self = this
          temp_obj.addEventListener('loadedmetadata', function() {
            if (temp_obj.duration === Infinity) {
              temp_obj.currentTime = 1e101;
              var self2=self
              self.audio.obj.ontimeupdate = function() {
                this.ontimeupdate = () => {return;}
                temp_obj.currentTime = 0;
                self2.audio.len = Math.round(temp_obj.duration)
              }
            }else{
              self.audio.len = Math.round(temp_obj.duration) 
            }       
          });
          this.audio.obj.onended = function() {
              self.audio.action = ''
              clearInterval(self.audio.timer);
          };
          
        })
      } 
    },

    Audio(type){

      if(type=='play'){
        this.audio.obj.play();
        if(this.audio.action != 'pause'){
          this.audio.obj.currentTime = 0;
        }
        if(this.audio.timer){
          clearInterval(this.audio.timer);
        }
        var self = this
        this.audio.timer = setInterval(() => {
          if(self.audio.time/self.audio.len*100>70){
            self.reaction_data.listening=true
            self.SaveReaction()
          }
          self.audio.time = Math.round(self.audio.obj.currentTime)
        }, 500)
        this.audio.action = type
      }
      if(type=='pause'){
        this.audio.obj.pause();
        clearInterval(this.audio.timer);
        this.audio.action = type
      }
      if(type=='stop'){
        this.audio.obj.pause();
        this.audio.obj.currentTime = 0.0;
        clearInterval(this.audio.timer);
        this.audio.action = type
      }
      if(type=='rewind'){
        // debugger
        Vue.set(this.audio.obj, 'currentTime', this.audio.time)
      }
    },

    SaveReaction(button=false){
      var formData = new FormData();
      formData.append('reaction', JSON.stringify(this.reaction_data));
      formData.append('answer', this.answer_data['id']);
      this.$api.post(`/api/quality/reaction/`,formData)
      .then(response => {
        this.reaction_data = response.data
        this.Init()
        if(button){
          this.$notify({
            group: 'foo',
            type: 'success',
            duration: 2000,
            text: "<i style='font-size:20px' class='fa fa-check'></i> Сохранено"
          });
        }
      })
    },

    tabClick(ind){
      if(ind == 3){
        this.GetChartData()
      }
    },

    GetChartData(one=false){
      if(one){
        var data = {one:this.data_chart_server.one_chart}
      }else{
        var data = {all:this.data_chart_server.all_chart}
      }
      debugger

        if(data.all.start && data.all.end && !one && data.all.interview){
          this.$api.get('/api/quality/chart_data/', data)
          .then(response => {
            if(one){

            }else{
              var colors = ['211, 47, 47', '81, 45, 168', '2, 136, 209','56, 142, 60', '251, 192, 45', '230, 74, 25', '115, 133, 152', '194, 24, 91', '48, 63, 159',]
              var label = []
           
              for( var i in response.data.statictic){
                this.data_chart.all_chart.labels = response.data.statictic[i].label
                this.data_chart.all_chart.datasets.push({
                  label: response.data.statictic[i].name,
                  backgroundColor:  `rgb(${colors[i]}, 0.7)`,
                  borderColor: `rgb(${colors[i]})`,
                  data: response.data.statictic[i].data,
                })
              }
            }
          })       
        }else{
          this.$notify({
            group: 'foo',
            type: 'error',
            duration: 2000,
            text: "<i style='font-size:20px' class='fa fa-check'></i> Заполните все поля!"
          });
        }


              
      },

    updateParams(newProps) {
      this.serverParams = Object.assign({}, this.serverParams, newProps);
      this.Init();
    },

    onFilterState(){
      this.updateParams({page: 1});
    },

    onSearch(value){
      this.updateParams({page: 1});
    },
   
    onPageChange(params) {
      this.updateParams({page: params.currentPage});
    },

    onPerPageChange(params) {
      this.updateParams({perPage: params.currentPerPage});
    },

    onSortChange(params) {
      this.updateParams({page: 1});
      if(params.length){
        var sort_param = {
          sort: {
            type: params[0].type,
            field: params[0].field,
          },
        }
      }else{
        var sort_param = {
          sort: {
            type: params.type,
            field: params.field,
          },
        }
      }
      this.updateParams(sort_param)
    },
    
    onColumnFilter(params) {
      this.updateParams(params);
    },
   
    
  },
  
};

</script>

<style>

<style>
  .v-stepper__step__step primary {
    color: #fff;
    background: aqua !important;
  }
  .emoji_img{
    width: 90px;
    height: 90px
  }
  .emoji_div{
    text-align: -webkit-center;
    font-weight: 700;
    color: #626871
  }
  .active_emoji{
    background: #E0F2F1;
    border: 1px solid #B2DFDB;
  }

  .v-dialog__content--active{
    background: #43516966;
  }
 
</style>