

<template > 
<v-container  class='kiosk-view' id = 'kiosk-view'>
  <v-layout>
    <v-flex xs12>
      <v-tabs fixed-tabs>
        <v-tab :key="1">Точки опроса</v-tab>
        <v-tab :key="2">Вопросы</v-tab>
      
        <v-tab-item :key="1">
          <v-card flat>
            <v-card-text>
              <v-container class ='admin_table_info'>
                <v-layout>
                    <v-flex>
                      <v-btn  flat icon color="teal" class = 'button_right' @click = 'InterviewEdit()'>
                        <v-icon>add</v-icon>
                      </v-btn>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex xs12 style='overflow:auto'>
                      <vue-good-table
                        :columns="interview_columns"
                        :rows="interview_list"
                        @on-row-click="InterviewEdit"
                        :pagination-options="{
                          enabled: true,
                          perPage: 15,
                          perPageDropdown: [15,25,50],
                          dropdownAllowAll: true,
                          nextLabel: 'След.',
                          prevLabel: 'Пред.',
                          rowsPerPageLabel: 'Строк на стр.',
                          ofLabel: 'из',
                          allLabel: 'Все',
                        }">
                      </vue-good-table>
                    </v-flex>
                  </v-layout>
              </v-container>
            </v-card-text>
          </v-card>
        </v-tab-item>

        <v-tab-item :key="2">
          <v-card flat>
            <v-card-text>
              <v-container class ='admin_table_info'>
                  <v-layout>
                    <v-flex>
                      <v-btn  flat icon color="teal" class = 'button_right' @click = 'QuestionEdit()'>
                        <v-icon>add</v-icon>
                      </v-btn>
                    </v-flex>
                  </v-layout>
                  <v-layout>
                    <v-flex xs12 style='overflow:auto'>
                      <vue-good-table
                        :columns="questions_columns"
                        :rows="questions_list"
                        @on-row-click="QuestionEdit"
                        :pagination-options="{
                          enabled: true,
                          perPage: 15,
                          perPageDropdown: [15,25,50],
                          dropdownAllowAll: true,
                          nextLabel: 'След.',
                          prevLabel: 'Пред.',
                          rowsPerPageLabel: 'Строк на стр.',
                          ofLabel: 'из',
                          allLabel: 'Все',
                        }">
                      </vue-good-table>
                    </v-flex>
                  </v-layout>
              </v-container>
            </v-card-text>
          </v-card>
        </v-tab-item>
      </v-tabs>
    </v-flex>
    
  </v-layout>

  <v-dialog v-model="questions_dialog" max-width="500">
    <v-card>
      <v-container>
        <v-card-title class="headline">Редактирование вопроса</v-card-title>
          <v-card-text>
            <v-layout row wrap>
              <v-flex xs12>
                <v-text-field label="Текст вопроса" v-model="questions_data.text" :disabled="edit ? false : true"
                placeholder="Текст вопроса"></v-text-field>       
              </v-flex>

              <v-flex xs12>
                <v-select v-model="questions_data.type" :disabled="edit ? false : true" :items="options.question_type" item-text="text" item-value="value" label="Тип ответа на вопрос"></v-select>       
              </v-flex>

              <v-flex xs12>

                <v-btn flat  v-if='edit' color="teal" class = 'button_right' @click="QuestionEdit(questions_data.id, true)">Сохранить</v-btn>
                <v-btn flat  v-if='edit' color="teal" class = 'button_right'  @click="edit=false">Отмена</v-btn>
                <v-btn flat  v-if='!edit' color="teal" class = 'button_right'  @click="edit=true">Изменить</v-btn>
                <v-btn flat  v-if='!edit' color="teal" class = 'button_right'  @click="questions_dialog=false; edit=false">Закрыть</v-btn>
              
              </v-flex>
            </v-layout>
            <v-layout row wrap>
             
            </v-layout>
          </v-card-text>
      </v-container>
    </v-card>
  </v-dialog>


   <v-dialog v-model="interview_dialog" max-width="500">
    <v-card>
      <v-container>
        <v-card-title class="headline">Редактирование точки опроса</v-card-title>
          <v-card-text>
            <v-layout row wrap>
              <v-flex xs12>
                <v-text-field label="Название" v-model="interview_data.name" :disabled="edit ? false : true"
                placeholder="Название точки опроса"></v-text-field>       
              </v-flex>

              <v-flex xs12>
                <v-select v-model="interview_data.user" :disabled="edit ? false : true" :items="options.interview_user" item-text="text" item-value="value" label="Пользователь" clearable></v-select>       
              </v-flex>

              <v-flex xs12>
                <v-select v-model="interview_data.project" :disabled="edit ? false : true" :items="options.interview_project" item-text="text" item-value="value" label="Привязка к проекту" clearable></v-select>       
              </v-flex>

              <v-flex xs12>
                <v-checkbox label="Активность опроса" v-model="interview_data.active"></v-checkbox>
              </v-flex>

              <v-flex xs12>
                <v-layout row wrap style='background: #e1eaea; color: #4f4f4f; font-size: 15pt; font-weight: 600;'>
                  <v-flex xs10 style='padding: 10px;'>
                    Вопросы     
                  </v-flex>
                  <v-flex xs2>
                    <v-btn  flat icon color="teal" class = 'button_right' @click = 'AddQuestion()'>
                      <v-icon>add</v-icon>
                    </v-btn>   
                  </v-flex>
                </v-layout>
                <v-layout row wrap v-for='item, id_item in interview_data.questions'>
                  <v-flex xs8>
                    <v-select v-model="item.id" :disabled="edit ? false : true" :items="questions_list" item-text="text" item-value="id" label="Вопрос" clearable></v-select>       
                  </v-flex>
                  <v-flex xs4>
                    <v-btn  flat icon v-bind:class="{ button_gray : !item.audio}" color="teal" @click = 'item.audio = !item.audio'>
                      <v-icon>settings_voice</v-icon>
                    </v-btn>   
                    <v-btn  flat icon color="teal" class = '' @click = 'interview_data.questions.splice(id_item, 1)'>
                      <v-icon>delete</v-icon>
                    </v-btn>    
                  </v-flex>
                </v-layout>
              </v-flex>

              <v-flex xs12>
                <v-btn flat  v-if='edit' color="teal" class = 'button_right' @click="InterviewEdit(interview_data.id, true)">Сохранить</v-btn>
                <v-btn flat  v-if='edit' color="teal" class = 'button_right'  @click="edit=false">Отмена</v-btn>
                <v-btn flat  v-if='!edit' color="teal" class = 'button_right'  @click="edit=true">Изменить</v-btn>
                <v-btn flat  v-if='!edit' color="teal" class = 'button_right'  @click="interview_dialog=false; edit=false">Закрыть</v-btn>
              
              </v-flex>
            </v-layout>
            <v-layout row wrap>
             
            </v-layout>
          </v-card-text>
      </v-container>
    </v-card>
  </v-dialog>

    
</v-container>
</template>

<script>
import Vue from 'vue'


  export default {
    props: [],
    data() {
      return {
        edit:false,
        options:{},

        // interview
        interview_dialog:false,
        interview_columns:[
          { label: 'ID', field: 'id', sortable: false,},
          { label: 'Наименование', field: 'name', sortable: false,},
          { label: 'Пользователь', field: 'user', sortable: false,},
          // { label: 'Проект', field: 'project', sortable: false,},
          { label: 'Активность', field: 'active', sortable: false,},
        ],

        interview_list:[],
        interview_data:{},

        // questions
        questions_dialog:false,
        questions_columns:[
          { label: 'ID', field: 'id', sortable: false,},
          { label: 'Текст', field: 'text', sortable: false,},
          { label: 'Тип', field: 'type', sortable: false,},
          { label: 'Точки опроса', field: 'interview', sortable: false,},
        ],
        questions_list:[],
        questions_data:{},
      }
    },
    created(){
      this.InterviewInit()
      this.QuestionInit()
      this.$api.get(`/api/quality/options/`,{})
      .then(response => {
        this.options = response.data
      })

    },
    mounted() {
      this.$emit('message_ul', { message: {
        name : 'Настройка системы опросов', 
        navbar:'quality', 
        link : location.pathname+'#/quality',
        id   : 'quality_li',
        action: 'add'},
      })      
    },
    destroyed(){
      this.$emit('message_ul', { message: {
        id   : 'quality_li',
          action: 'remove'},
      })
    },
        
    methods:{
      QuestionInit(){
        this.$api.get(`/api/quality/questions/`,{})
        .then(response => {
          this.questions_list = response.data.rows
        })
      },

      QuestionEdit(id = null, edit=false){
        if(edit){
          let formData = new FormData();
          for(var i in this.questions_data){
            formData.append(i, this.questions_data[i])
          }
          this.$api.post(`/api/quality/question/`, formData)
            .then(response => {
              this.questions_data = response.data
              this.edit=false
              this.QuestionInit()
          })
        }else{
          if(id){
            this.$api.get(`/api/quality/question/`, {'id':id.row.id})
              .then(response => {
                this.questions_data = response.data
              })
          }else{
            this.questions_data = {}
            this.edit=true
          }
        }
        this.questions_dialog = true
      },

      AddQuestion(){
        this.interview_data.questions.push({'id':'', 'audio':false})
        debugger
      },

      InterviewInit(){
        this.$api.get(`/api/quality/interviews/`,{})
        .then(response => {
          this.interview_list = response.data.rows
        })
      },

      InterviewEdit(id = null, edit=false){
        if(edit){
          // debugger
          var data = this.interview_data
          data['questions'] = JSON.stringify(data['questions'])
          let formData = new FormData();
          if(!data['project']){
            data['project'] = ''
          }
          for(var i in data){
            formData.append(i, data[i])
          }
          this.$api.post(`/api/quality/interview/`, formData)
            .then(response => {
              this.interview_data = response.data
              this.edit=false
              this.QuestionInit()
          })
        }else{
          // debugger
          if(id){
            this.$api.get(`/api/quality/interview/`, {'id':id.row.id})
              .then(response => {
                this.interview_data = response.data
                // Vue.set(this.interview_data, 'questions', [])
              })
          }else{
            this.interview_data = {}
            Vue.set(this.interview_data, 'questions', [])
            this.edit=true
          }
        }
        this.interview_dialog = true
      },
    }
  };
</script>

<style>
  
  .kiosk_admin_card{
    max-width: 800px;
    background: #fafffe;
    position: relative;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 20px;
  }


  .button_gray{
    color: #8e8e8e !important;
  }

  .kiosk_admin_card_h5{

  }
</style>
