

<template > 
<el-col :span="24" class='ordersList' id = 'ordersList'>
  
  <!-- <el-row>
    <el-col :span="24" :md='13' style='padding:20px 4vw 10px 4vw'>
      <el-radio-group  v-model="serverParams.select.state"  v-on:change="onFilterState" size="small">
        <el-radio-button label="1">Оплаченные</el-radio-button>
        <el-radio-button label="0" >Не оплаченные</el-radio-button>
        <el-radio-button label="2" >Отмененные</el-radio-button>
        <el-radio-button label="">Все</el-radio-button>
      </el-radio-group>
  </el-col> -->

  <el-col :span="24" :md='11' style='padding:20px 4vw 10px 4vw'>
    <!-- <div style='width:100px; float:left'>Поиск:</div> -->
    <el-input placeholder="Поиск (мин. 2 символа)" size="small" style='width: 325px;' v-model="serverParams.search.value" v-on:input='onSearch'></el-input>
  </el-col>

     
    <!-- </div> -->
  </el-row>
  <el-row>
    <div class ='admin_table_info'>
        <vue-good-table
          mode="remote"
          :columns="columns"
          :rows="data"
          :lineNumbers="true"
          :totalRows="totalRecords"
          @on-page-change="onPageChange"
          @on-per-page-change="onPerPageChange"     
          @on-sort-change="onSortChange"  
          @on-row-click="onRowClick" 

          :pagination-options="{
            enabled: true,
            perPage: serverParams.perPage,
            perPageDropdown: [10,25,50],
            dropdownAllowAll: true,          
            nextLabel: 'След.',
            prevLabel: 'Пред.',
            rowsPerPageLabel: 'Строк на стр.',
            ofLabel: 'из',
            allLabel: 'Все',
          }">
        </vue-good-table>
    </div>
  </el-row>

  <modal :span="24" class="form-plan" name="form-orders" id = '' :width="700" :height="800">
    <el-tabs v-model="select_modal_tabs">
      <el-tab-pane label="Данные" name="1">
        <el-col :span="24" class='project-content'>
          <div class='el-col el-col-24'>

            <div>
              
              <el-button v-if="data_modal.state==1 && !edit" type="success" @click="edit=true" style='margin-left: 20px;'>
                  <i class="fas fa-pencil-alt"></i> Редактировать
              </el-button>

              <el-button v-if="data_modal.state==1 && !edit" type="info" @click="SendEmail" style='margin-left: 20px;'>
                  <i class="far fa-envelope"></i> Отправить билет
              </el-button>

            </div>


            <el-form :model="data_modal" class="form-project">

              <el-form-item>
                <div class='el-col el-col-24 el-col-xs-24 el-col-sm-6  '>Код заказа</div>
                <div class='el-col el-col-24 el-col-xs-24 el-col-sm-18 '>
                  <el-input disabled  v-model="data_modal.number"></el-input>
                </div>
              </el-form-item>

              <el-form-item>
                <div class='el-col el-col-24 el-col-xs-24 el-col-sm-6  '>UUID</div>
                <div class='el-col el-col-24 el-col-xs-24 el-col-sm-18 '>
                  <el-input disabled  v-model="data_modal.uuid"></el-input>
                </div>
              </el-form-item>

              <el-form-item v-if="!edit">
                <div class='el-col el-col-24 el-col-xs-24 el-col-sm-6  '>Покупатель</div>
                <div class='el-col el-col-24 el-col-xs-24 el-col-sm-18 '>
                  <el-input disabled  v-model="data_modal.buyer"></el-input>
                </div>
              </el-form-item>

              <el-form-item v-else>
                <div class='el-col el-col-24 el-col-xs-24 el-col-sm-6  '>Покупатель</div>
                <div class='el-col el-col-24 el-col-xs-24 el-col-sm-18 '>
                  <el-input v-model="data_modal.buyer"></el-input>
                </div>
              </el-form-item>

              <el-form-item>
                <div class='el-col el-col-24 el-col-xs-24 el-col-sm-6  '>Номер карты</div>
                <div class='el-col el-col-24 el-col-xs-24 el-col-sm-18 '>
                  <el-input disabled  v-model="data_modal.pan"></el-input>
                </div>
              </el-form-item>

              <el-form-item>
                <div class='el-col el-col-24 el-col-xs-24 el-col-sm-6  '>Сумма</div>
                <div class='el-col el-col-24 el-col-xs-24 el-col-sm-18 '>
                  <el-input disabled  v-model="data_modal.amount"></el-input>
                </div>
              </el-form-item>

              <el-form-item>
                <div class='el-col el-col-24 el-col-xs-24 el-col-sm-6  '>Доплата</div>
                <div class='el-col el-col-24 el-col-xs-24 el-col-sm-18 '>
                  <el-input disabled  v-model="data_modal.surcharge"></el-input>
                </div>
              </el-form-item>

              <div style="width: 100%; text-align: center;">
                <img :src="data_modal.barcode">
              </div>
              
            </el-form>

            
          </div>
      
        </el-col>
      </el-tab-pane>

      <el-tab-pane label="Билеты" name="2">
        <el-table
          border
          :data="tickets"
          style="width: 100%">
          <el-table-column
            prop="code"
            label="Код"
            width="180">
          </el-table-column>
          <el-table-column
            prop="state"
            label="Статус"
            width="180">
          </el-table-column>
          <el-table-column
            prop="category"
            label="Категория">
          </el-table-column>
        </el-table> 
      </el-tab-pane>
    
      <el-tab-pane label="Анкеты" name="3">
        <el-tabs type="card" @tab-click="handleClick">
          <el-tab-pane v-for='item, index in forms' :key='item' :label="'Анкета ' + (index+1)">
            <table style = 'margin: 10px; color:#606266'>
              <thead>
                <tr>
                  <th style='border: 1px solid #bdbdbd; text-align:center'>Вопрос</th>
                  <th style='border: 1px solid #bdbdbd; text-align:center'>Ответ</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for = 'ques, index_ques in item'>
                  <td style='border: 1px solid #bdbdbd; padding-left:5px'>{{forms_label[index_ques].text}}</td>
                  <td style='border: 1px solid #bdbdbd; padding-left:5px'>
                    <div>
                      <div v-if = "typeof(ques) == 'object'">
                        <div v-if = "forms_label[index_ques].type == 'choice' && forms_label[index_ques].params.choice">
                          <div v-if = 'forms_label[index_ques].params.many ==true'>

                             <div v-if = 'forms_label[index_ques].params.text_field == true'>
                                <span v-for="ind in ques.value">
                                  <span v-if='ind == "other"'>{{ques.text}};</span>
                                  <span v-else>{{forms_label[index_ques].params.choice[ind-1].text}}; </span>
                                  
                                </span>
                            </div>
                            <div v-else>
                              <span v-for="ind in ques.value">
                                {{forms_label[index_ques].params.choice[ind-1].text}};  
                              </span>
                            </div>
                          </div>
                          <div v-else>
                            <span v-if="forms_label[index_ques].params.choice[ques.value-1]">{{forms_label[index_ques].params.choice[ques.value-1].text}}</span>
                          </div>
              
                        </div>
                        <div v-else>
                          <span v-for="city in ques">
                            {{city.name}}, 
                            <!-- 123 -->
                          </span>
                        </div>
                        
                      </div>
                      <div v-else>
                        {{ques}}
                      </div>
                      
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
           <!--  <el-row v-for = 'ques, index_ques in item'>
              <el-col :span="12">
                {{forms_label[index_ques].text}}
              </el-col>
              <el-col :span="12">
                <div v-if = "typeof(ques) == 'object'">
                  <div v-if = "forms_label[index_ques].type == 'choice' && forms_label[index_ques].params.choice">
                    <div v-if = 'forms_label[index_ques].params.many ==true'>

                       <div v-if = 'forms_label[index_ques].params.text_field == true'>
                          <span v-for="ind in ques.value">
                            <span v-if='ind == "other"'>{{ques.text}};</span>
                            <span v-else>{{forms_label[index_ques].params.choice[ind-1].text}}; </span>
                            
                          </span>
                      </div>
                      <div v-else>
                        <span v-for="ind in ques.value">
                          {{forms_label[index_ques].params.choice[ind-1].text}};  
                        </span>
                      </div>
                    </div>
                    <div v-else>
                      <span v-if="forms_label[index_ques].params.choice[ques.value-1]">{{forms_label[index_ques].params.choice[ques.value-1].text}}</span>
                    </div>
        
                  </div>
                  <div v-else>
                    <span v-for="city in ques">
                      {{city.name}}, 
                                       </span>
                  </div>
                  
                </div>
                <div v-else>
                  {{ques}}
           
                </div>
                
              </el-col>
            </el-row> -->
          </el-tab-pane>
        </el-tabs> 
      </el-tab-pane>

    </el-tabs>
    <div style='position: absolute;bottom: 20px;right: 20px;'>
              
      <el-button v-if="data_modal.state==1 && !edit" type="danger" class='button_modal' @click="CanselPay">
          Отменить заказ
      </el-button>

      <el-button v-if="data_modal.state==1 && edit" type="success" class='button_modal' @click="Update">
          Сохранить
      </el-button>

      <el-button v-if="data_modal.state==1 && !edit" type="info" class='button_modal' @click="$modal.hide('form-orders');">
          Закрыть
      </el-button>

      <el-button v-if="data_modal.state==1 && edit" type="info" class='button_modal' @click="edit=false">
          Отмена
      </el-button>

    </div>
    
  </modal>
    
</el-col>
</template>

<script>
import Vue from 'vue'
import axios from 'axios';
import $ from 'jquery'

  export default {
    props: ['select_orders', 'action_orders', 'ordersBus'],
    data() {
      return {
        edit:false,
        select_modal_tabs:'1',
        totalRecords: 0,
        serverParams: {
          columnFilters: {
          },
          select:{
            state:"1",
          },
          sort: {
            field: 'date', 
            type: 'desc',
          },
          search:{
            value: ''
          },
          page: 1, 
          perPage: 10
        },
        eventsForm: {visible:'', b:null},
        
        columns: [
          // {
          //   label: 'Номер',
          //   field: 'number',
          //   placeholder:'фильтр номеру',
          // },
          // // {
          // //   label: 'uuid',
          // //   field: 'uuid',
            
          // // },
          // {
          //   label: 'Покупатель',
          //   field: 'buyer',

          // },  
          // {
          //   label: 'Статус',
          //   field: 'state',

          // },  
          // {
          //   label: 'Email',
          //   field: 'state_email',

          // },   
          // {
          //   label: 'Дата покупки',
          //   field: 'date',

          // },  
          // // {
          // //   label: 'Номер карты',
          // //   field: 'pan',

          // // }, 
          // {
          //   label: 'Кол. билетов',
          //   field: 'count_ticket',
          //   type: 'number',
          //   width: '10px',

          // },    
          // {
          //   label: 'Сумма',
          //   field: 'amount',

          // },    
          // // {
          // //   label: 'Доплата',
          // //   field: 'surcharge',

          // // },  
        ],
        data:[],
        project:[],

        data_modal:{},
        tickets:[],

        forms:[],
        forms_label:{}
      }
    },

    created() {

    this.ordersBus.$on('customEventName', this.methodYouWannaCall);

    if ('REGISTRATION' in this.$store.state.user.permission){
      this.$parent.$parent.$parent.$parent.$on('updateList', ()=> {
          this.Init()
       })

    }
      this.Init()
    },


    methods: {
      Init(){

        this.$api.get('../api/project/' + this.$parent.$props.id + '/visitors/forms/',this.serverParams)
        .then(response => {
          if (response.data) {
            this.columns = []
            var form = JSON.parse(response.data.form.data)
            for(var i in form){
              this.columns.push({
                  label: form[i].text,
                  field: i,
              })
            }
            this.data=[]
            for(var i in response.data.form_data){
              var form_temp = JSON.parse(response.data.form_data[i].data)
              for(var j in form_temp){
                if(form[j].type == 'city'){
                  // debugger
                  var temp_city = ''
                  if(form_temp[j].country && form_temp[j].country.name){
                    temp_city+=form_temp[j].country.name + ', '
                  }
                  if(form_temp[j].region && form_temp[j].region.name){
                    temp_city+=form_temp[j].region.name + ', '
                  }

                  if(form_temp[j].city && form_temp[j].city.name){
                    temp_city+=form_temp[j].city.name + ', '
                  }

                  form_temp[j] = temp_city
                }
                if(form[j].type == 'city'){
                  
                }
              }
              this.data.push(form_temp)
              
            }

          }
        })
        .catch(e => {
          console.log(e)
        })
      },

      Update(){
        if(this.data_modal['buyer'] && this.validEmail(this.data_modal['buyer'])){
          debugger
          this.$api.post('../api/' + this.$parent.$props.id + '/tickets/buy/order_update/', {order: this.data_modal })
            .then(response => {
              if (response.data) {
                this.$notify({
                  group: 'foo',
                  type: 'success',
                  duration: 6000,
                  text: "<i style='font-size:20px' class='fa fa-check'></i> Сохранено"
                });
                this.edit=false
                this.Init()
              }
            })
            .catch(e => {
              this.$notify({
                group: 'foo',
                type: 'error',
                duration: 6000,
                text: "<i style='font-size:20px' class='fa fa-exclamation'></i> "+ e.message
              });
            })

        }else{

        }
      },

      validEmail:function(email) {
        var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
      },

      SendEmail(){
        if(this.data_modal['buyer']){
          this.$api.post('../api/' + this.$parent.$props.id + '/tickets/buy/resend_email/', {uuid:this.data_modal['uuid'] })
            .then(response => {
              if (response.data) {
                this.$notify({
                  group: 'foo',
                  type: 'success',
                  duration: 6000,
                  text: "<i style='font-size:20px' class='fa fa-check'></i> Сообщение отправлено"
                });
              }
            })
            .catch(e => {
              this.$notify({
                group: 'foo',
                type: 'error',
                duration: 6000,
                text: "<i style='font-size:20px' class='fa fa-exclamation'></i> "+ e.message
              });
            })

        }else{

        }
      },

      CanselPay(){
        this.$confirm('Вы действительно хотите отменить платеж? Денежные средства будут возвращены покупателю!', 'Подтверждение', {
          distinguishCancelAndClose: true,
          confirmButtonText: 'Да',
          cancelButtonText: 'Отмена'
        })
        .then(() => {
          this.Cansel()
        })
        .catch(action => {
          
        });
      },

      Cansel(){
        this.$api.post('../api/project/' + this.$parent.$props.id + '/orders/'+this.data_modal.id+'/cancel_pay/')
            .then(response => {
              if (response.data) {
                this.$notify({
                  group: 'foo',
                  type: 'success',
                  duration: 6000,
                  text: "<i style='font-size:20px' class='fa fa-check'></i> Заказ отменен"
                });
                this.$modal.hide('form-orders');
                this.Init()
              }
            })
            .catch(e => {
              this.$notify({
                group: 'foo',
                type: 'error',
                duration: 6000,
                text: "<i style='font-size:20px' class='fa fa-exclamation'></i> "+ e.error
              });
              // debugger
            })

      },
      updateParams(newProps) {
        this.serverParams = Object.assign({}, this.serverParams, newProps);
      },

      onRowClick(params) {

        this.$api.get('../api/project/' + this.$parent.$props.id + '/orders/'+params.row.number+'/')
        .then(response => {
          if (response.data) {
            this.data_modal = response.data
          }
        })
        .catch(e => {})


        this.$api.get('../api/project/' + this.$parent.$props.id + '/orders/'+params.row.number+'/tickets')
        .then(response => {
          if (response.data) {
            this.tickets = response.data
          }
        })
        .catch(e => {})

        this.$api.get('../api/project/' + this.$parent.$props.id + '/forms/'+params.row.number+'/form_data')
        .then(response => {
          Vue.set(this, 'forms_label', JSON.parse(response.data.form.data))
          Vue.set(this, 'forms', [])
          for(var i in response.data.form_data){
            this.forms.push(JSON.parse(response.data.form_data[i].data))
          }
        })
        .catch(e => {})

        this.$modal.show('form-orders');
        this.edit=false
      },

      onFilterState(value){
        this.updateParams({page: 1});
        this.Init();
      },

      onSearch(value){
        // if (value.length>=2){
          this.updateParams({page: 1});
          this.Init();
        // }
      },
   
      onPageChange(params) {
        this.updateParams({page: params.currentPage});
        this.Init();
      },

      onPerPageChange(params) {
        // debugger
        this.updateParams({perPage: params.currentPerPage});
        this.Init();
      },

      onSortChange(params) {
        this.updateParams({page: 1});
        this.updateParams({
          sort: {
            type: params.sortType,
            field: this.columns[params.columnIndex].field,
          },
        });
        this.Init();
      },
    
      onColumnFilter(params) {
        this.updateParams(params);
        this.loadItems();
      },
      
      // selectEvents(row, index){
      //   this.select_orders.splice(this.select_event.length-1, 1)
      //   this.select_orders.push({ 'id': row.id, 'name':row.label,})

      //   this.action_orders.splice(this.select_orders.length-1, 1)
      //   this.action_orders.push('view')

      //   this.ordersBus.$emit("selectEvent", row.id);

      // },

      // Add(){
      //   var hash = '/project/' + this.$store.state.value_project + '/orderss/new'
      //   location.hash = hash
      //   location.href = location.href
      // },
      // Delete(){
      //   this.$confirm('Удалить мероприятие?', 'Подтверждение действий пользователя', {
      //     confirmButtonText: 'Да',
      //     cancelButtonText: 'Отмена',
      //     type: 'warning'
      //   }).then(() => {
      //     this.$api.del('../api/project/'+this.$store.state.value_project + '/events/'+this.eventsForm.id+'/delete/')
      //     .then(response => {
      //       location.hash = '#project/'+this.$store.state.value_project + '/events/';
      //       location.href = location.href
      //       this.$notify({
      //         group: 'foo',
      //         type: 'success',
      //         duration: 3000,
      //         text: "<i style='font-size:20px' class='fa fa-check'></i> Удалено"
      //       });
      //     })
      //     .catch(e => {
      //       this.$notify({
      //         group: 'foo',
      //         type: 'error',
      //         duration: 3000,
      //         text: "<i style='font-size:20px' class='fa fa-exclamation'></i> Ошибка"
      //       });
      //     })
      //   })

      // },
      //  Back(){
      //   var hash = '/project/' + this.$store.state.value_project +'/'
      //   location.hash = hash
      //   location.href = location.href
      // },

      // deleteImage(){
      //     this.formData.logo = 'delete';
      //     this.file = ''
      // },

      // handleFileUpload(){
      //     this.formData.logo = 'true';
      //     this.file = this.$refs.file.files[0];
      //     var input = this.$refs.file

      //     if (input.files && input.files[0]) {
      //         var reader = new FileReader();

      //         reader.onload = function(e) {
      //           $('#blah').attr('src', e.target.result);
      //         }

      //         reader.readAsDataURL(input.files[0]);
      //       }  
      // },

      // readURL(input) {

      //     if (input.files && input.files[0]) {
      //         var reader = new FileReader();
      //         reader.onload = function(e) {
      //           $('#blah').attr('src', e.target.result);
      //         }
      //         reader.readAsDataURL(input.files[0]);
      //     }
      // }
    }
  }
</script>
<style>

.el-radio-button__inner{
  width: 100%
}

.el-radio-group label{
  min-width: 50px !important;

}



.el-upload-list__item-name{
    height: 30px; 
}

.el-upload-list {
    width: 90%;
    max-width: 200px
}

.avatar {
    width: 15vw;
    max-width: 200px;
    display: block;
    border: solid 1px #c0c4cc;
  }

/*label{
    min-width: 130px;
    padding: 0px !important;
}*/

.uploadButton {
    display: block;
    width: 10vw;
    background: #909399;
    padding: 10px;
    color: #FFF;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}

.uploadButton:hover {

    background: #a6a9ad;

}


.deleteButtom{
    position: absolute;
    right: -1px;
    top: 0px;
    background-color: #dcdfe6;
    border: 0;
    cursor: pointer;
    padding: 2px;
    width: 24px;
    font-size: 16px;
    border-radius: 0px;

}

</style>