

<template > 
<v-container class='ordersList' id = 'ordersList'>
  <v-layout row wrap style='padding:0 20px'>
      <v-flex md8 lg8 style='' class='not_mobil_screen'>
        <v-btn-toggle v-model="serverParams.select.state"  v-on:change="onFilterState">
          <v-btn flat value="1">Оплаченные</v-btn>
          <v-btn flat value="0">Не оплаченные</v-btn>
          <v-btn flat value="2">Отмененные</v-btn>
          <v-btn flat value="">Все</v-btn> 
        </v-btn-toggle>
      </v-flex>
      <v-flex xs12 sm7 style='' class='mobil_screen'>
        <v-select v-model="serverParams.select.state"  v-on:change="onFilterState()"
          :items="[{value:'0', label:'Не оплаченные'}, {value:'1', label:'Оплаченные'}, {value:'2', label:'Отмененные'}, {value:'', label:'Все'}]" item-text="label" item-value="value" label="Статус заказа"></v-select>
      </v-flex>
      <v-flex xs10 sm4 md3 lg3 style=''>
        <v-text-field  v-model="serverParams.search.value" v-on:input='onSearch' style='padding:0; width: 100%;' label="Поиск"></v-text-field>
      </v-flex>
      <v-flex xs2 sm1 md1 lg1 style='' v-if="['admin', 'business'].includes($store.state.user.permission_name)">
        <v-btn  flat icon color="teal" class = 'button_right' @click="CreateOrder">
            <v-icon>add</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>

  <v-layout>
    <v-flex xs12 style='overflow:auto'>
      <div class ='admin_table_info'>
          <vue-good-table
            mode="remote"
            :columns="columns"
            :rows="data"
            :lineNumbers="true"
            :totalRows="totalRecords"
            @on-page-change="onPageChange"
            @on-per-page-change="onPerPageChange"     
            @on-sort-change="onSortChange"  
            @on-row-click="onRowClick" 

            :pagination-options="{
              enabled: true,
              perPage: serverParams.perPage,
              perPageDropdown: [10,25,50],
              dropdownAllowAll: true,          
              nextLabel: 'След.',
              prevLabel: 'Пред.',
              rowsPerPageLabel: 'Строк на стр.',
              ofLabel: 'из',
              allLabel: 'Все',
            }">
          </vue-good-table>
      </div>
    </v-flex>
  </v-layout>


  <v-dialog v-model="dialog" max-width="500">
    <v-card>
      <v-card-title>
        Данные
      </v-card-title>
      <v-card-text style="height: 450px; max-width:500px; padding:10px; overflow-y: auto">
        <v-tabs fixed-tabs>
          <v-tab :key="1">Данные</v-tab>
          <v-tab :key="2">Билеты </v-tab>

          <v-tab-item :key="1">
            <v-container style='padding: 0 10px;'>
              <v-layout row wrap>
                <v-flex xs12>
                  <v-btn v-if="data_modal.state==1 && !edit" flat icon  color="teal" class = 'button_right' @click="edit=true">
                      <v-icon>edit</v-icon>
                  </v-btn>
                  <v-btn v-if="data_modal.state==1 && !edit" dark  color="teal" class = 'button_right' @click="SendEmail">
                      Отправить билет
                  </v-btn>
                </v-flex>
                <v-flex xs12>
                   <v-text-field v-model="data_modal.number" :disabled='true' style='padding: 0;' label="Код заказа"></v-text-field>
                </v-flex>
                <v-flex xs12>
                   <v-text-field v-model="data_modal.uuid" :disabled='true' style='padding: 0;' label="UUID"></v-text-field>
                </v-flex>
                <v-flex xs12>
                   <v-text-field :disabled="edit ? false : true" v-model="data_modal.buyer" style='padding: 0;' label="Покупатель"></v-text-field>
                </v-flex>
                <v-flex xs12>
                   <v-text-field v-model="data_modal.pan" :disabled='true' style='padding: 0;' label="Номер карты"></v-text-field>
                </v-flex>
                <v-flex xs12>
                   <v-text-field v-model="data_modal.amount" :disabled='true' style='padding: 0;' label="Сумма"></v-text-field>
                </v-flex>
                <v-flex xs12>
                   <v-text-field v-model="data_modal.surcharge" :disabled='true' style='padding: 0;' label="Доплата"></v-text-field>
                </v-flex>
              </v-layout>
            </v-container>   
          </v-tab-item>
          <v-tab-item :key="2">
            <v-card v-for='ticket in tickets'>
              <v-card-title>
                <v-layout>
                  <v-flex xs10>
                    <span class="grey--text">{{ticket.date_create}}</span><br>
                    <span class="teal--text">{{ticket.state_text}}, {{ticket.order_state}}</span><br>
                    <span>Категория: {{ticket.category}}</span><br>
                    <span>Код: {{ticket.code}}</span><br>
                  </v-flex>
                   <v-flex xs2>

                    <v-dialog v-model="dialog_form" width="500">
                      <v-btn v-if='project.is_form' flat icon color="teal" class = 'button_right' slot="activator">
                        <v-icon>list</v-icon>
                      </v-btn>

                      <v-card>
                        <v-card-title class="headline grey lighten-2" primary-title>
                          Анкета
                        </v-card-title>

                        <v-card-text style='max-height: 500px; overflow-y: auto;'>
                          <v-card v-for='ques, index_ques in forms[0]'>
                            <v-card-title>
                              <v-layout>
                                <v-flex xs6>
                                  <span>{{forms_label[index_ques].text}}</span><br>
                                </v-flex>
                                <v-flex xs6>
                                  <div>
                                    <div v-if = "typeof(ques) == 'object'">
                                      <div v-if = "forms_label[index_ques].type == 'choice' && forms_label[index_ques].params.choice">
                                        <div v-if = 'forms_label[index_ques].params.many ==true'>

                                           <div v-if = 'forms_label[index_ques].params.text_field == true'>
                                              <span v-for="ind in ques.value">
                                                <span v-if='ind == "other"'>{{ques.text}};</span>
                                                <span v-else>{{forms_label[index_ques].params.choice[ind-1].text}}; </span>
                                                
                                              </span>
                                          </div>
                                          <div v-else>
                                            <span v-for="ind in ques.value">
                                              {{forms_label[index_ques].params.choice[ind-1].text}};  
                                            </span>
                                          </div>
                                        </div>
                                        <div v-else>
                                          <span v-if="forms_label[index_ques].params.choice[ques.value-1]">{{forms_label[index_ques].params.choice[ques.value-1].text}}</span>
                                        </div>
                            
                                      </div>
                                      <div v-else>
                                        <span v-for="city in ques">
                                          {{city.name}}, 
                                          <!-- 123 -->
                                        </span>
                                      </div>
                                      
                                    </div>
                                    <div v-else>
                                      {{ques}}
                                    </div>
                                    
                                  </div>
                                </v-flex>
                              </v-layout>
                            </v-card-title>
                          </v-card>
                        </v-card-text>

                        <v-divider></v-divider>

                        <v-card-actions>
                          <v-spacer></v-spacer>
                          <v-btn color="teal" flat @click="dialog_form = false">
                            Закрыть
                          </v-btn>
                        </v-card-actions>
                      </v-card>
                    </v-dialog>


                  </v-flex>
                </v-layout>
              </v-card-title>
            </v-card>

          </v-tab-item>
        </v-tabs> 
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-btn flat  v-if="data_modal.state==1 && !edit && (['admin'].includes($store.state.user.permission_name))" color="teal" class = 'button_right' @click="CanselPay">Отменить заказ</v-btn>
        <v-btn flat  v-if="data_modal.state==1 && edit" color="teal" class = 'button_right'  @click="Update">Сохранить</v-btn>
        <v-btn flat  v-if="data_modal.state==1 && edit" color="teal" class = 'button_right'  @click="edit=false">Отмена</v-btn>
        <v-btn flat  v-if="data_modal.state==1 && !edit" color="teal" class = 'button_right'  @click="dialog=false">Закрыть</v-btn>
      </v-card-actions>
      
    </v-card>
  </v-dialog>

  <v-dialog v-model="dialog_add_order" max-width="720">
    <v-card>
      <v-card-title>
        Создание заказа по выставленным счетам
      </v-card-title>
      <v-card-text style="height: 550px; max-width:700px; overflow-y: auto">

        <v-layout row wrap style = 'height:100%'>
          <v-flex xs12 md7  style = 'height:100%'>
            <div class='order_creater'>
              <v-layout>
                <v-flex class='modal_head_light'>
                  Редактирование
                  <v-btn  flat icon color="teal" class = 'button_right' @click="CreateOrderCreateForm">
                    <v-icon>add</v-icon>
                  </v-btn>
                </v-flex>
              </v-layout>

              <v-layout class='create_order_card '>
                <v-flex v-if='data_options.form.questions'>
                  <v-layout v-for='(question, id) in data_options.form.questions' :key='question'>
                    <v-flex xs12>
                      <v-text-field v-if='item.type=="text"' style='padding: 0;' :label="question.text" v-on:change='CreateOrderSelectForm(question, id)' v-model="data_order.form[id]"></v-text-field>
                      <v-text-field v-if='item.type=="phone"' style='padding: 0;' :label="question.text" v-on:change='CreateOrderSelectForm(question, id)' v-model="data_order.form[id]"></v-text-field>
                      <v-text-field v-if='item.type=="email"' style='padding: 0;' :label="question.text" v-on:change='CreateOrderSelectForm(question, id)' v-model="data_order.form[id]"></v-text-field>
                    </v-flex>
                  </v-layout>
                </v-flex>
              </v-layout>

              <v-layout class='add_order_row'>
                <v-flex xs12>
                   <v-text-field style='padding: 0;' label="Контактные данные" v-model="data_order.contact"></v-text-field>
                </v-flex>
              </v-layout>

              <v-layout class='add_order_row' v-if='data_options.category'>
                <v-flex xs12>
                  <v-select  v-model="data_order.category" v-on:change='CreateOrderSelectCategory' :items="data_options.category" label="Категория" item-text="name" item-value="id"></v-select>
                </v-flex>
              </v-layout>

              <v-layout class='add_order_row' v-if='project.is_plane'>
                <v-flex xs6>
                  <v-text-field style='padding: 0;' type="number" label="Ряд" v-model="data_order.row"></v-text-field>
                </v-flex>
                <v-flex xs6>
                  <v-text-field style='padding: 0;' type="number" label="Место" v-model="data_order.place"></v-text-field>
                </v-flex>
              </v-layout>

              <v-layout class='add_order_row' v-if='!project.is_plane'>
                <v-flex xs12>
                  <v-text-field style='padding: 0;' type="number" label="Количество билетов" v-model="data_order.count"></v-text-field>
                </v-flex>
              </v-layout>

              <v-layout class='add_order_row'>
                <v-flex xs12>
                  <v-text-field style='padding: 0;' type="number" label="Стоимость билета" v-model="data_order.amount"></v-text-field>
                </v-flex>
              </v-layout>

              <v-btn  dark  color="teal" class = 'button_right' @click="CreateOrderSave">
                Сохранить
              </v-btn>

            </div>
          </v-flex>
          <v-flex xs12 md5 style = 'height:100%' >
            <div class='order_creater'>
              <v-layout>
                <v-flex class='modal_head_light'>
                  Итог. Получатели.
                </v-flex>
              </v-layout>

              <div style='overflow-y: auto;height: 80%;'>
                <v-layout row wrap class='order_creater_card' v-bind:class="{ active_card: card.id==data_order.id}" v-for='card in data_order_arr' :key='card.id'>
                  <v-flex xs10>
                    <p class='order_created_p'>Получатель:{{card.contact}}</p>
                    <p class='order_created_p' v-if='!project.is_plane'>Количество:{{card.count}} шт.</p>
                    <p class='order_created_p' v-if='project.is_plane'>Ряд:{{card.row}} Место:{{card.place}}</p>
                    <p class='order_created_p'>Стоимость:{{card.amount}}</p>
                    
                  </v-flex>
                  <v-flex xs2>
                    <v-btn  flat icon color="teal" class = 'button_right' @click="CreateOrderDelete(card)">
                        <v-icon>delete</v-icon>
                    </v-btn>
                    <v-btn  flat icon color="teal" class = 'button_right' @click="CreateOrderSelect(card)">
                        <v-icon>edit</v-icon>
                    </v-btn>
                  </v-flex>
                </v-layout>
              </div>
              <div v-if='data_order_arr.length>0' class='modal_button_bottom' >
                  <v-btn  dark  color="teal" class = 'button_right' @click="CreateOrderSendEmail">
                    Отправить билеты
                  </v-btn>
              </div>
              
            </div>
          </v-flex>
        </v-layout>
       
      </v-card-text>
            
    </v-card>
  </v-dialog>
    
</v-container>
</template>

<script>
import Vue from 'vue'
import axios from 'axios';
import $ from 'jquery'

  export default {
    props: ['project','ordersBus'],
    data() {
      return {
        edit:false,
        dialog:false,
        dialog_form:false,
        dialog_add_order:false,

        select_modal_tabs:'1',
        totalRecords: 0,
        serverParams: {
          columnFilters: {
          },
          select:{
            state:'1',
          },
          sort: {
            field: 'date', 
            type: 'desc',
          },
          search:{
            value: ''
          },
          page: 1, 
          perPage: 10
        },
        eventsForm: {visible:'', b:null},
        
        columns: [
          {
            label: 'Номер',
            field: 'number',
            placeholder:'фильтр номеру',
          },{
            label: 'Покупатель',
            field: 'buyer',
          },{
            label: 'Статус',
            field: 'state',
          },{
            label: 'Email',
            field: 'state_email', },{
            label: 'Карта',
            field: 'pan',
          }, {
            label: 'Дата покупки',
            field: 'date',
          },{
            label: 'Кол. билетов',
            field: 'count_ticket',
            type: 'number',
            width: '10px',
          },{
            label: 'Сумма',
            field: 'amount',
          },      
        ],
        data:[],

        data_modal:{},
        tickets:[],

        forms:[],
        forms_label:{},


        // add_order
        data_options:{
          form:{},
          category:[],

        },
        data_order:{
          id:'',
          contact:'',
          form:[],
          category:'',
          amount:0,
          row:'',
          place:'',
          count:1,
          
        },
        data_order_arr:[],
      }
    },

    created() {
  

    this.ordersBus.$on('customEventName', this.methodYouWannaCall);

    // if ('REGISTRATION' in this.$store.state.user.permission){
    //   this.$parent.$parent.$parent.$parent.$on('updateList', ()=> {
    //       this.Init()
    //    })

    // }
      this.Init()
    },


    methods: {
      Init(){
        this.$api.get('../api/project/' + this.project.id + '/orders/',this.serverParams)
        .then(response => {
          if (response.data) {
            this.data = response.data.rows
            this.totalRecords = response.data.totalRecords

          }
        })
        .catch(e => {
          console.log(e)
        })
      },
      CreateOrder(){
        this.data_order={
          id:'',
          contact:'',
          form:[],
          category:'',
          amount:0,
          row:'',
          place:'',
          count:1,  
        }
        this.data_order_arr=[]
        this.$api.get('../api/project/' + this.project.id + '/forms/get/', {
          type:'registr_eb_pay',
          project__id:this.project.id
        })
        .then(response => {
          var temp = response.data
          if(typeof(response.data.data) == 'string'){
              temp.questions = JSON.parse(response.data.data)
          }else{
              temp.questions =response.data.data
          }
          Vue.set(this.data_options, 'form', temp)
        })

        this.$api.get('../api/project/'+ this.project.id + '/tickets/')
        .then(response => {
          if (response.data) {
            Vue.set(this.data_options, 'category', response.data)
          }
        })
        this.dialog_add_order=true
      },

      CreateOrderSelectCategory(){
        for(var i in this.data_options.category){
      
          if(this.data_options.category[i].id == this.data_order.category){
            Vue.set(this.data_order, 'amount', this.data_options.category[i].price)
            return
          }
        }

      },
      CreateOrderSelectForm(question, id){
        if(question.type == 'phone' || question.type == 'email'){
          if(question.params.contact){
            this.data_order.contact = this.data_order.form[id]
          }
        }
      },

      CreateOrderCreateForm(){
        Vue.set(this, 'data_order', {
          id:'',
          contact:'',
          form:[],
          category:'',
          amount:0,
          row:'',
          place:'',
          count:1,
          
        })
      },

      CreateOrderSave(){
        var validate = true

        if(!this.data_order.category || 
          (this.project.is_plane && (!this.data_order.row || !this.data_order.place)) ||
          (!this.project.is_plane && (!this.data_order.row || !this.data_order.place))){

        }
        if(!this.data_order.contact){

        }
   
        if(this.data_order.id){
          for(var i in this.data_order_arr){
            if(this.data_order.id ==this.data_order_arr[i].id){
              this.data_order_arr[i].id = this.data_order
              return
            }
          }
        }else{
          this.data_order.id = this.data_order_arr.length+1

          this.data_order_arr.push(this.data_order)

          Vue.set(this, 'data_order', {
            id:'',
            contact:'',
            form:[],
            category:'',
            amount:0,
            row:'',
            place:'',
            count:1,            
          } )

        }

      },
      CreateOrderSelect(card){
        Vue.set(this, 'data_order', card)
        debugger
      },
      CreateOrderDelete(card){
        debugger
        var temp = this.data_order_arr
        temp.splice (card.id -1, 1)

        for( var i in temp){
          temp[i].id = parseInt(i)+1
        }
        Vue.set(this, 'data_order_arr', temp)

      },

      CreateOrderSendEmail(){

        this.$api.post(`/api/${this.project.id}/tickets/buy/create_order/`, {
            type_pay:'expobit',
            tickets:this.data_order_arr,
            confirm:false,
          })
          .then(response => {
            this.$notify({
              group: 'foo',
              type: 'success',
              duration: 3000,
              text: "Отправлено "+response.data.order.length + ' из '+ this.data_order_arr.length
            });
            debugger
            for(var i in this.data_order_arr){
              this.$api.post(`/api/${this.project.id}/tickets/buy/create_forms/`, {
                order:response.data.order[i],
                form:this.data_order_arr[i].form,
              })
              .then(response => {
                debugger
              })   
            }
          })

      },

      Update(){
        if(this.data_modal['buyer'] && this.validEmail(this.data_modal['buyer'])){
          // debugger
          this.$api.post('../api/' + this.project.id + '/tickets/buy/order_update/', {order: this.data_modal })
            .then(response => {
              if (response.data) {
                this.$notify({
                  group: 'foo',
                  type: 'success',
                  duration: 6000,
                  text: "<i style='font-size:20px' class='fa fa-check'></i> Сохранено"
                });
                this.edit=false
                this.Init()
              }
            })
            .catch(e => {
              this.$notify({
                group: 'foo',
                type: 'error',
                duration: 6000,
                text: "<i style='font-size:20px' class='fa fa-exclamation'></i> "+ e.message
              });
            })

        }else{

        }
      },

      validEmail:function(email) {
        var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
      },

      SendEmail(){
        if(this.data_modal['buyer']){
          this.$api.post('../api/' + this.project.id + '/tickets/buy/resend_email/', {uuid:this.data_modal['uuid'] })
            .then(response => {
              if (response.data) {
                this.$notify({
                  group: 'foo',
                  type: 'success',
                  duration: 6000,
                  text: "<i style='font-size:20px' class='fa fa-check'></i> Сообщение отправлено"
                });
              }
            })
            .catch(e => {
              this.$notify({
                group: 'foo',
                type: 'error',
                duration: 6000,
                text: "<i style='font-size:20px' class='fa fa-exclamation'></i> "+ e.message
              });
            })

        }else{

        }
      },

      CanselPay(){
        this.$confirm('Вы действительно хотите отменить платеж? Денежные средства будут возвращены покупателю!', 'Подтверждение', {
          distinguishCancelAndClose: true,
          confirmButtonText: 'Да',
          cancelButtonText: 'Отмена'
        })
        .then(() => {
          this.Cansel()
        })
        .catch(action => {
          
        });
      },

      Cansel(){
        this.$api.post('../api/project/' + this.project.id + '/orders/'+this.data_modal.id+'/cancel_pay/')
            .then(response => {
              if (response.data) {
                this.$notify({
                  group: 'foo',
                  type: 'success',
                  duration: 6000,
                  text: "<i style='font-size:20px' class='fa fa-check'></i> Заказ отменен"
                });
                this.$modal.hide('form-orders');
                this.Init()
              }
            })
            .catch(e => {
              this.$notify({
                group: 'foo',
                type: 'error',
                duration: 6000,
                text: "<i style='font-size:20px' class='fa fa-exclamation'></i> "+ e.error
              });
              // debugger
            })

      },
      updateParams(newProps) {
        this.serverParams = Object.assign({}, this.serverParams, newProps);
      },

      onRowClick(params) {

        this.$api.get('../api/project/' + this.project.id + '/orders/'+params.row.number+'/')
        .then(response => {
          if (response.data) { 
            this.data_modal = response.data
          }
        })
        .catch(e => {})


        this.$api.get('../api/project/' + this.project.id + '/orders/'+params.row.number+'/tickets')
        .then(response => {
          if (response.data) {

            this.tickets = response.data
          }
        })
        .catch(e => {})

        this.$api.get('../api/project/' + this.project.id + '/forms/'+params.row.number+'/form_data')
        .then(response => {
          Vue.set(this, 'forms_label', JSON.parse(response.data.form.data))
          Vue.set(this, 'forms', [])
          for(var i in response.data.form_data){
            this.forms.push(JSON.parse(response.data.form_data[i].data))
          }
        })
        .catch(e => {})

        // this.$modal.show('form-orders');
        this.dialog=true
        this.edit=false
      },

      onFilterState(value){
        this.updateParams({page: 1});
        this.Init();
      },

      onSearch(value){
        // if (value.length>=2){
          this.updateParams({page: 1});
          this.Init();
        // }
      },
   
      onPageChange(params) {
        this.updateParams({page: params.currentPage});
        this.Init();
      },

      onPerPageChange(params) {
        // debugger
        this.updateParams({perPage: params.currentPerPage});
        this.Init();
      },

      onSortChange(params) {
        this.updateParams({page: 1});
        if(params.length){
          var sort_param = {
            sort: {
              type: params[0].type,
              field: params[0].field,
            },
          }
        }else{
          var sort_param = {
            sort: {
              type: params.type,
              field: params.field,
            },
          }
        }
        this.updateParams(sort_param)
        this.Init();
      },
    
      onColumnFilter(params) {
        this.updateParams(params);
        this.loadItems();
      },
      
      // selectEvents(row, index){
      //   this.select_orders.splice(this.select_event.length-1, 1)
      //   this.select_orders.push({ 'id': row.id, 'name':row.label,})

      //   this.action_orders.splice(this.select_orders.length-1, 1)
      //   this.action_orders.push('view')

      //   this.ordersBus.$emit("selectEvent", row.id);

      // },

      // Add(){
      //   var hash = '/project/' + this.$store.state.value_project + '/orderss/new'
      //   location.hash = hash
      //   location.href = location.href
      // },
      // Delete(){
      //   this.$confirm('Удалить мероприятие?', 'Подтверждение действий пользователя', {
      //     confirmButtonText: 'Да',
      //     cancelButtonText: 'Отмена',
      //     type: 'warning'
      //   }).then(() => {
      //     this.$api.del('../api/project/'+this.$store.state.value_project + '/events/'+this.eventsForm.id+'/delete/')
      //     .then(response => {
      //       location.hash = '#project/'+this.$store.state.value_project + '/events/';
      //       location.href = location.href
      //       this.$notify({
      //         group: 'foo',
      //         type: 'success',
      //         duration: 3000,
      //         text: "<i style='font-size:20px' class='fa fa-check'></i> Удалено"
      //       });
      //     })
      //     .catch(e => {
      //       this.$notify({
      //         group: 'foo',
      //         type: 'error',
      //         duration: 3000,
      //         text: "<i style='font-size:20px' class='fa fa-exclamation'></i> Ошибка"
      //       });
      //     })
      //   })

      // },
      //  Back(){
      //   var hash = '/project/' + this.$store.state.value_project +'/'
      //   location.hash = hash
      //   location.href = location.href
      // },

      // deleteImage(){
      //     this.formData.logo = 'delete';
      //     this.file = ''
      // },

      // handleFileUpload(){
      //     this.formData.logo = 'true';
      //     this.file = this.$refs.file.files[0];
      //     var input = this.$refs.file

      //     if (input.files && input.files[0]) {
      //         var reader = new FileReader();

      //         reader.onload = function(e) {
      //           $('#blah').attr('src', e.target.result);
      //         }

      //         reader.readAsDataURL(input.files[0]);
      //       }  
      // },

      // readURL(input) {

      //     if (input.files && input.files[0]) {
      //         var reader = new FileReader();
      //         reader.onload = function(e) {
      //           $('#blah').attr('src', e.target.result);
      //         }
      //         reader.readAsDataURL(input.files[0]);
      //     }
      // }
    }
  };
</script>
<style>

.modal_button_bottom{
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding: 10px;
}

.order_creater{
  height: 96%;
  margin: 15px 10px;
  border: 1px solid #bebebe;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  position: relative;
}

.create_order_card{
    padding: 10px;
    margin: 10px;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
}

.order_creater_card{
    padding: 10px;
    margin: 10px;
    border: 1px solid #bebebe;
    border-radius: 5px;
}

.active_card{
  background: #e7fbf7 !important;
    border-color: #97d4c7 !important;
}

.order_created_p{
    margin: 0 !important;
    padding-left: 15px !important;
}

.add_order_row{
  padding: 1px 10px;
}

.order_shower{

}

.el-radio-button__inner{
  width: 100%
}

.el-radio-group label{
  min-width: 50px !important;

}



.el-upload-list__item-name{
    height: 30px; 
}

.el-upload-list {
    width: 90%;
    max-width: 200px
}

.avatar {
    width: 15vw;
    max-width: 200px;
    display: block;
    border: solid 1px #c0c4cc;
  }

/*label{
    min-width: 130px;
    padding: 0px !important;
}*/

.uploadButton {
    display: block;
    width: 10vw;
    background: #909399;
    padding: 10px;
    color: #FFF;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}

.uploadButton:hover {

    background: #a6a9ad;

}


.deleteButtom{
    position: absolute;
    right: -1px;
    top: 0px;
    background-color: #dcdfe6;
    border: 0;
    cursor: pointer;
    padding: 2px;
    width: 24px;
    font-size: 16px;
    border-radius: 0px;

}

</style>