
<template>
<div class='projects-view'  id = 'projects-view'>
  <v-container v-if="!$store.state.user.permission.indexOf('kiosk_plus')>=0">
    <v-layout row wrap>
      <v-flex xs12>
        <router-view v-on:message_ul="IndexMessageRedirect"  
          :is_business_dr='is_business_dr'
          :project='project'
          :projectBus='projectBus'
          v-on:project='Project' >
        </router-view>
      </v-flex>
    </v-layout>

    <v-layout row wrap v-if='projects_visible'>
      <v-flex xs12>
        <v-btn  dark  color="teal" class = 'button_right' @click="addProject" style='float:right'>
            Создать
        </v-btn>
      </v-flex>
      <v-flex xs12>
        <vue-good-table
          mode="remote"
          :columns="columns"
          :rows="data"
          :lineNumbers="true"
          :totalRows="totalRecords"
          @on-page-change="onPageChange"
          @on-per-page-change="onPerPageChange"     
          @on-sort-change="onSortChange" 
          @on-row-click="onRowClick"  
          :pagination-options="{
            enabled: true,
            perPage: serverParams.perPage,
            perPageDropdown: [10,15,25,50],
            dropdownAllowAll: true,          
            nextLabel: 'След.',
            prevLabel: 'Пред.',
            rowsPerPageLabel: 'Строк на стр.',
            ofLabel: 'из',
            allLabel: 'Все',
          }">
        </vue-good-table>  
      </v-flex>
    </v-layout>   
  </v-container>

</div>
</template>

<script>
import Vue from 'vue'
import $ from 'jquery'
import * as types from '../../../store/mutation-types'
import router from '../../../router'
import axios from 'axios';
import { mapGetters } from 'vuex';

import Project from './../Forms/Project.vue';

var projectBus = new Vue();

  export default {
    data(){
      return {
        totalRecords: 0,
        serverParams: {
          columnFilters: {
          },
          select:{
          },
          sort: {
            field: 'status', 
            type: 'desc',
          },
          search:{
            value: ''
          },
          page: 1, 
          perPage: 10
        },
        projectBus:projectBus,
        columns: [
          {
            label: 'ID',
            field: 'id',},
          {
            label: 'Название',
            field: 'name',},
           {
            label: 'Статус',
            field: 'status',},
          {
            label: 'Дата начала',
            field: 'date_start',
            type: 'date',
            dateInputFormat: 'YYYY-MM-DD',
            dateOutputFormat: 'DD-MM-YYYY',},
          {
            label: 'Дата окончания',
            field: 'date_end',
            type: 'date',
            dateInputFormat: 'YYYY-MM-DD',
            dateOutputFormat: 'DD-MM-YYYY',},
        ],
        data:[],
        modal_filter_form:{},
        is_business_dr:false,
        projects_visible:true,
      };
    },
    props: ['project',],
    components:{
      'Project': Project, 
    },
    created() {
      // debugger
      if(this.$store.state.user.permission_name == 'expo'){
        Vue.set(this.serverParams.select, 'is_business',false)
      }
      if(this.$store.state.user.permission_name == 'business'){
        Vue.set(this.serverParams.select, 'is_business', true)       
      }
      this.$emit('project', { message: {data:{}}})
      this.projectBus.$on("updateList", ()=>{
        this.getProjects()
      });

      this.$emit('message_ul', { message: {
        name : 'Список проектов',
        navbar:'project', 
        link : location.pathname+'#/project/',
        id   : 'projects_li',
        action: 'add'}
      })

      // this.$store.dispatch(types.BUSINESS_PROJECT, false)
      this.getProjects()

    },
    mounted(){
      this.$store.dispatch(types.BUSINESS_PROJECT, false)
    },
    destroyed(){
      this.$store.dispatch(types.BUSINESS_PROJECT, undefined)
      this.$emit('message_ul', { message: {
        id   : 'projects_li',
        action: 'remove'}
      })
    },

    methods: {
      getProjects () {
        this.$api.get('../api/projects/', this.serverParams)
        .then(response => {
          if (response.data) {
            this.data = response.data.rows
            this.totalRecords = response.data.totalRecords
          }
        })
        .catch(e => {
          console.log('error')
        })
      },
      onRowClick(data){

        this.$emit('project', { message: {
            data : data.row, 
          }
        })

        router.push({ name: 'id', params: { id: data.row.id }})
      },
      addProject(){
        location.hash = '/project/new/'
        location.href = location.href
      },
      IndexMessageRedirect: function (payload) {
        this.$emit('message_ul', { message: payload.redirect})
        if (payload.message){
          this.projects_visible = payload.message.projects_visible
        }
        
      },
      Project(payload){
        this.$emit('project', payload)
      },
      onFilterState(){
        this.updateParams({page: 1});
        this.getProjects();
      },

      updateParams(newProps) {
        this.serverParams = Object.assign({}, this.serverParams, newProps);
      },
      

      onSearch(value){
        // debugger
        this.updateParams({page: 1});
        this.getProjects();
      },
   
      onPageChange(params) {
        // debugger
        this.updateParams({page: params.currentPage});
        this.getProjects();
      },

      onPerPageChange(params) {
        // debugger
        this.updateParams({perPage: params.currentPerPage});
        this.getProjects();
      },

      onSortChange(params) {
        this.updateParams({page: 1});
        if(params.length){
          var sort_param = {
            sort: {
              type: params[0].type,
              field: params[0].field,
            },
          }
        }else{
          var sort_param = {
            sort: {
              type: params.type,
              field: params.field,
            },
          }
        }
        this.updateParams(sort_param)
        this.getProjects();
      },
    
      onColumnFilter(params) {
        // debugger
        this.updateParams(params);
        this.loadItems();
      },
    },
    components:{

    }
  };
</script>


<style>
  .button_add{
    float: right;
    margin: 10px;
  }
  

</style>
