

<template> 
  <div :span="24" class='tickets-plane-view' id = 'tickets-plane-view'>
    <div class ='admin_table_info'>
      <v-layout>
        <v-flex xs12 md7>
           <v-btn-toggle v-model="serverParams.select.contact" v-on:change="onFilterState()">
              <v-btn flat value="0">Общие</v-btn>
              <v-btn flat value="1">Персональные</v-btn>
              <v-btn flat value="">Все</v-btn> 
            </v-btn-toggle>
        </v-flex>
        <v-flex xs6 sm3>
          <v-text-field  :rules="formDataRules"
            v-model="serverParams.search.value" v-on:input='onSearch'
            required style='margin: 0; padding: 0;' placeholder="Поиск"
          ></v-text-field>
        </v-flex>
        <v-flex xs6 sm2>
          <v-btn  flat icon color="teal" class = 'button_right' @click = 'AddPromocode'>
              <v-icon>add</v-icon>
          </v-btn>
        </v-flex>
      </v-layout>
      <vue-good-table
        :columns="columns"
        :rows="data"
        :lineNumbers="true"
        :totalRows="totalRecords"
        @on-page-change="onPageChange"
        @on-per-page-change="onPerPageChange"     
        @on-sort-change="onSortChange"
        @on-row-click="selectData"

        :pagination-options="{
          enabled: true,
          perPage: serverParams.perPage,
          perPageDropdown: [10,15,25,50],
          dropdownAllowAll: true,          
          nextLabel: 'След.',
          prevLabel: 'Пред.',
          rowsPerPageLabel: 'Строк на стр.',
          ofLabel: 'из',
          allLabel: 'Все',
        }">
      </vue-good-table>
    </div>
  

    <v-dialog v-model="dialog" max-width="500">
      <v-card>
      <v-card-title>Настройка промокодов</v-card-title>
      <v-divider></v-divider>
      <v-card-text style="height: 450px; max-width:500px; padding:10px; overflow-y: auto">
        <v-container>
          <v-layout row wrap>
            <v-flex xs12>
              <v-form  ref="formData_category" v-model="validate" lazy-validation>
                <!-- <v-container>
                  <v-layout row wrap>
                    <v-flex xs12 > -->
                      <v-container>
                        <v-layout row wrap>
                          <v-flex xs12>
                            <v-layout row wrap>
                              <v-flex xs9 >
                                <v-text-field label="Промокод" v-model="formData.code" :disabled="edit ? false : true"></v-text-field>
                              </v-flex>
                              <v-flex xs3 >
                                <v-btn v-if='edit' flat icon color="teal" class = 'button_right' @click = 'deleteEmail1(id_item)'>
                                  <v-icon>border_color</v-icon>
                                </v-btn>
                              </v-flex>
                            </v-layout>  
                          </v-flex>

                          <v-layout row wrap>
                            <v-flex xs12 >
                              <v-checkbox :disabled="edit ? false : true" v-model="formData.summ_all" label="Суммировать с другими скидками" ></v-checkbox>
                            </v-flex>
                          </v-layout>

                          <v-layout row wrap>
                            <v-flex xs6 >
                              <v-menu :disabled="edit ? false : true"
                                ref="start" v-model="date.start"
                                :close-on-content-click="false" :nudge-right="40" :return-value.sync="formData.date_start_date" lazy 
                                transition="scale-transition" offset-y full-width  min-width="290px">
                                <v-text-field :disabled="edit ? false : true"
                                  slot="activator" 
                                  v-model="formData.date_start_date"
                                  label="Начало действия"
                                  prepend-icon="event"
                                  readonly
                                ></v-text-field>
                                <v-date-picker v-model="formData.date_start_date" no-title scrollable>
                                  <v-spacer></v-spacer>
                                  <v-btn flat color="primary" @click="date.start = false">Отмена</v-btn>
                                  <v-btn flat color="primary" @click="$refs.start.save(formData.date_start_date)">OK</v-btn>
                                </v-date-picker>
                              </v-menu>
                            </v-flex>
                            <v-flex xs6 d-flex>
                              <v-menu :disabled="edit ? false : true"
                                ref="end" v-model="date.end"
                                :close-on-content-click="false" :nudge-right="40" :return-value.sync="formData.date_end_date" lazy 
                                transition="scale-transition" offset-y full-width  min-width="290px">
                                <v-text-field :disabled="edit ? false : true"
                                  slot="activator" 
                                  v-model="formData.date_end_date"
                                  label="Окончание действия"
                                  prepend-icon="event"
                                  readonly
                                ></v-text-field>
                                <v-date-picker v-model="formData.date_end_date" no-title scrollable>
                                  <v-spacer></v-spacer>
                                  <v-btn flat color="primary" @click="date.end = false">Отмена</v-btn>
                                  <v-btn flat color="primary" @click="$refs.end.save(formData.date_end_date)">OK</v-btn>
                                </v-date-picker>
                              </v-menu>
                            </v-flex>
                          </v-layout>

                          <v-flex xs12>
                            <v-select :disabled="edit ? false : true"
                              v-model="formData.type"  :rules="formDataRules"
                              :items="options['type']" item-text="value" item-value="key"
                              label="Тип скидки"
                              ></v-select>
                          </v-flex>

                          <v-flex xs12>
                            <v-text-field label="Величина" formDataRules v-model="formData.value" :disabled="edit ? false : true"
                              placeholder="Величина скидки в рублях или процентах"></v-text-field>  
                          </v-flex>

                          <v-flex xs12 v-if='formData.contact && formData.contact.length<=0'>
                            <v-text-field label="Количество" v-model="formData.count" :disabled="edit ? false : true"
                              placeholder="Количество промокодов"></v-text-field>  
                          </v-flex>

                          <v-flex xs12 v-for='item, id_item in formData.contact' :key = "item.id" style='padding:0px 8px'>
                            <v-btn v-if='edit' flat icon color="teal" class = 'button_right' @click = 'deleteEmail1(id_item)'>
                              <v-icon>delete</v-icon>
                            </v-btn>
                            <v-text-field style='padding-top:0px'label="E-mail" v-model="item.data" :disabled="edit ? false : true"></v-text-field>
                          </v-flex>

                          <v-flex xs12>
                            <div class='el-col el-col-24 '>
                              <v-btn dark  v-if='edit' color="teal" class = 'button_right' @click="addEmail1">E-mail</v-btn>
                            </div>
                          </v-flex>

                        </v-layout>
                      </v-container>
                    <!-- </v-flex> -->
                  <!-- </v-layout> -->
                <!-- </v-container> -->
                </v-form>
            </v-flex>
          </v-layout>
        </v-container>    
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-btn flat  v-if='edit' color="teal" class = 'button_right' @click="Update">Сохранить</v-btn>
        <v-btn flat  v-if='edit' color="teal" class = 'button_right'  @click="edit=false">Отмена</v-btn>
        <v-btn flat  v-if='!edit' color="teal" class = 'button_right'  @click="edit=true">Изменить</v-btn>
        <v-btn flat  v-if='!edit' color="teal" class = 'button_right'  @click="dialog=false">Закрыть</v-btn>
      </v-card-actions>
    </v-card>
    </v-dialog>
  </div>
</template>



<script>
import Vue from 'vue'
import axios from 'axios';
import $ from 'jquery'

import PromocodeForm from './../Forms/PromocodeForm.vue';

export default {
  props: ['project', 'private'],
  components: { 
    'PromocodeForm': PromocodeForm, 
  },
  data() {
    return {
      edit:false,
      validate:true,
      columns: [
        {
          label: 'ID',
          field: 'id',
          sortable: false,
        },
        {
          label: 'Код',
          field: 'code',
          filterable: true,
          placeholder:'фильтр по названию',
        },
        {
          label: 'Дата начала',
          field: 'date_start',
        },
        {
          label: 'Дата окончания',
          field: 'date_end',
        },
        {
          label: 'Тип',
          field: 'type',
        },  
        {
          label: 'Величина',
          field: 'value',
          type: 'number',
        },   
      ],
      formDataRules: [v => !!v || 'Поле обязательно',],
      data:[],

      options:{},
      id:'',
      totalRecords: 0,
      serverParams: {
        columnFilters: {
        },
        select:{
          contact:"0",
        },
        sort: {
          field: '', 
          type: '',
        },
        search:{
          value: ''
        },
        page: 1, 
        perPage: 10
      },

      dialog:false,     
      date:{start :false, end:false},

      options:{},
      formData:{}, 
    }
  },
  
  created() {
     this.Init()
     this.InitOptions()
  },
  destroyed(){
    
  },
  methods: {
    Init(){
      var url = '../api/project/'+ this.project.id + '/promocode/'
        this.$api.get(url, this.serverParams)
        .then(response => {

          if (response.data) {
            this.data = response.data.rows
            this.totalRecords = response.data.totalRecords
          }
        })
        .catch(e => {
          console.log(e)
        })  
    }, 

    InitOptions(){
      var url = '../api/project/'+ this.project.id + '/promocode/options/'
        this.$api.get(url)
      .then(response => {
        if (response.data) {
          this.options = response.data

        }
      })
      .catch(e => {
        console.log(e)
      })
    },

    Update(){
        var pattern = /(\d{2})\-(\d{2})\-(\d{4})/;
        if(this.formData.date_start_date){
          if(this.formData.date_start_time){
            this.formData.date_start = new Date((this.formData.date_start_date + ' ' + this.formData.date_start_time).replace(pattern,'$3-$2-$1'));
          }else{
            this.formData.date_start = new Date((this.formData.date_start_date).replace(pattern,'$3-$2-$1'));
          }
        }
        if(this.formData.date_end_date){
          if(this.formData.date_end_time){
            this.formData.date_end = new Date((this.formData.date_end_date + ' ' + this.formData.date_end_time).replace(pattern,'$3-$2-$1'));
          }else{
            this.formData.date_end = new Date((this.formData.date_end_date).replace(pattern,'$3-$2-$1'));
          }
        }

        let formData1 = new FormData();
        for(var i in this.formData){
          formData1.append(i, this.formData[i])
        }
        this.$api.post('../api/project/'+ this.project.id + '/promocode/update_data/', this.formData)
          .then(response => {
            if (response.data) {
              debugger
              this.id = response.data.id
              this.Init()
              this.edit=false
            }
          })
          .catch(e => {
            console.log(e)
        })
      }, 
      Delete(){
        this.$confirm('Удалить промокод?', 'Warning', {
          confirmButtonText: 'Да',
          cancelButtonText: 'Нет',
          type: 'warning'
        }).then(() => {
          this.$api.post('../api/project/'+ this.project.id + '/promocode/delete_data/', {id:this.formData.id})
          .then(response => {
            if (response.data) {
              debugger
              this.dialog=false
              this.$message({
              type: 'success',
                message: 'Удалено'
              });
            }
          })
          .catch(e => {
            this.$message({
              type: 'error',
              message: 'Ошибка'
            });
          })
        })     
      },

    AddPromocode(id){

      this.id = 'new'
      this.dialog=true
      this.edit = true
    }, 

    selectData(data){  
      this.$api.get('../api/project/'+ this.project.id + '/promocode/'+ data.row.id)
        .then(response => {
          this.SetValueToForm(response.data)
          if(response.data.id){
            this.edit = false
          }else{
            this.edit = true
          }
          
          this.dialog = true
          this.id = data.row.id
        })
        .catch(e => {
          console.log(e)
      })
      
    },

    SetValueToForm(obj){
      this.formData = obj
      if(obj.date_start){
        Vue.set(this.formData, 'date_start_date', obj.date_start.split(' ')[0])
        Vue.set(this.formData, 'date_start_time', obj.date_start.split(' ')[1])
      }
      if(obj.date_end){
        Vue.set(this.formData, 'date_end_date', obj.date_end.split(' ')[0])
        Vue.set(this.formData, 'date_end_time', obj.date_end.split(' ')[1])
      }
    },

    GeneratePromocode(){
      this.formData.code =  `${Math.floor(Math.random() * (9999 - 1000))+ 1000}-${Math.floor(Math.random() * (9999 - 1000)) + 1000}-${Math.floor(Math.random() * (9999 - 1000)) + 1000}`
    },

    // addEmail(){
    //   this.$modal.show('form-promocode-email');
    // },

    addEmail1(){
      this.formData.contact.push({data:''})
    },

    deleteEmail1(id){
      this.formData.contact.splice(id, 1);
    },

    updateParams(newProps) {
      this.serverParams = Object.assign({}, this.serverParams, newProps);
    },


    onFilterReport(){

    },

    onFilterState(){
      this.updateParams({page: 1});
      this.Init();
    },
     onSearch(value){
      this.updateParams({page: 1});
      this.Init();
    },
 
    onPageChange(params) {
      this.updateParams({page: params.currentPage});
      this.Init();
    },

    onPerPageChange(params) {
      this.updateParams({perPage: params.currentPerPage});
      this.Init();
    },

    onSortChange(params) {
      // debugger
      this.updateParams({page: 1});
      this.updateParams({
        sort: {
          type: params.sortType,
          field: this.columns[params.columnIndex].field,
        },
      });
      this.Init();
    },
  
    onColumnFilter(params) {
      this.updateParams(params);
      this.loadItems();
    },
  }
};


</script>
<style scope>

.el-checkbox{
  margin:0;
}

label{
  min-width: 60px;
}
.v--modal{
  padding-bottom: 10px !important; 
}





</style>