

<template > 
<v-container class='ticketsList' id = 'ticketsList'>
  <v-layout row wrap>
    <v-flex xs12 style='overflow:auto'>
        <v-tabs show-arrows fixed-tabs>
        <v-tab :key="1">Категориии билетов</v-tab>
        <v-tab :key="2">Контроль билетов </v-tab>
        <v-tab :key="3" v-if='project.is_plane'>Планировка </v-tab>
        <v-tab :key="4" v-if='project.is_promocode'>Промокоды </v-tab>

        <v-tab-item :key="1">
          <v-card flat>
            <v-card-text>
              <v-container class ='admin_table_info'>
                  <v-layout>
                    <v-flex>
                      <v-btn  flat icon color="teal" class = 'button_right' @click = 'edit = true; form_category_dialog=true; formData_category={discount:[],}'>
                        <v-icon>add</v-icon>
                      </v-btn>
                    </v-flex>
                  </v-layout>
                   <v-layout>
                    <v-flex style='overflow:auto'>
                      <vue-good-table
                        :columns="columns"
                        :rows="data"
                        @on-row-click="selectCategory"

                        :pagination-options="{
                          enabled: true,
                          perPage: 15,
                          perPageDropdown: [15,25,50],
                          dropdownAllowAll: true,
                          nextLabel: 'След.',
                          prevLabel: 'Пред.',
                          rowsPerPageLabel: 'Строк на стр.',
                          ofLabel: 'из',
                          allLabel: 'Все',
                        }">
                      </vue-good-table>
                    </v-flex>
                  </v-layout>
                </v-container>
            </v-card-text>
          </v-card>
        </v-tab-item>

        <v-tab-item :key="2">
            <v-card flat>
              <v-card-text>
                <v-container class ='admin_table_info'>
                  <v-layout>
                    <v-flex>
                      <v-btn  flat icon color="teal" class = 'button_right' @click = 'edit = true; form_receptions_dialog=true; formData_receptions={}'>
                        <v-icon>add</v-icon>
                      </v-btn>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex xs12>
                      <vue-good-table
                        :columns="columns_receptions"
                        :rows="data_receptions" 
                        @on-row-click="selectReceptions"

                        :pagination-options="{
                          enabled: true,
                          perPage: 15,
                          perPageDropdown: [15,25,50],
                          dropdownAllowAll: true,
                          setCurrentPage: 2,
                          nextLabel: 'След.',
                          prevLabel: 'Пред.',
                          rowsPerPageLabel: 'Строк на стр.',
                          ofLabel: 'из',
                          allLabel: 'Все',
                        }">
                      </vue-good-table>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-text>
            </v-card>
        </v-tab-item>

        <v-tab-item :key="3" v-if='project.is_plane'>
            <v-card flat>
              <v-card-text>
                <ticketsPlane v-if='Object.keys(project).length>0'
                    :project='project'>
                </ticketsPlane>
              </v-card-text>
            </v-card>
        </v-tab-item>

        <v-tab-item :key="4" v-if='project.is_promocode'>
            <v-card flat>
              <v-card-text>
                <ticketsPromocode v-if='project.id'
                    :project='project'
                    :private='false'>
                </ticketsPromocode>
              </v-card-text>
            </v-card>
        </v-tab-item>
      </v-tabs>
    </v-flex>
  </v-layout>
  

  <v-dialog v-model="form_receptions_dialog" persistent max-width="500">
      <v-card>
        <v-container>
          <v-card-title class="headline">Настройка входа</v-card-title>
          <v-card-text>
            <v-layout row wrap>
              <v-flex  xs12 class='project-content'>
                <v-btn v-if='!edit' flat icon color="teal" class = 'button_right'@click='DeleteReceptions'>
                    <v-icon>delete</v-icon>
                </v-btn>
                <v-btn v-if='!edit' flat icon color="teal" class = 'button_right' @click="edit=true">
                    <v-icon>edit</v-icon>
                </v-btn>
              </v-flex>
            </v-layout>
            <v-flex xs12>
              <v-form  ref="uploadFormS" v-model="receptions_validate" lazy-validation>
                <v-layout row wrap>
                  <v-flex xs12 >
                    <v-container>
                      <v-layout row wrap>
                        <v-flex xs12>
                          <v-text-field label="Наименование" v-model="formData_receptions.name" :disabled="edit ? false : true"></v-text-field>  
                        </v-flex>
                        <v-flex xs12>
                          <v-select :disabled="edit ? false : true"
                            v-model="formData_receptions.user"  :rules="formDataRules"
                            :items="user_receptions" item-text="username" item-value="id"
                            label="Пользователь"
                            ></v-select>
                        </v-flex>
                        <v-flex xs12>
                          <v-select :disabled="edit ? false : true"
                            v-model="formData_receptions.ticket_category"  :rules="formDataRules"
                            :items="ticket_category_receptions" item-text="name" item-value="id"
                            label="Категории билетов" multiple
                            ></v-select>
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-flex>
                </v-layout>
              </v-form>
            </v-flex>
          </v-card-text>
          <v-card-actions>
            <v-btn dark  v-if='edit' color="teal" class = 'button_right' @click="UpdateReceptions">Сохранить</v-btn>
            <v-btn dark  v-if='edit' color="teal" class = 'button_right'  @click="CanselReceptions">Отмена</v-btn>
            <v-btn dark  v-if='!edit' color="teal" class = 'button_right'  @click="edit=true">Изменить</v-btn>
            <v-btn dark  v-if='!edit' color="teal" class = 'button_right'  @click="form_receptions_dialog=false">Закрыть</v-btn>
          </v-card-actions>
        </v-container>
      </v-card>
  </v-dialog>


  <v-dialog v-model="form_category_dialog"  scrollable max-width="500px">
    <v-card>
      <v-card-title>Категории билетов</v-card-title>
      <v-divider></v-divider>
      <v-card-text style="height: 450px; max-width:500px; padding:10px">
        <v-container> 
          <v-layout row wrap>
            <v-flex xs12>
              <v-form  ref="formData_category" v-model="category_validate" lazy-validation>
                <v-container>
                  <v-layout row wrap>
                    <v-flex xs12 >
                      <v-container>
                        <v-layout row wrap>
                          <v-flex xs12>
                            <v-text-field label="Наименование" v-model="formData_category.name" :disabled="edit ? false : true"></v-text-field>  
                          </v-flex>

                          <!-- <v-flex xs12 v-if='formData_category.project_weekend'>
                            <v-checkbox v-model="formData_category.is_weekend"label="Билет для входа в выходной день" :disabled="edit ? false : true"></v-checkbox>
                          </v-flex> -->

                          <v-flex xs12>
                            <v-text-field label="Общее количество" v-model="formData_category.count_all" :disabled="edit ? false : true"
                              placeholder="Количество билетов доступное для продажи (не обязательно)"></v-text-field>  
                          </v-flex>

                          <v-flex xs12>
                            <v-text-field label="Мин.кол-во" v-model="formData_category.count" :disabled="edit ? false : true"
                              placeholder="Минимальное количество доступное к покупке по данной категории"></v-text-field>  
                          </v-flex>

                          <v-flex xs12>
                            <v-text-field label="Стоимость" v-model="formData_category.price" :disabled="edit ? false : true"
                              placeholder="Стоимость билета"></v-text-field>  
                          </v-flex>

                          <v-flex xs12 v-if = 'project.is_weekend'>
                            <v-select :disabled="edit ? false : true"
                              v-model="formData_category.type_in"  :rules="formDataRules"
                              :items="options_category.type_in" item-text="value" item-value="key"
                              label="Ограничение входа"
                              ></v-select>
                          </v-flex>

                          <v-flex xs12  >
                            <v-layout row wrap>
                              <v-flex xs4 style='padding-left: 15px; color: #808080;'>
                                Шаблон билета <br>(не обязательно)
                              </v-flex>
                              <v-flex xs3 v-show='edit'>
                                <label for="file" class="button uploadButton"><i class="far fa-image" arde-hidden="true"></i> Загрузить</label>
                                <input type="file" id="file" ref="file" style="opacity: 0; z-index: -1;" accept="image/jpeg,image/png,image/gif" v-on:change="handleFileUpload()"/>     
                              </v-flex> 

                              <v-flex xs5 >
                                  <div v-show="file && formData_category.ticket_img !='delete'" style="position:relative; width:15vw; max-width:200px">
                                      <v-btn v-show='edit' flat icon color="teal" adsolute right  @click="formData_category.ticket_img = 'delete'; file = '';" 
                                      style='float: right; margin:-20px -35px;'>
                                        <v-icon>delete</v-icon>
                                      </v-btn>
                                      <img v-bind:src="file" id="blah" class="avatar">
                                  </div>     
                              </v-flex>
                            </v-layout>
                          </v-flex>

                          <v-flex xs12>
                              <v-select
                                label="Цвет билета" v-bind:items="$store.state.colors"
                                v-model="formData_category.color" item-text="name"
                                item-value="id">
                                <template slot="selection" scope="data">{{data.item.id}}</template>
                                <template slot="item" scope="data">
                                  <div v-bind:style="{ background: data.item.id, width: '100%', padding:'10px'}">{{data.item.name}}</div>
                                </template>
                              </v-select>
                          </v-flex>

                          <v-flex xs12>                            
                          </v-flex>

                          <v-flex xs12>
                            <v-textarea rows=3 box name="input-7-1" label="Описание категории" v-model="formData_category.description"> 
                            </v-textarea>
                          </v-flex> 

                          <v-flex xs12>

                            <v-container>
                              <v-layout row wrap>
                                 <v-btn  flat icon color="teal" class = 'button_right' @click = 'AddDiscount' :disabled="edit ? false : true">
                                  <v-icon>add</v-icon>
                                </v-btn>
                              </v-layout>
                              <v-layout row wrap v-for='item, id in formData_category.discount' style = 'border: solid 1px #ccc; margin-bottom: 5px; padding: 5px; background: #fafafa;'>
                                <v-flex xs2>
                                  <v-btn  flat icon color="teal" class = 'button_right' @click = 'DeleteDiscount(item, id)'>
                                    <v-icon>delete</v-icon>
                                  </v-btn>
                                </v-flex>
                                <v-flex xs5>
                                  <v-select :disabled="edit ? false : true"
                                    v-model="item.type"
                                    :items="options_category.type_discount" item-text="value" item-value="key"
                                    label="Вид скидки"
                                    ></v-select>
                                </v-flex>
                                <v-flex xs5>
                                  <v-select :disabled="edit ? false : true"
                                    v-model="item.type_value"
                                    :items="options_category.type_value_discount" item-text="value" item-value="key" label="Тип величины"></v-select>
                                </v-flex>
                                <v-flex xs5>
                                  <v-menu :disabled="edit ? false : true"
                                    v-model="date_options.start_discount[id]" :close-on-content-click="false"
                                    :nudge-right="40" lazy transition="scale-transition" offset-y
                                    full-width min-width="290px">
                                    <template v-slot:activator="{ on }">
                                      <v-text-field :disabled="edit ? false : true"
                                        v-model="item.date"
                                        label="Конец действия" prepend-icon="event" readonly v-on="on"></v-text-field>
                                    </template>
                                    <v-date-picker locale='ru' v-model="item.date" @input="date_options.start_discount[id] = false" first-day-of-week=1 :title-date-format='DateView'></v-date-picker>
                                  </v-menu>
                                </v-flex>
                                <v-flex xs4>
                                  <v-text-field label="Значение" v-model="item.value" :disabled="edit ? false : true"></v-text-field>  
                                </v-flex>
                                <v-flex xs3>
                                  <div class='text_discont_result' v-if='item.type_value=="percent"' >{{formData_category.price - formData_category.price*item.value/100}} руб.</div>
                                  <div class='text_discont_result' v-else>{{formData_category.price - item.value}} руб.</div>
                                </v-flex>
                              </v-layout>
                            </v-container>
                          </v-flex>
                        </v-layout>
                    </v-container>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-form>
            </v-flex>
          </v-layout>
        </v-container>    
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-btn flat  v-if='edit' color="teal" class = 'button_right' @click="UpdateCategory">Сохранить</v-btn>
        <v-btn flat  v-if='edit' color="teal" class = 'button_right'  @click="CanselCategory">Отмена</v-btn>
        <v-btn flat  v-if='!edit' color="teal" class = 'button_right'  @click="edit=true">Изменить</v-btn>
        <v-btn flat  v-if='!edit' color="teal" class = 'button_right'  @click="form_category_dialog=false">Закрыть</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>

  
</v-container>
</template>

<script>
import Vue from 'vue'
import axios from 'axios';
import $ from 'jquery'

// import TicketsForm from './../Forms/TicketsForm.vue';
import TicketsPlane from './../Forms/TicketsPlane.vue';
import ticketsPromocode from './PromocodeList.vue';

  export default {
    props: ['project','select_ticket', 'ticketBus','id_project'],
    components: { 
      'TicketsPlane': TicketsPlane, 
      'TicketsPromocode': ticketsPromocode, 
    },
    data() {
      return {
        edit:false,
        tabIndex: 3,
        formDataRules: [
          v => !!v || 'Поле обязательно',
        ],
        editableTabsValue2: '1',
        editableTabs2: [],
        ticketsForm: {visible:'', b:null},
        columns: [
          {
            label: 'ID',
            field: 'id',
            sortable: false,
          },
          {
            label: 'Название',
            field: 'name',
            filterable: true,
            placeholder:'фильтр по названию',
          },
          {
            label: 'Доступ',
            field: 'type_in',
          },
          {
            label: 'Цвет',
            field: 'color_html',
            html: true,
            width :  '30px', 
            sortable: false,
          },
          {
            label: 'Цена',
            field: 'price',
            type: 'number',
          },   
        ],
        data:[],
        action:[],

        // для контроля входа
        receptions_validate:true,
        form_receptions_dialog:false,
        data_receptions:[],
        select_receptions:[],
        formData_receptions:[],
        columns_receptions: [
          {
            label: 'Название',
            field: 'name',
          },
          {
            label: 'Аккаунт',
            field: 'user',
          }, 
          {
            label: 'Cписок категорий',
            field: 'ticket_category_list',
          },  
        ],   
        user_receptions:[],
        ticket_category_receptions:[],


        //для категорий билетов
        category_validate:true,
        form_category_dialog:false,
        options_category:{},
        formData_category:{},
        file:'',
        date_options:{start_discount:[]}

      }
    },
    created() {
      // debugger
      this.ticketBus.$on("updateCategory", ()=>{
        this.Init()
        this.action.splice(this.select_ticket.length-1, 1)
        this.action.push('view')
      });

      this.ticketBus.$on("updateReceptions", ()=>{
        this.Init()
        this.action.splice(this.select_ticket.length-1, 1)
        this.action.push('view')
      });
      this.Init()
    },

    methods: {
      DateView(obj){
        return obj
      },
      AddDiscount(){
        // debugger
        for(var i in this.formData_category.discount){
          this.formData_category.discount[i].id = i 
        }
        this.formData_category.discount.push({
          id:this.formData_category.discount.length
        })
        this.date_options.start_discount.push(false)

        
      },
      DeleteDiscount(item, id){
        for(var i in this.formData_category.discount){
          if(this.formData_category.discount[i].id ==item.id){
            this.formData_category.discount.splice(i, 1);
          }
        }
        for(var i in this.formData_category.discount){
          this.formData_category.discount[i].id = i 
        }
        this.date_options.start_discount.push(id, 1)
      },

      InitReseptions(id){
        this.$api.get('../api/project/' + this.project.id +'/tickets/'+id+'/reception/')
          .then(response => {
            console.log('response => ', response)
            if (response.data) {
              // debugger
              this.formData_receptions = response.data
            }
          })
          .catch(e => {
            console.log(e)
          })
      },
      AddReceptions(){
        this.edit = true
        this.$modal.show('form-receptions');
        this.formData_receptions={}
      },
      UpdateReceptions(){
        let formData1 = new FormData();
        for (var data in this.formData_receptions){
            formData1.append(data, this.formData_receptions[data]);
        }
        var url = '../api/project/' + this.project.id + '/tickets/'+ (this.formData_receptions.id ? this.formData_receptions.id : 'new')
        this.$api.update(url+'/add_reception/',formData1)
        .then(response => {
          console.log('response => ', response)
          this.$notify({
            group: 'foo',
            type: 'success',
            duration: 3000,
            text: "<i style='font-size:20px' class='fa fa-check'></i> Сохранено"
          });
          this.edit=false
          this.ticketBus.$emit("updateReceptions");
        })
        .catch(e => {
          if (e.error){
            this.$notify({
            group: 'foo',
            type: 'error',
            duration: 3000,
            text: "<i style='font-size:20px' class='fa fa-exclamation'></i> " + e.error
          });
          }
          
        })
      },
 
      selectReceptions(data){
        this.InitReseptions(data.row.id)  
        this.form_receptions_dialog=true
        // this.$modal.show('form-receptions');
        this.edit=false
      },

      DeleteReceptions(){
        var id = this.formData_receptions.id
        // debugger
        this.$confirm('Удалить стойку контроля?', 'Подтверждение действий пользователя', {
          confirmButtonText: 'Да',
          cancelButtonText: 'Отмена',
          type: 'warning'
        }).then(() => {
          this.$api.del('../api/project/'+this.project.id + '/tickets/'+id+'/delete_reception/')
          .then(response => {
            this.$notify({
              group: 'foo',
              type: 'success',
              duration: 3000,
              text: "<i style='font-size:20px' class='fa fa-check'></i> Удалено"
            });
            this.$modal.hide('form-receptions');
            this.ticketBus.$emit("updateReceptions");
            this.select_receptions.splice(this.select_ticket.length-1, 1)
          })
          .catch(e => {
            this.$notify({
              group: 'foo',
              type: 'error',
              duration: 3000,
              text: "<i style='font-size:20px' class='fa fa-exclamation'></i> Ошибка"
            });
          })
        })
      },

      CanselReceptions(id){

        if(this.formData_receptions.id){
          this.InitReseptions(this.formData_receptions.id)
        }else{
          this.$modal.hide('form-receptions');
        }
        this.edit = false
      },

      InitCategory(id){
          var url = '../api/project/'+ this.project.id + '/tickets/'+id + '/'
          this.$api.get(url)
          .then(response => {

   
            // console.log('response => ', response)
            if (response.data) {
              this.formData_category = response.data
              this.file = response.data.ticket_img
              
              if(typeof( response.data.discount)=='object'){
                this.formData_category.discount =response.data.discount    
              }else{
                try {
                  this.formData_category.discount = JSON.parse(response.data.discount)
                } catch (err) {
                  this.formData_category.discount = []
                }
              }
              this.form_category_dialog=true
            }
          })
          .catch(e => {
            console.log(e)
          })

      },
      handleFileUpload(ticket){
        // debugger

          this.formData_category.ticket_img = this.$refs.file.files[0];
          this.file = this.$refs.file.files[0];
          var input = this.$refs.file

          if (input.files && input.files[0]) {
              var reader = new FileReader();

              reader.onload = function(e) {
                $('#blah').attr('src', e.target.result);
              }

              reader.readAsDataURL(input.files[0]);
            } 
        
      },

      selectCategory(data){
        this.InitCategory(data.row.id)  
        this.form_category_dialog=true
        this.edit=false
        // debugger
        this.$api.get('../api/project/'+ this.project.id + '/')
          .then(response => {
            this.formData_category.project_weekend = response.is_weekend
          })
          .catch(e => {
            console.log(e)
          })
      },


      AddCategory(){
        this.edit = true
        this.form_category_dialog=true
        this.formData_category={
          discount:[],
        }
      },

      UpdateCategory(){
        debugger
        if(this.$refs['formData_category'].validate()){
          var error = false
            var error_text = ''
            for (var discount in this.formData_category.discount){
              if(!this.formData_category.discount[discount].type ||
                 !this.formData_category.discount[discount].type_value||
                 !Number(this.formData_category.discount[discount].value)){
                error = true
                error_text = 'Заполнены не все данные'
                // debugger
              }
              if(this.formData_category.discount[discount].value ){
                if(this.formData_category.discount[discount].type_value == 'percent'){
                  if(Number(this.formData_category.discount[discount].value) > 100){
                    error = true
                    error_text = 'Процент больше 100'
                  }
                }
                if(this.formData_category.discount[discount].type_value == 'number'){
                  if(Number(this.formData_category.discount[discount].value) > Number(this.formData_category.price)){
                    error = true
                    error_text = 'Значение больше стоимости'
                  }
                } 
              }
              if(this.formData_category.discount[discount].type =='date'){
                if(!this.formData_category.discount[discount].date){
                    error = true
                    error_text = 'Поле Дата обязательно для скидки по дате покупки'
                }
              }
            }
            if (error){
              this.$notify({
              group: 'foo',
              type: 'error',
                duration: 3000,
                text: "<i style='font-size:20px' class='fa fa-exclamation'></i> " + error_text
              });
              return false
            }

            if (this.file){
              this.formData_category['ticket_img']= this.file
            }
            debugger
            let formData1 = new FormData();
            for (var data in this.formData_category){
              debugger
                if(typeof( this.formData_category[data])=='object'){
                  if(this.formData_category[data] && this.formData_category[data].type){
                    formData1.append(data, this.formData_category[data]);
                  }else{
                    formData1.append(data, JSON.stringify(this.formData_category[data]))
                  }
                }else{
                  formData1.append(data, this.formData_category[data]);
                }
            }
            var url = '/api/project/' + this.project.id + '/tickets/' + (this.formData_category['id'] ? this.formData_category['id'] : 'new')
           
            this.$api.update(url+'/add/',formData1)
            .then(response => {
              // console.log('response => ', response)
              this.$notify({
                group: 'foo',
                type: 'success',
                duration: 3000,
                text: "<i style='font-size:20px' class='fa fa-check'></i> Сохранено"
              });
              // debugger
              this.edit=false
              this.ticketBus.$emit("updateCategory");
            })
            .catch(e => {
              this.$notify({
                group: 'foo',
                type: 'error',
                duration: 3000,
                text: "<i style='font-size:20px' class='fa fa-exclamation'></i> Ошибка"
              });
            })
        }else { return false;}

      },

      CanselCategory(){
        if(this.formData_category.id){
          this.InitReseptions(this.formData_category.id)
        }else{
          this.form_category_dialog=false
        }
        this.edit = false
      },

      DeleteCategory(){
        var id = this.formData_category.id
        this.$confirm('Удалить категорию билета?', 'Подтверждение действий пользователя', {
          confirmButtonText: 'Да',
          cancelButtonText: 'Отмена',
          type: 'warning'
        }).then(() => {
          this.$api.del('../api/project/'+this.project.id + '/tickets/'+id+'/delete/')
          .then(response => {
            this.$notify({
              group: 'foo',
              type: 'success',
              duration: 3000,
              text: "<i style='font-size:20px' class='fa fa-check'></i> Удалено"
            });
            this.form_category_dialog=false
            this.ticketBus.$emit("updateCategory");
            this.select_ticket.splice(this.select_ticket.length-1, 1)
          })
          .catch(e => {
            this.$notify({
              group: 'foo',
              type: 'error',
              duration: 3000,
              text: "<i style='font-size:20px' class='fa fa-exclamation'></i> Ошибка"
            });
          })
        })
      },

      Init(){
        this.$api.get('../api/project/' + this.project.id + '/tickets/')
        .then(response => {
          if (response.data) {
            this.data = response.data
            // debugger
            for( var i in this.data){
              this.data[i].color_html = `<div style=" margin: -12px -12px -12px -12px; 
                          background: ${this.data[i].color};
                          height: 48px;">     
                        </div>`
              this.data[i].is_weekend = (this.data[i].is_weekend)? 'Да' :'Нет' 
            }
          }
        })
        .catch(e => {
          console.log(e)
        })

        this.$api.get('../api/project/' + this.project.id + '/tickets/options/')
        .then(response => {
          if (response.data) {
            this.options_category = response.data
          }
        })
        .catch(e => {
          console.log(e)
        })

        this.$api.get('../api/project/' + this.project.id + '/tickets/receptions/')
        .then(response => {
          if (response.data) {
            // debugger
            this.data_receptions = response.data

          }
        })
        .catch(e => {
          console.log(e)
        })
        this.$api.get('../api/project/' + this.project.id + '/tickets/select_receptions')
          .then(response => {
            if (response.data) {
              this.user_receptions = response.data.user
              this.ticket_category_receptions = response.data.ticket_category
            }
          })
          .catch(e => {
            console.log(e)
          })
      },
      
    }
  };
</script>
<style>

.container{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.color_reserv_edit{
  border: 1px solid #909399;
  text-align: center;
  line-height: 2;
  color: #000;
}

.text_discont_result{
    text-align: center;
    color: #f26b6c;
    font-weight: 600;
    font-size: 18px;
}

.el-upload-list__item-name{
    height: 30px; 
}

.el-upload-list {
    width: 90%;
    max-width: 200px
}

.avatar {
    width: 15vw;
    max-width: 200px;
    display: block;
    border: solid 1px #c0c4cc;
  }

label{
    min-width: 130px;
    padding: 0px !important;
}

.uploadButton {
    display: block;
    width: 10vw;
    background: #909399;
    padding: 10px;
    color: #FFF;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}

.uploadButton:hover {

    background: #a6a9ad;

}


.deleteButtom{
    position: absolute;
    right: -1px;
    top: 0px;
    background-color: #dcdfe6;
    border: 0;
    cursor: pointer;
    padding: 2px;
    width: 24px;
    font-size: 16px;
    border-radius: 0px;

}

</style>