

<template > 
  <v-container class='visitorsList' id = 'visitorsList'>   
    <v-layout row wrap>
      <v-flex md12 lg8 style='padding:20px 4vw 10px 4vw' class='not_mobil_screen'>
        <v-btn-toggle v-model="serverParams.select.state"  v-on:change="onFilterState()">
          <v-btn flat value="0">Не активированные</v-btn>
          <v-btn flat value="1">Aктивированные</v-btn>
          <v-btn flat >Все</v-btn> 
        </v-btn-toggle>
      </v-flex>
      <v-flex xs12 sm6 style='padding:20px 4vw 10px 4vw' class='mobil_screen'>
        <v-select v-model="serverParams.select.state"  v-on:change="onFilterState()"
          :items="[{value:'0', label:'Не активированные'}, {value:'1', label:'Aктивированные'}, {value:2, label:'Все'}]" item-text="label" item-value="value" label="Тип билета"></v-select>
      </v-flex>
      <v-flex xs12 sm6 md12 lg4 style='padding:20px 4vw 10px 4vw'>
        <v-text-field  v-model="serverParams.search.value" v-on:input='onSearch'  style='padding:0; width: 100%; float:right; margin-left: 5px;' placeholder="Поиск"></v-text-field>
      </v-flex>
    </v-layout>

    <v-layout row wrap>
      <v-flex xs12 style='overflow:auto'>
        <div class ='admin_table_info'>
            <vue-good-table
              mode="remote"
              :columns="columns"
              :rows="data"
              :lineNumbers="true"
              :totalRows="totalRecords"
              @on-page-change="onPageChange"
              @on-per-page-change="onPerPageChange"     
              @on-sort-change="onSortChange"  
              @on-row-click="" 

              :pagination-options="{
                enabled: true,
                perPage: serverParams.perPage,
                perPageDropdown: [10,15,25,50],
                dropdownAllowAll: true,          
                nextLabel: 'След.',
                prevLabel: 'Пред.',
                rowsPerPageLabel: 'Строк на стр.',
                ofLabel: 'из',
                allLabel: 'Все',
              }">
            </vue-good-table>
        </div>
      </v-flex>
    </v-layout>      
  </v-container>
</template>

<script>
import Vue from 'vue'
import axios from 'axios';
import $ from 'jquery'

  export default {
    props: ['project', 'select_visitors', 'action_visitors', 'visitorsBus'],
    data() {
      return {
        totalRecords: 0,
        serverParams: {
          columnFilters: {
          },
          select:{
            state:"0",
          },
          sort: {
            field: '', 
            type: '',
          },
          search:{
            value: ''
          },
          page: 1, 
          perPage: 10
        },
        columns: [
          { label: 'Код билета', field: 'code', placeholder:'фильтр по коду',},
          {label: 'Категория', field: 'category',},
          {label: 'Способ оплаты', field: 'order__payment_method',},
          {label: 'Покупатель', field: 'buyer',},  
          {label: 'Статус', field: 'state',}, 
          {label: 'Стоимость', field: 'total_cost',},    
          {label: 'Дата покупки', field: 'date_create',}, 
          {label: 'Дата активации', field: 'date_activate',}, 
        ],
        data:[], 
      }
    },

    created() {
      if(this.project.is_weekend){
        this.columns.splice(2, 0, {
          label: 'День недели',
          field: 'category_weekend_text',
          sortable: false,
        });
      }

      if(this.project.is_plane){
        this.columns.splice(2, 0, {
          label: 'Ряд/Место',
          field: 'plase',
          sortable: false,
        });
      }

    this.visitorsBus.$on('customEventName', this.methodYouWannaCall);
      this.Init()
    },

    methods: {
      Init(){
        this.$api.get('../api/project/' + this.project.id + '/visitors/',this.serverParams)
        .then(response => {
          if (response.data) {
            this.data = response.data.rows
            this.totalRecords = response.data.totalRecords
          }
        })
        .catch(e => {
          console.log(e)
        })
      },
     
      updateParams(newProps) {
        this.serverParams = Object.assign({}, this.serverParams, newProps);
      },

      onFilterState(){
        if(this.serverParams.select.state>1){
          this.serverParams.select.state = ''
        }
        this.updateParams({page: 1});
        this.Init();
      },

      onSearch(value){
        this.updateParams({page: 1});
        this.Init();
      },
   
      onPageChange(params) {
        this.updateParams({page: params.currentPage});
        this.Init();
      },

      onPerPageChange(params) {
        this.updateParams({perPage: params.currentPerPage});
        this.Init();
      },

      onSortChange(params) {
        this.updateParams({page: 1});
        this.updateParams({
          sort: {
            type: params[0].type,
            field: params[0].field,
          },
        });
        this.Init();
      },
    
      onColumnFilter(params) {
        this.updateParams(params);
        this.loadItems();
      },    
    }
  };
</script>

<style>

</style>