{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- <link rel="stylesheet" href="./../static/libs/element-ui/lib/theme-chalk/index.css"> -->
    <!-- <link rel="stylesheet" href="./../static/libs/element-ui/lib/theme-chalk/display.css"> -->
    <!-- <link rel="stylesheet" href="./../node_modules/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="./../node_modules/element-ui/lib/theme-chalk/display.css">
 -->
   <!-- <script defer src="./../static/libs/fontawesome-free-5.0.12/svg-with-js/js/fontawesome-all.js"></script> -->
    <link rel="stylesheet" href="./../static/css/style.css">
    <link rel="stylesheet" href="./../static/css/style_ticket.css">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">


    <link rel="shortcut icon" type="image/png" href="/static/img/favicon.png"/>
    <title>Проверка качества</title>
  </head>
<body>
  <div id="quality_init" class="quality_init"></div>
  {% render_bundle 'main.min' %}
</body>
</html>