<template>
  <v-app id="App_admin">
    <notifications classes="my-style" width='160px' group="foo" style='width: 350px !important; top: 60px;'/>
    <notifications classes="ticket_notifications" width='160px' group="ticket_not"
    style='width: 400px !important;
    top: 75px;' />
    <notifications classes="ticket_print" width='160px' group="ticket_print"
    style='width: 400px !important;
    top: 75px;' />

    <v-layout v-if="token">

      <v-layout v-if= "$store.state.user.permission_name == 'kiosk'">
        <v-layout >
          <v-flex :span="24" style='padding-top:0px'>
            <Kiosk v-on:message_ul="IndexMessage"></Kiosk>  
          </v-flex>
        </v-layout>
      </v-layout>

      <v-layout v-else-if= "$store.state.user.permission_name == 'inout'">
        <v-layout  style='z-index: 1000; position: fixed; width: 100%; height: 55px; top: 0px;' >
          <toolbar></toolbar>
        </v-layout>
        <v-layout >
          <v-flex :span="24" style='padding-top:0px'>
            <Barcode></Barcode>
          </v-flex>
        </v-layout>
      </v-layout>

      <v-layout v-else>
        <v-layout style='z-index: 1000; position: fixed; width: 100%; height: 55px; top: 0px;'>
          <toolbar v-if="token" v-on:navbar_show="Navbar" ></toolbar>  
        </v-layout>
        <v-layout >
            <navbar v-on:navbar_show="Navbar" :project = 'project' :navbar_show='navbar_show' :navbar_data='navbar_data'></navbar>     
            <v-flex v-bind:class="{ xs8 : navbar_show, md9 : navbar_show, lg10 : navbar_show, xs12: !navbar_show}" id="content_navbar" style='padding-top: 55px; float: right;'>
              <v-layout v-if="token && this.$store.state.user.permission_name != 'kiosk'">
                <v-breadcrumbs :items="items">
                  <v-icon slot="divider">forward</v-icon>
                </v-breadcrumbs>
              </v-layout>
              <router-view 
              :project='project'
                v-on:project='Project'
                v-on:message_ul="IndexMessage">   
              </router-view>    
            </v-flex>
          </v-layout>               
      </v-layout>

      <!-- <v-layout v-if="$store.state.user.permission_name != 'kiosk' &&
                    $store.state.user.permission_name != 'inout'">
        <v-layout style='z-index: 1000; position: fixed; width: 100%; height: 55px; top: 0px;'>
          <toolbar v-if="token" v-on:navbar_show="Navbar"></toolbar>  
        </v-layout>
        <v-layout >
            <navbar v-on:navbar_show="Navbar" :project = 'project' :navbar_show='navbar_show'></navbar>     
            <v-flex v-bind:class="{ xs8 : navbar_show, md9 : navbar_show, lg10 : navbar_show, xs12: !navbar_show}" id="content_navbar" style='padding-top: 55px; float: right;'>
              <v-layout v-if="token && this.$store.state.user.permission_name != 'kiosk'">
                <v-breadcrumbs :items="items">
                  <v-icon slot="divider">forward</v-icon>
                </v-breadcrumbs>
              </v-layout>
              <router-view 
              :project='project'
                v-on:project='Project'
                v-on:message_ul="IndexMessage">   
              </router-view>    
            </v-flex>
          </v-layout>               
      </v-layout>
      <v-layout v-else>
        <v-layout v-if="$store.state.user.permission.indexOf('inout_plus')>=0" style='z-index: 1000; position: fixed; width: 100%; height: 55px; top: 0px;' >
          <toolbar v-if="$store.state.user.permission.indexOf('inout_plus')>=0"></toolbar>
        </v-layout>
        <v-layout >
          <v-flex :span="24" style='padding-top:0px'>
            <Kiosk  v-if="$store.state.user.permission_name == 'kiosk'" v-on:message_ul="IndexMessage"></Kiosk>  
            <Barcode  v-if="$store.state.user.permission_name == 'inout'"></Barcode>
          </v-flex>
        </v-layout>
        
      </v-layout> -->
      
    </v-layout>
    <v-layout v-else>
      <v-flex :span="24">
        <router-view v-on:message_ul="IndexMessage">   
        </router-view>    
      </v-flex>
    </v-layout> 
 </v-app>
</template>

<script>
import Vue from 'vue';
import { mapGetters } from 'vuex';
import $ from 'jquery'
import * as types from './store/mutation-types'
import Navbar from './views/Navbar';
import Toolbar from './views/Toolbar';
import Kiosk from './views/Admin/Kiosk/KioskMain';
import Barcode from './views/Admin/Inout/InoutHome';

import test from './icons'

  // console.log(test.foo())

export default {
  name: 'app',
  computed: {
    token () {
      return this.$store.state.token
    }
  },
  components: {
    Navbar,
    Toolbar,
    Kiosk,
    'Barcode':Barcode,
  },
  created(){

     // this.$store.dispatch(types.TYPE_PROJECT,null)
  },

  data() {
    return { 
      navbar_data:null,
      items :[],
      project:{},
      navbar_show:true,
    };
  },
  methods:{
    Navbar(){
      this.navbar_show = !this.navbar_show
    },

    // breadcrumb
    IndexMessage: function (payload) {
      if(payload.message.action == 'add'){  
        if(payload.message.navbar){
          this.navbar_data = payload.message.navbar
        }
             
        this.items.push({
          id:payload.message.id,
          text:payload.message.name,
          href:payload.message.link

        })
      }else if(payload.message.action == 'remove'){
        for (var key in this.items) {
          if(this.items[key] && this.items[key]['id'] == payload.message.id){
            this.items.splice(key, 1)
          }
        }
      }
    },
    Project(payload){
      this.project = payload.message.data

    },
  }
  
};
</script>

<style scope>

/*@import './../node_modules/vue-tel-input/dist/vue-tel-input.css';*/
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
  }

  .el-header {
     padding: 0; 
   
  }

  .v-breadcrumbs{
    background: ##f9f9f9;
    margin: 0;
    width: 100%;
  }

  .v-breadcrumbs a{
    color:#2a3f54;
    margin-top: 3px;
  }

  .my-style {
    padding: 10px;
    margin: 4px;
    font-size: 16px;
    color: #ffffff;
    background: #44A4FC;
    border-radius: 4px;

  }

  .my-style.success{
    background: #4CAF50;
  }
  .my-style.error{
    background: #F44336;
  }


  .ticket_notifications{
    padding: 10px;
    margin: 4px;
    font-size: 16px;
    color: #ffffff;
    background: #44A4FC;
    border-radius: 4px;
  }

  .ticket_notifications.warn {
      background: #ffb648;
    }

  .ticket_notifications.success{
    background: #4CAF50;
  }
  .ticket_notifications.error{
    background: #F44336;
  }


</style>
