<template>
  <v-app id="App_quality">
    <notifications classes="my-style" width='160px' group="foo" style='width: 350px !important; top: 60px;'/>
    <router-view></router-view>
  </v-app>
</template>

<script>
import Vue from 'vue'
import { mapGetters } from 'vuex';
import axios from 'axios';
import QualityHome from './views/Quality/QualityHome';
// import test from './icons'

export default {
  name: 'quality',
  data() {
    return {
      show_basket :false,
      tickets_basket:null,
      summ_ticket:0,
    } 
  },
  created(){
  },
  
  components: {
    QualityHome,
  },
  methods:{
   
  }
  
};
</script>

