<template>
  	<div>
  		<div class='masterhead kiosk-head' style='background:url("./../static/img/background_gray.jpg")'>
			<div>
	          <b-img src="./../static/img/logo4.png" fluid alt="donexpo" class='kiosk-logo-head' />
	          <div class='kiosk-text-head'>Купить билет</div>
	        </div>   
		</div>
		<b-container class="bv-example-row bv-example-row-flex-cols tickets_content" fluid>
          <router-view v-if='tickets_basket'
			<b-row  no-gutters>
				<b-col cols='12'>
					<router-view v-if='tickets_basket'
			          :tickets_basket='tickets_basket'
			          v-on:message_basket="AddToBasket"
			          v-on:get_basket='GetBasket'>
			        </router-view>
				</b-col>
			</b-row>
      <b-row align-v="end" class='footer'>
        <div style='text-align:center; width:100%; padding:3px; '>
          Контактный телефон: <a href="tel: +78632687713">+7 (863) 268-77-13</a>
          Е-mаil: <a href="mailto:create@donexpocentre.ru">create@donexpocentre.ru</a>
        </div>
        <div style='text-align:center; width:100%; padding:5px; '> Организатор:&nbsp;©&nbsp;<span >2018</span>.&nbsp;
          <a class="link-underline" href="https://donexpocentre.ru" target="_blank">ДОНЭКСПОЦЕНТР</a>
        </div>
      </b-row>
		</b-container>
	</div>
    
</template>

<script>
import Vue from 'vue'
import { mapGetters } from 'vuex';
import axios from 'axios';
import Navbar from './views/Tickets/Navbar';
import test from './icons'

export default {
  name: 'tickets',
  data() {
    return {
      show_basket :false,
      tickets_basket:null,
      summ_ticket:0,
    } 
  },
  created(){
     this.Init()


  },
  
  components: {
    Navbar,
  },
  methods:{
    Init(){
      axios.get(`/api/tickets/buy/create_basket/`)
      .then(response => {
        this.tickets_basket = response.data
      })
      .catch(e => {
        this.errors.push(e)
      })
    },
    GetBasket(){
      axios.post(`/api/tickets/buy/create_basket/`, {})
        .then(response => {
          // debugger
          Vue.set(this,'tickets_basket', response.data)
        })
        .catch(e => {
          this.errors.push(e)
        })
    },
    AddToBasket: function (payload) { 
    // debugger  

      var obj =  payload.data.obj
      var val = payload.data.val
      var project = payload.data.project

      var id = obj.id_temp ? obj.id_temp :obj.id

      if(this.tickets_basket['proj_'+obj.project]){
        if(!this.tickets_basket['proj_'+obj.project].tickets['t_'+id]){
          this.tickets_basket['proj_'+obj.project].tickets['t_'+id] = {
            data:obj,
            count:0,
          }
        }
        if(this.tickets_basket['proj_'+obj.project].tickets['t_'+id].count+val < obj.count){
          if(obj.count_buy != undefined){
            if(val==-1){
              var temp = val-obj.count_buy +1
            }else{
              var temp = val-obj.count_buy
            }
          }else{
            var temp = 0
          }
          this.tickets_basket['proj_'+obj.project].tickets['t_'+id].count += temp
          this.tickets_basket['proj_'+obj.project].summ+=(temp*obj.price)
        }else{
          this.tickets_basket['proj_'+obj.project].tickets['t_'+id].count += val
          this.tickets_basket['proj_'+obj.project].summ+=(val*obj.price)
        }

      }else{
        this.tickets_basket['proj_'+obj.project] = {
          summ:0,
          tickets:{}
        }
        this.tickets_basket['proj_'+obj.project].tickets['t_'+id] = {
          data:obj,
          count:val,
        }
        this.tickets_basket['proj_'+obj.project].summ+=(val*obj.price)

      }
      this.summ_ticket = 0
      if(project){
        // debugger
         this.summ_ticket=this.tickets_basket['proj_'+obj.project].summ
      }else{
        for(var i in this.tickets_basket){
          if(this.tickets_basket[i]){
            this.summ_ticket+=this.tickets_basket[i].summ
          }
        }
      }
      
      axios.post(`/api/tickets/buy/create_basket/`, this.tickets_basket)
        .then(response => {
          this.tickets_basket = response.data
        })
        .catch(e => {
          this.errors.push(e)
        })
    },
  }
  
};
</script>

<style>
/*  @import './node_modules/element-ui/lib/theme-chalk/index.css'
  @import './node_modules/element-ui/lib/theme-chalk/display.css'*/
</style>

<style scoped>
  .footer{
    color: rgb(57, 54, 62);
    position: fixed;
    width: 100%;
    bottom: 0px;

  }
	.masterhead{
    position: fixed;
    z-index: 100;
    height: 85px;
    width: 100%;
	}
	.kiosk-text-head{
	    color: #fff;
	    font-size: 25pt;
	    font-weight: 600;
	    text-align: left;
	    margin:20px;

	}
  .kiosk-logo-head{
      height: 95px;
      float: left;
      padding-left: 20px;
      margin-top: -15px;

  }
	.tickets_content{
		padding-top: 85px; 
		background: #f1f1f1;
		min-height: 100vh;
	}

  a{
    color: #54bf83;
  }



  @media only screen and (max-width: 500px) {
    .footer{
      display: none;
    }
    .masterhead{
      height: 70px;
    }
    .kiosk-text-head{
      font-size: 15pt;
      margin:20px;
    }
    .kiosk-logo-head{
      height: 65px;
      padding-left: 10px;
    }

    
  }


</style>
