

<template > 
<div :span="24" class='visitors-view' id = 'visitors-view'>

  <el-row>
    <el-col :span="24" :xs="24" :sm="12" :md='7' :lg='4'>
      <el-select v-model="serverParams.table" placeholder="Выберите справочник" style='padding: 8px; width: 100%;'>
          <el-option
            v-for="item in options_book"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
    </el-col> 
    <el-col :span="24" :xs="24" :sm="12" :md='7' :lg='4'>
      <el-button  type="info" class='button' @click="onSelectType"> Показать </el-button>
    </el-col>
  </el-row>
  <el-row>
    <div class ='admin_table_info'>
        <vue-good-table
          mode="remote"
          :columns="columns"
          :rows="data"
          :lineNumbers="true"
          :totalRows="totalRecords"
          @on-page-change="onPageChange"
          @on-per-page-change="onPerPageChange"     
          @on-sort-change="onSortChange"  
          @on-row-click="onRowClick" 

          :pagination-options="{
            enabled: true,
            perPage: serverParams.perPage,
            perPageDropdown: [10,25,50],
            dropdownAllowAll: true,          
            nextLabel: 'След.',
            prevLabel: 'Пред.',
            rowsPerPageLabel: 'Строк на стр.',
            ofLabel: 'из',
            allLabel: 'Все',
          }">
        </vue-good-table>
    </div>
  </el-row>
 

    
</div>
</template>

<script>
import axios from 'axios';
import Vuex from 'vuex'
import $ from 'jquery'
import store from '../../store';
import router from './../../router'
import Vue from 'vue'

import VisitorsList from './Lists/VisitorsList';
// import EventForm from './Forms/EventForm';

var visitorsBus = new Vue();

  export default {
    props: ['id'],

    data() {
      return {
        options_book: [{
          value: 'type_post',
          label: 'Должности'
        }, {
          value: 'Country',
          label: 'Страны'
        }, {
          value: 'Region',
          label: 'Регионы'
        }, {
          value: 'City',
          label: 'Города'
        }],

        totalRecords: 0,
        serverParams: {
          table:'',
          columnFilters: {
          },
          select:{
            state:"1",
          },
          sort: {
            field: 'date', 
            type: 'desc',
          },
          search:{
            value: ''
          },
          page: 1, 
          perPage: 10
        },

        columns: [],
        data:[],
        
      }
    },




    created(){

    },
    mounted() {
      // debugger
      this.$emit('message_ul', {  redirect: {
          name : 'Базовые справочники', 
          link : location.pathname+'#/project/'+this.$props.id+'/book/',
          id   : 'books_li',
          action: 'add'},
        message:{
          project_visible:false,

        } 
      }) 
      
    },
    destroyed(){
      this.$emit('message_ul', { redirect: {
          id   : 'books_li',
          action: 'remove'},
        message:{
          project_visible:true,
        }
      })

    },
    components: { 
      'VisitorsList': VisitorsList, 
      // 'EventForm': EventForm, 
    },

    methods:{

      onSelectType(){ 
        if(this.serverParams.table){
          this.$api.get(`../api/reference/info/city/columns`,this.serverParams)
          .then(response => {
            console.log('response => ', response)
            debugger
            if (response.data) {
              this.data = response.data.rows
              this.totalRecords = response.data.totalRecords

            }
          })
          .catch(e => {
            console.log(e)
          })
        }
      },

      updateParams(newProps) {
        this.serverParams = Object.assign({}, this.serverParams, newProps);
      },

      onRowClick(params) {

        this.$api.get('../api/project/' + this.$parent.$props.id + '/orders/'+params.row.number+'/')
        .then(response => {
          if (response.data) {
            this.data_modal = response.data
          }
        })
        .catch(e => {})


        this.$api.get('../api/project/' + this.$parent.$props.id + '/orders/'+params.row.number+'/tickets')
        .then(response => {
          if (response.data) {
            this.tickets = response.data
          }
        })
        .catch(e => {})

        this.$modal.show('form-orders');
        this.edit=false
      },

      onFilterState(value){
        this.updateParams({page: 1});
        this.Init();
      },

      onSearch(value){
        // if (value.length>=2){
          this.updateParams({page: 1});
          this.Init();
        // }
      },
   
      onPageChange(params) {
        this.updateParams({page: params.currentPage});
        this.Init();
      },

      onPerPageChange(params) {
        // debugger
        this.updateParams({perPage: params.currentPerPage});
        this.Init();
      },

      onSortChange(params) {
        this.updateParams({page: 1});
        this.updateParams({
          sort: {
            type: params.sortType,
            field: this.columns[params.columnIndex].field,
          },
        });
        this.Init();
      },
    
      onColumnFilter(params) {
        this.updateParams(params);
        this.loadItems();
      },
        
        
    }
  }
</script>
