
<template > 
<el-col :span="24" class='eventsList' id = 'eventsList'> 
  <div class ='admin_table_info'>
    <el-row>
      <el-button  type="info" class='button button_right' icon="far fa-file-excel"  @click = 'Export'>
      </el-button>
      <el-button  type="info" class='button button_right' icon="fas fa-plus"  @click = 'Add(null,false)'>
      </el-button>
    </el-row>
    <vue-good-table
        :columns="columns"
        :rows="data"
        :lineNumbers="true"
        @on-row-click="onRowClick"

        :pagination-options="{
          enabled: true,
          perPage: 15,
          perPageDropdown: [15,25,50],
          dropdownAllowAll: true,
          nextLabel: 'След.',
          prevLabel: 'Пред.',
          rowsPerPageLabel: 'Строк на стр.',
          ofLabel: 'из',
          allLabel: 'Все',
        }">
    </vue-good-table>
  </div>

  <modal :span="24" class="form-plan" name="form-events" id = '' :width="700" :height="800">
    <el-col :span="24" class='project-content'>
      <div class='el-col el-col-24'>

        <el-row style='padding: 10px 10px 0 0'>
          <el-button v-if="!edit" class='button_right' type="danger" size="medium" @click="Delete" style='margin-left: 20px;'>
              <i class="far fa-trash-alt"></i> 
          </el-button>
          <el-button v-if="!edit" class='button_right' type="success" size="medium"@click="edit=true" style='margin-left: 20px;'>
              <i class="fas fa-pencil-alt"></i> 
          </el-button>
        </el-row>
        <el-form :model="data_modal" name='data_modal' ref='data_modal' :rules='rules'class="form-project">

          <el-form-item>
            <div class='el-col el-col-24 el-col-xs-24 el-col-sm-6  '>Название</div>
            <div class='el-col el-col-24 el-col-xs-24 el-col-sm-18 '>
              <el-form-item prop='name'>
                <el-input v-show="edit" v-model="data_modal.name"></el-input>
              </el-form-item>
              <el-input v-show="!edit" disabled v-model="data_modal.name"></el-input>
            </div>
          </el-form-item>

          <el-form-item >
            <div class='el-col el-col-24 el-col-xs-24 el-col-sm-6  '>Дата</div>
            <div class='el-col el-col-24 el-col-xs-12 el-col-sm-9 '>
                <el-form-item prop="date_start">
                  <el-date-picker v-show="edit" style="width: 100%;"
                    placeholder="Начало"
                    value-format="yyyy-MM-dd"
                    v-model="data_modal.date_start">
                  </el-date-picker>
                </el-form-item>
                <el-date-picker v-show="!edit" disabled style="width: 100%;"
                  placeholder="Начало"
                  value-format="yyyy-MM-dd"
                  v-model="data_modal.date_start">
                </el-date-picker>
            </div>
            <div class='el-col el-col-24 el-col-xs-12 el-col-sm-9 '>
              <el-form-item prop="date_end">
                <el-date-picker v-show="edit" clearable style="width: 100%;"
                  placeholder="Конец"
                  value-format="yyyy-MM-dd"
                  v-model="data_modal.date_end"                      
                  :picker-options="{disabledDate(time) {                          
                    return time.getTime()+36000000 <= Date.parse( data_modal.date_start);                            
                  }}">
                </el-date-picker>
              </el-form-item>
                <el-date-picker v-show="!edit" disabled style="width: 100%;"
                  placeholder="Конец"
                  value-format="yyyy-MM-dd"
                  v-model="data_modal.date_end"                      
                  :picker-options="{disabledDate(time) {                          
                    return time.getTime()+36000000 <= Date.parse( data_modal.date_start);                            
                  }}">
              </el-date-picker>
            </div>
          </el-form-item>

          <el-form-item >
            <div class='el-col el-col-24 el-col-xs-24 el-col-sm-6  '>Время проведения</div>
            <div class='el-col el-col-24 el-col-xs-12 el-col-sm-9 '>
              <el-form-item prop="time_start">
                <el-time-select v-show="edit" clearable style="width: 100%;"
                  placeholder="Начало"
                  v-model="data_modal.time_start"
                  :picker-options="{
                    start: '08:00',
                    step: '00:15',
                    end: '20:00'
                  }">
                </el-time-select>
              </el-form-item>
              <el-time-select v-show="!edit" disabled style="width: 100%;"
                  placeholder="Начало"
                  v-model="data_modal.time_start"
                  :picker-options="{
                    start: '08:00',
                    step: '00:15',
                    end: '20:00'
                  }">
              </el-time-select>
            </div>
            <div class='el-col el-col-24 el-col-xs-12 el-col-sm-9 '>
              <el-form-item prop="time_end">
                <el-time-select v-show="edit" clearable style="width: 100%;"
                    placeholder="Конец"
                    v-model="data_modal.time_end"
                    :picker-options="{
                      start: '08:00',
                      step: '00:15',
                      end: '20:00',
                      minTime: data_modal.time_start
                    }">
                </el-time-select>
              </el-form-item>
              <el-time-select v-show="!edit" disabled style="width: 100%;"
                  placeholder="Конец"
                  v-model="data_modal.time_end"
                  :picker-options="{
                    start: '08:00',
                    step: '00:15',
                    end: '20:00',
                    minTime: data_modal.time_start
                  }">
              </el-time-select>
              
            </div>
          </el-form-item>

          <el-form-item>
            <div class='el-col el-col-24 el-col-xs-24 el-col-sm-6  '>Зал проведения</div>
            <div class='el-col el-col-24 el-col-xs-24 el-col-sm-18 '>
              <el-select v-show="edit" style="width: 100%;"
                    v-model="data_modal.sites"
                    multiple
                    placeholder="">
                    <el-option
                      v-for="item in options_modal.sites"
                      :key="item.id"
                      :label="item.name"
                      :value="item.id">
                    </el-option>
                </el-select>

              <el-select v-show="!edit" disabled style="width: 100%;"
                    v-model="data_modal.sites"
                    multiple
                    placeholder="">
                    <el-option
                      v-for="item in options_modal.sites"
                      :key="item.id"
                      :label="item.name"
                      :value="item.id">
                    </el-option>
                </el-select>
            </div>
          </el-form-item>

          <el-form-item>
            <div class='el-col el-col-24 el-col-xs-24 el-col-sm-6  '>Стенд</div>
            <div class='el-col el-col-24 el-col-xs-24 el-col-sm-18 '>
              <el-input v-show="edit" v-model="data_modal.stand" placeholder="Занимаемый стенд">
              </el-input>
              <el-input v-show="!edit" disabled clearable v-model="data_modal.stand" placeholder="Занимаемый стенд"></el-input>   
            </div>
          </el-form-item>

          <el-form-item>
            <div class='el-col el-col-24 el-col-xs-24 el-col-sm-6  '>Логотип</div>
            <div class='el-col el-col-24 el-col-xs-24 el-col-sm-18 '>
              <el-col :xs="22" :sm="12" v-show='edit'>
                  <label for="file" class="button uploadButton"><i class="far fa-image" arde-hidden="true"></i> Загрузить</label>
                  <input type="file" id="file" ref="file" style="opacity: 0; z-index: -1;" accept="image/jpeg,image/png,image/gif" v-on:change="handleFileUpload()"/>     
              </el-col> 

              <el-col :xs="22" :sm="12" >
                  <div  v-show="file && data_modal.logo !='delete'" style="position:relative; width:15vw; max-width:200px">
                      <el-button v-show='edit' class="deleteButtom" @click="deleteImage" >
                        <i class="fas fa-times" aria-hidden="true"></i>
                      </el-button>
                      <img v-bind:src="file" id="blah" class="avatar">
                  </div>     
              </el-col>     
            </div>         
          </el-form-item>

          <el-form-item>
            <div class='el-col el-col-24 el-col-xs-24 el-col-sm-6  '>Описание</div>
            <div class='el-col el-col-24 el-col-xs-24 el-col-sm-18 '>
              <el-input
                v-show='edit'
                type="textarea"
                :rows="3"
                placeholder="Описание мероприятия"
                v-model="data_modal.text">
              </el-input>
              <el-input
                v-show='!edit' disabled
                type="textarea"
                :rows="3"
                placeholder="Описание мероприятия"
                v-model="data_modal.text">
              </el-input>
            </div>
          </el-form-item>          
        </el-form>
       
      </div>
      
    </el-col>
    <div style='position: absolute;bottom: 20px;right: 20px;'>
              
      <el-button v-if="edit" type="success" class='button_modal' @click="Update">
          Сохранить
      </el-button>

      <el-button v-if="!edit" type="info" class='button_modal' @click="$modal.hide('form-events');">
          Закрыть
      </el-button>

      <el-button v-if="edit" type="info" class='button_modal' @click="Cansel">
          Отмена
      </el-button>

    </div>
    
  </modal>

  <div v-if='frame.visible'>
    <iframe id="myframe" v-bind:src="frame.data" width="1" height="1"></iframe>
  </div>
    
</el-col>
</template>

<script>
import Vue from 'vue'
import axios from 'axios';
import $ from 'jquery'

  export default {
    props: ['select_event', 'action_event', 'eventBus'],
    data() {
      return {
        edit:false,
        frame:{
          data:'',
          visible:false,
        },
        data_modal:{},
        data_modal_old:{},
        file: '',
        options_modal:{},
        eventsForm: {visible:'', b:null},
        columns: [
          {
            label: 'Название',
            field: 'name',
            filterOptions: {
              enabled: true, 
              placeholder: 'Фильтр по названию',
            },
          },
          {
            label: 'Дата начала',
            field: 'date_start',
            type: 'date',
            dateInputFormat: 'YYYY-MM-DD',
            dateOutputFormat: 'DD-MM-YYYY',
          },
          {
            label: 'Время начала',
            field: 'time_start',
          },
          {
            label: 'Время окончания',
            field: 'time_end',
          },     
        ],
        rules: {
          name: [
            { required: true, message: 'Поле не может быть пустым', trigger: 'blur' },
          ],
          date_start: [
            { required: true, required: true, message: 'Выберите дату', trigger: 'change' }
          ],
          date_end: [
            { required: true, required: true, message: 'Выберите дату', trigger: 'change' }
          ],
          time_start: [
            { required: true, required: true, message: 'Выберите время', trigger: 'change' }
          ],
          time_end: [
            { required: true, required: true, message: 'Выберите время', trigger: 'change' }
          ],
          time_last: [
            { required: true, required: true, message: 'Выберите время', trigger: 'change' }
          ],
        },
        data:[],
        project:[]
      }
    },
    created() {
      this.eventBus.$on("updateList", ()=>{
        this.Init()
        this.action_event.splice(this.select_event.length-1, 1)
        this.action_event.push('view')
      });
      this.Init()
    },
    methods: {

      Init(){
        this.$api.get('../api/project/' + this.$parent.$props.id + '/events/')
        .then(response => {
          console.log('response => ', response)
          if (response.data) {
            this.data = response.data
          }
        })
        .catch(e => {
          console.log(e)
        })
        if(!this.options_modal.sites){
          this.$api.get('../api/project/' + this.$parent.$props.id + '/events/options/')
          .then(response => {
            if (response.data) {
              this.options_modal = response.data
            }
          })
          .catch(e => {})
        }
      },

      InitModalData(id){
        this.$api.get('../api/project/' + this.$parent.$props.id + '/events/'+id+'/')
        .then(response => {
          if (response.data) {
            this.data_modal = response.data
            this.data_modal_old = response.data
            this.file = response.data.logo
          }
        })
        .catch(e => {})
      },

      onRowClick(params) {
        this.InitModalData(params.row.id)  
        this.$modal.show('form-events');
        this.edit=false
      },
  
      Add(id, save){
        if (!save){
          if(!id){
            this.edit = true
            this.$modal.show('form-events');
            this.data_modal={}
            this.file = ''
          }

        }else{

        }
      },

      Update(){
        this.$refs['data_modal'].validate((valid) => {
          if (valid) {
            var id = this.data_modal.id ? this.data_modal.id : 'new'
            if (this.file){
                this.data_modal['logo']= this.file
            }
            let formData = new FormData();

            for (var data in this.data_modal){
                formData.append(data, this.data_modal[data]);
            }
            var url = '../api/project/'+ this.$parent.$props.id + '/events/'+id + '/add/'
            this.$api.update(url,formData)
              .then(response => {
                console.log('response => ', response)
                this.$notify({
                  group: 'foo',
                  type: 'success',
                  duration: 3000,
                  text: "<i style='font-size:20px' class='fa fa-check'></i> Сохранено"
                });
                this.eventBus.$emit("updateList");
                this.edit=false
                this.data_modal = response.data
                this.file = response.data.logo
              })
              .catch(e => {
                this.$notify({
                  group: 'foo',
                  type: 'error',
                  duration: 3000,
                  text: "<i style='font-size:20px' class='fa fa-exclamation'></i> Ошибка"
                });
              })
          }
        })    
      },

      Cansel(){
        if(this.data_modal.id){
          this.InitModalData(this.data_modal.id)
        }else{
          this.$modal.hide('form-events');
        }
        this.edit = false
      },

      Delete(){
        var id = this.data_modal.id
        this.$confirm('Удалить мероприятие?', 'Подтверждение действий пользователя', {
          confirmButtonText: 'Да',
          cancelButtonText: 'Отмена',
          type: 'warning'
        }).then(() => {
          this.$api.del('../api/project/'+this.$parent.$props.id + '/events/'+id+'/delete/')
          .then(response => {
            this.$notify({
              group: 'foo',
              type: 'success',
              duration: 3000,
              text: "<i style='font-size:20px' class='fa fa-check'></i> Удалено"
            });
            this.$modal.hide('form-events');
            this.eventBus.$emit("updateList");
          })
          .catch(e => {
            this.$notify({
              group: 'foo',
              type: 'error',
              duration: 3000,
              text: "<i style='font-size:20px' class='fa fa-exclamation'></i> Ошибка"
            });
          })
        })
      }, 

      Export(){
        this.frame['visible']=true
        this.frame['data'] = '../api/project/'+ this.$parent.$props.id + '/events/report/'
        setTimeout(this.closeFrame, 2000);
      },

      deleteImage(){
        $('#file').val(null);
        this.data_modal.logo = 'delete';
        this.file = ''
      },

      handleFileUpload(){
        this.data_modal.logo = 'true';
        this.file = this.$refs.file.files[0];
        var input = this.$refs.file

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
              $('#blah').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }  
      },

     
    }
  }
</script>
<style>

/*.el-upload-list__item-name{
    height: 30px; 
}

.el-upload-list {
    width: 90%;
    max-width: 200px
}*/

.avatar {
    width: 15vw;
    max-width: 200px;
    display: block;
    border: solid 1px #c0c4cc;
  }

/*label{
    min-width: 130px;
    padding: 0px !important;
}
*/




</style>