<template > 
<div :span="24" class='event-view' id = 'event-view'>

  <eventsList 
    :eventBus='eventBus' 
    :select_event='select_event' 
    :action_event='action_event' >
      
  </eventsList>

    
</div>
</template>

<script>
import axios from 'axios';
import Vuex from 'vuex'
import $ from 'jquery'
import store from '../../store';
import router from './../../router'
import Vue from 'vue'

import EventsList from './Lists/EventsList';

var eventBus = new Vue();

  export default {
    props: ['id'],
    mounted(){
      this.$emit('message_ul', {  redirect: {
          name : 'Расписание', 
          link : location.pathname+'#/project/'+this.$props.id+'/events/',
          id   : 'events_li',
          action: 'add'},
        message:{
          project_visible:false,

        } 
      }) 
    },
    beforeDestroy(){
      this.$emit('message_ul', { redirect: {
          id   : 'events_li',
          action: 'remove'},
        message:{
          project_visible:true,
        }
      })

    },
    components: { 
      'EventsList': EventsList, 
    },
    data() {
      return {
        select_event:[],
        action_event:[],
        eventBus:eventBus,
      }
    },
    methods:{

    }
  }
</script>
