

<template> 
<el-col :span="24" class='exponentsList' id = 'exponentsList'>

  <div class ='admin_table_info'>
    <el-row>
      <el-button  type="info" class='button button_right' icon="far fa-file-excel"  @click = 'Export'>
      </el-button>
      <el-button  type="info" class='button button_right' icon="fas fa-plus"  @click = 'Add(null,false)'>
      </el-button>
    </el-row>
    <vue-good-table
      :columns="columns"
      :rows="data"
      :lineNumbers="true"
      @on-row-click="onRowClick"

      :pagination-options="{
        enabled: true,
        perPage: 15,
        perPageDropdown: [15,25,50],
        dropdownAllowAll: true,
        nextLabel: 'След.',
        prevLabel: 'Пред.',
        rowsPerPageLabel: 'Строк на стр.',
        ofLabel: 'из',
        allLabel: 'Все',
      }">
    </vue-good-table>
  </div>

  <modal :span="24" class="form-plan" name="form-exponents" id = '' :width="700" :height="'80%'" :resizable=true :draggable=true>
    <el-col :span="24" class='project-content' style='overflow:auto; height: 90%;'>
      <div class='el-col el-col-24'>

        <div style='padding: 20px 10px 0 0'>
          <el-button v-if="!edit" type="success" size="medium"@click="edit=true" style='margin-left: 20px;'>
              <i class="fas fa-pencil-alt"></i> Редактировать
          </el-button>
           <el-button v-if="!edit" type="danger" size="medium" @click="Delete" style='margin-left: 20px;'>
              <i class="far fa-trash-alt"></i> Удалить
          </el-button>
        </div>
        <el-form :model="data_modal" name='data_modal' ref='data_modal' :rules='rules'class="form-project">

          <el-form-item>
            <div class='el-col el-col-24 el-col-xs-24 el-col-sm-6  '>Название</div>
            <div class='el-col el-col-24 el-col-xs-24 el-col-sm-18 '>
              <el-form-item prop='name'>
                <el-input v-show="edit" v-model="data_modal.name"></el-input>
              </el-form-item>
              <el-input v-show="!edit" disabled v-model="data_modal.name"></el-input>
            </div>
          </el-form-item>

          <el-form-item>
            <div class='el-col el-col-24 el-col-xs-24 el-col-sm-6  '>Адрес</div>
            <div class='el-col el-col-24 el-col-xs-24 el-col-sm-18 '>
              <el-form-item prop='address'>
                <el-input v-show="edit" v-model="data_modal.address"></el-input>
              </el-form-item>
              <el-input v-show="!edit" disabled v-model="data_modal.address"></el-input>
            </div>
          </el-form-item>      

          <el-form-item>
            <div class='el-col el-col-24 el-col-xs-24 el-col-sm-6  '>Телефон</div>
            <div class='el-col el-col-24 el-col-xs-24 el-col-sm-18 '>
              <el-form-item prop='phone'>
                <el-input v-show="edit" v-model="data_modal.phone"></el-input>
              </el-form-item>
              <el-input v-show="!edit" disabled v-model="data_modal.phone"></el-input>
            </div>
          </el-form-item>

          <el-form-item>
            <div class='el-col el-col-24 el-col-xs-24 el-col-sm-6  '>E-mail</div>
            <div class='el-col el-col-24 el-col-xs-24 el-col-sm-18 '>
              <el-form-item prop='email'>
                <el-input v-show="edit" v-model="data_modal.email"></el-input>
              </el-form-item>
              <el-input v-show="!edit" disabled v-model="data_modal.email"></el-input>
            </div>
          </el-form-item>

          <el-form-item>
            <div class='el-col el-col-24 el-col-xs-24 el-col-sm-6  '>Web-сайт</div>
            <div class='el-col el-col-24 el-col-xs-24 el-col-sm-18 '>
              <el-form-item prop='web_site'>
                <el-input v-show="edit" v-model="data_modal.web_site"></el-input>
              </el-form-item>
              <el-input v-show="!edit" disabled v-model="data_modal.web_site"></el-input>
            </div>
          </el-form-item>

          <el-form-item>
            <div class='el-col el-col-24 el-col-xs-24 el-col-sm-6  '>Вид спонсорства</div>
            <div class='el-col el-col-24 el-col-xs-24 el-col-sm-18 '>
              <el-form-item prop='web_site'>
                <el-select v-show="edit" v-model="data_modal.sponsor_type" style="width: 100%;">
                  <el-option
                    v-for="item in options_modal.sponsor_type"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
                </el-select>
              </el-form-item>
              <el-select v-show="!edit" disabled v-model="data_modal.sponsor_type" style="width: 100%;">
                <el-option
                  v-for="item in options_modal.sponsor_type"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
            </div>
          </el-form-item>

          <el-form-item>
            <div class='el-col el-col-24 el-col-xs-24 el-col-sm-6  '>Описание</div>
            <div class='el-col el-col-24 el-col-xs-24 el-col-sm-18 '>
              <el-form-item prop='description'>
                <el-input v-show="edit" v-model="data_modal.description"
                  type="textarea"
                  :rows="2">
                </el-input>
              </el-form-item>
              <el-input v-show="!edit" disabled v-model="data_modal.description"
                type="textarea"
                :rows="2">
              </el-input>
            </div>
          </el-form-item>

          <el-form-item>
            <div class='el-col el-col-24 el-col-xs-24 el-col-sm-6  '>Логотип</div>
            <div class='el-col el-col-24 el-col-xs-24 el-col-sm-18 '>
              <el-col :xs="22" :sm="12" v-show='edit'>
                  <label for="file" class="button uploadButton"><i class="far fa-image" arde-hidden="true"></i> Загрузить</label>
                  <input type="file" id="file" ref="file" style="opacity: 0; z-index: -1;" accept="image/jpeg,image/png,image/gif" v-on:change="handleFileUpload()"/>     
              </el-col> 

              <el-col :xs="22" :sm="12" >
                  <div  v-show="file && data_modal.logo !='delete'" style="position:relative; width:15vw; max-width:200px">
                      <el-button v-show='edit' class="deleteButtom" @click="deleteImage" >
                        <i class="fas fa-times" aria-hidden="true"></i>
                      </el-button>
                      <img v-bind:src="file" id="blah" class="avatar">
                  </div>     
              </el-col>     
            </div>         
        </el-form-item>      
      </el-form>
       
      </div>
      
    </el-col>
    <el-col style='position: absolute;bottom: 20px;right: 20px;'>
              
      <el-button v-if="edit" type="success" class='button_modal' @click="Update">
          Сохранить
      </el-button>

      <el-button v-if="!edit" type="info" class='button_modal' @click="$modal.hide('form-exponents');">
          Закрыть
      </el-button>

      <el-button v-if="edit" type="info" class='button_modal' @click="Cansel">
          Отмена
      </el-button>

    </el-col>
    
  </modal>
  <div v-if='frame.visible'>
    <iframe id="myframe" v-bind:src="frame.data" width="1" height="1"></iframe>
  </div>


      
</el-col>
</template>

<script>
import Vue from 'vue'
import axios from 'axios';
import $ from 'jquery'
// import store from '../../store';
// import router from './../../router'

  export default {
    props: ['exponentBus'],
    data() {
      return {
        edit:false,
        frame:{
          data:'',
          visible:false,
        },
        data_modal:{},
        data_modal_old:{},
        file: '',
        options_modal:{},
        exponentsForm: {visible:false, b:null},
        columns: [
          {
            label: 'Название',
            field: 'name',
            filterable: true,
            placeholder:'фильтр по названию',
          },
          {
            label: 'Телефон',
            field: 'phone',
          },
          {
            label: 'E-mail',
            field: 'email',
          },
          {
            label: 'Тип спонсорства',
            field: 'sponsor_type',
          },  
        ],
        data:[],
        project:[],
        rules: {
          name: [
            { required: true, message: 'Поле не может быть пустым', trigger: 'blur' }
          ],
          phone: [
            { required: true, pattern:/((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}/, message: 'Введите телефон', trigger: 'blur' },
          ],
          email: [
             {type: 'email', message: 'Некорректный e-mail', trigger: 'blur'},
             {required: true, message: 'Поле не может быть пустым', trigger: 'blur'}
          ]
        },
        
      }
    },
    created() {

      this.exponentBus.$on("updateList", ()=>{
        this.Init()
      });
      this.Init()
    },

    methods: {
      Init(){
        this.$api.get('../api/project/' + this.$parent.$props.id + '/exponents/')
        .then(response => {
          console.log('response => ', response)
          if (response.data) {
            this.data = response.data
          }
          for (var i in this.data){
            if(this.data[i].logo){
              this.data[i].logo = `<img src="${this.data[i].logo}" id="individual" class="table_img">`
            }
          }
        })
        .catch(e => {
          console.log(e)
        })

        if(!this.options_modal.sites){
          this.$api.get('../api/project/' + this.$parent.$props.id + '/exponents/options/')
          .then(response => {
            if (response.data) {
              this.options_modal = response.data
            }
          })
          .catch(e => {})
        }

      
      },
      handleMessage: function (payload) {
        this.exponentsForm = payload.message
        this.$api.get('../api/project/' + this.b + '/exponents/')
        .then(response => {
          console.log('response => ', response)
          if (response.data) {
            if (response.data) {
              if (response.data) {
              this.data = response.data
            }
            for (var i in this.data){
              if(this.data[i].logo){
                this.data[i].logo = `<img src="${this.data[i].logo}" id="individual" class="table_img">`
              }
            }
          }
          }
        })
        .catch(e => {
          console.log(e)
        })
      },

      InitModalData(id){
        this.$api.get('../api/project/' + this.$parent.$props.id + '/exponents/'+id+'/')
        .then(response => {
          if (response.data) {
            debugger
            this.data_modal = response.data
            this.data_modal_old = response.data
            this.file = response.data.logo
          }
        })
        .catch(e => {})
      },

      onRowClick(params) {
        this.InitModalData(params.row.id)  
        this.$modal.show('form-exponents');
        this.edit=false
      },

      Add(id, save){
        if (!save){
          if(!id){
            this.edit = true
            this.$modal.show('form-exponents');
            this.data_modal={}
            this.file = ''
          }

        }else{

        }
      },

      Update(){
        this.$refs['data_modal'].validate((valid) => {
          if (valid) {
            var id = this.data_modal.id ? this.data_modal.id : 'new'
            if (this.file){
                this.data_modal['logo']= this.file
            }
            let formData = new FormData();

            for (var data in this.data_modal){
                formData.append(data, this.data_modal[data]);
            }
            var url = '../api/project/'+ this.$parent.$props.id + '/exponents/'+id + '/add/'
            this.$api.update(url,formData)
              .then(response => {
                console.log('response => ', response)
                this.$notify({
                  group: 'foo',
                  type: 'success',
                  duration: 3000,
                  text: "<i style='font-size:20px' class='fa fa-check'></i> Сохранено"
                });

                this.exponentBus.$emit("updateList");
                this.edit=false
                this.data_modal = response.data
                this.file = response.data.logo
              })
              .catch(e => {
                this.$notify({
                  group: 'foo',
                  type: 'error',
                  duration: 3000,
                  text: "<i style='font-size:20px' class='fa fa-exclamation'></i> Ошибка"
                });
              })
          }
        })    
      },

      Delete(){r
        var id = this.data_modal.id
        this.$confirm('Удалить Спонсора/Партнера?', 'Подтверждение действий пользователя', {
          confirmButtonText: 'Да',
          cancelButtonText: 'Отмена',
          type: 'warning'
        }).then(() => {
          this.$api.del('../api/project/'+this.$parent.$props.id + '/exponents/'+id+'/delete/')
          .then(response => {
            this.$notify({
              group: 'foo',
              type: 'success',
              duration: 3000,
              text: "<i style='font-size:20px' class='fa fa-check'></i> Удалено"
            });
            this.$modal.hide('form-exponents');
            this.exponentBus.$emit("updateList");
          })
          .catch(e => {
            this.$notify({
              group: 'foo',
              type: 'error',
              duration: 3000,
              text: "<i style='font-size:20px' class='fa fa-exclamation'></i> Ошибка"
            });
          })
        })
      },

      Export(){
        this.frame['visible']=true
        this.frame['data'] = '../api/project/'+ this.$parent.$props.id + '/exponents/export/'
        setTimeout(this.closeFrame, 2000);
      },

      Cansel(){
        if(this.data_modal.id){
          this.InitModalData(this.data_modal.id)
        }else{
          this.$modal.hide('form-exponents');
        }
        this.edit = false
      },

      deleteImage(){
        $('#file').val(null);
        this.data_modal.logo = 'delete';
        this.file = ''
      },

      handleFileUpload(){
        this.data_modal.logo = 'true';
        this.file = this.$refs.file.files[0];
        var input = this.$refs.file

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
              $('#blah').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }  
      },
    }
  }
</script>
<style>

.avatar {
    width: 15vw;
    max-width: 200px;
    display: block;
    border: solid 1px #c0c4cc;
}

.form-plan .v--modal{
  max-width: 100% !important;
  max-height: 100% !important;
}

</style>