
<template>
	<el-col :span="24" class='externalUserList' id = 'externalUserList'>
		<div class ='admin_table_info'>
		    <!-- <vue-good-table
		        :columns="columns"
		        :rows="data"
		        :onClick="selectExternalUser"            

		        nextText="След."
		        prevText="Пред."
		        rowsPerPageText = 'проектов на странице'
		        ofText = 'из'
		        allText = 'все'/> -->

            <vue-good-table
              :columns="columns"
              :rows="data"
              :lineNumbers="true"
              @on-row-click="selectExternalUser"

              :pagination-options="{
                enabled: true,
                perPage: 15,
                perPageDropdown: [15,25,50],
                dropdownAllowAll: true,          nextLabel: 'След.',
                prevLabel: 'Пред.',
                rowsPerPageLabel: 'Строк на стр.',
                ofLabel: 'из',
                allLabel: 'Все',
              }">
            </vue-good-table>
		  </div>

	</el-col>

</template>


<script>
import Vue from 'vue'
import axios from 'axios';
import $ from 'jquery'

  export default {
    props: ['select_external_user', 'action_external_user', 'external_userBus'],
    data() {
      return {
        columns: [
          {
            label: 'Телефон',
            field: 'username',
            filterable: true,
            placeholder:'фильтр по номеру',
          },{
            label: 'Фамилия',
            field: 'firstname',
            filterable: false,
          },{
            label: 'Имя',
            field: 'lastname',
            filterable: false,
          },
          
        ],
        data:[],
        project:[]
      }
    },
    created() {
      // this.eventBus.$on("updateList", ()=>{
      //   this.Init()
      //   this.action_event.splice(this.select_event.length-1, 1)
      //   this.action_event.push('view')
      // });
      this.Init()
    },
    methods: {
      Init(){
        this.$api.get('../api/extern_users/')
        .then(response => {
          console.log('response => ', response)
          if (response.data) {
            this.data = response.data

          }
        })
        .catch(e => {
          console.log(e)
        })
      },
      selectExternalUser(){},
    }
  }
</script>

<style>

.el-upload-list__item-name{
    height: 30px; 
}

.el-upload-list {
    width: 90%;
    max-width: 200px
}

.avatar {
    width: 15vw;
    max-width: 200px;
    display: block;
    border: solid 1px #c0c4cc;
  }

label{
    min-width: 130px;
    padding: 0px !important;
}

.uploadButton {
    display: block;
    width: 10vw;
    background: #909399;
    padding: 10px;
    color: #FFF;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}

.uploadButton:hover {

    background: #a6a9ad;

}


.deleteButtom{
    position: absolute;
    right: -1px;
    top: 0px;
    background-color: #dcdfe6;
    border: 0;
    cursor: pointer;
    padding: 2px;
    width: 24px;
    font-size: 16px;
    border-radius: 0px;

}

</style>