<template>

	<el-col class='modalPush' id = 'modalPush'>
	    <el-col :span="24" >
	      <el-form :model='formPush' name='formPush' ref="formPush" :rules='rulesPush' :label-position="labelPosition" id="uploadPush" enctype="multipart/form-data">
	        <el-col :span="24" class = 'head_modal_push'style='margin-right:10px'>
	          <i class="fa fa-mobile" aria-hidden="true"></i> Отправка уведомления пользователям мобильных устройств

	        </el-col>
	      <el-col :span="20" :offset="2">
	      	<el-form-item label="Заголовок">
	            <el-col :span="15" style='margin-right:10px'>
	              <el-form-item prop='label'>
	                <el-input clearable v-model="formPush.label" placeholder="Заголовок Push-уведомления"></el-input>
	              </el-form-item>
	            </el-col>
	        </el-form-item>
	      </el-col>

	      <el-col :span="20" :offset="2">
	      	<el-form-item label="Текст">
	            <el-col :span="15" style='margin-right:10px'>
	              <el-form-item prop='text'>
		            <el-input
		              type="textarea"
		              :rows="3"
		              placeholder="Введите текст Push-уведомления"
		              v-model="formPush.text">
		            </el-input>
		          </el-form-item>  
	            </el-col>
	        </el-form-item>
	      </el-col>

	      <el-col :span="17" :offset="3">
	        <!-- <el-form-item label="Текст">
	          <el-form-item prop='text'>
	            <el-input
	              type="textarea"
	              :rows="3"
	              placeholder="Введите текст Push-уведомления"
	              v-model="formPush.text">
	            </el-input>
	          </el-form-item>            
	        </el-form-item> -->
	        <el-col :xs="22">
	          <el-button v-if="" type="info" style="float: right;" @click="PushModal('formPush')">
	              Отправить
	          </el-button>
	        </el-col> 
	      	</el-col>
	    	</el-form>
	    </el-col>
  <!-- </modal> -->


	</el-col>

	

</template>

<script>
export default {
	props: ['data', 'projectBus'],
    data() {
      return {
      	 labelPosition: 'left',
      	rulesPush: {
          label: [
            { required: true, message: 'Поле не может быть пустым', trigger: 'blur' },
            { min: 1, max: 50, message: 'Длина от 1 до 50 символов', trigger: 'blur' }
          ],
          text: [
            { required: true, message: 'Поле не может быть пустым', trigger: 'blur' },
            { min: 1, max: 100, message: 'Длина от 1 до 100 символов', trigger: 'blur' }
          ],
        },
      	formPush:{fcm_data:'0'},
      }
    },
    created(){debugger},
    methods: {
      PushModal(formName){
      	debugger

      	this.$refs[formName].validate((valid) => {
            if (valid) {
		      this.formPush['project'] = this.$store.state.value_project
		      this.$api.post('/api/'+'push/notice/', this.formPush)
		      .then(response => {
		        this.$notify({
		            group: 'foo',
		            type: 'success',
		            duration: 6000,
		            text: "<i style='font-size:20px' class='fa fa-check'></i> Отправлено"
		        });
		        this.$modal.hide('form-push');
		      })
		      .catch(e => {
		        this.$notify({
		            group: 'foo',
		            type: 'error',
		            duration: 6000,
		            text: "<i style='font-size:20px' class='fa fa-exclamation'></i> Ошибка"
		          });
		        this.$modal.hide('form-push');
		      })
		  }else {
            return false;
          }
      	})


        // }else{
        //   this.$modal.show('form-push');
        // }
        

      },
    }
  }
</script>