

<template> 
<el-col :span="24" class='projects-view' id = 'project-view'>
  <div class ='admin_table_info'>
    <el-row>
      <el-input placeholder="Поиск" size="medium" style='width: 200px; float:left; margin: 10px 0;' v-model="serverParams.search.value" v-on:input='onSearch'></el-input>
      <!-- <el-button  type="info" class='button button_right' icon="far fa-file-excel"  @click = 'Export'>
      </el-button> -->
      <el-button  type="info" class='button button_right' icon="fas fa-plus"  @click = 'Add(null,false)'>
      </el-button>
    </el-row>
    <vue-good-table
        mode="remote"
        :columns="columns"
        :rows="data"
        :lineNumbers="true"
        :totalRows="totalRecords"
        @on-page-change="onPageChange"
        @on-per-page-change="onPerPageChange"     
        @on-sort-change="onSortChange"  
        @on-row-click="onRowClick"

        :pagination-options="{
          enabled: true,
          perPage: serverParams.perPage,
          perPageDropdown: [10,15,25,50],
          dropdownAllowAll: true,
          nextLabel: 'След.',
          prevLabel: 'Пред.',
          rowsPerPageLabel: 'Строк на стр.',
          ofLabel: 'из',
          allLabel: 'Все',
        }">
    </vue-good-table>
  </div>

  <modal :span="24" class="form-plan" name="form-news" id = '' :width="700" :height="800">
    <el-col :span="24" class='project-content'>
      <div class='el-col el-col-24'>

        <el-row style='padding: 10px 10px 0 0'>
          <el-button v-if="!edit" class='button_right' type="danger" size="medium" @click="Delete" style='margin-left: 20px;'>
              <i class="far fa-trash-alt"></i> 
          </el-button>
          <el-button v-if="!edit" class='button_right' type="success" size="medium"@click="edit=true" style='margin-left: 20px;'>
              <i class="fas fa-pencil-alt"></i> 
          </el-button>
        </el-row>
        <el-form :model="data_modal" name='data_modal' ref='data_modal' :rules='rules'class="form-project">

          <el-form-item>
            <div class='el-col el-col-24 el-col-xs-24 el-col-sm-6  '>Заголовок</div>
            <div class='el-col el-col-24 el-col-xs-24 el-col-sm-18 '>
              <el-form-item prop='name'>
                <el-input v-show="edit" v-model="data_modal.name"></el-input>
              </el-form-item>
              <el-input v-show="!edit" disabled v-model="data_modal.name"></el-input>
            </div>
          </el-form-item>

          <el-form-item>
            <div class='el-col el-col-24 el-col-xs-24 el-col-sm-6  '>Статус новости</div>
            <div class='el-col el-col-24 el-col-xs-24 el-col-sm-18 '>
              <el-select v-show="edit" style="width: 100%;"
                    v-model="data_modal.state">
                    <el-option
                      v-for="item in options_modal.state"
                      :key="item.id"
                      :label="item.name"
                      :value="item.id">
                    </el-option>
                </el-select>

              <el-select v-show="!edit" disabled style="width: 100%;"
                    v-model="data_modal.state">
                    <el-option
                      v-for="item in options_modal.state"
                      :key="item.id"
                      :label="item.name"
                      :value="item.id">
                    </el-option>
                </el-select>
            </div>
          </el-form-item>

          <el-form-item>
            <div class='el-col el-col-24 el-col-xs-24 el-col-sm-6  '>Тип новости</div>
            <div class='el-col el-col-24 el-col-xs-24 el-col-sm-18 '>
              <el-select v-show="edit" style="width: 100%;"
                    v-model="data_modal.status">
                    <el-option
                      v-for="item in options_modal.status"
                      :key="item.id"
                      :label="item.name"
                      :value="item.id">
                    </el-option>
                </el-select>

              <el-select v-show="!edit" disabled style="width: 100%;"
                    v-model="data_modal.status">
                    <el-option
                      v-for="item in options_modal.status"
                      :key="item.id"
                      :label="item.name"
                      :value="item.id">
                    </el-option>
                </el-select>
            </div>
          </el-form-item>

          <el-form-item >
            <div class='el-col el-col-24 el-col-xs-24 el-col-sm-6  '>Дата завершения</div>
            <div class='el-col el-col-24 el-col-xs-24 el-col-sm-18 '>
                <el-form-item prop="date_topic">
                  <el-date-picker v-show="edit" style="width: 100%;"
                    placeholder="Дата завершения публикации"
                    value-format="yyyy-MM-dd"
                    v-model="data_modal.date_topic">
                  </el-date-picker>
                </el-form-item>
                <el-date-picker v-show="!edit" disabled style="width: 100%;"
                  placeholder="Дата завершения публикации"
                  value-format="yyyy-MM-dd"
                  v-model="data_modal.date_topic">
                </el-date-picker>
            </div>
          </el-form-item>

          <el-form-item>
            <div class='el-col el-col-24 el-col-xs-24 el-col-sm-6  '>Логотип</div>
            <div class='el-col el-col-24 el-col-xs-24 el-col-sm-18 '>
              <el-col :xs="22" :sm="12" v-show='edit'>
                  <label for="file" class="button uploadButton"><i class="far fa-image" arde-hidden="true"></i> Загрузить</label>
                  <input type="file" id="file" ref="file" style="opacity: 0; z-index: -1;" accept="image/jpeg,image/png,image/gif" v-on:change="handleFileUpload()"/>     
              </el-col> 

              <el-col :xs="22" :sm="12" >
                  <div  v-show="file && data_modal.logo !='delete'" style="position:relative; width:15vw; max-width:200px">
                      <el-button v-show='edit' class="deleteButtom" @click="deleteImage" >
                        <i class="fas fa-times" aria-hidden="true"></i>
                      </el-button>
                      <img v-bind:src="file" id="blah" class="avatar">
                  </div>     
              </el-col>     
            </div>         
          </el-form-item>

          <el-form-item>
            <div class='el-col el-col-24 el-col-xs-24 el-col-sm-6  '>Текст новости</div>
            <div class='el-col el-col-24 el-col-xs-24 el-col-sm-18 '>
              <el-input
                v-show='edit'
                type="textarea"
                :rows="3"
                v-model="data_modal.description">
              </el-input>
              <el-input
                v-show='!edit' disabled
                type="textarea"
                :rows="3"
                v-model="data_modal.description">
              </el-input>
            </div>
          </el-form-item>          
      </el-form>
       
      </div>
      
    </el-col>
    <div style='position: absolute;bottom: 20px;right: 20px;'>
              
      <el-button v-if="edit" type="success" class='button_modal' @click="Update">
          Сохранить
      </el-button>

      <el-button v-if="!edit" type="info" class='button_modal' @click="$modal.hide('form-news');">
          Закрыть
      </el-button>

      <el-button v-if="edit" type="info" class='button_modal' @click="Cansel">
          Отмена
      </el-button>

    </div>
    
  </modal>
</el-col>
</template>

<script>
import axios from 'axios';
import $ from 'jquery'
import store from '../../store';
import router from './../../router'
import Vue from 'vue'

import NewsList from './Lists/NewsList';
import NewsForm from './Forms/NewsForm';

var newsBus = new Vue();


export default {
  props: ['id'],
  created(){
    this.$on("updateList", ()=>{
        this.Init()
    });
    this.Init()
  },

    mounted() {
      this.$emit('message_ul', {  redirect: {
          name : 'Глобальные новости', 
          link : location.pathname+'#/project/news/',
          id   : 'news_g_li',
          action: 'add'},
        message:{
          projects_visible:false,

        } 
      })    
    },
    destroyed(){

      this.$emit('message_ul', { redirect: {
          id   : 'news_g_li',
          action: 'remove'},
        message:{
          projects_visible:true,
        }
      })

    },
    components: { 
      
    },
    data() {
      return {
        edit:false,
        frame:{
          data:'',
          visible:false,
        },
        totalRecords: 0,
        serverParams: {
          columnFilters: {
          },
          select:{
            is_business:this.$store.state.is_business,
          },
          sort: {
            field: 'date_topic', 
            type: 'desc',
          },
          search:{
            value: ''
          },
          page: 1, 
          perPage: 10
        },
        rules: {
          name: [
            { required: true, message: 'Поле не может быть пустым', trigger: 'blur' },
          ],
          date_topic: [
            { required: true, required: true, message: 'Выберите дату завершения публикации', trigger: 'change' }
          ],
          state: [
            { required: true, required: true, message: 'Выберите состояние новости', trigger: 'change' }
          ],
          status: [
            { required: true, required: true, message: 'Выберите статус новости', trigger: 'change' }
          ],
        },
        columns: [
          {
            label: 'Название',
            field: 'name',
          },
          {
            label: 'Состояние',
            field: 'state',
          },
          {
            label: 'Тип',
            field: 'status',
          },
          {
            label: 'Дата завершения',
            field: 'date_topic',
            type: 'date',
            dateInputFormat: 'YYYY-MM-DD',
            dateOutputFormat: 'DD-MM-YYYY',
          },  
        ],
        data:[],
        options_modal:{},
        data_modal:{},
        data_modal_old:{},
        file: '',
      }
    },
    methods:{
      Init(){
        debugger
        this.$api.get('../api/news/', this.serverParams)
        .then(response => {
          console.log('response => ', response)
          if (response.data) {
            this.data = response.data.rows
            this.totalRecords = response.data.totalRecords
          }
        })
        .catch(e => {
          console.log(e)
        })
        if(!this.options_modal.sites){
          this.$api.get('../api/news/options/')
          .then(response => {
            if (response.data) {
              this.options_modal = response.data
            }
          })
          .catch(e => {})
        }
      },
      InitModalData(id){
        this.$api.get('../api/news/'+id+'/')
        .then(response => {
          if (response.data) {
            this.data_modal = response.data
            this.data_modal_old = response.data
            this.file = response.data.logo
          }
        })
        .catch(e => {})
      },
      Add(id, save){
        if (!save){
          if(!id){
            this.edit = true
            this.$modal.show('form-news');
            this.data_modal={}
            this.file = ''
          }

        }else{

        }
      },
      Update(){
        this.$refs['data_modal'].validate((valid) => {
          if (valid) {
            var id = this.data_modal.id ? this.data_modal.id : 'new'
            if (this.file){
                this.data_modal['logo']= this.file
            }
            let formData = new FormData();

            for (var data in this.data_modal){
                formData.append(data, this.data_modal[data]);
            }
            formData.append('is_business', this.$store.state.is_business);
            var url = '../api/news/'+id+'/add/'
            this.$api.update(url,formData)
              .then(response => {
                console.log('response => ', response)
                this.$notify({
                  group: 'foo',
                  type: 'success',
                  duration: 3000,
                  text: "<i style='font-size:20px' class='fa fa-check'></i> Сохранено"
                });
                this.$emit("updateList");
                this.edit=false
                this.data_modal = response.data
                this.file = response.data.logo
              })
              .catch(e => {
                this.$notify({
                  group: 'foo',
                  type: 'error',
                  duration: 3000,
                  text: "<i style='font-size:20px' class='fa fa-exclamation'></i> Ошибка"
                });
              })
          }
        })    
      },

      Cansel(){
        if(this.data_modal.id){
          this.InitModalData(this.data_modal.id)
        }else{
          this.$modal.hide('form-events');
        }
        this.edit = false
      },

      Delete(){
        var id = this.data_modal.id
        this.$confirm('Удалить мероприятие?', 'Подтверждение действий пользователя', {
          confirmButtonText: 'Да',
          cancelButtonText: 'Отмена',
          type: 'warning'
        }).then(() => {
          this.$api.del('../api/project/'+this.$parent.$props.id + '/events/'+id+'/delete/')
          .then(response => {
            this.$notify({
              group: 'foo',
              type: 'success',
              duration: 3000,
              text: "<i style='font-size:20px' class='fa fa-check'></i> Удалено"
            });
            this.$modal.hide('form-events');
            this.eventBus.$emit("updateList");
          })
          .catch(e => {
            this.$notify({
              group: 'foo',
              type: 'error',
              duration: 3000,
              text: "<i style='font-size:20px' class='fa fa-exclamation'></i> Ошибка"
            });
          })
        })
      }, 

      Export(){
        this.frame['visible']=true
        this.frame['data'] = '../api/project/'+ this.$parent.$props.id + '/events/report/'
        setTimeout(this.closeFrame, 2000);
      },

      updateParams(newProps) {
        this.serverParams = Object.assign({}, this.serverParams, newProps);
      },

      onRowClick(params) {
        this.InitModalData(params.row.id)  
        this.$modal.show('form-news');
        this.edit=false
      },

      onFilterState(){
        this.updateParams({page: 1});
        this.Init();
      },

      onSearch(value){
        this.updateParams({page: 1});
        this.Init();
      },
   
      onPageChange(params) {
        this.updateParams({page: params.currentPage});
        this.Init();
      },

      onPerPageChange(params) {
        this.updateParams({perPage: params.currentPerPage});
        this.Init();
      },

      onSortChange(params) {
        this.updateParams({
          sort: {
            type: params.sortType,
            field: this.columns[params.columnIndex].field,
          },
        });
        this.Init();
      },
    
      onColumnFilter(params) {
        this.updateParams(params);
        this.loadItems();
      },

      deleteImage(){
        $('#file').val(null);
        this.data_modal.logo = 'delete';
        this.file = ''
      },

      handleFileUpload(){
        this.data_modal.logo = 'true';
        this.file = this.$refs.file.files[0];
        var input = this.$refs.file

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
              $('#blah').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }  
      },
      
    }
  }
</script>
<style>

.el-upload-list__item-name{
    height: 30px; 
}

.el-upload-list {
    width: 90%;
    max-width: 200px
}

.avatar {
    width: 15vw;
    max-width: 200px;
    display: block;
    border: solid 1px #c0c4cc;
  }

label{
    min-width: 130px;
    padding: 0px !important;
}

.uploadButton {
    display: block;
    width: 10vw;
    background: #909399;
    padding: 10px;
    color: #FFF;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}

.uploadButton:hover {

    background: #a6a9ad;

}


.deleteButtom{
    position: absolute;
    right: -1px;
    top: 0px;
    background-color: #dcdfe6;
    border: 0;
    cursor: pointer;
    padding: 2px;
    width: 24px;
    font-size: 16px;
    border-radius: 0px;

}

</style>