

<template> 
<el-col :span="24" class='projects-view' id = 'project-view'>
  
    <el-col :span="24" class='project-content'>
      <div>
        <el-button v-if='select_news[0] && action_news!="edit"' type="info" class='project-nav-butt' icon="far fa-edit" @click = "Edit">
          <span class="hidden-xs-only"> Изменить</span>
        </el-button>
        <el-button v-if='select_news[0] && action_news!="edit"' type="info" class='project-nav-butt' icon="far fa-trash-alt"  @click = 'Delete(select_news[0].id)'>
            <span class="hidden-xs-only"> Удалить</span>
        </el-button> 
        <el-tooltip class="item" placement="right" content="Отправка Push-уведомлений пользователям мобильных устройств">
            <el-button v-if='select_news[0] && action_news!="edit"' type="info" class='project-nav-butt' icon="fa fa-comments" id="exponents" @click="PushModal">
                <span class="hidden-xs-only"> Push</span>
            </el-button>
          </el-tooltip>

        <el-button type="info" style="margin: 10px 10px;float: right;" @click="Cansel('new')"><i class="fa fa-times" arde-hidden="true"></i></el-button>
      </div>

      <el-form :model='formData' :rules='rules' name='uploadForm' ref='uploadForm' :label-position="labelPosition"  class="form-project" enctype="multipart/form-data">

        <el-form-item label="Заголовок" required>
          <el-col :xs="22" :sm="18" :md="19" :lg="17" :xl="14" style='margin-right:10px'>
            <el-form-item prop='name'>
                <el-input clearable v-model="formData.name" placeholder="Заголовок новости"></el-input>
            </el-form-item>
          </el-col>
        </el-form-item>

        <el-form-item label="Логотип">

            <el-col :xs="22" :sm="8" :md="9" :lg="7" :xl="6" >
                <label for="file" class="uploadButton"><i class="fa fa-file-image-o" aria-hidden="true"></i> Загрузить</label>
                <input type="file" id="file" ref="file" style="opacity: 0; z-index: -1;" accept="image/jpeg,image/png,image/gif" v-on:change="handleFileUpload()"/>
                <div v-if="file" style="position:relative; width:15vw; max-width:200px">
                    <el-button class="deleteButtom" @click="deleteImage" ><i class="fa fa-trash-o" aria-hidden="true"></i></el-button>
                    <img :src="file" id="blah" class="avatar">

                </div>
            
            </el-col>               
           
        </el-form-item>

        <el-form-item label="Текст новости">
            <el-col :xs="22" :sm="18" :md="19" :lg="17" :xl="14" style='margin-right:10px'>
                <el-input
                  type="textarea"
                  :rows="3"
                  placeholder="Текст новости"
                  v-model="formData.text">
                </el-input>
            </el-col>              
        </el-form-item>
        
        <el-form-item v-if='action_news[0]!="view"'>
            <el-col :xs="22" :sm="22" :md="22" :lg="20" :xl="16" style='margin-right:10px'>
                <el-button type="info" style="float: right;" @click="Add(select_news[0].id)">Сохранить</el-button>
                <el-button type="info" style="float: right;" @click="Cansel(select_news[0].id)">Отмена</el-button>
            </el-col> 
            

            
        </el-form-item>
      </el-form>
  </el-col>
  <modals-container/>
    
</el-col>
</template>



<script>
import axios from 'axios';
import $ from 'jquery'
import ModalPush from './ModalPush';
// import store from '../../store';
// import router from './../../router'

  export default {
    props: ["action_news", 'select_news', 'newsBus'],
    data() {
      return {
        labelPosition: 'left',
        rules: {
          name: [
            { required: true, message: 'Поле не может быть пустым', trigger: 'blur' },
          ],
        },
        message: false,
        formData:{},
        file: '',
        
      }
    },
    
    created() {
      this.newsBus.$on("selectNews", (id)=>{
        this.Init(id)
      });
      this.Init(this.select_news[0].id)
    },
    destroyed(){
      this.$emit('message', { message: {visible:false, b:null} })
      this.newsBus.$off("selectNews")

    },
    methods: {
      Init(id){
        // debugger
        var url = '../api/project/'+ this.$parent.$props.id + '/news/'+id + '/data/'
        this.$api.get(url)
        .then(response => {
 
          console.log('response => ', response)
          if (response.data) {
            this.formData = response.data
            this.file = response.data.logo
            this.$emit('message', { message: {visible:true, id:response.data.id} })
          }
        })
        .catch(e => {
          console.log(e)
        })

      },
      Edit(){
        this.action_news.splice(this.select_news.length-1, 1)
        this.action_news.push('edit')
      },
      Add(id){
        this.$refs['uploadForm'].validate((valid) => {
          if (valid) {
            if (this.file){
                this.formData['logo']= this.file
            }
            let formData1 = new FormData();

            for (var data in this.formData){
                formData1.append(data, this.formData[data]);
            }
            var url = '/api/project/' + this.$parent.$props.id + '/news/' + (this.formData['id'] ? this.formData['id'] : 'new')

            this.$api.update(url+'/add/',formData1)
              .then(response => {
                console.log('response => ', response)
                // router.go(-1)
                this.$notify({
                  group: 'foo',
                  type: 'success',
                  duration: 3000,
                  text: "<i style='font-size:20px' class='fa fa-check'></i> Сохранено"
                });
                this.action_news.splice(this.select_news.length-1, 1)
                this.action_news.push('view')
                this.newsBus.$emit("updateList");
              })
              .catch(e => {
                this.$notify({
                  group: 'foo',
                  type: 'error',
                  duration: 3000,
                  text: "<i style='font-size:20px' class='fa fa-exclamation'></i> Ошибка"
                });
              })
          }
        })
      },

      Delete(id){
        this.$confirm('Удалить Новость?', 'Подтверждение действий пользователя', {
          confirmButtonText: 'Да',
          cancelButtonText: 'Отмена',
          type: 'warning'
        }).then(() => {
          this.$api.del('../api/project/'+this.$store.state.value_project + '/news/'+id+'/delete/')
          .then(response => {
            this.$notify({
              group: 'foo',
              type: 'success',
              duration: 3000,
              text: "<i style='font-size:20px' class='fa fa-check'></i> Удалено"
            });
            this.newsBus.$emit("updateList");
            this.select_news.splice(this.select_news.length-1, 1)
          })
          .catch(e => {
            this.$notify({
              group: 'foo',
              type: 'error',
              duration: 3000,
              text: "<i style='font-size:20px' class='fa fa-exclamation'></i> Ошибка"
            });
          })
        })
      },
      Cansel(id){
        debugger
        if (!!parseInt(id)){
          // если не новый

          this.action_news.splice(this.select_news.length-1, 1)
          this.action_news.push('view')
        }else{
          this.select_news.splice(this.select_news.length-1, 1)
          this.action_news.splice(this.select_news.length-1, 1)
          this.action_news.push('view')
        }
        debugger
      },

      PushModal(){
          // this.$modal.show('form-push');

          // import MyComponent from './MyComponent.vue'
          // import ModalPush from './Forms/ModalPush';
          debugger
          this.$modal.show(ModalPush, {
            
          }, {
            draggable: true
          })
      },


      // Back(){
      //   router.go(-1)
      // },

      deleteImage(){
          this.file = ''
      },

      handleFileUpload(){
          this.file = this.$refs.file.files[0];
          var input = this.$refs.file

          if (input.files && input.files[0]) {
              var reader = new FileReader();

              reader.onload = function(e) {
                $('#blah').attr('src', e.target.result);
              }

              reader.readAsDataURL(input.files[0]);
            }  
      },

      
    }
  }
</script>
<style>

.el-form-item__content{
      /*display: none;*/
}

.vue-notification1 {
  padding: 10px;
  margin: 0 5px 5px;

  font-size: 12px;

  color: #ffffff;
  background: #44A4FC;
  border-left: 5px solid #187FE7;

  &.warn {
    background: #E65100 !important;
    border-left-color: #f48a06;
  }

  &.error {
    background: #E54D42;
    border-left-color: #B82E24;
  }

  &.success {
    background: #68CD86;
    border-left-color: #42A85F;
  }
}

.el-upload-list__item-name{
    height: 30px; 
}

.el-upload-list {
    width: 90%;
    max-width: 200px
}

.avatar {
    width: 15vw;
    max-width: 200px;
    display: block;
    border: solid 1px #c0c4cc;
  }

label{
    min-width: 130px;
    padding: 0px !important;
}

.uploadButton {
    display: block;
    width: 10vw;
    background: #909399;
    padding: 10px;
    color: #FFF;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}

.uploadButton:hover {

    background: #a6a9ad;

}


.deleteButtom{
    position: absolute;
    right: -1px;
    top: 0px;
    background-color: #dcdfe6;
    border: 0;
    cursor: pointer;
    padding: 2px;
    width: 24px;
    font-size: 16px;
    border-radius: 0px;

}

</style>