

<template> 
<div :span="24" class='news-view' id = 'news-view'>
  
  <newsList 
    :newsBus='newsBus' 
    :select_news='select_news' 
    :action_news='action_news'>
      
  </newsList>
    
</div>
</template>

<script>
import axios from 'axios';
import $ from 'jquery'
import store from '../../store';
import router from './../../router'
import Vue from 'vue'

import NewsList from './Lists/NewsList';
import NewsForm from './Forms/NewsForm';

var newsBus = new Vue();


export default {
  props: ['id'],

    mounted() {
      this.$emit('message_ul', {  redirect: {
          name : 'Новости', 
          link : location.pathname+'#/project/'+this.$props.id+'/news/',
          id   : 'news_li',
          action: 'add'},
        message:{
          project_visible:false,

        } 
      })    
    },
    destroyed(){
      this.$emit('message_ul', { redirect: {
          id   : 'news_li',
          action: 'remove'},
        message:{
          project_visible:true,
        }
      })

    },
    components: { 
      'NewsList': NewsList,  
    },
    data() {
      return {
        select_news:[],
        action_news:[],

        newsBus:newsBus,
      }
    },
    methods:{
        
        
    }
  }
</script>
<style>

.el-upload-list__item-name{
    height: 30px; 
}

.el-upload-list {
    width: 90%;
    max-width: 200px
}

.avatar {
    width: 15vw;
    max-width: 200px;
    display: block;
    border: solid 1px #c0c4cc;
  }

label{
    min-width: 130px;
    padding: 0px !important;
}

.uploadButton {
    display: block;
    width: 10vw;
    background: #909399;
    padding: 10px;
    color: #FFF;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}

.uploadButton:hover {

    background: #a6a9ad;

}


.deleteButtom{
    position: absolute;
    right: -1px;
    top: 0px;
    background-color: #dcdfe6;
    border: 0;
    cursor: pointer;
    padding: 2px;
    width: 24px;
    font-size: 16px;
    border-radius: 0px;

}

</style>