

<template> 
<el-col :span="24" class='news_list' id = 'news_list'>
    <div class ='admin_table_info'>
      <el-row>
        <el-button  type="info" class='button button_right' icon="far fa-file-excel"  @click = 'Export'>
        </el-button>
        <el-button  type="info" class='button button_right' icon="fas fa-plus"  @click = 'Add(null,false)'>
        </el-button>
      </el-row>
      <vue-good-table
        :columns="columns"
        :rows="data"
        :lineNumbers="true"
        @on-row-click="onRowClick"

        :pagination-options="{
          enabled: true,
          perPage: 15,
          perPageDropdown: [15,25,50],
          dropdownAllowAll: true,
          nextLabel: 'След.',
          prevLabel: 'Пред.',
          rowsPerPageLabel: 'Строк на стр.',
          ofLabel: 'из',
          allLabel: 'Все',
        }">
    </vue-good-table>
    </div>


    <modal :span="24" class="form-plan" name="form-news" id = '' :width="700" :height="800">
    <el-col :span="24" class='project-content'>
      <div class='el-col el-col-24'>

        <el-row style='padding: 10px 10px 0 0'>
          <el-button v-if="!edit" class='button_right' type="danger" size="medium" @click="Delete" style='margin-left: 20px;'>
              <i class="far fa-trash-alt"></i> 
          </el-button>
          <el-button v-if="!edit" class='button_right' type="success" size="medium"@click="edit=true" style='margin-left: 20px;'>
              <i class="fas fa-pencil-alt"></i> 
          </el-button>
        </el-row>
        <el-form :model="data_modal" name='data_modal' ref='data_modal' :rules='rules'class="form-project">

          <el-form-item>
            <div class='el-col el-col-24 el-col-xs-24 el-col-sm-6  '>Заголовок</div>
            <div class='el-col el-col-24 el-col-xs-24 el-col-sm-18 '>
              <el-form-item prop='name'>
                <el-input v-show="edit" clearable v-model="data_modal.name"></el-input>
              </el-form-item>
              <el-input v-show="!edit" disabled v-model="data_modal.name"></el-input>

            </div>
          </el-form-item>

          <el-form-item>
            <div class='el-col el-col-24 el-col-xs-24 el-col-sm-6  '>Логотип</div>
            <div class='el-col el-col-24 el-col-xs-24 el-col-sm-18 '>
              <el-col :xs="22" :sm="12" v-show='edit'>
                  <label for="file" class="button uploadButton"><i class="far fa-image" arde-hidden="true"></i> Загрузить</label>
                  <input type="file" id="file" ref="file" style="opacity: 0; z-index: -1;" accept="image/jpeg,image/png,image/gif" v-on:change="handleFileUpload()"/>     
              </el-col> 

              <el-col :xs="22" :sm="12" >
                  <div  v-show="file && data_modal.logo !='delete'" style="position:relative; width:15vw; max-width:200px">
                      <el-button v-show='edit' class="deleteButtom" @click="deleteImage" >
                        <i class="fas fa-times" aria-hidden="true"></i>
                      </el-button>
                      <img v-bind:src="file" id="blah" class="avatar">
                  </div>     
              </el-col>     
            </div>         
        </el-form-item>

        <el-form-item>
          <div class='el-col el-col-24 el-col-xs-24 el-col-sm-6  '>Описание</div>
          <div class='el-col el-col-24 el-col-xs-24 el-col-sm-18 '>
            <el-input
              v-show='edit'
              type="textarea"
              :rows="3"
              placeholder="Описание мероприятия"
              v-model="data_modal.description">
            </el-input>
            <el-input
              v-show='!edit' disabled
              type="textarea"
              :rows="3"
              placeholder="Описание мероприятия"
              v-model="data_modal.description">
            </el-input>
          </div>
        </el-form-item> 

         
      </el-form>
       
      </div>
      
    </el-col>
    <div style='position: absolute;bottom: 20px;right: 20px;'>
              
      <el-button v-if="edit" type="success" class='button_modal' @click="Update">
          Сохранить
      </el-button>

      <el-button v-if="!edit" type="info" class='button_modal' @click="$modal.hide('form-news');">
          Закрыть
      </el-button>

      <el-button v-if="edit" type="info" class='button_modal' @click="Cansel">
          Отмена
      </el-button>

    </div>
    
  </modal>

  <div v-if='frame.visible'>
    <iframe id="myframe" v-bind:src="frame.data" width="1" height="1"></iframe>
  </div>

    
    
</el-col>


</template>

<script>
import axios from 'axios';
import $ from 'jquery'

  export default {
    props: ['select_news', 'action_news', 'newsBus','id_project'],
    data() {
      return {
        columns: [
          {
            label: 'id',
            field: 'id',
          },
          {
            label: 'Наименование',
            field: 'name',
            filterOptions: {
              enabled: true, 
              placeholder: 'Фильтр по названию',
            },
          },
          {
            label: 'Дата начала',
            field: 'date_create',
            type: 'date',
            dateInputFormat: 'YYYY-MM-DD',
            dateOutputFormat: 'DD-MM-YYYY',
          },
          {
            label: 'Дата окончания',
            field: 'date_update',
            type: 'date',
            dateInputFormat: 'YYYY-MM-DD',
            dateOutputFormat: 'DD-MM-YYYY',
          },      
        ],
        edit:false,
        frame:{
          data:'',
          visible:false,
        },
        data_modal:{},
        data_modal_old:{},
        file: '',
        options_modal:{},
        eventsForm: {visible:'', b:null},
        rules: {
          name: [
            { required: true, message: 'Поле не может быть пустым', trigger: 'blur' },
          ],
          date_start: [
            { required: true, required: true, message: 'Выберите дату', trigger: 'change' }
          ],
          date_end: [
            { required: true, required: true, message: 'Выберите дату', trigger: 'change' }
          ],
          time_start: [
            { required: true, required: true, message: 'Выберите время', trigger: 'change' }
          ],
          time_end: [
            { required: true, required: true, message: 'Выберите время', trigger: 'change' }
          ],
          time_last: [
            { required: true, required: true, message: 'Выберите время', trigger: 'change' }
          ],
        },
        data:[],
        project:[]
      }
    },
    
    created() {
      this.newsBus.$on("updateList", ()=>{
        this.Init()
        this.action_news.splice(this.select_news.length-1, 1)
        this.action_news.push('view')
      });
      this.Init()
    },

    methods: {
      Init(){
        this.$api.get('../api/project/' + this.$parent.$props.id + '/news/')
        .then(response => {
          this.data = response.data ? response.data : {}
        })
        .catch(e => {
          console.log(e)
        })
      },
      InitModalData(id){
        this.$api.get('../api/project/' + this.$parent.$props.id + '/news/'+id+'/')
        .then(response => {
          if (response.data) {
            this.data_modal = response.data
            this.data_modal_old = response.data
            this.file = response.data.logo
          }
        })
        .catch(e => {})
      },

      onRowClick(params) {
        this.InitModalData(params.row.id)  
        this.$modal.show('form-news');
        this.edit=false
      },

      Add(id, save){
        if (!save){
          if(!id){
            this.edit = true
            this.$modal.show('form-news');
            this.data_modal={}
            this.file = ''
          }

        }else{

        }
      },
      Update(){
        this.$refs['data_modal'].validate((valid) => {
          if (valid) {
            var id = this.data_modal.id ? this.data_modal.id : 'new'
            if (this.file){
                this.data_modal['logo']= this.file
            }
            let formData = new FormData();

            for (var data in this.data_modal){
                formData.append(data, this.data_modal[data]);
            }
            var url = '../api/project/'+ this.$parent.$props.id+'/news/'+id+'/add/'
            this.$api.update(url,formData)
              .then(response => {
                console.log('response => ', response)
                this.$notify({
                  group: 'foo',
                  type: 'success',
                  duration: 3000,
                  text: "<i style='font-size:20px' class='fa fa-check'></i> Сохранено"
                });
                this.newsBus.$emit("updateList");
                this.edit=false
                debugger
                this.data_modal = response.data
                this.file = response.data.logo
              })
              .catch(e => {
                this.$notify({
                  group: 'foo',
                  type: 'error',
                  duration: 3000,
                  text: "<i style='font-size:20px' class='fa fa-exclamation'></i> Ошибка"
                });
              })
          }
        })    
      },

      Cansel(){
        if(this.data_modal.id){
          this.InitModalData(this.data_modal.id)
        }else{
          this.$modal.hide('form-news');
        }
        this.edit = false
      },
      Delete(){
        var id = this.data_modal.id
        this.$confirm('Удалить новость?', 'Подтверждение действий пользователя', {
          confirmButtonText: 'Да',
          cancelButtonText: 'Отмена',
          type: 'warning'
        }).then(() => {
          this.$api.del('../api/project/'+this.$parent.$props.id + '/news/'+id+'/delete/')
          .then(response => {
            this.$notify({
              group: 'foo',
              type: 'success',
              duration: 3000,
              text: "<i style='font-size:20px' class='fa fa-check'></i> Удалено"
            });
            this.$modal.hide('form-news');
            this.newsBus.$emit("updateList");
          })
          .catch(e => {
            this.$notify({
              group: 'foo',
              type: 'error',
              duration: 3000,
              text: "<i style='font-size:20px' class='fa fa-exclamation'></i> Ошибка"
            });
          })
        })
      },
      Export(){
        this.frame['visible']=true
        this.frame['data'] = '../api/project/'+ this.$parent.$props.id + '/news/export/'
        setTimeout(this.closeFrame, 2000);
      },

      deleteImage(){
        $('#file').val(null);
        this.data_modal.logo = 'delete';
        this.file = ''
      },

      handleFileUpload(){
        this.data_modal.logo = 'true';
        this.file = this.$refs.file.files[0];
        var input = this.$refs.file

        if (input.files && input.files[0]) {
          var reader = new FileReader();

          reader.onload = function(e) {
            $('#blah').attr('src', e.target.result);
          }
          reader.readAsDataURL(input.files[0]);
        }  
      },
    }
  }
</script>
<style>

.el-upload-list__item-name{
    height: 30px; 
}

.el-upload-list {
    width: 90%;
    max-width: 200px
}

.avatar {
    width: 15vw;
    max-width: 200px;
    display: block;
    border: solid 1px #c0c4cc;
  }

label{
    min-width: 130px;
    padding: 0px !important;
}

.uploadButton {
    display: block;
    width: 10vw;
    background: #909399;
    padding: 10px;
    color: #FFF;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}

.uploadButton:hover {

    background: #a6a9ad;

}


.deleteButtom{
    position: absolute;
    right: -1px;
    top: 0px;
    background-color: #dcdfe6;
    border: 0;
    cursor: pointer;
    padding: 2px;
    width: 24px;
    font-size: 16px;
    border-radius: 0px;

}

</style>