

<template> 
<div :span="24" class='tickets-plane-view' id = 'tickets-plane-view'>

  <el-form :model='formData' :rules='rules' label-width="120px"  :label-position="labelPosition" class="form-project" name="uploadForm" ref="uploadForm" enctype="multipart/form-data">
    
    <template >
      <el-row>     
        <el-col :xs="12" :sm="12" :md="8" :lg="6">
            <el-col :xs="12" :sm="12" :md="12" >
              Количество рядов:
            </el-col>
            <el-col  :xs="12" :sm="12" :md="12" >
              <el-input-number class='el-input-number-plane' v-model="formData.row[0]" controls-position="right"  :min="1" :max="200"></el-input-number>
            </el-col>
        </el-col>

        <el-col :xs="12" :sm="12" :md="8" :lg="6">
            <el-col :xs="12" :sm="12" :md="12">
              Мест в ряду:
            </el-col>
            <el-col :xs="12" :sm="12" :md="12"> 
              <el-input-number class='el-input-number-plane' v-model="formData.plase[0]" controls-position="right"  :min="1" :max="200"></el-input-number>
            </el-col>
        </el-col>

        <el-col :xs="12" :sm="12" :md="8" :lg="6">
          <el-radio v-model='formData.editFreePlace' label="free_plase">Отметить проданные места</el-radio>
          <el-radio v-model='formData.editFreePlace' label="reserv"> Отметить Забронированное место</el-radio> 
        </el-col>

        <el-col  :xs="12" :sm="12" :md="24" :lg="6">
          <el-button v-if='jsonTickets.length>0' style="float: right; margin-left:5px" type="info" icon="far fa-save"  @click = 'Save'>
              <span> Сохранить</span>
          </el-button>
          <el-button style="float: right; margin-left:5px" type="info" icon="fas fa-th"  @click = 'Table("uploadForm")'>
              <span> Создать</span>
          </el-button>  
        </el-col>   
      </el-row>
    </template>

    <el-row style="margin: 5px 0">
      <el-col class='color_reserv' :xs="12" :md="9" :lg="6"> Зарезервированные цвета</el-col>
      <el-col class='color_reserv' style='background:#ffc107' :xs="12" :md="5" :lg="6"> Выбранный билет</el-col>
      <el-col class='color_reserv' style='background:#909399' :xs="12" :md="5" :lg="6"> Бронь</el-col>
      <el-col class='color_reserv' style='background:#56585d' :xs="12" :md="5" :lg="6"> Занято</el-col>
    </el-row>



    <el-col :span='24' style='margin:10px'>

      <el-radio-group v-model="color" style='width:100%'>
        <el-row>
          <el-col v-for="item in colors" :xs="12" :sm="12" :md="8" :lg="6" :xl="4"> 
            <el-radio v-if='editHall==true' :label="item.id" @change = 'selectColor'>
              <div class='color' v-bind:style="{ background: item.color}"></div>
              {{ item.label }}
            </el-radio>
            <el-radio v-else disabled :label="item.id" @change = 'selectColor'>
              <div class='color' v-bind:style="{ background: item.color}"></div>
              {{ item.label }}
            </el-radio>
          </el-col>
        </el-row>
      </el-radio-group>
    </el-col>
    
    <el-col :span='24' style='margin: 0 20px;'>
      <div id="container"></div>
    </el-col>

  </el-form>
 
</div>
</template>



<script>
import Vue from 'vue'
import axios from 'axios';
import $ from 'jquery'
import ModalPush from './ModalPush';
// function selectPlase(argument) {
//   debugger
// }


  export default {
    props: ['project'],
    data() {
      return {
        labelPosition: 'left',
        formData:{row:[], plase:[]},
        formData_old:{row:[], plase:[]},
        rules: {
          row: [
            { required: true, message: 'Поле не может быть пустым'},
            { type: 'number', message: 'Поле должно быть числом'}
          ],
          plase: [
            { required: true, message: 'Поле не может быть пустым'},
            { type: 'number', message: 'Поле должно быть числом'}
          ],
        },
        message: false,
        rows: [], 
        color:'',  
        colors:[],  


        jsonTickets:[],
        jsonHall:[],

        selectTypeTicket:[],

        editHall:true, 
       
      }
    },
    
    created() {
      // debugger
      // gkfybhjdrf
       this.$api.get('../api/project/' + this.project.id + '/tickets/get_plane/')
      .then(response => {
        // debugger
        if('tickets' in response.data){
          // debugger
          this.formData.plase[0] = response.data.tickets.plase
          this.formData.row[0] = response.data.tickets.row
          this.formData_old.plase[0] = response.data.tickets.plase
          this.formData_old.row[0] = response.data.tickets.row
          this.jsonTickets = response.data.tickets.json_tickets
          this.editHall = response.data.tickets.edit
          Vue.set(this.formData, 'editFreePlace', '')
          Vue.set(this.formData, 'edit', response.data.tickets.edit)
          this.Table('formData')
        }
        
      })
      .catch(e => {
        debugger
        console.log(e)
      })

    },
    destroyed(){
      this.$emit('message', { message: {plane:false,} })
      this.$emit('message_ul', { redirect: {
        id   : 'plane_li',
        action: 'remove'},
      message:{
        project_visible:false,
      }
    })
    },
    methods: {
      Init(id){
        debugger
        var url = '../api/project/'+ this.$store.state.value_project + '/tickets/'+id + '/data/'
        this.$api.get(url)
        .then(response => {
          debugger
 
          console.log('планировка ', response)
          if (response.data) {
            this.formData = response.data
            this.file = response.data.logo
            this.$emit('message', { message: {visible:true, id:response.data.id} })
          }
          this.Table('formData')
        })
        .catch(e => {
          console.log(e)
        })

      },
      Table(formName){
        this.$api.get('../api/project/' + this.project.id + '/tickets/')
          .then(response => {
            this.colors = []
            var temp = []
            // debugger
            for (var i in response.data) {
              this.colors.push({
                id:response.data[i].id, 
                label:response.data[i].name,
                color:response.data[i].color,
              })
              temp[response.data[i].id] = {
                id:response.data[i].id, 
                label:response.data[i].name,
                color:response.data[i].color,
              }
            }

            if(this.formData.row[0]!=this.formData_old.row[0] || 
              this.formData.plase[0]!=this.formData_old.plase[0]){
              this.jsonTickets = []
              this.formData_old.row[0]=this.formData.row[0]
              this.formData_old.plase[0]=this.formData.plase[0]
              Vue.set(this.formData, 'editFreePlace', '')
              Vue.set(this.formData, 'edit', true)
              debugger
            }
            this.$ticketPlase.createHall(this.formData, this.jsonTickets, this.jsonHall, temp, this.selectTypeTicket, this.editHall)
          })
          .catch(e => {
            console.log(e)
          })
      },

      Save(){
        let formData1 = new FormData();
        
        this.NumeratePlase()

        formData1.append('json_tickets', JSON.stringify(this.jsonTickets));
        formData1.append('row', JSON.stringify(this.formData.row[0]));
        formData1.append('plase', JSON.stringify(this.formData.plase[0]));
        
        var url = '/api/project/' + this.project.id + '/tickets/save_plane/'
        
        this.$api.update(url,formData1)
          .then(response => {
            console.log('response => ', response)
            // router.go(-1)
            this.$notify({
              group: 'foo',
              type: 'success',
              duration: 3000,
              text: "<i style='font-size:20px' class='fa fa-check'></i> Сохранено"
            });
          })
          .catch(e => {
            this.$notify({
              group: 'foo',
              type: 'error',
              duration: 3000,
              text: "<i style='font-size:20px' class='fa fa-exclamation'></i> Ошибка"
            });
          })
      },

      NumeratePlase(){
        var plase_fact = 1
        var plase_real = 1
        var row_real = 1
        for(var i in this.jsonTickets){
          if(this.jsonTickets[i].category){
            Vue.set(this.jsonTickets[i], 'plase_real', plase_real)
            plase_real+=1
          }else{
            Vue.set(this.jsonTickets[i], 'plase_real', '')
          }
          plase_fact+=1

          if(plase_fact>this.formData.plase[0]){
            for(var j = i-this.formData.plase[0]+1; j<=i; j++){
              if(this.jsonTickets[i].category){
                Vue.set(this.jsonTickets[j], 'row_real', row_real)
                plase_real+=1
              }else{
                Vue.set(this.jsonTickets[j], 'row_real', '')
              }
            }
            if(plase_real!=1){
              row_real+=1
            }

            plase_fact = 1
            plase_real = 1
            
          }
        }
      },

      differentBlock(){
        debugger
        this.formBlock.push(this.formBlock.length)
      },
      selectColor(){
        for(var i in this.colors){
          if(this.colors[i].id == this.color){
            this.selectTypeTicket[0] = this.colors[i]
          }
        }
      },
      selectPlase(row, index){

        debugger

      },      
      selectPlase(){

        debugger

      },



      
    }
  };


</script>
<style scope>
.konvajs-content{
  width: 100% !important;
  height: 55vh !important;
  overflow: scroll;
}
.color{
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: -5px;
}
.color_reserv{
  font-weight: 600;
  border: 1px solid;
  text-align: center;
  line-height: 2.5;
}

.el-input-number-plane{
  width: 100px

}




</style>