

<template> 
<el-col :span="24" class='projects-view' id = 'project-view'>
  <div class ='admin_table_info'>
    <el-row>
      <el-button  type="info" class='button button_right' icon="far fa-file-excel"  @click = ''>
      </el-button>
      <el-button  type="info" class='button button_right' icon="fas fa-plus"  @click = ''>
      </el-button>
    </el-row>
    <vue-good-table
        :columns="columns"
        :rows="data"
        :lineNumbers="true"
        @on-row-click="onRowClick"

        :pagination-options="{
          enabled: true,
          perPage: 15,
          perPageDropdown: [15,25,50],
          dropdownAllowAll: true,
          nextLabel: 'След.',
          prevLabel: 'Пред.',
          rowsPerPageLabel: 'Строк на стр.',
          ofLabel: 'из',
          allLabel: 'Все',
        }">
    </vue-good-table>
  </div>
  <modal :span="24" class="form-plan" name="form-exponents" id = '' :width="700" :height="800">
    <el-col :span="24" class='project-content'>
      <div class='el-col el-col-24'>
        <el-tabs type="card">
          <el-tab-pane label="Данные">
            <el-row style='padding: 10px 10px 0 0'>
              <el-button v-if="!edit" class='button_right' type="danger" size="medium" @click="Delete" style='margin-left: 20px;'>
                  <i class="far fa-trash-alt"></i> 
              </el-button>
              <el-button v-if="!edit" class='button_right' type="success" size="medium"@click="edit=true" style='margin-left: 20px;'>
                  <i class="fas fa-pencil-alt"></i> 
              </el-button>
            </el-row>
            <el-form :model="data_modal" name='data_modal' ref='data_modal' :rules='rules'class="form-project">

              <el-form-item>
                <div class='el-col el-col-24 el-col-xs-24 el-col-sm-6  '>Наименование</div>
                <div class='el-col el-col-24 el-col-xs-24 el-col-sm-18 '>
                  <el-form-item prop='name'>
                    <el-input v-show="edit" v-model="data_modal.name"></el-input>
                  </el-form-item>
                  <el-input v-show="!edit" disabled v-model="data_modal.name"></el-input>
                </div>
              </el-form-item>
              <el-form-item>
                <div class='el-col el-col-24 el-col-xs-24 el-col-sm-6  '>Адрес</div>
                <div class='el-col el-col-24 el-col-xs-24 el-col-sm-18 '>
                  <el-form-item prop='address'>
                    <el-input v-show="edit" v-model="data_modal.address"></el-input>
                  </el-form-item>
                  <el-input v-show="!edit" disabled v-model="data_modal.address"></el-input>
                </div>
              </el-form-item>
              <el-form-item>
                <div class='el-col el-col-24 el-col-xs-24 el-col-sm-6  '>Телефон</div>
                <div class='el-col el-col-24 el-col-xs-24 el-col-sm-18 '>
                  <el-form-item prop='phone'>
                    <el-input v-show="edit" v-model="data_modal.phone"></el-input>
                  </el-form-item>
                  <el-input v-show="!edit" disabled v-model="data_modal.phone"></el-input>
                </div>
              </el-form-item>
              <el-form-item>
                <div class='el-col el-col-24 el-col-xs-24 el-col-sm-6  '>E-mail</div>
                <div class='el-col el-col-24 el-col-xs-24 el-col-sm-18 '>
                  <el-form-item prop='email'>
                    <el-input v-show="edit" v-model="data_modal.email"></el-input>
                  </el-form-item>
                  <el-input v-show="!edit" disabled v-model="data_modal.email"></el-input>
                </div>
              </el-form-item>
              <el-form-item>
                <div class='el-col el-col-24 el-col-xs-24 el-col-sm-6  '>Web-сайт</div>
                <div class='el-col el-col-24 el-col-xs-24 el-col-sm-18 '>
                  <el-form-item prop='web_site'>
                    <el-input v-show="edit" v-model="data_modal.web_site"></el-input>
                  </el-form-item>
                  <el-input v-show="!edit" disabled v-model="data_modal.web_site"></el-input>
                </div>
              </el-form-item>

            </el-form>

          </el-tab-pane>
          <el-tab-pane label="Проекты">Проекты</el-tab-pane>
        </el-tabs>
      </div>
    </el-col>
  </modal>
</el-col>
</template>

<script>
import axios from 'axios';
import $ from 'jquery'
import store from '../../store';
import router from './../../router'
import Vue from 'vue'

import NewsList from './Lists/NewsList';
import NewsForm from './Forms/NewsForm';

var newsBus = new Vue();


export default {
  props: ['id'],
  created(){
    this.Init()
    // debugger
  },

    mounted() {
      this.$emit('message_ul', {  redirect: {
          name : 'Спонсоры', 
          link : location.pathname+'#/project/sponsor/',
          id   : 'sponsor_g_li',
          action: 'add'},
        message:{
          project_visible:false,

        } 
      })    
    },
    destroyed(){
      this.$emit('message_ul', { redirect: {
          id   : 'sponsor_g_li',
          action: 'remove'},
        message:{
          project_visible:true,
        }
      })
      this.Init()

    },
    components: { 
      
    },
    data() {
      return {
        edit:false,
        columns: [
          {
            label: 'Название',
            field: 'name',
            filterOptions: {
              enabled: true, 
              placeholder: 'Фильтр по названию',
            },
          }, 
          {
            label: 'Адрес',
            field: 'address',
          }, 
          {
            label: 'Телефон',
            field: 'phone',
          },  
          {
            label: 'E-mail',
            field: 'email',
          },  ],
        rules:{},
        options_modal:{},
        data:[],
        data_modal:{},
        data_modal_old:{},
        file: '',
        
      }
    },
    methods:{
      Init(){
        // debugger
        // this.$api.get('../api/exponents/')
        // .then(response => {
        //   console.log('response => ', response)
        //   if (response.data) {
        //     this.data = response.data
        //   }
        // })
        // .catch(e => {
        //   console.log(e)
        // })
      },

      InitModalData(id){
        this.$api.get('../api/exponents/'+id+'/')
        .then(response => {
          if (response.data) {
            this.data_modal = response.data
            this.data_modal_old = response.data
            this.file = response.data.logo
          }
        })
        .catch(e => {})
      },


      onRowClick(params){
        this.InitModalData(params.row.id)
        this.$modal.show('form-exponents');
        this.edit=false

      },
      Delete(){},
     
    }
  }
</script>
<style>

.el-upload-list__item-name{
    height: 30px; 
}

.el-upload-list {
    width: 90%;
    max-width: 200px
}

.avatar {
    width: 15vw;
    max-width: 200px;
    display: block;
    border: solid 1px #c0c4cc;
  }

label{
    min-width: 130px;
    padding: 0px !important;
}

.uploadButton {
    display: block;
    width: 10vw;
    background: #909399;
    padding: 10px;
    color: #FFF;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}

.uploadButton:hover {

    background: #a6a9ad;

}


.deleteButtom{
    position: absolute;
    right: -1px;
    top: 0px;
    background-color: #dcdfe6;
    border: 0;
    cursor: pointer;
    padding: 2px;
    width: 24px;
    font-size: 16px;
    border-radius: 0px;

}

</style>