

<template > 
<v-container  class='kiosk-view' id = 'kiosk-view'>
  <v-layout>
   
      
    <v-flex v-for='kiosk in data' :key='kiosk.id' v-if='data.length'>
      <div class = 'kiosk_admin_card'>
        <v-layout>
          <v-flex xs10  md11>
            <h5 class = 'kiosk_admin_card_h5'>Наименование: {{kiosk.username}}</h5>
             Проекты: {{kiosk.project}}<br>
          </v-flex>
          <v-flex xs2 md1 >
            <v-btn flat icon color="teal" class = 'button_right' @click="onRowClick(kiosk.id)">
                  <v-icon>edit</v-icon>
            </v-btn>
            <!-- <el-button style = 'float: right; padding: 4px !important; margin: 8px !important;' type="info" class='button_form_min button_form_green'  @click="onRowClick(kiosk.id)">
                <font-awesome-icon icon="edit" class="fa-1x white_icon"/><br>
            </el-button> -->
            
            <!-- <el-button style = 'float: right; padding: 4px !important; margin: 8px !important;' type="info" class='button_form_min button_form_green'  @click="">
                <font-awesome-icon icon="file-pdf" class="fa-1x white_icon"/><br>
            </el-button> -->

          </v-flex>
        </v-layout>
      </div>
    
    </v-flex>
    <!-- <el-tabs > -->
     <!--  <el-tab-pane label="Киоски">
        <div class ='admin_table_info'>
            <vue-good-table
              mode="remote"
              :columns="columns"
              :rows="data"
              :lineNumbers="true"
              :totalRows="totalRecords"
              @on-page-change="onPageChange"
              @on-per-page-change="onPerPageChange"     
              @on-sort-change="onSortChange"  
              @on-row-click="onRowClick" 

              :pagination-options="{
                enabled: true,
                perPage: serverParams.perPage,
                perPageDropdown: [10,15,25,50],
                dropdownAllowAll: true,          
                nextLabel: 'След.',
                prevLabel: 'Пред.',
                rowsPerPageLabel: 'Строк на стр.',
                ofLabel: 'из',
                allLabel: 'Все',
              }">
            </vue-good-table>
        </div>
      </el-tab-pane> -->
      <!-- <el-tab-pane label="Карты активации"> -->

        <!-- <el-card class="box-card" v-for='item in data'>
          <div slot="header" class="clearfix">
            <span>{{item.username}}</span>
            <el-button style="float: right; padding: 3px 0" type="text">Operation button</el-button>
          </div>
          <div>
            <img v-bind:src="item.login_barcode" class="image">
            <img v-bind:src="item.password_barcode" class="image">
           
            
          </div>
        </el-card> -->
        
      <!-- </el-tab-pane> -->
      
    <!-- </el-tabs> -->
    
  </v-layout>

  <v-dialog v-model="dialog" persistent max-width="500">
    <v-card>
      <v-container>
        <v-card-title class="headline">Добавление проекта в Киоск</v-card-title>
          <v-card-text>
            <v-layout row wrap v-for='item in data_modal' :key='item.id'>

              <v-flex xs5>
                <v-select 
                  v-model="item.id" :items="options" item-text="name" item-value="id"
                  label="Проект"
                  ></v-select>       
              </v-flex>

              <v-flex xs5>
                <v-select 
                  v-model="item.printer" :items="options_type" item-text="name" item-value="id"
                  label="Тип печати"
                  ></v-select>       
              </v-flex>
              <v-flex xs2>
                <!-- <el-button style = 'float: right; padding: 4px; margin: 8px;' type="info" class='button_form_min button_form_green'  @click="DeleteProject(item)">
                          <font-awesome-icon icon="trash-alt" class="fa-1x white_icon"/><br>
                </el-button> -->
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <!-- <el-button  type="info" class='button_form_min button_form_green' icon="fas fa-plus"  @click="data_modal.push({id:'', printer:''})">
                    <font-awesome-icon icon="plus" class="fa-1x white_icon"/><br>
                  </el-button> -->
            </v-layout>
          </v-card-text>
      </v-container>
    </v-card>
  </v-dialog>

    
</v-container>
</template>

<script>
import Vue from 'vue'


  export default {
    props: [],
    data() {
      return {
        activeName: '1',
        columns: [
          {
            label: 'ID',
            field: 'id',
            placeholder:'фильтр по коду',
          },
          {
            label: 'Наименование',
            field: 'username',
          },
          {
            label: 'Проекты',
            field: 'project',
          },
          
        ],
        data:[],
        data_modal:[],
        select_data:'',

        options:[],
        options_type:[{
          id:"0",
          name:"На чековой ленте"
        },{
          id:"1",
          name:"На билетной бумаге"
        }],
        totalRecords: 0,
        serverParams: {
          columnFilters: {
          },
          select:{
            is_kiosk:true,
          },
          sort: {
            field: '', 
            type: '',
          },
          search:{
            value: ''
          },
          page: 1, 
          perPage: 10
        },
        serverParamsProject: {
          select:{
            status_is_kiosk:true,
          },
          sort: {
            field: 'name', 
            type: 'inc',
          },
          search:{
            value: ''
          },
          page: 1, 
          perPage: 10
        },
        dialog:false,
      }
    },
    created(){
      this.$api.get('../api/projects/', this.serverParamsProject)
        .then(response => {
          if (response.data) {
            Vue.set(this, 'options', response.data.row)
            this.Init()
          }
        })
        .catch(e => {
          
        })

    },
    mounted() {
      this.$emit('message_ul', { message: {
          name : 'Настройка электронного киоска', 
          link : location.pathname+'#/kiosk',
          id   : 'kiosk_li',
          action: 'add'},
        })
            
    },
    destroyed(){
      this.$emit('message_ul', { message: {
        id   : 'kiosk_li',
          action: 'remove'},
      })
    

    },
    components: { 

    },
    
    methods:{
      Init(){
        this.$api.get('../api/users/kiosk/', this.serverParams )
        .then(response => {
          if (response.data) {

            this.data = response.data.rows
            debugger
            this.totalRecords = response.data.totalRecords
          }
        })
        .catch(e => {
        })
      },
      DeleteProject(obj){
        for(var i in this.data_modal){
          if(obj.id == this.data_modal[i].id){
            this.data_modal.splice(i,1)
          }

        }
      },

      SaveProject(){
        this.$api.post('../api/users/'+ this.select_data +'/kiosk_detail/', this.data_modal)
        .then(response => {
          if (response.data) {
            this.data_modal = response.data
          }
          this.$notify({
            group: 'foo',
            type: 'success',
            duration: 3000,
            text: "<i style='font-size:20px' class='fa fa-exclamation'></i> Сохранено"
          });
        })
        .catch(e => {
          this.$notify({
            group: 'foo',
            type: e.type,
            duration: 3000,
            text: "<i style='font-size:20px' class='fa fa-exclamation'></i> "+e.message
          });
          
        })
      },

      updateParams(newProps) {
        this.serverParams = Object.assign({}, this.serverParams, newProps);
      },

      onRowClick(id) {
        this.select_data = id
        this.$api.get('../api/users/'+ id +'/kiosk_detail/')
        .then(response => {
          if (response.data) {
            this.data_modal = response.data
          }
        })
        .catch(e => {
          
        })
        // this.$modal.show('form-visitors');
        this.dialog=true;
      },

      onFilterReport(){

      },

      onFilterState(){
        this.updateParams({page: 1});
        this.Init();
      },

      onSearch(value){
        this.updateParams({page: 1});
        this.Init();
      },
   
      onPageChange(params) {
        this.updateParams({page: params.currentPage});
        this.Init();
      },

      onPerPageChange(params) {
        this.updateParams({perPage: params.currentPerPage});
        this.Init();
      },

      onSortChange(params) {
        // debugger
        this.updateParams({page: 1});
        this.updateParams({
          sort: {
            type: params.sortType,
            field: this.columns[params.columnIndex].field,
          },
        });
        this.Init();
      },
    
      onColumnFilter(params) {
        this.updateParams(params);
        // this.loadItems();
      },
    }
  };
</script>

<style>
  
  .kiosk_admin_card{
    max-width: 800px;
    background: #fafffe;
    position: relative;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 20px;

  }

  .kiosk_admin_card_h5{

  }
</style>
