<template > 
  <div  class='ticketPrint cursor_none' id = 'ticketPrint' >
      <div class='masterhead kiosk-head' style='background:url("./../static/img/background_gray.jpg")'>
        <div>
          <b-img src="./../static/img/logo4.png" fluid alt="Fluid image" style='height:100px; float: left; padding-left:20px' />
          <div class='kiosk-text-head'>Купить билет</div>
        </div>
         
      </div>

      <!-- <div class='kiosk-head-second'>

         <b-col cols="12" v-show='page'>
          <v-btn class='button_gray button_service cursor_none' v-on:click='page=""' dark  color="blue-grey">
                 <v-icon>edit</v-icon> Назад
          </v-btn>
        </b-col>
         
      </div> -->

      <div class='footer' v-if='tickets_buy.data.amount && page=="buy"'>
          <div style='float:right; padding:25px 100px 25px 30px'>
            <v-btn class='button button_modal_print cursor_none' dark  color="teal"  v-on:click='PrePay'>
                  Оплатить
            </v-btn>
          </div>
          <div style='float:right; padding: 25px 0px;'>
            <span style='color: #48464b;font-size: 20px;'> К оплате:</span>
            <span v-if='tickets_buy.data' class='kiosk-text-amount'>{{tickets_buy.data.amount}} руб.</span>
          </div>
      </div>

      <v-btn  flat icon color="black" class="logInOutPrint cursor_none" @click="OpenAdminPanel(false)">
          <v-icon>exit_to_app</v-icon>
      </v-btn>

      <b-container v-show='!page' class="bv-example-row h-100">

        <b-row class="row h-100 justify-content-center align-items-center" align-h='center'>
          <b-col cols="12" sm="12"  md="6"  lg="5"  xl="4"  style='text-align: center;' >
            

            <v-btn id='buttonPrint'  class='button button_main_green cursor_none' v-on:click='BuyTicket()'>
              <p><v-icon size='100'>credit_card</v-icon><br>
              Купить билет</p>
            </v-btn>
          </b-col>
          <b-col cols="12" sm="12"  md="6"  lg="5"  xl="4"  style='text-align: center;' >
            <v-btn id='buttonPrint'  class='button button_main_green cursor_none' v-on:click='SelectToDo("print")'>
              <p><v-icon size='100'>print</v-icon><br>
              Распечатать<br> билет</p>
            </v-btn>
          </b-col>  

          <div style='background:url("./../static/img/left.png"); height: 328px;width: 400px;position: absolute;bottom: 20px;left: 20px;'>
            <div style = 'margin: 125px 50px 100px 50px; font-size: 19px; font-weight: 600; color: #6c757d;'>
              <span>Покупка билета по банковской карте.</span><br>
              <span>После оплаты и получения билета активируйте его на стойке онлайн-регистрации.</span>
            </div>
          </div>  

          <div style='background:url("./../static/img/right.png"); height: 328px;width: 400px;position: absolute;bottom: 20px;right: 20px;'>
            <div style = 'margin: 125px 50px 100px 60px; font-size: 19px;font-weight: 600; color: #6c757d;'>
              <span>Вы можете распечатать на память билет, купленный на сайте.</span><br>
            </div>  
          </div>

                
        </b-row>
      </b-container>

    
      <b-container v-show='page=="print"' style='height:100%' class="bv-example-row bv-example-row-flex-cols">
        <b-row style='height:25%'class="" align-v="end" align-h="around">
          <b-col cols="12"  md="10" style='margin: 10px'>
            <h4 class='text_centre_dark_gray'> Чтобы распечатать электронные билеты введите код заказа/билета или поднесите штрихкод к сканеру</h4>
          </b-col>
        </b-row>
        
        <b-row style='height:10%'class="" align-h="around" >
          <b-col cols="8" style='margin: 10px'>
            <b-row align-v="center" align-h="center">
              <b-col cols="6">
                <!-- <el-input type="text" autocomplete="off" v-on:change='Scaning' class='input_code_barcode input_code' v-model="data.barcode" autofocus ></el-input> -->
                <v-text-field ref="field_find" autocomplete="off" v-on:change='Scaning' class='input_code_barcode input_code' v-model="data.barcode" autofocus v-on:blur="onBlur()"></v-text-field>
              </b-col>
              <b-col cols="1" >
                <v-btn class='button cursor_none' flat icon color="teal" style='height: 50px; width: 50px;' v-long-press="300" @long-press-start="onLongPressStart" @long-press-stop="onLongPressStop">
                    <v-icon>chevron_left</v-icon>
                </v-btn>
              </b-col>
              <b-col cols="1" >
                <v-btn class='button cursor_none' flat icon color="teal" style='height: 50px; width: 50px;' v-on:click='FindTicket'>
                    <v-icon>search</v-icon>
                </v-btn>
              </b-col>
            </b-row>
          </b-col>
        </b-row>

        <b-row style='height:60%'class="" align-v="start" align-h="center" >
          <b-col cols="5"  style='margin: 10px'>
            <b-row align-v="start" align-h="center">
              <b-col cols="4" v-for='item in button_numb':key="item" style='text-align: center'>
                <v-btn class='button button_number cursor_none' v-on:click='BarcodeInput(item)'>
                     {{item}}
                </v-btn>
              </b-col>

              <b-col cols="8" style='margin: auto; float: initial; text-align: center'>
                <v-btn class='button button_number cursor_none' v-on:click='BarcodeInput(0)'>
                     0
                </v-btn>
              </b-col>
            </b-row>
              
          </b-col>
        </b-row>      
      </b-container>

      <b-container style='height:100%' v-show='page=="buy"'  class="bv-example-row bv-example-row-flex-cols">
        <b-row style='height:20%'class="" align-v="end" align-h="around" v-show='tickets_buy.project' >    
          <b-col cols="12">
            <p class='project_name_green'>{{tickets_buy.project.name}}</p> 
          </b-col>
        </b-row>

        <b-row style='height:70%'class="" align-v="start" align-h="around" v-show='tickets_buy.project' >
          <b-col v-bind:class="{ 'col-6': tickets_buy.data.ticket_category.length>3, 'col-10': tickets_buy.data.ticket_category.length<=3}" v-for = 'category in tickets_buy.data.ticket_category'>
            <b-card :title="category.name" :key='category.id'       
              tag="article"
              class="mb-2 card_ticket">
              <b-row>
                <b-col cols="7" v-on:click='SelectTicket(category)'>
                  <p class="card-text"> {{category.description}}</p>
                </b-col>
                <b-col cols="5">
                  <p class="card-price"> <span class='card-price-value'>{{category.price}} руб.</span></p>
                  <div class='button_add_basket' v-if='category.basket'>
                    <!-- <el-button v-if='!category.basket.count' class='button cursor_none' v-on:click='AddToBasket(category)'>
                      <font-awesome-icon icon="shopping-basket" class="fa-2x white_icon"/>
                    </el-button> -->

                    <v-btn v-if='!category.basket.count' class='button button_number cursor_none' v-on:click='AddToBasket(category)'>
                         <v-icon size=50>shopping_basket</v-icon>
                    </v-btn>

                    <div v-else>
                       <b-row align-v="center" align-h="center">
                        <b-col cols="5" style='padding:0'>
                          <v-btn class='button cursor_none' flat icon color="teal" style='height: 50px; width: 50px;' v-on:click='AddToBasket(category, -1)'>
                              <v-icon>remove</v-icon>
                          </v-btn>
                        </b-col>
                        <b-col cols="2" style='padding:0'>
                          <v-text-field  v-model="category.basket.count" style='text-align: center; font-size: 30px;'></v-text-field>
                        </b-col>
                        <b-col cols="5" style='padding:0'>
                          <v-btn class='button cursor_none' flat icon color="teal" style='height: 50px; width: 50px;' v-on:click='AddToBasket(category, 1)'>
                              <v-icon>add</v-icon>
                          </v-btn>
                        </b-col>
                      </b-row>
                      
                    </div>
                  </div>
                </b-col>
              </b-row>
            </b-card>
            
          </b-col>  
        </b-row>
      </b-container>        
      </b-row>

  <modal :span="24" name="modal_print_tickets" :width="700" :height="600" :clickToClose=false >
    <b-col :span="24" class='project-content'>
      <b-row>
        <b-col>
          <!-- <el-button style='float:right; border-color: #fff; font-size: 29px;' v-on:click='$modal.hide("modal_print_tickets");' class='cursor_none'>
            <font-awesome-icon icon="times" class="fa-1x gray_icon"/>
          </el-button> -->

        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <h4 style='text-align:center'>Номер заказа: {{tickets_print.data.order}}</h4>
          <h4 style='text-align:center'>Всего билетов: {{tickets_print.tickets.length}}</h4>
        </b-col>
      </b-row>

      <div style='margin: 10px 70px;'>
        <img v-bind:src="'..'+project.logo" style='width:550px'>
      </div>

      <b-row type="flex" class="row-bg" justify="space-around">
        <!-- <b-col style='padding-top:20px; text-align:center'>
          <el-button class='button button_modal_print cursor_none' style='' v-on:click='$modal.hide("modal_print_tickets");'>Отмена</el-button>
        </b-col>
        <b-col style='padding-top:20px; text-align:center'>
          <el-button class='button button_modal_print cursor_none' style='' v-on:click='PrintTicket(0, "print")'>Печать</el-button>
        </b-col> -->
      </b-row>
        
    </b-col>
  </modal>

  <modal :span="24" name="modal_print_tickets_exit" :width="500" :height="300"  >
    <b-col :span="24" class='project-content'>

      <h6 style='padding: 10px;text-align: center;font-size: 18pt;'>Для доступа к модулю управления необходимо ввести пароль.</h6>

      <!-- <b-form-input id = 'password_input' v-model="password"  type="password" autofocus=true
       placeholder="Пароль" v-on:change='OpenAdminPanel(true)'></b-form-input> -->
       <v-text-field  v-model="password"  type="password" autofocus
       placeholder="Пароль" v-on:change='OpenAdminPanel(true)'
                    ></v-text-field>

      <div style="text-align: right; padding-top: 21px;">
        <v-btn dark  color="teal" class = 'button_right' v-on:click='$modal.hide("modal_print_tickets_exit");'>
            Отмена
        </v-btn>
        <v-btn  dark  color="teal" class = 'button_right' v-on:click='OpenAdminPanel(true)'>
            Войти
        </v-btn>
        <!-- <el-button class='button button_modal_print cursor_none' style='' v-on:click='$modal.hide("modal_print_tickets_exit");'>Отмена
        </el-button>
        <el-button class='button button_modal_print cursor_none' style='' v-on:click='OpenAdminPanel(true)'>Войти
        </el-button> -->

      </div>
      
    </b-col>
  </modal>

  <modal :span="24" name="modal_admin_panel" :width="500" :height="300"  >
    <b-col :span="24" class='project-content'>
      <v-layout style = 'padding: 20px'>
        <v-flex xs4>
          <!-- <el-button class='button button_modal_print cursor_none' style='' v-on:click='AdminPanel(1)'>Выход</el-button> -->
          <v-btn  dark  color="teal" class = 'button_right' v-on:click='AdminPanel(1)'>
            Выход
          </v-btn>
        </v-flex>
        <v-flex xs6>
          <!-- <el-button class='button button_modal_print cursor_none' style='' v-on:click='AdminPanel(2)'>Закрыть смену</el-button> -->
          <v-btn  dark  color="teal" class = 'button_right' v-on:click='AdminPanel(2)'>
            Закрыть смену
          </v-btn>
        </v-flex>
      </v-layout>
      <v-layout>
        <p style="text-align: center; font-size: 15pt;">Отчет по кассовой смене</p>
        <p style="text-align: center;">Количество чеков: {{statictic_check.count}} шт.</p>
        <p style="text-align: center;">Сумма чеков: {{statictic_check.summ}} руб.</p>
      </v-layout>     
    </b-col>
  </modal>

  <modal :span="24" name="buy_ticket" :width="500" :height="300"  >
    <b-col :span="24" class='project-content'>
      <!-- <el-button class='button button_modal_print cursor_none' style='' v-on:click='PayTicket'>Оплатить</el-button>  -->
      <v-btn class='button button_modal_print cursor_none' dark  color="teal"  v-on:click='PayTicket'>Оплатить>
            Оплатить
      </v-btn>   
    </b-col>
  </modal>

  <modal :span="24" name="modal_prePAy" :width="500" :height="500"  >
    <b-container style='padding-top: 0px;'>
      <b-row>
        <div style='padding: 10px; font-size: 23px; background: #4b4f53; color: #fff; width: 100%;'>Проверка заказа</div>
      </b-row>
      <b-row style='padding-top: 10px;'>
        <b-col>
          <b-list-group>
            <b-list-group-item>
              <b-row>
                <b-col>Наименование</b-col>
                <b-col>Количество</b-col>
                <b-col>Стоимость</b-col>
                
              </b-row>
            </b-list-group-item>
            <b-list-group-item v-for='ticket in tickets_buy.data.ticket_category' :key='ticket.id' v-if='ticket.basket.count>0'>
              <b-row>
                <b-col>
                  {{ticket.name}}  
                </b-col>
                <b-col>
                  {{ticket.basket.count}}
                </b-col>
                <b-col>
                  {{ticket.basket.count * ticket.price}}
                </b-col>
              </b-row>
            </b-list-group-item>
          </b-list-group>
        </b-col>
      </b-row>

      <b-row style='position: absolute; bottom: 80px; width: 100%; padding: 0 20px;'>
        
        <b-col cols="4">
          Принимаем к оплате карты
        </b-col>
        <b-col cols="2" style='padding: 0px;'>
          <b-img src="./../static/img/payments/Maestro.png" fluid alt="Maestro" />
        </b-col>
        <b-col cols="2" style='padding: 0px;'>
          <b-img src="./../static/img/payments/mc.png" fluid alt="mc" />
        </b-col>
        <b-col cols="2" style='padding: 0px;'>
          <b-img src="./../static/img/payments/mir.png" fluid alt="mir" />
        </b-col>
        <b-col cols="2" style='padding: 0px;'>
          <b-img src="./../static/img/payments/visa.png" fluid alt="visa" />
        </b-col>
      </b-row>

      <b-row style='position: absolute; bottom: 0; width: 100%; padding: 0 20px; height: 70px; '>
        <b-col cols="8">
          <span style='color: #48464b;font-size: 20px;'> К оплате:</span>
          <span v-if='tickets_buy.data' class='kiosk-text-amount'>{{tickets_buy.data.amount}} руб.</span>
        </b-col>
        <b-col cols="4">
          <!-- <el-button class='button button_modal_print cursor_none' style='' v-on:click='PayTicket'>Оплатить</el-button> -->
          <v-btn class='button button_modal_print cursor_none' dark  color="teal"  v-on:click='PayTicket'>
            Оплатить
          </v-btn>

        </b-col>
      </b-row>

    </b-container>

  </modal>

  <div v-if='type_window' style='    height: 100vh;background: #5d6166eb;  position: fixed;z-index: 2000;width: 100vw; top: 0;'>
    <div class='gray_win' v-if='type_window == "pay"'>
        <p>
          <font-awesome-icon icon="credit-card" class="fa-3x white_icon"/><br>
          <span><v-icon size='150' color="white">credit_card</v-icon></span><br>
          Следуйте инструкции<br> на терминале<br>
          <span><v-icon size='150' color="white">arrow_downward</v-icon></span><br>
        </p>
    </div>
    <div class='gray_win' v-if='type_window == "loading"'>
        <div>
          <moon-loader  class="custom-class" :color="'#fff'" :loading="!formUrl" :size="100" :sizeUnit="px" style='margin:auto'></moon-loader>
          Обработка данных
        </div>
    </div>
    <div class='gray_win' v-if='type_window == "error"'> 
        <p>
          <span><v-icon size='150' color="white">sentiment_very_dissatisfied</v-icon></span><br>
          Во время оплаты произошла ошибка
        </p>
      
    </div>
    <div class='gray_win' v-if='type_window == "print"'> 
        <p>
          <span><v-icon size='150' color="white">print</v-icon></span><br>
          Печать билетов
        </p>
      
    </div>
    <div class='gray_win' v-if='type_window == "print_pay"'> 
        <p>
          <span><v-icon size='150' color="white">receipt</v-icon></span><br>
          Спасибо за покупку!<br>
        </p>
      
    </div>
    <div class='gray_win' v-if='type_window == "print_admin"'> 
        <p>
          <span><v-icon size='150' color="white">money</v-icon></span><br>>
          Кассовая смена закрыта!<br>
        </p>
    </div>
    <div class='gray_win' v-if='type_window == "ferma_check"' style='top: 0; height: 100%;'> 
        <div style='height: 100%; padding: 100px 0 50px 0;'>
          <div style = 'width: 50%; margin: auto; height: 10%;'>
            Чек об оплате
          </div>
          <iframe v-if='ferma_check' v-bind:src="ferma_check"  height="80%" width='50%'></iframe>
          <div style = 'width: 50%; margin: auto; background: #26b99a; height: 10%; margin-top: -20px;' v-on:click='type_window=""'>
            Закрыть
          </div>
        </div>
    </div>
  </div>
    
  </div>
</template>

<script>
import Vue from 'vue'
import $ from 'jquery'
import store from '../../../store';
import * as types from '../../../store/mutation-types'
import axios from 'axios'


  export default {
    created() {
      this.InitKiosk()
      this.BuyTicket()
    },

    updated(){
      if(this.page=='print'){
        this.$refs.field_find.focus()
      }
      // if(this.page!='print'){
      //   this.autoFocus = null
      // }

      // if(this.page == ''){
      //   for(var i in this.tickets_buy.data.ticket_category){
      //     this.tickets_buy.data.ticket_category[i].basket.count = 0
      //     this.tickets_buy.data.tickets[i] = 0
      //   }
      //   this.tickets_buy.data.amount = 0
      // }
    },
    
    data() {
      return{
        page:'buy',
        button_numb:[1,2,3,4,5,6,7,8,9],
        autoFocus:null,
        timerId:null,

        projects:[],
        project:{},

        data:{
          barcode:'',
        },
        tickets_print:{
          data:{},
          tickets:[]
        },

        statictic_check:{
          count:0,
          summ:0
        },
        tickets_buy : {
          projects:[],
          project:'',
          data:{
            amount:0,
            tickets:{},
            ticket_category:[]
          }
        },

        ticket_category:[],

        type_window:'',
        ferma_check:'',

        password:''
      }
    },
    methods:{
      PrePay(){
        this.$modal.show('modal_prePAy');
      },

      onBlur(){
        this.$refs.field_find.focus()
      },

      // Запрос оплаты
      PayTicket(){
        this.type_window = 'pay'
        var self = this
        var XHR = ("onload" in new XMLHttpRequest()) ? XMLHttpRequest : XDomainRequest;

        // this.type_window = 'loading'
        // this.CreateOrder()

        var xhr = new XHR();
        xhr.open('GET', 'http://localhost:8000?amount='+this.tickets_buy.data.amount*100, true);
        xhr.onerror = function() {
            
        }
        xhr.onload = function() {
          if(this.response.length>5){
            self.type_window = 'loading'
            self.PrintTicket(this.response)
            self.CreateOrder()
          }else{
            self.type_window = 'error'
            var temp = self
            setTimeout(function() { 
              // debugger
              temp.type_window = '' 
            }, 10000);
          } 
        }
        
        xhr.send();
      },

      CreateOrder(){
        axios.post(`/api/${this.project.id}/tickets/buy/create_order/`, {
            type_pay:'kiosk',
            tickets: this.tickets_buy,
          })
          .then(response => {            

            var self = this;
            setTimeout(function(){
              var temp = self;
              debugger
              if(response.data.check){
                self.ferma_check = response.data.check
                self.type_window = 'ferma_check'
                setTimeout(function(){
                  temp.type_window = ''
                }, 50000)
              }else{
                self.ferma_check = ''
                self.type_window = 'print'
                setTimeout(function(){
                  temp.type_window = ''                
                }, 8000)
              }

              self.$api.get('../api/tickets/print/'+response.data.order+'/')
                .then(response => {
                    if (response.data) {
                      for(var i in self.tickets_buy.data.ticket_category){
                        self.tickets_buy.data.ticket_category[i].basket.count = 0
                        self.tickets_buy.data.tickets[self.tickets_buy.data.ticket_category[i].id] = 0
                        // debugger
                      }
                      self.tickets_buy.data.amount = 0
                      self.page = 'buy'
                      self.$modal.hide('modal_prePAy');
                      self.tickets_print.tickets = response.data.tickets
                      self.tickets_print.data = response.data.data
                      self.PrintTicket(0)   
                    }  
                })
            }, 2500)

        })
      },

      SelectTicket(ticket){
        if(!ticket.basket.count){
          debugger
          this.AddToBasket(ticket)
        }
      },

      AddToBasket(object, count){
        debugger
        if(count){
          object.basket.count = object.basket.count+count
          Vue.set(this.tickets_buy.data.tickets, object.id, object.basket.count)
          this.tickets_buy.data.amount +=  count*object.price
          if(object.basket.count<object.count){
            this.tickets_buy.data.amount -=  this.tickets_buy.data.tickets[object.id]*object.price
            object.basket.count = 0
            Vue.set(this.tickets_buy.data.tickets, object.id, 0)
          }
        }else{
          object.basket.count = object.count
          
          Vue.set(this.tickets_buy.data.tickets, object.id, object.basket.count)
          this.tickets_buy.data.amount +=  object.basket.count*object.price 
        }        
      },

      BuyTicket(){
        
        this.$api.get('../api/users/project/')
        .then(response => {
          if (response.data) {
            for(var i in response.data){
              this.tickets_buy.projects.push(response.data[i])
            }
            if(this.tickets_buy.projects.length==1){
              this.tickets_buy.project = this.tickets_buy.projects[0]

              this.$api.get(`../api/${this.tickets_buy.projects[0].id}/tickets/category/`)
                .then(response => {
                  if (response.data) {
                    // this.PrintTicket(response.data)
                    this.tickets_buy.data.ticket_category = response.data
                    for(var i in this.tickets_buy.data.ticket_category){
                      Vue.set(this.tickets_buy.data.ticket_category[i], 'basket', {count:0})
                      
                    }
                  }
                  debugger
                })
            }

            this.page="buy"
            this.data_modal = response.data
          }
        })
      },


      PrintTicket(text, message=null){
        if(message){
          this.type_window = message 
          var temp = this
          setTimeout(function() { 
            temp.type_window = '' 
          }, message=='print'? 3500:7500);
        }
        if(!text){
          var tickets_arr = []
          var data = {
            type_printing: 'image',
            printer:this.project.printer,
            urls:[],
          } 
          for(var i in this.tickets_print.tickets){
            if(this.project.printer =='0'){
              data.urls.push(location.origin+this.tickets_print.tickets[i].ticket_check)
            }
            if(this.project.printer =='1'){
              if(this.tickets_print.tickets[i].ticket_graph){
                data.urls.push(location.origin+this.tickets_print.tickets[i].ticket_graph)
              }else{
                data.urls.push(location.origin+this.tickets_print.tickets[i].ticket_check)
              }
            }
            tickets_arr.push(this.tickets_print.tickets[i].code)
          }
        }else{
          var data = {
            type_printing: 'text',
            printer: '0',
            text:text.split('~S')[0]
          } 
        }

        this.$api.get('../api/tickets/print/update_count_printing/', {arr:tickets_arr})
            
        var self = this
        var XHR = ("onload" in new XMLHttpRequest()) ? XMLHttpRequest : XDomainRequest;

        var xhr = new XHR();

        xhr.open('POST', 'http://localhost:8080/', true);
        xhr.setRequestHeader("Content-type", "application/json");

        xhr.onload = function() {
          if(message == 'print'){
            self.$modal.hide('modal_print_tickets');
            self.page = 'buy'
          }         
        }
        
        xhr.send(JSON.stringify(data));
        
      },

      InitKiosk(){
        var url = '../api/users/null/kiosk_detail/'
        this.$api.get(url)
        .then(response => {
          if (response.data) {
            if(response.data.length==1){
              this.project = response.data[0]
            }
            this.projects = response.data
            // 
          }
        })
        .catch(e => {
          
          console.log(e)
        })
      },

      InitCategory(id){
        
          var url = `../api/project/${id}/tickets/`
          this.$api.get(url)
          .then(response => {
            if (response.data) {
              this.ticket_category = response.data
            }
            for(var i in this.ticket_category){
              Vue.set(this.ticket_category[i], 'basket', {count:0})
              
            }
          })
          .catch(e => {
            console.log(e)
          })
      },

      BarcodeInput(item){
        if(item || item==0){
          this.data.barcode  = this.data.barcode + String(item)
        }else{

        }
      },

      FindTicket(){
        if (this.data.barcode){
          this.$api.get('../api/tickets/print/'+this.data.barcode+'/')
            .then(response => {
                if (response.data) {
                  
                  this.tickets_print.tickets = response.data.tickets
                  this.tickets_print.data = response.data.data
                  this.$modal.show('modal_print_tickets');
                }  
            })
            .catch(e => {
              this.$message({
                message: e.error,
                center: true,
                type: 'warning',
                customClass:"message-modal",
              });
            })
          this.data.barcode = ''
        }else{
          this.$message({
            message: 'Введите номер заказа или билета',
            center: true,
            type: 'warning',
            customClass:"message-modal",
          });

        }
      },

      Scaning(){
        if (this.data.barcode){
          this.FindTicket()
        }
      },

      Print(){
        var aaa = this.tickets_print.tickets
        for(var i in this.tickets_print.tickets){
          var width = $(window).width() * 0.9;
          var height = $(window).height() * 0.9;
          var content = '<!DOCTYPE html>' + 
                        '<html>' +
                        '<head><title></title></head>' +
                        '<body onload="window.focus(); window.print(); window.close();">' + 
                        '<img src="' + location.origin + "/media/barcode/barcode_"+this.tickets_print.tickets[i].code+'.png' + '" style="width: 100%;" />' +
                        '</body>' +
                        '</html>';
          var options = "toolbar=no,location=no,directories=no,menubar=no,scrollbars=yes,width=" + width + ",height=" + height;
          var printWindow = window.open('', 'print', options);
          printWindow.document.open();
          printWindow.document.write(content);
          printWindow.document.close();
          printWindow.focus();
        }        
      },

      OpenAdminPanel(pass){
        debugger

        if (pass){
          this.$api.post('../api/token/password_verificate/', {password:this.password})
            .then(response => {
              // debugger
              this.$modal.hide('modal_print_tickets_exit');
              this.$modal.show('modal_admin_panel');

              this.AdminPanel(3)
              this.password = ''
    
            })
            .catch(e => {
              this.$notify({
                group: 'ticket_not',
                type: 'error',
                duration: 1000,
                text: `<i style='font-size:20px' class='fa fa-exclamation'></i> Неверный пароль`
              });

            })

        }else{

          this.$modal.show('modal_print_tickets_exit');
        }
      },

      AdminPanel(page){
        if(page==1){
          var data = {
            token: store.state.token,
          }
          this.$store.dispatch(types.LOGOUT, {
            data: data,
          }).then(() => {
     
          }); 
        }
        if(page==2){

         var XHR = ("onload" in new XMLHttpRequest()) ? XMLHttpRequest : XDomainRequest;

          var xhr = new XHR();
          xhr.open('GET', 'http://localhost:8000?close_day', true);

          xhr.onerror = function() {
              
          }

          var self = this
          xhr.onload = function() {
            // debugger
            self.PrintTicket(this.response, 'print_admin',)
            axios.post(`/api/${self.project.id}/tickets/buy/close_change/`, )
              .then(response => {
                self
                self.AdminPanel(3)
                var temp = self
                setTimeout(function() { 
                  // debugger
                  temp.type_window = '' 
                }, 5000);
                
              })
          }
          
          xhr.send();
        }
        if(page==3){
          axios.post(`/api/${this.project.id}/tickets/buy/select_change_data/`, )
            .then(response => {
                this.statictic_check = response.data
          })

        }
      },

      SelectToDo(value){
        this.page = value
      },

      onLongPressStart(){
        this.timerId = setInterval(() => {
            this.data.barcode = this.data.barcode.slice(0, -1)
       }, 50);

      },
      onLongPressStop(){
        clearInterval(this.timerId);
        this.data.barcode = this.data.barcode.slice(0, -1)

      }

    }
  };
</script>
<style>
html{
  overflow: hidden;
}
  .input_code .el-input__inner{
    height: 50px !important;
    font-size: 30pt;
    text-align: center;
  }
  
</style>

<style scoped>

.footer{
    background: #f3f3f3;
    width: 100%;
    position: absolute;
    bottom: 1px;
    height: 100px;
    z-index: 100;
    box-shadow: 0px -5px 0 #e0dfdf;
    border: 2px solid #fff;

}
.kiosk-head-second{
    /*background: #67c23a;*/
    width: 100%;
    position: absolute;
    top: 85px;
    height: 80px;
    z-index: 101;
}

.gray_win{
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 28pt;
    font-weight: 600;
}


  .card_ticket{
    width: 99%;
    border: 2px solid #cacdd4 !important;
    background: #f8f8f9;
    box-shadow: 5px -5px 5px rgba(0,0,0,0.1);
  }  
  .card_ticket:hover{
    background: #efffff;
    border: 2px solid #76bf9b !important;
  }

  .card_ticket:focus{
    background: #efffff;
    border: 2px solid#76bf9b !important;
  }

  /*.project_name_green{
    text-align: center;
    font-size: xx-large;
    font-weight: 600;
    color: #168e56;
  }*/

  .card-price{
    margin-top: -40px;
    text-align: center;
  }
  .card-price-value{
    font-weight: 600;
    font-size: 20pt;
    color: #6d6d6d;
  }

  .card-price-value-green{
    color:#7cb342;
  }

  .itog_price_card{
    text-align: center;
    background: #f9fbe7;
    margin: 0 20px;
    border: 1px solid #c6c8b5;
    border-radius: 10px;
    padding: 5px 0;
    min-height: 200px;
  }

  /*.price_actual{
    font-weight: 600;
    font-size: 16pt;
    color: #8bc34a;
  }*/

  /*.price_not_actual{
    text-decoration: line-through;
    color: #7f7f7f;
    text-decoration-color: #dc3545;
  }*/

 /* .promocode_url{
    color: #717171;
    text-decoration: underline;
  }

  .promocode_url:hover{
    color: #606060;
    text-decoration: underline;
    text-decoration-color: #8bc34a;
  }*/

.button_add_basket{
  text-align: center;   
}




  #ticketPrint{
    min-height: 100%;
    height: 98vh;
    background-color: #f3f3f3; /* Цвет фона */

  }
  /*.cursor_none{
   cursor: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjbQg61aAAAADUlEQVQYV2P4//8/IwAI/QL/+TZZdwAAAABJRU5ErkJggg=='),
   none;
}*/

  .logInOutPrint{
    position: absolute;
    right: 0px;
    background: #0000;
    border: 0px;
    color: #46484e;
    z-index: 1002;
  }
  .logInOutPrint:hover{
    color: #26B99A;
  }
  .logInOutPrint:active{
    color: #26B99A;
  }

  #ticketPrint .el-input__inner{
    height:50px !important; 
    font-size:25px; 
    color:#272525; 

  }

  /*.height_row{
    height: 100%
  }*/
  .masterhead{
    position: absolute;
    /*pointer-events: none; */
    /*user-select: none;*/
    height: 85px;
  }

  .kiosk-head{
    text-align: left;
  }

  .kiosk-text-head{
    color: #fff;
    font-size: 25pt;
    font-weight: 600;
    text-align: left;
    margin:20px;
    float: left;

  }

  .kiosk-text-amount{
    color: #f15f43;
    font-size: 25pt;
    font-weight: 600;
    text-align: left;
    margin:20px;
  }

  .text_centre_dark_gray{
    text-align: center;
    color: #43474e;
  }

  .button{
    font-size: 20px;
    white-space: normal;
    line-height: 1.2;
    background-color: #54bf83;
    color: #fff !important;
    border: 2px solid #168e56;
    margin:0px;
  }
  
  .button:hover{
    color: #fff;
    background-color: #168e56;
    border-color: #2e6b49;
  }

  .button:active{
    color: #333;
    background-color: #747980;
    border-color: #5d6166;
  }
  .button:focus{
    outline: 5px auto #3c9162;
  }

  .button_gray{
    font-size: 20px;
    white-space: normal;
    line-height: 1.2;
    background-color: #4b4f53;
    color: #fff !important;
    border: 2px solid #a3a8ae;
    margin:0px;
  }
  
  .button_gray:hover{
    color: #fff;
    background-color: #a3a8ae;
    border-color: #74797f;
  }

  .button_gray:active{
    color: #333;
    background-color: #a3a8ae;
    border-color: #74797f;
  }
  .button_gray:focus{
    outline: 5px auto #3c9162;
    background-color: #a3a8ae;
    border-color: #74797f;
  }

  .button_main_green{
    padding: 30px;
    font-size: 25pt;
    font-weight: 600;
    height: 200px;
    width: 310px;
  }

  .button_number{
    height: 90px;
    margin: 10px 0 !important;
    padding: 25px 40px !important;
    border-radius: 20px;
    font-size: 38px;
  }

  .button_service{
    font-size: 25px;
    margin: 25px 0px;
    padding: 10px 20px;
    height: 50px;
  }

  .button_modal_print{
    height: 45px;
  }


  /*.content{
    height: 100%
  }*/



  
</style>
