<template>

  <!-- <div class="login" style = 'background-image: url("/static/media/logo_progr/company.jpg");'> -->
  <div class="login">
   <!--  <div class='login_head' style='background:url("/static/img/background_gray.jpg")'>
        <div>
          <b-img src="./../static/img/logo4.png" fluid alt="Fluid image" style='height:100px; float: left; padding-left:20px' />
          <div class='kiosk-text-head'>Купить билет</div>
        </div>
      </div> -->


      <v-container style='height: 100%;'>
        <v-layout align-center justify-center row fill-height>
          <v-flex xs12 sm10 md6 class='login_content'>
            <v-container style='height: 100%; box-shadow: 0px 0px 40px rgba(0,0,0,1);'>
              <v-layout align-center justify-center row fill-height>
                <v-flex xs12 >
                  <v-container >
                    <v-layout  align-center column class="blue-grey--text text--lighten-5">
                      <v-flex xs12 sm6 md3>
                        <h3>Авторизация</h3>
                        <p v-if='$store.state.user && $store.state.user.error'>Неверный логин/пароль</p>
                        <p v-else style='padding:12px'></p>
                      </v-flex>
                      <v-flex xs12 sm6 md3>
                        <v-text-field dark color="teal lighten-3" label="Логин" v-model="credentials.user.username" @keyup.enter="submit_login()"></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md3>

                        <v-text-field dark color="teal lighten-3" v-model="credentials.user.password" browser-autocomplete
                          :append-icon="show1 ? 'visibility' : 'visibility_off'" :type="show1 ? 'text' : 'password'"
                          label="Пароль" counter @click:append="show1 = !show1" @keyup.enter="submit()"></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md3>

                        <v-btn dark  color="teal" v-on:click="submit()">
                            Вход
                        </v-btn>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-flex>
              </v-layout>
            </v-container>
          </v-flex>
        </v-layout>
      </v-container>





      <!-- <div style="width: 100%; text-align: center;"><img src="/static/media/logo_progr/header1.png"></div>
      <el-col :xs="3"  :sm='6'  :md='8' :lg='9' :xl='10'>&nbsp</el-col>
      <el-col :xs="18" :sm='12' :md='8' :lg='6' :xl='4'>
       <div style='text-align: center; margin-top: 15vh;' >
        <h2>Авторизация</h2>
        <div class="alert alert-danger" v-if="error">
          <p>{{ error }}</p>
        </div>
        <p v-if='$store.state.user && $store.state.user.error'>Неверный логин/пароль</p>
        <p v-else style='padding:12px'></p>
        <div class="form-group">
        <input
            type="text"
            id='login'
            class="el-input__inner"
            placeholder="Логин"
            v-model="credentials.user.username"
            @keyup.enter="submit_login()">

        </div>
        <div class="form-group">
          <input
            type="password"
            id='password'
            class="el-input__inner"
            placeholder="Пароль"
            v-model="credentials.user.password"
            @keyup.enter="submit()">
        </div>
        <el-button type="submit"  v-on:click="submit()"  style='margin: 10px; width: 50%; max-width:150px'>Войти</el-button>
      </div>
    </el-col> -->
  </div>

</template>

<script>
import * as types from './../store/mutation-types'
import $ from 'jquery'


export default {
  mounted(){
    $("#login").focus()
  },
  updated(){
    // debugger
    if(this.credentials.user.username == ''){
      $("#login").focus()
    }
  },
  data () {
    return {
      show1:false,
      credentials: {
        user: {
          username: '',
          password: ''
        }
      },
      error: '',
      rules: {
          required: value => !!value || 'Required.',
          min: v => v.length >= 8 || 'Min 8 characters',
          emailMatch: () => ('The email and password you entered don\'t match')
        }
    }
  },
  methods: {
    submit_login(){
      $("#password").focus()
    },
    submit () {
      var credential = {
        user:{
          username: this.credentials.user.username,
          password: this.credentials.user.password
        }
      }
      // debugger
      let redirect = decodeURIComponent(this.$route.query.redirect || '/')
      this.$store.dispatch(types.LOGIN, {
        credential: credential,
        redirect: redirect
      })
      this.credentials.user.username = ''
      this.credentials.user.password = ''
    }
  },
  
};

</script>

<style>

.login_content{
  background: #37474F;
  height: 500px;
}

.head_login{
  height: 50px;
}

.login_head{
  height: 90px;
  background-repeat: repeat !important;
  background-position: center !important;
  top: 0px;
  width: 100%;
  z-index: 50;
  text-align: center;
}

input:-webkit-autofill{
  background-color: rgb(0, 0, 0, 1) !important;
  background-image: none !important;
  color: rgb(0, 0, 0) !important;
}



 
  .login{
    width: 100%;
    height: 100vh;

    /*background-image: url("./static/media/logo_progr/header1.png");*/
      background-color: #ECEFF1; /* Used if the image is unavailable */
  height: 100vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
    /*background: linear-gradient(45deg, #e71139 10%, #a52488 20%, #313086 30%, #254794 35%, #3875c0 40%, #3cb249 60%, #f4ec00 70%, #f4ac18 80%,#ee482a 90% );*/
    /*background: linear-gradient(45deg, #F48FB1 8%, #CE93D8 16%, #B39DDB 24%, #9FA8DA 32%, #90CAF9 40%, #80DEEA 48%, #80CBC4 56%, #A5D6A7 63%, #E6EE9C 72%, #FFF59D 80%, #FFCC80 88%, #FFAB91 95%);*/
  }
  
</style>

