<template>
  <v-flex id = 'navbar' class='navbar'
  v-bind:class="{ xs4 : !mini, md3 : !mini, lg2 : !mini, hide_navbar:!hideNavbar}">
    <!-- <v-layout> -->
    <v-flex xs4 md3 lg2 style='position: fixed; width: 100%;'>
     <v-navigation-drawer style='width:100%'
        dark v-model="drawer"
        :mini-variant.sync="mini" hide-overlay stateless>
      <v-list dense class="pt-0" >
        <!-- <v-list-tile-action class="hidden-xs-only">
          <v-btn icon @click="$emit('navbar_show')" style='margin: 5px;'>
            <v-icon>chevron_left</v-icon>
          </v-btn>
        </v-list-tile-action> -->

        <v-list-tile v-show='navbar_data != "quality"' @click="RelatedTemplates('','kiosk', true)">
            <v-list-tile-action>
              <v-icon>desktop_windows</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Управление киоском</v-list-tile-title>
            </v-list-tile-content>
        </v-list-tile>
<!-- 
        <v-list-group sub-group no-action v-show='project.id'>
          <v-list-tile slot="activator">
            <v-list-tile-title>Данные</v-list-tile-title>
          </v-list-tile>

          <v-list-tile @click="RelatedTemplates('news')">
            <v-list-tile-action>
              <v-icon>line_style</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Новости</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-tile @click="RelatedTemplates('events')">
            <v-list-tile-action>
              <v-icon>calendar_today</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Расписание</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-tile @click="RelatedTemplates('exponents')">
            <v-list-tile-action>
              <v-icon>money</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Спонсоры</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list-group> -->

        <v-list-group sub-group no-action v-show='project.id'>
          <v-list-tile slot="activator">
            <v-list-tile-title>Билеты</v-list-tile-title>
          </v-list-tile>

          <v-list-tile @click="RelatedTemplates('project','forms')">
            <v-list-tile-action>
              <v-icon>chrome_reader_mode</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Анкеты</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-tile @click="RelatedTemplates('project', 'tickets')">
            <v-list-tile-action>
              <v-icon>settings</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Настройка</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list-group>

        <v-list-group sub-group no-action v-show='project.id'>
          <v-list-tile slot="activator">
            <v-list-tile-title>Посетители</v-list-tile-title>
          </v-list-tile>

          <v-list-tile @click="RelatedTemplates('project', 'visitors')">
            <v-list-tile-action>
              <v-icon>receipt</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Билеты</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-tile @click="RelatedTemplates('project', 'orders')">
            <v-list-tile-action>
              <v-icon>attach_money</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Заказы</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list-group>

        <v-list-tile v-show='project.id' @click="RelatedTemplates('project', 'reports')">
          <v-list-tile-action>
            <v-icon>bar_chart</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Статистика</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile @click="RelatedTemplates('quality','tune')" v-show='navbar_data == "quality"'>
            <v-list-tile-action>
              <v-icon>settings</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Настройка</v-list-tile-title>
            </v-list-tile-content>
        </v-list-tile>

        <v-list-tile @click="RelatedTemplates('quality', 'answer')" v-show='navbar_data == "quality"'>
            <v-list-tile-action>
              <v-icon>question_answer</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Ответы</v-list-tile-title>
            </v-list-tile-content>
        </v-list-tile>


        
      </v-list>
      </v-navigation-drawer>
    </v-flex>
  <!-- </v-layout> -->
   
  </v-flex>
</template>

<script>
import Vue from 'vue';
import { mapGetters } from 'vuex';
import axios from 'axios';
import $ from 'jquery'

export default {
  name: 'navbar',
  props: ['project', 'navbar_show', 'navbar_data'],
  computed: {
    Props() {
      return { id: this.$props.id }
    },
    hideNavbar: function () {
      // debugger
      if(this.navbar_show){
        return this.navbar_show
      }
      return this.navbar_show
    }
  },
  data() {
    return {
      drawer: true,
      mini: false,
      isCollapse: false,
      activeIndex: '1',
      activeIndex2: '1',
      test:'',
    };
  },
  created(){
    // debugger
  },

  methods: {

    // RelatedTemplates(url, global=null){
    //   debugger
    //   if(global){
    //     location.hash =url + '/';
    //   }else{
    //     var project = this.$store.state.is_business ? "#/project_business/": "#/project/" 
    //     if(this.project.id){
    //       location.hash =project + this.project.id+'/'+ url + '/'; 
    //     }else{
    //       location.hash =project + url + '/';
    //     }
    //   }
      
      
    //   location.href = location.href
    // },


    RelatedTemplates(category, url, global=null){

      if(global){
        location.hash =url + '/';
      }else{
        if(this.project.id){
          location.hash =category+ '/' + this.project.id+'/'+ url + (url?'/':''); 
        }else{
          location.hash =category+ '/' + url + (url?'/':'');
        }
      } 
      location.href = location.href
    },


    Colapse(){
      debugger

      this.isCollapse = !this.isCollapse

    },
    handleOpen() {},
    handleClose() {},
  }, 
};

</script>

<style>

#navbar{
  /*z-index: 900; */
  padding: 65px 0 0 0;
  min-height: 100vh; 
  background: #2a3f54;
  align-items: start;

}

.hide_navbar{
  display: none;
}

.theme--dark.v-navigation-drawer{
  background: #2a3f54;
}

.v-list__group__header--sub-group {
    border: 1px solid #4c5d6f;
}
 /* #navbar{
    padding: 0
  }

  #navbar .el-submenu__title{
    background: #2a3f54;
    color:#fefefe;
    border-right: 5px solid #1ABB9C;
    text-shadow: rgba(0,0,0,.25) 0 -1px 0;
    background: linear-gradient(#334556,#2C4257),#2A3F54;
    box-shadow: rgba(0,0,0,.25) 0 1px 0, inset rgba(255,255,255,.16) 0 1px 0;
  }

  #navbar .el-submenu__title:hover{
    background: #283c4e;
  }
  #navbar .el-submenu__title:active{
    background: #283c4e;
    color:#26B99A;
  }

  #navbar .el-menu-item::before{
    background: #425668;
    bottom: auto;
    content: "";
    height: 8px;
    left: 23px;
    margin-top: 20px;
    position: absolute;
    right: auto;
    width: 8px;
    z-index: 1;
    border-radius: 50%;
}
  #navbar .el-menu-item::after{
    border-left: 1px solid #425668;
    bottom: 0;
    content: "";
    left: 27px;
    position: absolute;
    top: 0;
  }


  #navbar .el-menu-item{
    background: #2a3f54;
    color:#fefefe;
    text-shadow: rgba(0,0,0,.25) 0 -1px 0;
  }

  #navbar .el-menu-item:hover{
    background: #364a5d;
  }
  #navbar .el-menu-item:active{
    background: #364a5d;
    color:#26B99A;
  }*/



 /* .text_colors{
    background: red
  }*/
  /*.el-menu-item.is-active {
    color: #cb1a4e;
  }
  .el-menu-item:focus, .el-menu-item:hover {
      outline: 0;
      background-color: #f2f2f2;
  }*/

</style>


