<template>
  <v-layout class='toolbar' id = 'toolbar' >
    <v-flex xs12  class='toolbar' id = 'toolbar' >
    <div v-if="$store.state.user.permission_name != 'kiosk'">

      <v-toolbar dark color="#2a3f54">
     
        <v-toolbar-side-icon @click="$emit('navbar_show')"></v-toolbar-side-icon>
        <v-toolbar-title>ExpoBitPlus</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items class="hidden-xs-only">
          <v-btn flat v-if="$store.state.user.permission_name != 'inout'"> <router-link to="/"> Главная </router-link></v-btn>
          <v-btn flat v-if="$store.state.user.permission_name != 'inout'"> <router-link to="/project/"> Проекты </router-link></v-btn>
          <v-btn flat v-if="$store.state.user.permission_name != 'inout'"> <router-link to="/quality/tune/"> Опросы </router-link></v-btn>
          <v-btn flat @click="LogOut">
            <span style='margin-right:10px'>{{$store.state.user.username}}</span> <i class="material-icons">exit_to_app</i> 
          </v-btn>
        </v-toolbar-items>
        <v-toolbar-items class="hidden-sm-and-up">
          <v-btn flat v-if="$store.state.user.permission_name != 'inout'"> <router-link to="/"> <i class="material-icons">home</i> </router-link></v-btn>
          <v-btn flat v-if="$store.state.user.permission_name != 'inout'"> <router-link to="/project/"> <i class="material-icons">event</i> </router-link></v-btn>
          <v-btn flat @click="LogOut">
            <i class="material-icons">exit_to_app</i> 
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>
    <!--   <el-menu
        :default-active="activeIndex"
        class="el-menu-demo"
        mode="horizontal"
        background-color="#2a3f54"
        text-color="#fff"
        active-text-color="#26B99A">

        <div  style="text-align:right;float:right">
          <el-button class='toolbar_button' @click="LogOut"><font-awesome-icon icon="sign-out-alt" class="fa-2x white_icon"/></el-button>
        </div>

        
        <el-menu-item v-if="$store.state.user.username" index="5" style="float:right">
          <div class="toolbar_user_name" style="text-align:right;float:right">
            <font-awesome-icon icon="user-circle"/>
            {{$store.state.user.username}}
          </div>
        </el-menu-item>

        
        <el-button v-if="!$store.state.user.permission.indexOf('inout_plus')>=0" class='toolbar_button' @click="NavbarHide"><i class="fas fa-bars fa-2x"></i></el-button>

        <el-menu-item v-if="$store.state.user.permission.indexOf('cashier_plus')>=0"index="6" style="float:right"><router-link to="/project/">
            <p><i class="fas fa-list-alt"></i> Продажа билетов</p>
          </router-link>
        </el-menu-item>
        

        <el-menu-item v-if="$store.state.user.permission_name == 'inout'" index="5" style="float:right">
          <router-link to="/">
            <p class="hidden-xs-only"><i class="fas fa-barcode"></i> Активация билетов</p>
            <p class="hidden-sm-and-up"><i class="fas fa-barcode"></i></p>
          </router-link>
        </el-menu-item>

        <el-menu-item  v-if="$store.state.user.permission_name != 'inout'" index="2" style="float:right">
          <router-link to="/project/">
            <p><i class="fas fa-list-alt"></i> Проекты</p>
          </router-link>
        </el-menu-item>

        <el-menu-item v-if="$store.state.user.permission_name != 'inout'" index="1" style="float:right">
          <router-link to="/">
            <p class="hidden-xs-only"><i class="fas fa-home"></i> Главная</p>
          </router-link>
        </el-menu-item>

        <el-menu-item v-if="$store.state.user.permission.BASE" index="4" style="float:right">
          <router-link to="/external_users/">
            <i class="hidden-xs-only fas fa-users fa-2x"></i>
            <i class="hidden-sm-and-up fas fa-users fa-1x"></i>
            <p class="hidden-xs-only"><br> Спонсоры участники</p>
          </router-link>
        </el-menu-item>
      </el-menu> -->

      </div>
    </v-flex>

  </v-layout>
</template>


<script>

import { mapGetters } from 'vuex';

import store from '../store';
import * as types from '../store/mutation-types'
import $ from 'jquery'

// store.dispatch(types.REFRESH, {
//     data: data,
//   }).then(() => {


export default {
  name: 'toolbar',
  data() {
    return {
      isCollapse: false,
      activeIndex: '1',
      activeIndex2: '2',
    };
  },
  created(){
    /*if (this.$store.state.user.permission.indexOf('inout_plus')>=0) {
      this.activeIndex="5"
    }
    if (this.$store.state.user.permission.indexOf('cashier_plus')>=0) {
      this.activeIndex="6"
    }*/
  },

  methods: {
    LogOutPassword(){
      const h = this.$createElement;
        this.$msgbox({
          title: 'Подтверждение действия',
          message: h('div', null, [
            h('h6',null, 'Для выхода из системы необходимо ввести пароль'),
            h('input', {attrs: {id: 'password_input', type:'password', autocomplete:'off', },}),
            h('span',{style:{color:'red'}, attrs: {id: 'password_error'}}, ''),
          ]),
          // message:h('input', {attrs: {id: 'password_input', type:'password', autocomplete:'off', },}),
          showCancelButton: true,
          confirmButtonText: 'OK',
          cancelButtonText: 'Отмена',
          beforeClose: (action, instance, done) => {
            this
            if (action === 'confirm') {
              instance.confirmButtonLoading = true;
              instance.confirmButtonText = 'Loading...';
              // debugger
              this.$api.post('../api/token/password_verificate/', {password:$('#password_input').val()})
              .then(response => {
                $('#password_error').html('')
                instance.confirmButtonText = 'OK';
                instance.confirmButtonLoading = false;
                done();
               
              })
              .catch(e => {
                setTimeout(() => {
                  $('#password_error').html('Неверный пароль')
                  instance.confirmButtonText = 'OK';
                  instance.confirmButtonLoading = false;
                }, 1000);
              })
            } else {
              done();
            }
          }
        }).then(action => {
          if (action === 'confirm') {
            this.LogOut()
          }
        });
    },
    LogOut() {
      var data = {
        token: store.state.token,
      }
      this.$store.dispatch(types.LOGOUT, {
        data: data,
      }).then(() => {
 
      });
    },
    NavbarHide(){
      if(!this.isCollapse){
        this.isCollapse=true
        $("#navbar_container").animate({
          opacity: 0.25,
          width: "toggle"
        }, 500);
        $("#navbar_container_temp").animate({
          opacity: 0.25,
          width: "toggle"
        }, 500);
        $("#content_navbar").animate({
          width: "100%"
        }, 500);
      }else{
        this.isCollapse=false

        if(window.innerWidth<768){
          this.width = 21
          console.log(this.width)
        }else if(window.innerWidth>768 && window.innerWidth<992){
          this.width = 18
          console.log(this.width)
        }else if(window.innerWidth>992 && window.innerWidth<1200){
          this.width = 19
          console.log(this.width)
        }else{
          this.width = 20
          console.log(this.width)
        }

        $("#navbar_container").animate({
          opacity: 1,
          width: "toggle"
        }, 500);
        $("#navbar_container_temp").animate({
          opacity: 1,
          width: "toggle"
        }, 500);
        $("#content_navbar").animate({
          width: 100/24*this.width+"%"
        }, 500, function() {
          $("#content_navbar")[0].style[$("#content_navbar")[0].style.length-1]=undefined
          $("#content_navbar")[0].style['width']=''
        });
      }
    }

  },
};

</script>

<style scoped>
  a{
    color:white;
  }
  a:hover{
    text-decoration: none;
  }

</style>
<!-- #2a3f54 -->